.page-head
  .container
    .page-title
      %h1 Home Page Content
.page-content
  .container
    %ul.page-breadcrumb.breadcrumb
      %li
        %a{:href => "#"} Home
        %i.fa.fa-circle
      %li
        %a{:href => "layout_blank_page.html"} Features
        %i.fa.fa-circle
      %li.active
        Blank Page Layout
    .row
      .col-md-12.col-sm-12
        .portlet.light
          .portlet-title
            .caption.caption-md
              %i.icon-bar-chart.theme-font.hide
              %span.caption-subject.theme-font.bold.uppercase Home Page Content
          .portlet-body
            = form_tag admin_update_page_path do
              = hidden_field_tag "name", params[:action]
              .form-body
                .form-group
                  %label.control-label.col-md-3 Content
                  .col-md-9
                    = cktext_area_tag :content, @page.content, :cols => 60, :ckeditor => {:uiColor => '#CCCCCC', :toolbar => 'mini'}
                    
                  .clearfix
              %hr
                .col-md-offset-3.col-md-9
                  = submit_tag "Save", :class => 'btn btn-success'
                .clearfix