= form_for @faq_category do |f|
  - if @faq_category.errors.any?
    #error_explanation
      %h2= "#{pluralize(@faq_category.errors.count, "error")} prohibited this faq_category from being saved:"
      %ul
        - @faq_category.errors.full_messages.each do |msg|
          %li= msg
  .large-6.medium-6.small-12.columns.padding-block-left
    .field
      = f.label :title
      = f.text_field :title, required: "true"
    %br
    .actions
      = f.submit 'Save', class: "button disabled"
    .clear-both
    %hr
