.content
  .row
    .large-12.medium-12.small-12.columns.margin-from-header
      %h1 Editing faq_category

      = render 'form'
      .clear-both
      = link_to 'Show', @faq_category
      \|
      = link_to 'Back', faq_categories_path
