.content
  .row
    .large-12.medium-12.small-12.columns.margin-from-header
      %h1 Listing Categories FAQ

      %table.w100
        %tr
          %th Title
          %th
          %th
          %th

        - @faq_categories.each do |faq_category|
          %tr
            %td= faq_category.title
            %td= link_to 'Show', faq_category
            %td= link_to 'Edit', edit_faq_category_path(faq_category)
            %td= link_to 'Destroy', faq_category, :method => :delete, :data => { :confirm => 'Are you sure?' }

      %br

      = link_to 'New FAQ category', new_faq_category_path, class: "button disabled"
      = link_to 'FAQ posts', faq_posts_path, class: "button disabled"
