.content
  .row
    .large-12.medium-12.columns.margin-from-header.faq
      .large-4.medium-4.small-12.columns.contact-us_left.padding-lr-0
        .contact-us_left_inner.content_categories
          %h3.blue Categories
          - @faq_categories.each do |faq_category|
            %tr.cat_but
              %td= link_to faq_category.title, faq_category
        .contact-us_left_inner
          %h3.blue Contact Us
          %p
            phone: +353 (0) 1 5245800
            %br email: customerservice@hostels.com
            office hours from: 9am - 5.30pm Irish time (GMT)
      .large-8.medium-8.small-12.columns.security-privacy
        %h3.security-privacy_header mmlodging.com Privacy and Security Statement
        %p All sensitive information exchanged between your computer and our site is encrypted using SSL. Our SSL Certificate is provided by GlobalSign. This ensures that your information is transmitted securely and is safe from third parties. Please read on for more information on site encryption.
        %p.top-guestion Top questions
        %form
          .accordion-block
            - @faq_posts.each do |faq_post|
              %h3.security-privacy_tab-header= faq_post.title
              .security-privacy_tab-text.accordion1
                %p= faq_post.content
