<% if current_user %>
	<% if current_user.role.eql?("admin") || current_user.role.eql?("hotel") %>
		window.location = '<%= admin_root_url %>';
	<% else %>
		location.reload();
	<% end %>
<% else %>
	$("#msg_alert").hide().html("Email or password wrong.<a class='close' href='#'>&times;</a>").fadeIn();
<% end %>