.content
	.row
		.large-12.medium-12.small-12.columns.margin-from-header
			.large-6.large-offset-3.medium-6.medium-offset-3.small-12.columns.padding-block-left
				.panel.callout
					%h3 Resend confirmation
					%hr
					= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f|
						= devise_error_messages!
						%div
							= f.label :email
							%br/
							= f.email_field :email, autofocus: true
						%div= f.submit "Resend Confirmation", class: "button small expand radius"
