.content
	.row
		.large-12.medium-12.small-12.columns.margin-from-header
			%h3 Your Cart
			%table{:style => 'width:100%'}
				%thead
					%th Room Type
					%th Check In
					%th Check Out
					%th Nights
					%th No Room
					%th Price/Night
					%th Total Price
					%th
				%tfoot
					%tr
						%td{:colspan => 6} Total Price
						%td.text-right
							- if @cart
								= number_to_currency(@cart.total)
							- else
								= number_to_currency(0)
						%td

				%tbody
					- if session[:cart].blank?
						%tr
							%td{:colspan => 6}
								Your Cart Empty
							%td
					- else
						- @rooms.each_with_index do |room, index|
							%tr
								%td= room.title
								%td= session[:cart][index][:check_in]
								%td= session[:cart][index][:check_out]
								%td= session[:cart][index][:night]
								%td= session[:cart][index][:no_room]
								%td.text-right= number_to_currency(room.price)
								%td.text-right= total_price(session[:cart][index], room.price)
								%td
									= link_to cart_item_path(room), method: :delete do
										&times;
						%tr
							%td{:colspan => 6} Government Tax (10%)
							%td.text-right= number_to_currency(@cart.government_tax)
							%td
						%tr
							%td{:colspan => 6} Service Fee (5%)
							%td.text-right= number_to_currency(@cart.service_tax)
							%td
			.large-6
				- if @cart
					= link_to "Continue Checkout", new_checkout_path, :class => 'button small radius'
					= link_to "Empty Cart", cart_path(session[:cart_id]), :class => 'button small radius', method: :delete
				- else
					= link_to "Continue Checkout", "#", :class => 'button small radius disabled'
					= link_to "Empty Cart", "#", :class => 'button small radius disabled'

				- if flash[:notice]
					= link_to "Back", :back, :class => 'button small radius'
