= form_for [@city, @blog], :html => {:multipart => true}  do |f|
  - if @blog.errors.any?
    #error_explanation
      %h2= "#{pluralize(@blog.errors.count, "error")} prohibited this blog from being saved:"
      %ul
        - @blog.errors.full_messages.each do |msg|
          %li= msg
  .large-6.medium-6.small-12.columns.padding-block-left.blogs-new
    .field
      = f.label :title
      = f.text_field :title, required: "true"
    .field
      = f.label :blog_category_id
      .mozfix-select
        = f.collection_select :blog_category_id,  BlogCategory.all, :id, :name
    .actions
      .input-file-block
        .input-file-block_inner
          -if @city.cityimg
            =image_tag(@blog.image)
            .field
              %span.button Upload file
              = f.file_field :image
          -else
            %span.button Upload file
            = f.file_field :image
    %br    
    = f.submit 'Save', class: "button disabled"
  .large-6.medium-6.small-12.columns.padding-block-right
    .field
      = f.label 'Content'
      = f.text_area :body, :class => "redactor height-blog", required: "true", rows: "14"