.content
  .row
    .large-12.medium-12.small-12.columns.margin-from-header
      %h1 Editing blog

      = render 'form'
    %br
    .clear-both
    %hr

    = link_to 'Show', [@city, @blog]
    \|
    = link_to 'Back', city_blogs_path
