- meta title: "Blogs", description: "All blogs mmlodging", keywords: %w(lodging myanmar hotel booking blog)
.content
  .row
    .large-12.medium-12.small-12.columns.margin-from-header
      .content.blog.active
        .large-8.medium-8.small-12.columns.blog_inner-block
          - @blogs.each do |blog|
            %article.blog-inner.panel
              = link_to blog_path(blog) do
                .clearfix
              .blog_inner-block_image
                = image_tag blog.image
                %h3= blog.title
              .blog_inner-block_text
                %p= truncate(blog.body, :escape => false, :length => 255)
              %a.blog_inner-block_read-thisblock= link_to 'READ THIS BLOG POST »', [@city, blog]
              .header-blog.right
                %span.posted-blog
                  Posted:
                  = blog.created_at.strftime("%A, %B %M, %Y")
                %span.comments-blog
                  Comments:
                  = blog.blog_comments.count
          
        .large-4.medium-4.small-12.columns
          .content_categories
            %h3 Popular Blogs
            - @popular_blogs.each do |blogs|
              =link_to blogs.title, [@city, blogs]      

            %p.text-center 
              %strong 
              = form_for blogs_path, :method => :get do
                = text_field_tag :title, "", :placeholder => "Search blog here..."
            %h3 Popular Tags
            %p.tag-label
              - @tags.each do |tag|
                %span.label= link_to tag.name, tags_blog_path(tag.name)