- meta title: @blog.title, description: truncate(strip_tags(@blog.body), length: 255), keywords: @blog.title.split(' ')
.content
  .row
    .large-10.large-offset-1.medium-12.small-12.columns.margin-from-header
      .large-12.medium-12.small-12.columns.blog_inner-block
        %article.blog-inner.panel
          .img-wrapper-blog
            =image_tag @blog.image
          %h3= @blog.title
          .blog_inner-block_image
          .blog_inner-block_text
            %p= simple_format(@blog.body)
          %span.posted-blog.right
            Posted:
            = @blog.created_at.strftime("%A, %B %M, %Y")
          %span.comments-blog
            Comments:
            = @blog.blog_comments.count
          .clearfix

          - @blog.tag_list.each do |tag|
            %span.label= tag
        .clear-both
        .large-12.medium-12.small-12.columns
          .header-blog.right
          #new_comment.comment-section
          -@blog_comments.reverse_each do |comment|
            .large-10.medium-10.small-12.columns
              %p
                %strong= comment.name
              %p= comment.created_at.strftime("%a, %B %M, %Y")
            .large-12.medium-3.small-7.columns
              %p= comment.body
            .clearfix
            %hr
          .alert-box#alert_comment{"data-alert" => true, :style => "display:none;"}
            #text_alert
            %a.close &times;
          %h4 Your Comment
          = form_tag(blog_comment_path(@blog), :remote => true) do |f|
            = text_field_tag :name, "", :placeholder => "Your Name"
            = text_area_tag :body, "", :placeholder => "Your Comment"
            = submit_tag 'Comment', :class => 'button radius small'
