-@yrs = [2014,2015,2016,2017]
-@mounth = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']
-@genders = ['Male', 'Female']
-@country = ['USA', 'Ukraine', 'Mozambik']
-@card_type = ['VISA', 'Masters']
= render "partial/header"
.content
  .row.account-page
    .large-12.medium-12.small-12.columns.margin-from-header
      %h2
        Edit Your Account
      = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
        = devise_error_messages!
        .large-12.medium-12.small-12.columns.sign-up-hotel-content.checkout
          %h3 Contact Details
          .large-6.medium-6.small-12.columns.padding-block-left
            = f.text_field :last_name, class: "has-tip", "data-tooltip" => "", title: "Last Name", value: current_user.last_name
            = f.text_field :first_name, class: "has-tip", "data-tooltip" => "", title: "First Name", value: current_user.first_name
            = f.email_field :email
            - if devise_mapping.confirmable? && resource.pending_reconfirmation?
              %div
                Currently waiting confirmation for: #{resource.unconfirmed_email}
            = f.date_field :birth, class: "has-tip", "data-tooltip" => "", title: "Birthday", value: current_user.birth
          .large-6.medium-6.small-12.columns.padding-block-right

            -if !current_user.gender.blank?
              = f.select :gender, [['Gender: ', '']] + @genders.to_a,{},:selected=>current_user.gender, class: "has-tip", "data-tooltip" => "", title: "Gender"
            -else
              = f.select :gender, [['Gender: ', '']] + @genders.to_a,{ :include_blank => 'Gender:  '} , class: "has-tip", "data-tooltip" => "", title: "Gender"                            
            = f.text_field :mobile, class: "has-tip", "data-tooltip" => "", title: "Mobile Number", value: current_user.mobile
            -if !current_user.country.blank?
              = f.country_select :country, [current_user.country],{}, class: "has-tip", "data-tooltip" => "", title: "Country"
            -else
              = f.country_select :country, [], { :include_blank => 'Country of Passport: ' }         , class: "has-tip", "data-tooltip" => "", title: "Country"

            = f.text_field :passport, class: "has-tip", "data-tooltip" => "", title: "Passport Id", value: current_user.passport
          .large-12.medium-12.small-12.columns.padding-lr-0
            %h3 Password
            = f.label :password
            %i (leave blank if you don't want to change it)
            %br/
            = f.password_field :password, autocomplete: "off"
          
            = f.label :password_confirmation
            %br/
            = f.password_field :password_confirmation, autocomplete: "off"
          
            = f.label :current_password
            %i (we need your current password to confirm your changes)
            %br/
            = f.password_field :current_password, required: true, autocomplete: "off"
        %div= f.submit "Update", class: 'button my_update'
      .large-12.medium-12.small-12.columns
        %h3 Delete my account
        %p
          Unhappy? #{button_to "Delete my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: 'button my_reset'}

      = link_to "Back", :back