.content
  .row
    .large-12.medium-12.small-12.columns.margin-from-header
      %h2 Sign up
      = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
        = devise_error_messages!
        %h3 Main Information
        .large-6.medium-6.small-12.columns
          %div
            = f.label :email, 'Email*'
            %br/
            = f.email_field :email, autofocus: true, required: true
          %div
            = f.label :first_name, 'First Name*'
            %br/
            = f.text_field :first_name, required: true
          %div
            = f.label :last_name, 'Last Name*'
            %br/
            = f.text_field :last_name, required: true
          %div
            = f.label :password, "Password *"
            %br/
            = f.password_field :password, autocomplete: "off", required: true
          %div
            = f.label :password_confirmation, "Password confirmation *"
            %br/
            = f.password_field :password_confirmation, autocomplete: "off", required: true  
          %div
            .checkbox-block
              %label.checkbox
                %input.gogogo{type: "checkbox", name: "checkbox1"}
                %span
              %label{for: "checkbox1"} I have read Terms & Conditions
            %br
            .i_accept.hide
              = f.submit "Sign up", class: "button  my_reset"
          = render "devise/shared/links"
        .large-6.medium-6.small-12.columns
          %div
            = f.label :gender
            %br/
            = f.select :gender, ['Male', 'Female'], { :include_blank => 'Gender' }

          %div
            = f.label :mobile, 'Mobile Number'
            %br/
            = f.text_field :mobile
          %div
            = f.label :country, 'Country of Passport'
            %br/

            = f.country_select :country, [], { :include_blank => 'Country of Passport: ' }
          %div
            = f.label :passport, 'Passport ID'
            %br/
            = f.text_field :passport
          %div
            = f.label :birth, 'Date of Birth'
            %br/
            = f.text_field :birth
        
          

      
