<% if @user.errors.any? %>
  var error = "<%= @user.errors.full_messages.first %>";
  $("#alert_error").hide().removeClass("success").addClass("alert").fadeIn();
  $("#content_alert").html(error);
<% else %>
  $(".password").val('');
  $('#alert_error').hide().removeClass("alert").addClass("success").fadeIn();
  $("#content_alert").html("Profile successfully updated.");
<% end %>