.col-md-6.col-sm-6.col-md-offset-3
  / BEGIN REGIONAL STATS PORTLET
  .portlet.light
    .portlet-title
      .caption.caption-md
        %i.icon-bar-chart.theme-font.hide
        %span.caption-subject.theme-font.bold.uppercase Image
    .portlet-body
      = simple_form_for([:admin, @homeimg]) do |f|
        = f.error_notification
        .form-inputs
          = f.input :title, :input_html => {:class => 'form-control'}
          = f.input :image, :as => :file, :input_html => {:class => 'form-control'}
          = f.input :active, :as => :radio_buttons, :input_html => {:class => 'form-control'}
        .form-actions
          = f.button :submit, "Save", :class => 'btn btn-success'
          = link_to "Back", admin_homeimgs_path, :class => 'btn btn-danger'