- meta title: "Edit #{@homeimg.title}"
.page-head
  .container
    .page-title
      %h1 Edit Image
.page-content
  .container
    - breadcrumb :edit_homeimg, @homeimg
    = render("layouts/breadcrumbs")
    .row= render "form"