- meta title: "Landing Page"
.page-head
  .container
    .page-title
      %h1 All Home Images
.page-content
  .container
    - breadcrumb :homeimgs
    = render("layouts/breadcrumbs")
    .row
      .col-md-12.col-sm-12
        .portlet.light
          .portlet-title
            .caption.caption-md
              %i.icon-bar-chart.theme-font.hide
              %span.caption-subject.theme-font.bold.uppercase Home Images
            .actions
              = link_to new_admin_homeimg_path, :class => "btn btn-circle btn-default" do
                %i.fa.fa-plus
                %span.hidden-480 New Image
          .portlet-body
            %table.table.table-hover
              %thead
                %tr
                  %th Title
                  %th Image
                  %th Status
                  %th{:colspan => 2}
              %tbody
                - @homeimgs.each do |img|
                  %tr
                    %td= img.title
                    %td= image_tag(img.image_url(:thumb))
                    %td= button_to active_image(img, "label"), active_admin_homeimg_path(img), :class => "btn #{active_image(img, 'class')} btn-sm", :method => :patch
                    %td= link_to "Edit", edit_admin_homeimg_path(img), :class => 'btn btn-sm btn-info'
                    %td= link_to "Delete", admin_homeimg_path(img), :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => 'btn btn-sm btn-danger'