- meta title: "New Image"
.page-head
  .container
    .page-title
      %h1 New Image
.page-content
  .container
    - breadcrumb :new_homeimg
    = render("layouts/breadcrumbs")
    .row= render "form"