.pushy {
  position: absolute;
  width: 50%;
  top: 0;
  z-index: 100;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  /* enables momentum scrolling in iOS overflow elements */
}

/* Menu Movement */
.pushy-left {
  -webkit-transform: translate3d(-150%, 0, 0);
  -moz-transform: translate3d(-150%, 0, 0);
  -ms-transform: translate3d(-150%, 0, 0);
  -o-transform: translate3d(-150%, 0, 0);
  transform: translate3d(-150%, 0, 0);
}

.pushy-open {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
    z-index: 99!important;
}

.container-push, .push-push {
  -webkit-transform: translate3d(55%, 0, 0);
  -moz-transform: translate3d(55%, 0, 0);
  -ms-transform: translate3d(55%, 0, 0);
  -o-transform: translate3d(55%, 0, 0);
  transform: translate3d(55%, 0, 0);
}

/* Menu Transitions */
.pushy, #container, .push {
  -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.16, 0.68, 0.43, 0.99);
  -moz-transition: -moz-transform 0.2s cubic-bezier(0.16, 0.68, 0.43, 0.99);
  -o-transition: -o-transform 0.2s cubic-bezier(0.16, 0.68, 0.43, 0.99);
  transition: transform 0.2s cubic-bezier(0.16, 0.68, 0.43, 0.99);
  /* improves performance issues on mobile*/
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
  z-index: 9;
  background: #fff;
}

/* Site Overlay */
.site-overlay {
  display: none;
}

.pushy-active .site-overlay {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 50%;
  z-index: 98;
}

@media (max-width: 568px) {
    .pushy {
        position: absolute;
        width: 70%;
        top: 0;
        z-index: 100;
        overflow: auto;
        -webkit-overflow-scrolling: touch;
        /* enables momentum scrolling in iOS overflow elements */
    }
    .container-push, .push-push {
        -webkit-transform: translate3d(80%, 0, 0);
        -moz-transform: translate3d(80%, 0, 0);
        -ms-transform: translate3d(80%, 0, 0);
        -o-transform: translate3d(80%, 0, 0);
        transform: translate3d(80%, 0, 0);
    }
}
