= form_for @homepage do |f|
  - if @homepage.errors.any?
    #error_explanation
      %h2= "#{pluralize(@homepage.errors.count, "error")} prohibited this homepage from being saved:"
      %ul
        - @homepage.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :content
    = f.text_area :content, required: "true", :class => "redactor"
  %br
  .actions
    = f.submit 'Save', class: "button disabled"


