.content
  .row
    .large-12.medium-12.columns.margin-from-header.security-privacy
      %h1 Editing Homepages box

      = render 'form'
      .clear-both
      %hr
      = link_to 'Back', homepages_path

