.content
	.row
		.large-12.medium-12.small-12.columns.margin-from-header
			%h1 FAQ

			%ul.accordion{"data-accordion" => true}
			- @faqs.where(:parent_id => nil).each do |faq|
				%li.accordion-navigation
					%a
						%h5= faq.name
					.content
						%ol
							- @faqs.where(:parent_id => faq.id).each do |f|
								%li
									= f.name
									.content
										= f.content.html_safe