.content
  .row
    .large-12.medium-12.columns.margin-from-header.security-privacy
      - if @homepages.count > 0
        %p= @homepage.title
        = simple_format(@homepage.content)
        -if user_signed_in?
          -if current_user.has_role?(:admin)
            .clear-both
            %hr
            %td= link_to 'Edit', edit_homepage_path(@homepages)
            %td= link_to 'Destroy', @homepages, :method => :delete, :data => { :confirm => 'Are you sure?' }

      - else
        -if user_signed_in?
          -if current_user.has_role?(:admin)
            %p Now information is unavailable, but you can fill it.
            %br= link_to 'Fill Homepage', new_homepage_path
          - else 
            %p Now information is unavailable
        - else 
          %p Now information is unavailable
