= form_for([:admin, @city, @property, @room], html: {:class => 'form-horizontal'}) do |f|
  - if @room.errors.any?
    #error_explanation
      %h2= "#{pluralize(@room.errors.count, "error")} prohibited this room from being saved:"
      %ul
        - @room.errors.full_messages.each do |msg|
          %li= msg
  .col-md-6
    .form-group
      = f.label 'Title', class: 'control-label col-md-4'
      .col-md-8
        = f.text_field :title, required: "true", class: "form-control"
    .form-group
      = f.label :price, class: 'control-label col-md-4'
      .col-md-8
        = f.number_field :price, required: "true", min: "1", max: "999999", class: "form-control"
    .form-group
      = f.label :guest, class: 'control-label col-md-4'
      .col-md-8
        = f.number_field :guest, required: "true", min: "1", max: "15", class: "form-control"
    .form-group
      = f.label :count, "N.Room", class: 'control-label col-md-4'
      .col-md-8
        = f.number_field :count, required: "true", class: "form-control"
    .form-group
      = f.label :cancellation, :class => 'control-label col-md-4' do
        Cancellation Policy
      .col-md-8
        = f.select :cancellation, @cancellation, {:selected => @property.cancellation}, :required => :required, :class => 'form-control'
    .form-group
      = f.label "Instant Booking", class: 'control-label col-md-4'
      .col-md-8
        .radio-list
          %label.radio-inline
            = f.radio_button :instant, 'false', :checked => "checked"
            No
          %label.radio-inline
            = f.radio_button :instant, 'true'
            Yes
  .col-md-6
    .form-group
      = f.label :photo, :class => 'control-label col-md-2'
      .col-md-10
        .fileinput.fileinput-new{"data-provides" => "fileinput"}
          .input-group.input-large
            .form-control.uneditable-input.span3{"data-trigger" => "fileinput"}
              %i.fa.fa-file.fileinput-exists>
              \&nbsp;
              %span.fileinput-filename
            %span.input-group-addon.btn.default.btn-file
              %span.fileinput-new
                Select file
              %span.fileinput-exists
                Change
              = f.file_field :photo
            %a.input-group-addon.btn.red.fileinput-exists{"data-dismiss" => "fileinput", :href => "javascript:;"}
              Remove
    
    .form-group
      = f.label :about, class: 'control-label col-md-2'
      .col-md-10
        = f.text_area :about, rows: '5', required: "true", class: "form-control"
    .form-group
      = f.label :ensuite, class: 'control-label col-md-2'
      .col-md-10
        .checkbox-list
          %label.checkbox-inline
            = f.check_box :ensuite
            Ensuite Room

  .clearfix
  .col-md-12
    %h3 Facilities
    - @facilities.each do |facility|
      .col-md-3
        .form-group
          %label
            = check_box_tag "room[facility_ids][]", facility.id, @room.facility_ids.include?(facility.id), :class => 'icheck', "data-checkbox" => "icheckbox_line-blue", "data-label" => facility.facility_name
        .facility
    .clearfix
    / .form-group
    /   %a#new_faclity.btn.btn-primary{:data => {:toggle => "modal", :target => "#facility"}} New Facilty
    %hr
    .col-md-12
      = f.submit "Save", :class => 'btn btn-success'
      = link_to "Back", admin_city_property_rooms_path, :class => 'btn btn-danger'
  .clearfix