- meta title: "Rooms #{@property.title}"
.page-head
  .container
    .page-title
      %h1= "All Rooms in #{@property.title}"
.page-content
  .container
    - breadcrumb :rooms, @property
    = render("layouts/breadcrumbs")
    .row
      .col-md-12
        .portlet.light
          .portlet-title
            .caption.caption-md
              %i.icon-bar-chart.theme-font.hide
              %span.caption-subject.theme-font.bold.uppercase Rooms
            .actions
              .btn-group
                = link_to new_admin_city_property_room_path(@city, @property), :class => 'btn btn-circle btn-default', "aria-expanded" => 'false' do
                  %i.fa.fa-plus
                  %span.hidden-480 New Room
          .portlet-body
            %table.table.table-hover
              %thead
                %tr
                  %th #
                  %th Room
                  %th Price
                  %th{:colspan => 4}
              %tbody
                - @rooms.each_with_index do |room, index|
                  %tr
                    %td= index + 1
                    %td= room.title
                    %td= number_to_currency(room.price)
                    %td= link_to 'Manage Date & Pricing', admin_city_property_room_pricings_path(@city, @property, room)
                    %td= link_to 'View', [:admin, @city, @property, room]
                    %td= link_to 'Edit', [:edit, :admin ,@city,@property, room]
                    %td= link_to 'Destroy', [:admin, @city,@property,room], :method => :delete, :data => { :confirm => 'Are you sure?' }

-#
  .modal.fade#view_room{"aria-hidden" => "true", "role" => }
    .page-loading.page-loading-boxed
      = image_tag("/assets/img/input-spinner.gif", :class => 'loading')
      %span Loading...
    .modal-dialog
      .modal-content
