.page-head
  .container
    .page-title
      %h1= "New Room for #{@property.title}"
.page-content
  .container
    - breadcrumb :new_room, @property
    = render("layouts/breadcrumbs")
    .row
      .col-md-12
        .portlet.light
          .portlet-title
            .caption.caption-md
              %i.icon-bar-chart.theme-font.hide
              %span.caption-subject.theme-font.bold.uppercase Rooms
          .portlet-body= render "form"