- meta title: "Detail #{@room.title}"
.page-head
  .container
    .page-title
      %h1= "Edit Room #{@room.title}"
.page-content
  .container
    - breadcrumb :room, @room
    = render("layouts/breadcrumbs")
    .row
      .col-md-6
        .portlet.light
          .portlet-title
            .caption.caption-md
              %i.icon-bar-chart.theme-font.hide
              %span.caption-subject.theme-font.bold.uppercase= "Detail #{@room.title}"
          .portlet-body
            %table.table
              %tr
                %td Room Name
                %td= @room.title
              %tr
                %td Price
                %td= number_to_currency(@room.price)
              %tr
                %td Guests
                %td= pluralize(@room.guest, 'person')
              %tr
                %td Pay Type
                %td= @room.pay_type
              %tr
                %td N.Room
                %td= @room.count
              %tr
                %td Cancellation
                %td= @room.cancellation
              %tr
                %td Ensuite
                %td= @room.ensuite
              %tr
                %td Instant Booking
                %td= @room.instant
            .row
              .col-md-6
                = link_to "Edit", edit_admin_city_property_room_path, :class => 'btn btn-success btn-block'
              .col-md-6
                = link_to "Back", admin_city_property_rooms_path, :class => 'btn btn-primary btn-block'
            .clearfix
      .col-md-6
        .portlet.light
          .portlet-title
            .caption.caption-md
              %i.icon-bar-chart.theme-font.hide
              %span.caption-subject.theme-font.bold.uppercase= "Description #{@room.title}"
          .portlet-body
            = image_tag(@room.photo, :class => 'img-thumbnail col-md-5')
            .col-md-7
              %p= @room.about
            .clearfix
            .col-md-12
              %h3 Facilities
              - @room.facilities.each do |facility|
                %ul
                  %li= facility.facility_name
            .clearfix
-#
  .content
    .row
      .large-12.medium-12.small-12.columns.margin-from-header
        %h1 Show room
        .large-6.medium-6.small-12.columns.padding-block-left
          %p
            %b Type:
            = @room.room_type_id
          %p
            %b Price:
            = @room.price
          %p
            %b Check in room:
            = @room.check_in_room
          %p
            %b Check out room:
            = @room.check_out_room
          %p
            %b Ensuite Room
            = @room.ensuite
        .large-6.medium-6.small-12.columns.padding-block-right
          %p
            %b About:
            = @room.about
          %p
            %b Guest:
            = @room.guest
          %p
            %b Pay type:
            = @room.pay_type
          %p
            %b Hotel:
            = @room.hotel_id
        %br
          .clear-both
          %hr
          = link_to 'Edit', [:edit, :admin, @city, @hotel, @room]
          \|
          = link_to 'Back', admin_city_hotel_rooms_path


