%table
  %thead
    %tr
      %th Title
      %th Content
      %th in
      %th out
      %th hotel
      %th hotel_id
      %th hotel_rating
      %th
      %th
      %th
  %tbody
    - @hotels.each do |h|
      %tr
        %td= h.title
        %td= h.rating
