%h1 SearchByDate#index
= form_tag(search_date_path, :method => "get", id: "searchform") do
  = date_field_tag :check_in, params[:check_in], placeholder: "Check in..", required: 'true'
  = date_field_tag :check_out, params[:check_out], placeholder: "Check out..", required: 'true'
  = select_tag :city, options_for_select( City.all.collect{ |u| [u.name, u.id] }, params[:city])
  = select_tag :guest, options_for_select( [['1','1'],['2','2'],['3','3']], params[:guest])
  = submit_tag "Filter", :name => nil, id: "go", class: "ct-search-submit"
%h1 REsult
#result
  = render(partial:'result')
