- meta title: @title[:title], description: truncate(strip_tags(@title[:description]), length: 255), keywords: @title[:keywords]
.content
  .row
    .large-12.medium-12.columns
      .large-3.medium-3.columns
        .content_filters.margin-from-header
          = form_tag(search_index_path, :method => "get", id: "searchform_room", name: "form1") do
            .content_search-hostels
              %h5 Search Lodgings
              = text_field_tag :title, params[:title], placeholder: "Lodging Name"
              .mozfix-select
                = select_tag(:city, options_for_select(@cities, params[:city]), prompt: "Select City")
              .check_in
                = text_field_tag :check_in, params[:check_in], placeholder: "Check in..", id: 'from'
              .check_out
                = text_field_tag :check_out, params[:check_out], placeholder: "Check out..", id: 'to'
              .mozfix-select
              = select_tag :guest, options_for_select(@guests, params[:guest]), :prompt => "Guests"
              = submit_tag "Search", :name => nil, id: "go", class: "visible-for-medium-only button expand radius tiny yellow", onclick: "validatecal(document.form1.check_in, document.form1.check_out)"
            .content_filter-results
              %h5 Filter Results
              .accordion-block
                %h3 price (USD)
                .accordion1
                  .slider-line
                    #slider-range1
                    %label{for: "amount1"} Range:
                    %input#amount1/
                    .hide= number_field_tag :minimum, params[:minimum], placeholder: "From..", required: 'true', id: 'amount201', class: "display-none"
                    .hide= number_field_tag :maximum, params[:maximum], placeholder: "To", required: 'true', id: 'amount202'
                %hr
                %h3 Rating
                .accordion1
                  %label From:
                  .filter_rating_from{"data-rating" => (params[:from] || 0)}
                  = hidden_field_tag :from, (params[:from] || 0), id: "from_rating"
                  %label To:
                  .filter_rating_to{"data-rating" => (params[:to] || 100)}
                  = hidden_field_tag :to, (params[:to] || 100), id: "to_rating"
                %hr
                %h3 Property type
                .accordion1
                  - @property_types.each do |type|
                    - type = type.shift.strip
                    - if params[:property_type] && params[:property_type].include?(type)
                      - show = true
                    - else
                      - show = false
                    .checkbox-block
                      %label.checkbox
                        = check_box_tag "property_type[]", type, show
                        %span
                      %label
                        = type
                    .clear-both
                %hr
                %h3 Payment type
                .accordion1
                  - @payments.each do |payment|
                    - if params[:payment_type] && params[:payment_type].include?(payment.id.to_s)
                      - show = true
                    - else
                      - show = false
                    .checkbox-block
                      %label.checkbox
                        = check_box_tag "payment_type[]", payment.id, show
                        %span
                      %label
                        = payment.facility_name
                    .clear-both
                %hr  
              = submit_tag("Search", class: "button expand radius tiny yellow")
              = button_tag("Clear All", type: :reset, class: "button expand radius tiny orange")
      .site-overlay
      .large-9.medium-12.columns.padding-lr-0#container
        .margin-from-header.content_finder-hostels
          .menu-btn &#9776; Search
          .content_finder-hostels_header
            - if @properties.present?
              .content_finder-hostels_header_show-map= link_to 'Show Map', map_search_path(params)
            .clear-both
            - if @properties.present?
              %hr
              %dl.sub-nav
                %br
                %dt Sort by:
                - if params[:sort_by_rating] == 'desc'
                  %dd.active
                    = link_to search_index_path(params.except(:sort_by_rating, :sort_by_price).merge(sort_by_rating: "asc")) do
                      %i.fa.fa-long-arrow-up
                      Rating
                - elsif params[:sort_by_rating] == 'asc'
                  %dd.active
                    = link_to search_index_path(params.except(:sort_by_rating, :sort_by_price).merge(sort_by_rating: "desc")) do
                      %i.fa.fa-long-arrow-down
                      Rating
                - else
                  %dd
                    = link_to search_index_path(params.except(:sort_by_rating, :sort_by_price).merge(sort_by_rating: "desc")) do
                      Rating
                - if params[:sort_by_price] == 'desc'
                  %dd.active
                    = link_to search_index_path(params.except(:sort_by_rating, :sort_by_price).merge(sort_by_price: "asc")) do
                      %i.fa.fa-long-arrow-up
                      Price
                - elsif params[:sort_by_price] == 'asc'
                  %dd.active
                    = link_to search_index_path(params.except(:sort_by_rating, :sort_by_price).merge(sort_by_price: "desc")) do
                      %i.fa.fa-long-arrow-down
                      Price
                - else
                  %dd
                    = link_to "Price", search_index_path(params.except(:sort_by_rating, :sort_by_price).merge(sort_by_price: "desc"))
            
                %p
          - @properties.each do |property|
            .content_finder-hostels_inner
              .large-4.medium-4.small-12.columns.padding-lr-0.content_finder-hostels_inner_img
                %a
                  - if property.photos.empty?
                    = image_tag('/assets/default.png', :class => "reload")
                  - else
                    = image_tag(property.photos.first.image, :class => "reload")
              .large-8.medium-8.small-12.columns.padding-lr-0.content_finder-hostels_inner_text-rating
                .large-7.medium-12.small-12columns.padding-lr-0.content_finder-hostels_inner_text.columns
                  - if params[:check_in] || params[:check_out]
                    %h5= link_to property.title, property_path(property, :check_in => params[:check_in], :check_out => params[:check_out], :guest => params[:guest])
                  - else
                    %h5=link_to property.title, property_path(property)
                  %p
                    = truncate(property.content, length: 150, escape: false)
                  %p
                    = link_to "Continue", property_path(property)
                .large-5.medium-12.columns.padding-lr-0.content_finder-hostels_inner_rating
                  .content_finder-hostels_inner_rating_header
                    %div{style: "width: 100px; margin: 0 auto;"}
                      .rating_star{"data-rating" => property.rating}
                    .clear-both
                  .content_finder-hostels_inner_rating_prices
                    %p.content_finder-hostels_inner_rating_prices_price
                      Price/Night
                      %span= number_to_currency(property.price)
                    %hr
                    - if params[:check_out] || params[:check_in] || params[:guest]
                      = link_to "BOOK NOW", property_path(property, :check_in => params[:check_in], :check_out => params[:check_out], :guest => params[:guest]), class:'button radius expand tiny orange'
                    - else
                      = link_to "BOOK NOW", property_path(property), class:'button radius expand tiny orange'
              .clear-both
          - if @properties.present?
            = paginate @properties
          -else
            %h4.text-center Hotels with this attributes don't exist
