.content
  .row
    .large-12.medium-12.small-12.columns.margin-from-header.hotel
      .hotel_header
        .large-4.medium-4.small-12.columns.padding-lr-0
          %h3
          %p
        .large-8.medium-8.small-12.columns.padding-lr-0
          = link_to 'Back to search', search_index_path, class: "button-full-width-yellow"
      .hotel_inside-pages
        .tabs-content          
          #panel2-2.content.large-12.medium-12.small-12.columns.map-hotel.active
            .large-12.medium-12.small-12.columns.padding-lr-0
              .map-hotel_map-block
                = render "partial/map"
              .map-hotel_text
              -#
                %h4 Located Near
                %p Skate alongside the lake and enjoy the spectacular city views at Harbourfront, or go out for a live show and some drinks on Queen West. We're in the middle of it all! Stroll to many of Toronto's top destinations, including the CN Tower, King West, the Theatre District, and Chinatown. All are within an easy 5-10 minute walk. Public transit is super convenient: two TTC streetcar lines (King and Spadina) run 100 metres from our front door, with direct service to the subway.
