/ -#
/   .row
/     %h1 REsult
/     .large-3.columns
/       %h1 Search
/       %p Ajax, bitch
/       = form_tag(search_index_path, :method => "get", id: "searchform") do
/         = text_field_tag :from, params[:from], placeholder: "Rating from.."
/         = text_field_tag :to, params[:to], placeholder: "Rating to.."
/         = select_tag :city_search, options_for_select( City.all.collect{ |u| [u.name, u.id] }, params[:city_search])
/         = submit_tag "Filter", :name => nil, id: "go", class: "ct-search-submit"
/     .large-3.columns
/       = form_tag(search_date_path, :method => "get", id: "searchform_room") do
/         = date_field_tag :check_in, params[:check_in], placeholder: "Check in..", required: 'true'
/         = date_field_tag :check_out, params[:check_out], placeholder: "Check out..", required: 'true'
/         = select_tag :city, options_for_select( City.all.collect{ |u| [u.name, u.id] }, params[:city])
/         - @count_guest = Array.new(@guest_max){|e| e = e + 1}
/         -#= select_tag "field_guest[guest][]", options_for_select([0] + @count_guest.to_a)
/         = select_tag :guest, options_for_select( [['1','1'],['2','2'],['3','3'],['4','4'],['5','5'],['6','6'],['7','7'],['8','8'],['9','9'],['10','10'],['11','11'],['12','12'],['13','13'],['14','14'],['15','15']], params[:guest])
/         = submit_tag "Filter", :name => nil, id: "go", class: "ct-search-submit"
/       %br/
/       %br/
/       -if @sort_by_rating
/         %p=@sort_by_rating.to_s
/       %strong Sort by:
/       - if params[:sort_by_rating] == 'asc'
/         = link_to 'Rating',:sort_by_rating => 'desc'
/       - else
/         = link_to 'Rating',:sort_by_rating => 'asc'
/       %p
/         Sort status:
/         %strong
/           = @sort_by_rating.to_s
/       - if params[:sort_by_price] == 'asc'
/         = link_to 'Price',:sort_by_price => 'desc'
/       - else
/         = link_to 'Price',:sort_by_price => 'asc'
/       %p
/         Sort status:
/         %strong
/           = @sort_by_price.to_s
/     .large-6.columns
/       #result
/         = render(partial:'hotels')
/ .content
/   .row
/     .large-12.medium-12.columns
/       .large-3.medium-3.columns.padding-lr-0.pushy.pushy-left
/         .content_filters.margin-from-header
/           .content_search-hostels
/             = form_tag(search_date_path, :method => "get", id: "searchform_room", name: "form1") do
/               %h5 Search Hostels
/               = select_tag :city, options_for_select( City.all.collect{ |u| [u.name, u.id] }, params[:city])
/               .check_in
/                 = text_field_tag :check_in, params[:check_in], placeholder: "Check in..", required: 'true', id: 'from'
/               .check_out
/                 = text_field_tag :check_out, params[:check_out], placeholder: "Check out..", required: 'true', id: 'to'
/               -#- @count_guest = Array.new(@guest_max){|e| e = e + 1}
/               = select_tag :guest, options_for_select([['1','1'],['2','2'],['3','3'],['4','4'],['5','5'],['6','6'],['7','7'],['8','8'],['9','9'],['10','10'],['11','11'],['12','12'],['13','13'],['14','14'],['15','15']],selected: @guest.to_i)
/               = submit_tag "Search", :name => nil, id: "go", class: "button-full-width-yellow", onclick: "validatecal(document.form1.check_in, document.form1.check_out)"
/           .content_filter-results
/             %h5 Filter Results
/             = form_tag(search_index_path, :method => "get", id: "searchform_room") do
/               .hide= text_field_tag :check_in, "#{@check_in}"
/               .hide= text_field_tag :check_out, "#{@check_out}"
/               .hide= text_field_tag :city, "#{@city}"
/               .hide= text_field_tag :guest, "#{@guest}"
/               .accordion-block
/                 %h3 price (USD)
/                 .accordion1
/                   .slider-line
/                     #slider-range1
/                     %label{for: "amount1"} Range:
/                     %input#amount1/
/                     .hide= number_field_tag :minimum, params[:minimum], value: 50, placeholder: "From..", required: 'true', id: 'amount201', class: "display-none"
/                     .hide= number_field_tag :maximum, params[:maximum], value: 1500, placeholder: "To", required: 'true', id: 'amount202'
/                 %hr
/                 %h3 Rating
/                 .accordion1
/                   .slider-line
/                     #slider-range2
/                     %label{for: "amount2"} Range:
/                     %input#amount2/
/                     .hide= number_field_tag :from, params[:from], value: 20, placeholder: "From..", required: 'true', id: 'amount21', class: "display-none"
/                     .hide= number_field_tag :to, params[:to], value: 100, placeholder: "To", required: 'true', id: 'amount22'
/                 %hr
/                 %h3 Property type
/                 .accordion1
/                   .checkbox-block
/                     %label.checkbox
/                       = check_box_tag :all_property
/                       %span
/                     %label{for: "all_property"} All property types
/                   .clear-both
/                   .checkbox-block
/                     %label.checkbox
/                       = check_box_tag :hostels
/                       %span
/                     %label{for: "hostels"} Hostels 
/                   .clear-both
/                   .checkbox-block
/                     %label.checkbox
/                       = check_box_tag :bed_and_breakfasts
/                       %span
/                     %label{for: "bed_and_breakfasts"} Bed and Breakfasts 
/                   .clear-both
/                   .checkbox-block
/                     %label.checkbox
/                       = check_box_tag :hotels
/                       %span
/                     %label{for: "hotels"} Hotels 
/                   .clear-both
/                 %hr
/                 %h3 Room type
/                 .accordion1
/                   .checkbox-block
/                     %label.checkbox
/                       = check_box_tag :ensuite_room
/                       %span
/                     %label{for: "ensuite_room"} Ensuite Room
/                   .clear-both
/                   %p.content_filters_filter-results_kind Private
/                   .checkbox-block
/                     %label.checkbox
/                       = check_box_tag :single_room
/                       %span
/                     %label{for: "single_room"} Single Room
/                   .clear-both
/                   .checkbox-block
/                     %label.checkbox
/                       = check_box_tag :twin_room
/                       %span
/                     %label{for: "twin_room"} Twin Room
/                   .clear-both
/                   .checkbox-block
/                     %label.checkbox
/                       = check_box_tag :double_room
/                       %span
/                     %label{for: "double_room"} Double Room
/                   .clear-both
/                   .checkbox-block
/                     %label.checkbox
/                       = check_box_tag :triple_room
/                       %span
/                     %label{for: "triple_room"} Triple Room
/                   .clear-both
/                   .checkbox-block
/                     %label.checkbox
/                       = check_box_tag :family_room
/                       %span
/                     %label{for: "family_room"} Family Room
/                   .clear-both
/                   %p.content_filters_filter-results_kind Dorm
/                   .checkbox-block
/                     %label.checkbox
/                       = check_box_tag :mixed_dorm
/                       %span
/                     %label{for: "mixed_dorm"} Mixed Dorm
/                   .clear-both
/                   .checkbox-block
/                     %label.checkbox
/                       = check_box_tag :male_dorm
/                       %span
/                     %label{for: "male_dorm"} Male Dorm
/                   .clear-both
/                   .checkbox-block
/                     %label.checkbox
/                       = check_box_tag :female_dorm
/                       %span
/                     %label{for: "female_dorm"} Female Dorm
/                   .clear-both
/                 %hr
/                 %h3 Facilities
/                 .accordion1
/                   .checkbox-block
/                     %label.checkbox
/                       = check_box_tag :breakfast_included
/                       %span
/                     %label{for: "breakfast_included"} Breakfast included 
/                   .clear-both
/                   .checkbox-block
/                     %label.checkbox
/                       = check_box_tag :internet_access
/                       %span
/                     %label{for: "internet_access"} Internet access 
/                   .clear-both
/                   .checkbox-block
/                     %label.checkbox
/                       = check_box_tag :luggage_storage
/                       %span
/                     %label{for: "luggage_storage"} Luggage storage
/                   .clear-both
/                   .checkbox-block
/                     %label.checkbox
/                       = check_box_tag :hour_check_in
/                       %span
/                     %label{for: "hour_check_in"} Hour check in
/                   .clear-both
/                   .checkbox-block
/                     %label.checkbox
/                       = check_box_tag :restaurant
/                       %span
/                     %label{for: "restaurant"} Restaurant
/                   .clear-both
/                   .checkbox-block
/                     %label.checkbox
/                       = check_box_tag :bar
/                       %span
/                     %label{for: "bar"} Bar
/                   .clear-both
/                   .checkbox-block
/                     %label.checkbox
/                       = check_box_tag :air_conditioning
/                       %span
/                     %label{for: "air_conditioning"} Air conditioning
/                   .clear-both
/                   .checkbox-block
/                     %label.checkbox
/                       = check_box_tag :common_room
/                       %span
/                     %label{for: "common_room"} Common room 
/                   .clear-both
/                   .checkbox-block
/                     %label.checkbox
/                       = check_box_tag :travel_desk
/                       %span
/                     %label{for: "travel_desk"}  Travel desk
/                   .clear-both
/                   .checkbox-block
/                     %label.checkbox
/                       = check_box_tag :wheelchair_friendly
/                       %span
/                     %label{for: "wheelchair_friendly"} Wheelchair friendly  
/                   .clear-both
/                 %hr
/                 %h3 Payment type
/                 .accordion1
/                   .checkbox-block
/                     %label.checkbox
/                       = check_box_tag :all_payment
/                       %span
/                     %label{for: "all_payment"} All Payment Types
/                   .clear-both
/                   .checkbox-block
/                     %label.checkbox
/                       = check_box_tag :credit_card
/                       %span
/                     %label{for: "credit_card"} Credit card
/                   .clear-both
/                   .checkbox-block
/                     %label.checkbox
/                       = check_box_tag :debit_card
/                       %span
/                     %label{for: "debit_card"} Debit card
/                   .clear-both.checkbox-block
/                     %label.checkbox
/                       = check_box_tag :paypal
/                       %span
/                     %label{for: "paypal"} Paypal
/                   .clear-both
/                 %hr  
/               = submit_tag("search", class: "button-full-width-yellow")
/               = button_tag("clear all", type: :reset, class: "button-full-width-orange")
/           -#
/             .content_filters_city-quides
/               %h3 Yangon City Guide
/               %p Read our Yangon city guide for information about eating out, things to do and much more
/               %a View Yangon Guide »
/       .site-overlay
/       .large-9.medium-9.columns.padding-lr-0#container
/         .content_finder-hostels.margin-from-header
/           .menu-btn.button-full-width-yellow &#9776; Search
/           .content_finder-hostels_header
/             - if @hotels.present?
/               .content_finder-hostels_header_show-map= link_to 'Show Map', map_search_path
/             .clear-both
/             %dl.sub-nav
/               - if @hotels.present?
/                 = form_tag(search_index_path, :method => "get", id: "searchform") do
/                   %strong 
/                   %dt Sort by:
/                   - if params[:sort_by_rating] == 'asc'
/                     %dd
/                       = link_to 'Rating',action: 'sorting',:sort_by_rating => 'desc', :hotels_id => @hotels_id, check_in: params[:check_in], check_out: params[:check_out], city: params[:city], guest: params[:guest], page: 'res'
/                   - else
/                     %dd
/                       = link_to 'Rating',action: 'sorting',:sort_by_rating => 'asc', :hotels_id => @hotels_id, check_in: params[:check_in], check_out: params[:check_out], city: params[:city], guest: params[:guest], page: 'res'
/                   - if params[:sort_by_price] == 'asc'
/                     %dd
/                       = link_to 'Price',action: 'sorting',:sort_by_price => 'desc', :hotels_id => @hotels_id, check_in: params[:check_in], check_out: params[:check_out], city: params[:city], guest: params[:guest], page: 'res'
/                   - else
/                     %dd
/                       = link_to 'Price',action: 'sorting',:sort_by_price => 'asc', :hotels_id => @hotels_id, check_in: params[:check_in], check_out: params[:check_out], city: params[:city], guest: params[:guest], page: 'res'
/                   %p
/           - @hotels.each do |h|
/             .content_finder-hostels_inner
/               .large-4.medium-4.columns.padding-lr-0.content_finder-hostels_inner_img
/                 %a
/                   - h.photos.each do |photo|
/                     =link_to image_tag(photo.image), [h.city, h], class: "reload"
/                     - break  
/               .large-8.medium-8.columns.padding-lr-0.content_finder-hostels_inner_text-rating
/                 .large-7.medium-12.columns.padding-lr-0.content_finder-hostels_inner_text
/                   %h5=link_to h.title, [h.city, h]
/                   %p
/                     =truncate(h.content, length: 120)
/                     %br
/                     =link_to "More info", [h.city, h]
/                 .large-5.medium-12.columns.padding-lr-0.content_finder-hostels_inner_rating
/                   .content_finder-hostels_inner_rating_header
/                     %p
/                       %span= h.general_rating
/                     .content_finder-hostels_inner_rating_header_star-block
/                       %a
/                       %a
/                       %a
/                       %a
/                       %a
/                     .clear-both
/                   .content_finder-hostels_inner_rating_prices
/                     %p.content_finder-hostels_inner_rating_prices_price
/                       Price from
/                       %span $ #{h.private_room_price}
/                     %hr
/                     %form
/                       -@types = h.show_room_types
/                       -if @types.length>0
/                         .accordion-block
/                           %h3 Show room types
/                           .accordion1
/                             .checkbox-block
/                               -@types.each do |type|
/                                 =type
/                                 %br
/                               %span
/                             .clear-both
/                       =link_to "BOOK NOW", {controller: 'hotels', action: 'show', id: h.id, city_id: h.city.id, date_in:params[:check_in], date_out: params[:check_out]}, class:'button-full-width-orange full-width-button'
/               .clear-both
/           -#
/           - if @hotels.present?
/             = paginate @hotels
/           - else
/             Hotels with this attributes don't exist
