.content
  .row
    .large-6.large-offset-3.medium-6.medium-offset-3.small-12.columns.margin-from-header
      .panel.callout.radius
        %p.text-center
          Link confirmation already sent to
          = @user.email
        %p.text-center
          Return to 
          = link_to "Home page", root_url
        