- meta title: "Dashboard"
.page-head
  .container
    .page-title
      %h1 Dashboard
.page-content
  .container
    - breadcrumb :root
    = render("layouts/breadcrumbs")
    .row
      .col-lg-4.col-md-4.col-sm-6.col-xs-12.margin-bottom-10
        = link_to admin_checkouts_path, :class => 'dashboard-stat dashboard-stat-light blue-madison' do
          .visual
            %i.fa.fa-money.fa-icon-medium
          .details
            .number
              = number_to_currency(@total_price)
            .desc
              Total Checkouts
      .col-lg-4.col-md-4.col-sm-6.col-xs-12
        = link_to admin_checkouts_path, :class => 'dashboard-stat dashboard-stat-light red-intense' do 
          .visual
            %i.fa.fa-shopping-cart
          .details
            .number
              = number_with_delimiter(@checkouts.count)
            .desc
              Total Confirmed Checkouts
      .col-lg-4.col-md-4.col-sm-6.col-xs-12
        = link_to admin_all_properties_path, :class => 'dashboard-stat dashboard-stat-light green-haze' do
          .visual
            %i.fa.fa-home.fa-icon-medium
          .details
            .number
              = number_with_delimiter(@properties.count)
            .desc
              Total Properties
      / .col-md-12
      /   .portlet.light
      /     .portlet-title
      /       .caption
      /         .caption-subject.font-green-sharp.bold.uppercase Visitor
      /     .portlet-body
      /       = form_tag(admin_root_path, :method => :get, :class => 'form-inline') do
      /         .form-group
      /           = text_field_tag :from, params[:from], :class => 'form-control', :placeholder => 'From', "data-provide" => "datepicker", "data-date-format" => "dd/mm/yyyy", :required => true
      /         .form-group
      /           = text_field_tag :to, params[:to], :class => 'form-control', :placeholder => 'To', "data-provide" => "datepicker", "data-date-format" => "dd/mm/yyyy", :required => true
      /         .form-group
      /           = submit_tag "Search", :class => 'btn btn-success'
      /           = link_to "Reset", admin_root_path, :class => 'btn btn-primary'
      /       %br/
      /       = high_chart("lazy_chart", @chart)