- meta title: "Results Search #{params[:query]}"
.page-head
  .container
    .page-title
      %h1 Search
.page-content
  .container
    - breadcrumb :search
    = render("layouts/breadcrumbs")
    .row
      .col-md-12
        .tabbable.tabbable-custom.tabbable-noborder
          %ul.nav.nav-tabs
            %li.active
              %a{"data-toggle" => "tab", :href => "#property"}
                Property Search
            %li
              %a{"data-toggle" => "tab", :href => "#checkout"}
                Checkouts Search
            %li
              %a{"data-toggle" => "tab", :href => "#user"}
                User Search
          .tab-content
            #property.tab-pane.active
              .row
                .col-md-12
                  = form_tag(admin_search_path(:anchor => "property"), :method => :get, :class => "alert alert-success") do
                    .input-group
                      .input-cont
                        = text_field_tag :query, @query, :placeholder => "Search Properties...", :class => 'form-control'
                      %span.input-group-btn
                        = button_tag :class => 'btn green-haze' do
                          Search &nbsp;
                          %i.m-icon-swapright.m-icon-white
              .table-responsive
                %table.table.table-striped.table-bordered.table-advance.table-hover
                  %thead
                    %tr
                      %th Photo
                      %th Property Name
                      %th Published
                      %th Type
                      %th Prices
                      %th
                      %th
                  %tbody
                    - @properties.each do |property|
                      %tr
                        %td.text-center=  property.photos.empty? ? image_tag("/assets/thumb_default.png") :image_tag(property.photo_thumb) 
                        %td= property.title
                        %td
                          - if property.published?
                            = link_to "Published", admin_city_property_published_path(property.city, property), :method => :post, :class => "label label-success"
                          - else
                            = link_to "Not Published", admin_city_property_published_path(property.city, property), :method => :post, :class => "label label-danger" 
                        %td= property.property_type
                        %td.text-right= number_to_currency(property.price)
                        %td= link_to "Rooms (#{property.rooms.count})", admin_city_property_rooms_path(property.city, property)
                        %td.text-center
                          = link_to "Show", property_path(property), :target => "_blank", :class => 'btn btn-success btn-sm'
                          = link_to "Edit", edit_admin_city_property_path(property.city, property), :class => 'btn btn-info btn-sm'
                          = link_to "Delete", admin_city_property_path(property.city, property), :method => :delete, :data => {:confirm => "Are you sure?"}, :class => 'btn btn-danger btn-sm'
              .margin-top-20
                = paginate @properties, :views_prefix => "kaminari/bootstrap", :params => {:anchor => "property"}

            #checkout.tab-pane
              .row
                .col-md-12
                  = form_tag(admin_search_path(:anchor => "checkout"), :method => :get, :class => "alert alert-success") do
                    .input-group
                      .input-cont
                        = text_field_tag :query, @query, :placeholder => "Search Checkouts...", :class => 'form-control'
                      %span.input-group-btn
                        = button_tag :class => 'btn green-haze' do
                          Search &nbsp;
                          %i.m-icon-swapright.m-icon-white
              .table-responsive
                %table.table.table-striped.table-bordered.table-advance.table-hover
                  %thead
                    %tr
                      %th Fullname
                      %th Email
                      %th Booking ID
                      %th Total Price
                      %th Created At
                      %th Status
                      %th
                  %tbody
                    - @checkouts.each do |checkout|
                      %tr
                        %td= "#{checkout.first_name} #{checkout.last_name}"
                        %td= checkout.email_id
                        %td.text-right= checkout.booking_id
                        %td.text-right= number_to_currency(checkout.total_cart)
                        %td= checkout.created_at.strftime("%a, %b %d %Y")
                        %td
                          - if checkout.status.eql?("Not Confirm")
                            = link_to admin_confirm_checkout_path(checkout), method: :post, :class => 'btn btn-danger btn-xs', :data => {:confirm => "Are you sure?"} do
                              = checkout.status
                          - elsif checkout.status.eql?("Changed")
                            %label.label.label-default
                              = checkout.status
                          - elsif checkout.status.eql?("Refunded")
                            %label.label.label-info
                              = checkout.status
                          - else
                            %label.label.label-success
                              = checkout.status
                        %td.text-center
                          = link_to "View", admin_checkout_detail_path(checkout), :class => 'btn btn-primary btn-sm'
              .margin-top-20
                = paginate @checkouts, :views_prefix => "kaminari/bootstrap", :params => {:anchor => "checkout"}

            #user.tab-pane
              .row
                .col-md-12
                  = form_tag(admin_search_path(:anchor => "user"), :method => :get, :class => "alert alert-success") do
                    .input-group
                      .input-cont
                        = text_field_tag :query, @query, :placeholder => "Search Users...", :class => 'form-control'
                      %span.input-group-btn
                        = button_tag :class => 'btn green-haze' do
                          Search &nbsp;
                          %i.m-icon-swapright.m-icon-white
              .table-responsive
                %table.table.table-striped.table-bordered.table-advance.table-hover
                  %thead
                    %tr
                      %th Photo
                      %th Fullname
                      %th Email
                      %th Role
                      %th Checkouts
                      %th
                  %tbody
                    - @users.each do |user|
                      %tr
                        %td.text-center= image_tag(user.avatar_url(:thumb))
                        %td= "#{user.first_name} #{user.last_name}"
                        %td= user.email
                        %td= user.role
                        %td
                          - if user.checkouts.count.eql?(0)
                            = "Checkouts (#{user.checkouts.count.to_s})"
                          - else
                            = link_to "Checkouts ( #{user.checkouts.count.to_s} )", user_admin_checkouts_path(user)
                        %td.text-center
                          = link_to "Show", admin_user_path(user), :class => 'btn btn-success btn-sm'
                          = link_to "Edit", edit_admin_user_path(user), :class => 'btn btn-info btn-sm'
                          = link_to "Delete", admin_user_path(user), :class => 'btn btn-danger btn-sm', :method => :delete, :data => {:confirm => 'Are you sure?'}
              .margin-top-20
                = paginate @users, :views_prefix => "kaminari/bootstrap", :params => {:anchor => "user"}