.col-lg-4.col-md-4.col-sm-6.col-xs-12.margin-bottom-10
  %a.dashboard-stat.dashboard-stat-light.blue-madison{:href => "javascript:;"}
    .visual
      %i.fa.fa-briefcase.fa-icon-medium
    .details
      .number
        $168,492.54
      .desc
        Lifetime Sales