.modal.fade#edit_faq{:role => "dialog", "aria-labelledby" => "Edit FAQ", "aria-hidden" => "true"}
	.modal-dialog
		= simple_form_for("", :method => :patch, :html => {:id => 'edit_faq_form'}) do |f|
			= f.error_notification
			.modal-content
				.modal-header
					%button.close{"data-dismiss" => "modal", "aria-label" => "Close"}
						%span{"aria-hidden" => "true"} &times;
					.modal-title Edit Category FAQ
				.modal-body
					.form-inputs
						= f.input "faq[name]", :label => "Name", :input_html => {:class => 'form-control', :id => "faq_name_edit"}
				.modal-footer
					.form-actions
						= f.button :submit, "Save", :class => 'btn btn-success'
						%a.btn-danger.btn{"data-dismiss" => "modal"} Close