.modal.fade#new_faq{:role => "dialog", "aria-labelledby" => "New FAQ", "aria-hidden" => "true"}
	.modal-dialog
		= simple_form_for([:admin, @faq]) do |f|
			= f.error_notification
			.modal-content
				.modal-header
					%button.close{"data-dismiss" => "modal", "aria-label" => "Close"}
						%span{"aria-hidden" => "true"} &times;
					.modal-title New Category FAQ
				.modal-body
					.form-inputs
						= f.input :name, :input_html => {:class => 'form-control'}
				.modal-footer
					.form-actions
						= f.button :submit, "Save", :class => 'btn btn-success'
						%a.btn-danger.btn{"data-dismiss" => "modal"} Close