- meta title: "Manage FAQs"
.page-head
  .container
    .page-title
      %h1 All Categories FAQ
.page-content
  .container
    - breadcrumb :faqs
    = render("layouts/breadcrumbs")
    .row
      .col-md-12.col-sm-12
        / BEGIN REGIONAL STATS PORTLET
        .portlet.light
          .portlet-title
            .caption.caption-md
              %i.icon-bar-chart.theme-font.hide
              %span.caption-subject.theme-font.bold.uppercase List Categories FAQ
            .actions
              = link_to "", :class => "btn btn-default btn-circle", "data-toggle" => "modal", "data-target" => "#new_faq" do
                %i.fa.fa-plus
                %span.hidden-480 New Category FAQ
          .portlet-body
            %table.table.table-hover
              %thead
                %tr
                  %th #
                  %th Name
                  %th{:colspan => 6}
              %tbody
                - @faqs.each_with_index do |faq, index|
                  - index = index + 1
                  %tr
                    %td= index
                    %td= faq.name
                    %td= link_to "View", admin_faq_path(faq), :class => 'btn btn-sm btn-success'
                    %td= link_to "Edit", edit_admin_faq_path(faq), :class => 'btn btn-sm btn-primary', :remote => true
                    %td= link_to "Delete", admin_faq_path(faq), :class => 'btn btn-sm btn-danger', :method => :delete, "data-confirm" => "Are you sure?"
= render "form"
= render "edit"