- meta title: "New FAQ"
.page-head
	.container
		.page-title
			%h1= "New FAQ for #{@faq.name}"
.page-content
	.container
		- breadcrumb :new_faq, @faq
		= render("layouts/breadcrumbs")
		.row
			= simple_form_for(@child, :url => child_admin_faq_path(@faq), :method => 'post') do |f|
				.col-md-12.col-sm-12
					.portlet.light
						.portlet-title
							.caption.caption-md
								%i.icon-bar-chart.theme-font.hide
								%span.caption-subject.theme-font.bold.uppercase= "New FAQ for #{@faq.name}"
						.portlet-body
							= f.error_notification
							.form-inputs
							= f.input :name, :input_html => {:class => 'form-control'}
							= f.input :content, :as => :ckeditor, :input_html => { :ckeditor => {:toolbar => 'Full'} }
							.form-actions
							= f.button :submit, "Save", :class => "btn btn-success"
							= link_to "Back", admin_faq_path(@faq), :class => 'btn btn-danger'