- meta title: "Detail FAQs"
.page-head
  .container
    .page-title
      %h1= "All FAQ #{@faq.name}"
.page-content
  .container
    - breadcrumb :faq, @faq
    = render("layouts/breadcrumbs")
    .row
      .col-md-12.col-sm-12
        .portlet.light
          .portlet-title
            .caption.caption-md
              %i.icon-bar-chart.theme-font.hide
              %span.caption-subject.theme-font.bold.uppercase= "All FAQ #{@faq.name}"
            .actions
              = link_to new_child_admin_faq_path, :class => "btn btn-default" do
                %i.fa.fa-plus
                %span.hidden-480 New FAQ
              = link_to admin_faqs_path, :class => "btn btn-default" do
                %i.fa.fa-arrow-left
                %span.hidden-480 Back
          .portlet-body
            %table.table.table-hover
              %thead
                %tr
                  %th #
                  %th Name
                  %th{:colspan => 2}
              %tbody
                - @child_faqs.each_with_index do |faq, index|
                  - index = index + 1
                  %tr
                    %td= index
                    %td= faq.name
                    %td= link_to "View", child_admin_faq_path(faq), :class => 'btn btn-sm btn-success'
                    %td= link_to "Delete", admin_faq_path(faq), :class => 'btn btn-sm btn-danger', :method => :delete, "data-confirm" => "Are you sure?"
