- meta title: "Detail Checkout"
.page-head
  .container
    .page-title
      %h1
        Detail Checkout for
        = @checkout.first_name
        
.page-content
  .container
    - breadcrumb :checkout, @checkout
    = render("layouts/breadcrumbs")
    .row
      .col-md-12.col-sm-12
        .portlet.light
          .portlet-title
            .caption.caption-md
              %i.icon-bar-chart.theme-font.hide
              %span.caption-subject.theme-font.bold.uppercase Checkouts
          .portlet-body
            %strong Booking ID
            %span= @checkout.booking_id
            %br
            %br
            %table.table.table-hover.table-responsive.table-striped
              %thead
                %th Room Type
                %th Property Name
                %th Check In
                %th Check Out
                %th Price/Night
                %th Nights
                %th No.Room
                %th Total Price
              %tbody
                %tr
                  %td= @checkout.room.title
                  %td= @checkout.room.property.title
                  %td= @checkout.check_in.strftime("%a, %b %d %Y")
                  %td= @checkout.check_out.strftime("%a, %b %d %Y")
                  %td.text-right= number_to_currency(@checkout.per_night)
                  %td= pluralize(@checkout.nights, "night")
                  %td= pluralize(@checkout.no_room, "room")
                  %td.text-right= number_to_currency(@checkout.total_price)
                %tr
                  %td{:colspan => '5'}
                  %td{:colspan => '2'} Government Tax
                  %td.text-right= number_to_currency(@checkout.government)
                %tr
                  %td{:colspan => '5'}
                  %td{:colspan => '2'} Service Fee
                  %td.text-right= number_to_currency(@checkout.service)
                %tr
                  %td{:colspan => '5'}
                  %td{:colspan => '2'} Total Price
                  %td.text-right= number_to_currency(@checkout.total_cart)
            %hr
            = link_to "Back", :back, :class => 'btn btn-success'
            - if @checkout.status.eql?("Not Confirm")
              = link_to "Not Confirm", admin_confirm_checkout_path(@checkout), :class => 'btn btn-danger', :method => :post
            - else
              = link_to "Confirmed", "", :class => 'btn btn-success disabled'