- meta title: "Manage Checkouts"
.page-head
  .container
    .page-title
      %h1 All Checkouts
.page-content
  .container
    - breadcrumb :checkouts
    = render("layouts/breadcrumbs")
    .row
      .col-md-12.col-sm-12
        .portlet.light
          .portlet-title
            .caption.caption-md
              %i.icon-bar-chart.theme-font.hide
              %span.caption-subject.theme-font.bold.uppercase Checkouts
          .portlet-body
            = form_tag(admin_checkouts_path, :method => :get, :class => 'form-inline') do
              .form-group
                = select_tag "search[status]", options_for_select(["All Status","Not Confirm","Confirmed", "Refunding", "Refunded", "Changed"], search_field("status")), :class => 'form-control'
              .form-group
                = text_field_tag "search[email]", search_field("email"), :class => 'form-control', :placeholder => 'Email'
              .form-group
                = text_field_tag "search[booking_id]", search_field("booking_id"), :class => 'form-control', :placeholder => 'Booking ID'
              .form-group
                = text_field_tag "search[created_at]", search_field("created_at"), :class => 'form-control', :placeholder => 'Created At', "data-provide" => "datepicker", "data-date-format" => "dd/mm/yyyy"
              .form-group
                = submit_tag "Search", :class => 'btn btn-success'
            %br/
            %table.table.table-hover.table-striped
              %thead
                %th Fullname
                %th Email
                %th Booking ID
                %th Total Price
                %th Created At
                %th Status
                %th
              %tbody
                - @checkouts.each do |checkout|
                  %tr
                    %td= "#{checkout.first_name} #{checkout.last_name}"
                    %td= checkout.email_id
                    %td.text-right= checkout.booking_id
                    %td.text-right= number_to_currency(checkout.total_cart)
                    %td= checkout.created_at.strftime("%a, %b %d %Y")
                    %td
                      - if checkout.status.eql?("Not Confirm")
                        = link_to admin_confirm_checkout_path(checkout), method: :post, :class => 'btn btn-danger btn-xs', :data => {:confirm => "Are you sure?"} do
                          = checkout.status
                      - elsif checkout.status.eql?("Changed")
                        %label.label.label-default
                          = checkout.status
                      - elsif checkout.status.eql?("Refunded")
                        %label.label.label-info
                          = checkout.status
                      - else
                        %label.label.label-success
                          = checkout.status
                    %td.text-center
                      = link_to "View", admin_checkout_detail_path(checkout), :class => 'btn btn-primary btn-sm'
                      

            = paginate @checkouts, :views_prefix => "kaminari/bootstrap"