= form_for @term do |f|
  - if @term.errors.any?
    #error_explanation
      %h2= "#{pluralize(@term.errors.count, "error")} prohibited this term from being saved:"
      %ul
        - @term.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :content
    = f.text_area :content, required: "true", class: "redactor"
  %br
  .actions
    = f.submit 'Save', class: "button disabled"
