.content
  .row
    .large-12.medium-12.columns.margin-from-header.security-privacy
      - if @terms_count.count > 0
        = simple_format(@terms.content)
        -if user_signed_in?
          -if current_user.has_role?(:admin)
            .clear-both
            %hr
            %td= link_to 'Edit', edit_term_path(@terms)
            %td= link_to 'Destroy', @terms, :method => :delete, :data => { :confirm => 'Are you sure?' }

      - else
        -if user_signed_in?
          -if current_user.has_role?(:admin)
            %p Now information is unavailable, but you can fill it.
            %br= link_to 'Fill Terms & Conditions', new_term_path
          - else 
            %p Now information is unavailable
        - else 
          %p Now information is unavailable