= simple_form_for([:admin, @city, @place], :html => {:id => "form-place"}) do |f|
  .col-md-8
    .portlet.light
      .portlet-title
        .caption.caption-md
          %i.icon-bar-chart.theme-font.hide
          %span.caption-subject.theme-font.bold.uppercase Description Place
      .portlet-body
        = f.input :lat, :as => :hidden, :input_html => {"data-geo" => "lat"}
        = f.input :lng, :as => :hidden, :input_html => {"data-geo" => "lng"}
      
        = f.input :address, :input_html => {:class => 'form-control'}
        = f.input :title, :input_html => {:class => 'form-control'}
        = f.input :town, :input_html => {:class => 'form-control'}
        = f.input :country, :input_html => {:class => 'form-control'}
        = f.input :state, :input_html => {:class => 'form-control'}
        = f.input :content, :as => :ckeditor, :input_html => {:ckeditor => {:toolbar => 'simple'}, :class => 'form-control'}
        = f.input :placeimg, :as => :file
  .col-md-4
    / BEGIN REGIONAL STATS PORTLET
    .portlet.light
      .portlet-title
        .caption.caption-md
          %i.icon-bar-chart.theme-font.hide
          %span.caption-subject.theme-font.bold.uppercase Map Place
      .portlet-body
        #maps{style: "height:400px"}
    .portlet.light
      .portlet-body
        = link_to "Back", admin_root_path, :class => 'btn green'
        = f.submit "Save", :class => 'btn green'

- content_for :scripts do
  %script{:src => "http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false"}
  = javascript_include_tag "jquery.geocomplete.min"
  - if params[:action].eql?("new")
    :javascript
      $("#place_address").geocomplete({
        map: "#maps",
        details: "#form-place",
        detailsAttribute: "data-geo",
        location: "#{@city.lat}, #{@city.lng}",
        markerOptions: {
          draggable: true
        }
      });
      $("#place_address").bind("geocode:dragged", function(event, latLng){
        $("#place_lat").val(latLng.lat());
        $("#place_lng").val(latLng.lng());
      });
  
  - else
    :javascript
      $("#place_address").geocomplete({
        map: "#maps",
        details: "#form-place",
        detailsAttribute: "data-geo",
        location: "#{@place.lat}, #{@place.lng}",
        markerOptions: {
          draggable: true
        }
      });
      $("#place_address").bind("geocode:dragged", function(event, latLng){
        $("#place_lat").val(latLng.lat());
        $("#place_lng").val(latLng.lng());
      });
