- meta title: "Edit #{@place.title}"
.page-head
  .container
    .page-title
      %h1= "New Place for #{@city.name}"
.page-content
  .container
    - breadcrumb :edit_place, @place
    = render("layouts/breadcrumbs")
    .row= render "form"