- meta title: "Manage Places"
.page-head
  .container
    .page-title
      %h1
        - if @city
          = "All Places in #{@city.name}"
        - else
          = "All Places"
.page-content
  .container
    - breadcrumb :places
    = render("layouts/breadcrumbs")
    .row
      .col-md-12.col-sm-12
        / BEGIN REGIONAL STATS PORTLET
        .portlet.light
          .portlet-title
            .caption.caption-md
              %i.icon-bar-chart.theme-font.hide
              %span.caption-subject.theme-font.bold.uppercase Places
            .actions
              .btn-group
                %a.btn.btn-circle.btn-default{:href => "javascript:;", "data-toggle" => "dropdown", "aria-expanded" => "false"}
                  %i.fa.fa-plus
                  New Place
                %ul.dropdown-menu.pull-right
                  - @cities.each do |city|
                    %li
                      = link_to city.name, new_admin_city_place_path(city)
          .portlet-body
            %table.table.table-hover
              %thead
                %tr
                  %th Place Name
                  %th{:colspan => 3}
              %tbody
                - @places.each do |place|
                  %tr
                    %td= place.title
                    %td= link_to 'Show', [@city || place.city, place], :class => 'btn btn-sm btn-success'
                    %td= link_to 'Edit', edit_admin_city_place_path(@city || place.city, place), :class => 'btn btn-info btn-sm'
                    %td= link_to 'Destroy', [:admin, @city || place.city, place], :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => 'btn btn-sm btn-danger'
    - unless @places.blank?
      = render "layouts/map"
-#
  .content
  .row
    .large-12.medium-12.small-12.columns.margin-from-header
      %h1= 'Listing places in ' + @city.name
      %br
      - if @places.size > 0
        %table.w100
          %tr
            %th Title
            %th
            %th
            %th

          - @places.each do |place|
            %tr
              %td= place.title
              %td= link_to 'Show', [@city, place]
              %td= link_to 'Edit', edit_admin_city_place_path(@city,place)
              %td= link_to 'Destroy', [:admin, @city,place], :method => :delete, :data => { :confirm => 'Are you sure?' }
      - else
        %p You don't have any places in this city

      %br
      = link_to 'New Place', new_admin_city_place_path, class: "button"
      %br
      %hr
      = link_to 'Back', admin_root_path
      = render(partial:'partial/map')


