- meta title: "New Place"
.page-head
  .container
    .page-title
      %h1= "New Place for #{@city.name}"
.page-content
  .container
    - breadcrumb :new_place, @city
    = render("layouts/breadcrumbs")
    .row= render "form"