.content
	.row
		.large-12.medium-12.small-12.columns.margin-from-header
			.page-404.text-center
				.number.small-5.columns.text-right
					%h1 404
				.text-404.small-7.columns.text-left
					.details
						%h3 Oops! You're lost.
						%p We can not find the page you're looking for.
						= link_to "Return home", root_path
