%h1 Listing bookings

%table
  %tr
    %th First name
    %th Last name
    %th Email
    %th
    %th
    %th

  - @bookings.each do |booking|
    %tr
      %td= booking.first_name
      %td= booking.last_name
      %td= booking.email
      %td= link_to 'Show', [@city, @hotel, @room, booking]
      %td= link_to 'Edit', edit_city_hotel_room_booking_path(@city,@hotel,@room,booking)
      %td= link_to 'Destroy', [@city, @hotel, @room, booking], :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Booking', new_city_hotel_room_booking_path
