%p#notice= notice

%p
  %b First name:
  = @booking.first_name
%p
  %b Last name:
  = @booking.last_name
%p
  %b Email:
  = @booking.email

= link_to 'Edit', edit_city_hotel_room_booking_path(@city, @hotel, @room,@booking)
\|
= link_to 'Back', city_hotel_room_bookings_path
