.content
  .row
    .large-12.medium-12.small-12.columns.margin-from-header  
      %h1 Listing users

      %table.w100
        %tr
          %th User Name
          %th User Email
          %th User Orders
          %th
          %th

        - @users.each do |user|
          %tr
            %td= user.first_name
            %td= user.email
            %td= Checkout.where(user_id: user.id).count
            %td= link_to 'Show', user
            %td= link_to "Destroy", admin_destroy_user_path(user), method: :delete, data: { confirm: "You sure?" }

            -#
              %td= link_to 'Show', user
              %td= link_to 'Edit', edit_user_path(user)
              %td= link_to 'Destroy', user, :method => :delete, :data => { :confirm => 'Are you sure?' }

      %br


