= render "partial/header"
.content
  .row.account-page
    .large-12.medium-12.small-12.columns.margin-from-header
      .large-12.medium-12.small-12.columns.padding-lr-0.subnav-select
        %dl.tabs.sub-nav{"data-tab" => ""}
          %dd.active
            
          %dd
            
          %dd
      .large-12.medium-12.small-12.columns.sign-up-hotel-content.checkout.information
        %h3 User's Details
        .large-6.medium-6.small-12.columns.padding-block-left
          %p
            %b Last Name:
            = @user.last_name
          %p
            %b First Name:
            = @user.first_name
          %p
            %b Email ID:
            = @user.email
          %p
            %b Special request:
            = @user.special
          %p
            %b Gender:
            = @user.gender
        .large-6.medium-6.small-12.columns.padding-block-right
          %p
            %b Mobile Number:            
            = @user.mobile
          %p
            %b Country of Passport:
            = @user.country
          %p
            %b Passport ID:
            = @user.passport
          %p
            %b Date of Birth:
            = @user.birth
          %p
            %b Estimated Check-In Time:
            = @user.estimated      
        %h3 Payment Details
        .large-6.medium-6.small-12.columns.padding-block-left
          %p
            %b Card Number:
            = @user.card_number
          %p
            %b Card Holders Name:
            = @user.card_holders
          %p
            %b Card Type:
            = @user.card_type
          %p
            %b CVV Code:
            = @user.cvv_code
          %p
            %b Expiration Date:
            = @user.mounth
            = @user.year
        .large-6.medium-6.small-12.columns.padding-block-right
          %p
            %b Selected Country:
            = @user.select_country
          %p
            %b Billing Address:
            = @user.address
          %p
            %b State:
            = @user.state
          %p
            %b City:
            = @user.city
          %p
            %b Postal Code:
            = @user.postal_code
      .large-12.medium-12.small-12.columns.sign-up-hotel-content.checkout.information
        %h3 Orders
        - if Checkout.where(user_id: @user.id).size > 0
          %table.w100
            %tr
              %th Hotel
              %th General Price
              %th Check In
              %th Check Out
              %th Show Order
            - Checkout.where(user_id: @user.id).each do |checkout|
              %tr
                %td
                  -@hotel = Hotel.find(checkout.hotel_id)
                  =@hotel.title    
                %td
                  =checkout.general_price
                %td
                  =checkout.check_in
                %td
                  =checkout.check_out
                %td
                  =link_to 'Show',  :controller => "checkouts", :action => "information", :id => checkout.id
        - else
          %p This user did not make any orders

      = link_to 'Back', users_path
