:css
	table{
		width: 100%;
		border: solid 1px #DDD;
		margin-bottom: 1.25rem;
	}
	table thead{
		background: #F5F5F5;
	}
	table tr:nth-of-type(even){
		background: #F9F9F9;
	}
	.text-right{
		text-align: right !important;
	}