Dear Admin, 
The following hotel has requested its deletion from our website: 
Hotel Name: <%= @hotel.title %>
<%- if @hotel.property_type %>
Hotel Type: <%= @hotel.property_type %>
<%- end %>
<%- if @hotel.address %>
Hotel Address: <%= @hotel.address %>
<%- end %>
The hotel has been successfully removed. 
Kind Regards 