%html
  %head
    %meta{:charset => "utf-8"}
      %title Your Booking Has Been Confirmed
      %link{:href => "http://fonts.googleapis.com/css?family=Varela+Round", :rel => "stylesheet", :type => "text/css"}

  %body{:style => "font-family: 'Varela Round', sans-serif; background-color:#f0f2ea; margin:0; padding:0; color:#333333;"}
    %table.force-row.container{:bgcolor => "#f0f2ea", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
      %tbody
        %tr
          %td{:style => "padding:40px 0;"}
            %table.force-row.container{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "800"}
              %tbody
                %tr
                  %td
                    = link_to root_url, :style => "display:block; width:800px; margin:0 auto 30px;" do
                      = image_tag("voucher/logo.png", :alt => "mmlodging", :style => "display:block; border:0; margin:0;", :width => "350")
                    %table.force-row.container{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
                      %tbody
                        %tr
                          %td{:height => "4", :width => "4"}
                            %p{:style => "margin:0; font-size:1px; line-height:1px;"} &nbsp;
                          %td{:bgcolor => "#FFFFFF", :colspan => "3", :rowspan => "3", :style => "padding:0 0 30px;"}
                            %p{:style => "margin: 30px 30px 10px; text-align:left; font-size:24px; line-height:30px; font-weight:bold; color:rgb(81, 163, 231);"}
                              = "Dear #{@checkout.first_name} #{@checkout.last_name},"
                            %table.force-row.container{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "margin-bottom: 15px", :width => "100%"}
                              %tbody
                                %tr{:valign => "top"}
                                  %td{:width => "30"}
                                    %p{:style => "margin:0; font-size:1px; line-height:1px;"} &nbsp;
                            %p{:style => "margin:0; border-top:1px solid #e5e5e5; font-size:5px; line-height:5px; margin:0 30px 29px;"} &nbsp;
                            %table.force-row.container{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
                              %tbody
                                %tr{:valign => "top"}
                                  %td
                                    %p{:style => "margin:0; margin:0 30px 30px; line-height: 30px"}
                                      = "Your booking has been confirmed. this is your Booking ID: #{@checkout.booking_id}"
                                - if !@checkout.special.nil? || !@checkout.special.empty?
                                  %tr{:valign => "top"}
                                    %td
                                      %p{:style => "margin:0; margin:0 30px 30px; line-height: 30px"}
                                        %strong Special Request: 
                                        = @checkout.special
                                %tr{:valign => "top"}
                                  %td
                                    %p{:style => "margin:0; margin:0 30px 30px; line-height: 30px"}
                                      This is the list of your checkouts :
                                %table.table-content.force-row.container{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%", :style => 'padding: 20px;'}
                                  %tr{:valign => "top"}
                                    %td{:style => 'border-bottom: 1px solid #DDD;padding-bottom: 15px;padding-top: 20px;padding-left: 10px;'}
                                      = image_tag("voucher/hotel.png", :alt => 'hotel')
                                      %span{:style => 'color: rgb(81, 163, 231);font-size: 12px;margin-right: 10px;margin-left: 10px;'} Lodging Name:
                                      %span{:style => 'font-size: 12px;margin-right: 10px;margin-left: 10px;'}= @checkout.property.title
                                    %td{:style => 'border-bottom: 1px solid #DDD;padding-bottom: 15px;padding-top: 20px;padding-left: 10px;'}
                                      = image_tag("voucher/room-type.png", :alt => 'room type')
                                      %span{:style => 'color: rgb(81, 163, 231);font-size: 12px;margin-right: 10px;margin-left: 10px;'} Room Type:
                                      %span{:style => 'font-size: 12px;margin-right: 10px;margin-left: 10px;'}= @checkout.room.title
                                    %td{:style => 'border-bottom: 1px solid #DDD;padding-bottom: 15px;padding-top: 20px;padding-left: 10px;'}
                                      = image_tag("voucher/max-guesst.png", :alt => 'max guest')
                                      %span{:style => 'color: rgb(81, 163, 231);font-size: 12px;margin-right: 10px;margin-left: 10px;'} Max Guests:
                                      %span{:style => 'font-size: 12px;margin-right: 10px;margin-left: 10px;'}= pluralize(@checkout.room.guest, "guest")
                                  %tr
                                    %td{:style => 'border-bottom: 1px solid #DDD;padding-bottom: 15px;padding-top: 20px;padding-left: 10px;'}
                                      = image_tag("voucher/check-in.png", :alt => 'check in')
                                      %span{:style => 'color: rgb(81, 163, 231);font-size: 12px;margin-right: 10px;margin-left: 10px;'} Check in
                                      %span{:style => 'font-size: 12px;margin-right: 10px;margin-left: 10px;'}= @checkout.check_in.strftime("%d %b %Y")
                                    %td{:style => 'border-bottom: 1px solid #DDD;padding-bottom: 15px;padding-top: 20px;padding-left: 10px;'}
                                      = image_tag("voucher/check-out.png", :alt => 'check out')
                                      %span{:style => 'color: rgb(81, 163, 231);font-size: 12px;margin-right: 10px;margin-left: 10px;'} Check Out:
                                      %span{:style => 'font-size: 12px;margin-right: 10px;margin-left: 10px;'}= @checkout.check_out.strftime("%d %b %Y")
                                    %td{:style => 'border-bottom: 1px solid #DDD;padding-bottom: 15px;padding-top: 20px;padding-left: 10px;'}
                                      = image_tag("voucher/price-night.png", :alt => 'price night')
                                      %span{:style => 'color: rgb(81, 163, 231);font-size: 12px;margin-right: 10px;margin-left: 10px;'} Price/Night:
                                      %span{:style => 'font-size: 12px;margin-right: 10px;margin-left: 10px;'}= number_to_currency(@checkout.per_night)
                                  %tr
                                    %td{:style => 'border-bottom: 1px solid #DDD;padding-bottom: 15px;padding-top: 20px;padding-left: 10px;'}
                                      = image_tag("voucher/time.png", :alt => 'check in')
                                      %span{:style => 'color: rgb(81, 163, 231);font-size: 12px;margin-right: 10px;margin-left: 10px;'} Check In Time:
                                      %span{:style => 'font-size: 12px;margin-right: 10px;margin-left: 10px;'}= pluralize(@checkout.property.check_in, "hour")
                                    %td{:style => 'border-bottom: 1px solid #DDD;padding-bottom: 15px;padding-top: 20px;padding-left: 10px;'}
                                      = image_tag("voucher/time.png", :alt => 'check out')
                                      %span{:style => 'color: rgb(81, 163, 231);font-size: 12px;margin-right: 10px;margin-left: 10px;'} Check Out Time:
                                      %span{:style => 'font-size: 12px;margin-right: 10px;margin-left: 10px;'}= pluralize(@checkout.property.check_out, 'hour')
                                    %td{:style => 'border-bottom: 1px solid #DDD;padding-bottom: 15px;padding-top: 20px;padding-left: 10px;'}
                                      = image_tag("voucher/tax.png", :alt => 'tax')
                                      %span{:style => 'color: rgb(81, 163, 231);font-size: 12px;margin-right: 10px;margin-left: 10px;'} Tax:
                                      %span{:style => 'font-size: 12px;margin-right: 10px;margin-left: 10px;'}= number_to_currency(@checkout.service + @checkout.government)
                                  %tr
                                    %td{:style => 'border-bottom: 1px solid #DDD;padding-bottom: 15px;padding-top: 20px;padding-left: 10px;'}
                                      = image_tag("voucher/rooms.png", :alt => 'rooms')
                                      %span{:style => 'color: rgb(81, 163, 231);font-size: 12px;margin-right: 10px;margin-left: 10px;'} No of Rooms:
                                      %span{:style => 'font-size: 12px;margin-right: 10px;margin-left: 10px;'}= pluralize(@checkout.no_room, "room")
                                    %td{:style => 'border-bottom: 1px solid #DDD;padding-bottom: 15px;padding-top: 20px;padding-left: 10px;'}
                                      = image_tag("voucher/night.png", :alt => 'nights')
                                      %span{:style => 'color: rgb(81, 163, 231);font-size: 12px;margin-right: 10px;margin-left: 10px;'} Night:
                                      %span{:style => 'font-size: 12px;margin-right: 10px;margin-left: 10px;'}= pluralize(@checkout.nights, "night")
                                    %td{:style => 'border-bottom: 1px solid #DDD;padding-bottom: 15px;padding-top: 20px;padding-left: 10px;'}
                                      = image_tag("voucher/total-price.png", :alt => 'total price')
                                      %span{:style => 'color: rgb(81, 163, 231);font-size: 12px;margin-right: 10px;margin-left: 10px;'} Total Price:
                                      %span{:style => 'font-size: 12px;margin-right: 10px;margin-left: 10px;'}= number_to_currency(@checkout.total_cart)
                                
                                = image_tag("voucher/footer.png", :alt => 'footer', :class => 'image img-footer', :style => "margin-bottom: -50px margin-left: 0px", :width => "800")