Dear Mr/Mrs/Ms: <%= @last %>, 
Thank you for contacting MMLodging. We are happy to assist you in your enquiries. 
A member of our customer service team will contact you as soon as possible. Please 
allow up to 48 hours for a response. 
We greatly appreciate your business. 
Sincerely, 
MMLodging