Dear Admin, 
The following was sent through the “Contact Us” function of the MMLodging 
webpage. 
First Name: <%= @first %>
Last Name: <%= @last %> 
E-Mail: <%= @email %> 
Message: 
<%= @message %>

-------------------------------------------- 
Kind Regards 