Hotel was update!
Name: <%= @hotel.title %>
City: <%= @hotel.city.name %>
User: <%= @current_user.email %>

Dear Admin, 
The following hotel has updated information concerning their establishment: 
Hotel Name: <%= @hotel.title %>
<%- if @hotel.property_type %>
Hotel Type: <%= @hotel.property_type %>
<%- end %>
<%- if @hotel.address %>
Hotel Address: <%= @hotel.address %>
<%- end %>
The following changes have successfully been made: 
Kind Regards 