%html
  %head
    %meta{:charset => "utf-8"}
      %title= "Your Account Already Confirmed"
      %link{:href => "http://fonts.googleapis.com/css?family=Varela+Round", :rel => "stylesheet", :type => "text/css"}
  %body{:style => "font-family: 'Varela Round', sans-serif; background-color:#f0f2ea; margin:0; padding:0; color:#333333;"}
    %table{:bgcolor => "#f0f2ea", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
      %tbody
        %tr
          %td{:style => "padding:40px 0;"}
            %table{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "800"}
              %tbody
                %tr
                  %td
                    = link_to root_url, :style => 'display:block; width:800px; margin:0 auto 30px;' do
                      = image_tag("voucher/logo.png", :alt => "mmlodging", :style => "display:block; border:0; margin:0;", :width => "350")
                    %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
                      %tbody
                        %tr
                          %td{:height => "4", :width => "4"}
                            %p{:style => "margin:0; font-size:1px; line-height:1px;"} &nbsp;
                          %td{:bgcolor => "#FFFFFF", :colspan => "3", :rowspan => "3", :style => "padding:0 0 30px;"}
                            %p{:style => "margin: 30px 30px 10px; text-align:left; font-size:24px; line-height:30px; font-weight:bold; color:rgb(81, 163, 231);"}
                              = "Dear #{@user.email},"
                            %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "margin-bottom: 15px", :width => "100%"}
                              %tbody
                                %tr{:valign => "top"}
                                  %td{:width => "30"}
                                    %p{:style => "margin:0; font-size:1px; line-height:1px;"} &nbsp;
                            %p{:style => "margin:0; border-top:2px solid #e5e5e5; font-size:5px; line-height:5px; margin:0 30px 29px;"} &nbsp;
                            %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
                              %tbody
                                %tr{:valign => "top"}
                                  %td
                                    %p{:style => "margin:0; font-size:14px; margin:0 30px 100px; line-height: 30px"}
                                      Your Account has been confirmed.
                                %tr{:valign => "top"}
                                  %td{:align => "center", :style => 'margin-top: 120px'}
                                %tr{:valign => "top"}
                                  %td{:style => "margin-top:150px;line-height:200px;"}
                                    %p{:style => "margin:0; font-size:14px; margin:0 30px 30px; line-height: 30px"}
                                      With Best Regards.
                                    %p{:style => "margin:0; font-size:14px; margin:0 30px 30px; line-height: 30px"}
                                      MMLODGING TEAM.
                                    = image_tag("voucher/footer.png", :class => 'image img-footer', :height => "200", :src => "footer.png", :style => "margin-bottom: -50px margin-left: 0px", :width => "800")