!!!
%html
	%head
		%meta{:charset => "utf-8"}
		%title BookConfirmation
		%link{:href => "http://fonts.googleapis.com/css?family=Varela+Round", :rel => "stylesheet", :type => "text/css"}
		:css
			.title {
				color: rgb(81, 163, 231);
				font-size: 13px;
			}
			span {
				font-size: 13px;
				margin-right: 10px;
				margin-left: 10px;
			}
			.border-bottom {
				border-bottom: 1px solid #DDD;
				padding-bottom: 15px;
				padding-top: 20px;
				padding-left: 10px;
			}
			.table-content {
				padding: 20px;
				float: left;
				width: 380px;
			}
			.data {
				margin-left: 30px;
				margin-top: 0px;
				font-size: 13px;
				font-weight: bold;
			}
			.data span {
				font-weight: lighter;
			}
			.box {
				background: rgb(82, 162, 231);
				color: #fff;
				padding-top: 10px;
				padding-left: 30px;
				padding-bottom:10px;
				border-radius: 10px;
			}
			.icon {
				width: 36px;
				margin-left: 15px;
				margin-bottom: 70px;
			}
			li {
				font-size: 14px;
				display: table-cell;
				padding: 10px;
				line-height: 25px;
			}
			.payable p{
				line-height: 7px;
			}
	%body{:style => "font-family: 'Varela Round', sans-serif; background-color:#FFFFFF; margin:0; padding:0; color:#333333;"}
		%table.force-row.container{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
			%tbody
				%tr
					%td
						%table.force-row.container{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "800"}
							%tbody
								%tr
									%td
										= link_to root_url, :style => "display:block; width: 800px; margin:0 auto;" do
											= wicked_pdf_image_tag("voucher/logo.png" ,:alt => 'mmlodging', :style => "display:block; border: 0; margin: 0;", :width => "350")
										%table.force-row.container{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
											%tbody
												%tr
													%td{:height => "4", :width => "4"}
														%p{:style => "margin:0; font-size:1px; line-height:1px;"} &nbsp;
													%td{:colspan => "3", :rowspan => "3", :style => "padding:0 0 30px;"}
														%p{:style => "margin: 30px 30px 10px; text-align:left; font-size:24px; line-height:30px; font-weight:bold; color:rgb(81, 163, 231);"}
															Voucher ID
														%hr{:style => 'border: 1px solid #CCCCCC'}
														%table.force-row.container{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
															%tbody
																%tr{:valign => "top"}
																	%td
																		%table.table-content.force-row.container{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
																			%tr{:valign => "top"}
																				%td
																					= wicked_pdf_image_tag("voucher/id-user.png", :class => 'icon', :alt => 'booking user')
																				%td
																					%p.data
																						Booking ID:
																						%span= checkout.booking_id
																					%p.data
																						Full Name:
																						%span= "#{checkout.first_name} #{checkout.last_name}"
																					%p.data
																						Lodging Name:
																						%span= checkout.property.title
																			%tr
																				%td
																					= wicked_pdf_image_tag("voucher/id-address.png", :class => 'icon', :alt => 'address hotel')
																				%td
																					%p.data
																						Addresss:
																						%span= checkout.property.address
																					%p.data
																						Contact Number:
																						%span= checkout.property.phone
																			%tr
																				%td
																					= wicked_pdf_image_tag("voucher/id-payment.png", :class => 'icon', :alt => 'Payment Detail')
																				%td
																					%p.data
																						Payment Method:
																						%span= checkout.pay_type.capitalize
																					- if checkout.pay_type.eql?("Paypal")
																						%p.data
																							Email:
																							%span= checkout.email_id
																					- else
																						%p.data
																							Card Brand
																							%span= checkout.brand
																						%p.data
																							Card Number:
																							%span= checkout.card_number
																		%table.table-content.force-row.container{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
																			%tr{:valign => "top"}
																				%td.box
																					%table
																						%tr
																							%td
																								%p{:style => 'line-height:4px;'} Number of Room:
																							%td
																								%strong= pluralize(checkout.no_room, "room")
																						%tr
																							%td
																								%p{:style => 'line-height:4px;'} Max Guests:
																							%td
																								%strong= pluralize(checkout.room.guest, "guest")
																						%tr
																							%td
																								%p{:style => 'line-height:4px;'} Check In Time:
																							%td
																								%strong= pluralize(checkout.property.check_in, 'hour')
																						%tr
																							%td
																								%p{:style => 'line-height:4px;'} Check Out Time:
																							%td
																								%strong= pluralize(checkout.property.check_out, 'hour')
																						%tr
																							%td{:colspan => 2}
																								%p{:style => 'line-height:4px;'} Room Type:
																						%tr
																							%td{:colspan => 2}
																								%strong= checkout.room.title
																						- if !checkout.special.nil? || !checkout.special.empty?
																							%tr
																								%td{:colspan => 2}
																									%p{:style => 'line-height:4px;'} Special Request:
																							%tr
																								%td{:colspan => 2}
																									%strong= checkout.special

																		%div{:style => "clear:both; text-align:center; margin-bottom: 10px;"}
																			%p{:style => "text-align: center;"}
																			Arrival :
																			%span{:style => "font-weight: bold;"}= checkout.check_in.strftime("%A, %d %B %Y")
																			Departure:
																			%span{:style => "font-weight: bold;"}= checkout.check_out.strftime("%A, %d %B %Y")
																		#map_cover{:style => 'padding:0 76px;'}
																			= static_map_for(checkout.property.lat, checkout.property.lng, checkout.property.title)
																			%p
																				Any cancellation received within 
																				= pluralize(checkout.cancellation_policy, "day")
																				prior to arrival incure the first night charge. Failure to arrive at your hotel will be treated as a NoShow and will incure the first night charge (Hotel Policy)
																			
																			.payable
																				%p
																					%strong Booked and Payable By:
																				%p Birmania Adventures Travels & Tours Co. Ltd
																				%p Company Registration Number: Number 5252 of 2013-2014
																				%p 9/11, Shwe Taung Tan Road, Lanmadaw Township,
																				%p Yangon, Republic of Union of Myanmar
																		= wicked_pdf_image_tag("voucher/footer.png",:style => 'position:absolute; z-index:-1')