.content
  .row
    .large-6.large-offset-3.medium-6.medium-offset-3.small-12.columns.margin-from-header
      .panel.callout.radius
        %h3 Change your password
        %hr
        = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f|
          = devise_error_messages!
          = f.hidden_field :reset_password_token
          %div
            = f.label :password, "New password"
            %br/
            = f.password_field :password, autofocus: true, autocomplete: "off"
          %div
            = f.label :password_confirmation, "Confirm new password"
            %br/
            = f.password_field :password_confirmation, autocomplete: "off"
          = f.submit "Change my password", :class => 'button small radius'
          = link_to "Sign In", "#", :class => 'button small radius', "data-reveal-id" => 'login_form'
          = link_to "Sign Up", "#", :class => 'button small radius', "data-reveal-id" => "sign_up_form"
