<% if @user.save %>
	$("#user_email_sign_up").val('');
	$("#user_password_sign_up").val('');
  $("#msg_sign_up").hide().html("<div class='alert-box success' data-alert='true'><%= flash[:notice] %>.<a class='close' href='#'>&times;</a></div>").fadeIn();
<% else %>
	$("#msg_sign_up").hide().html("<div class='alert-box alert' data-alert='true'><%= flash[:notice] %>.<a class='close' href='#'>&times;</a></div>").fadeIn();
  $("#user_password_sign_up").val('');
<% end %>