= form_for @property, :html => {:multipart => true, name: "form2", "data-validate" => 'parsley', id:"property-validation"} do |f|
  
  .sign-up-hotel-block
    .sign-up-hotel-block_inner
      .row
        %dl.large-12.medium-12.small-12.columns.tabs{"data-tab" => ""}
          %h3 Sign up
          %dd.sign-up-hotel-block_inner_pages.active#tab1
            %a.sign-up-hotel-block_inner_number{href: "#page1"}
              1
            .one.hide
              %a.sign-up-hotel-block_inner_number{href: "#page1"}
                1
            .sign-up-hotel-block_inner_text
              Property & Contact Details
          %dd.sign-up-hotel-block_inner_pages#tab2
            %a.sign-up-hotel-block_inner_number{href: "#page2"}
              2
            .sign-up-hotel-block_inner_text
              Property Information
          %dd.sign-up-hotel-block_inner_pages#tab3
            %a.sign-up-hotel-block_inner_number{href: "#page3"}
              3
            .sign-up-hotel-block_inner_text
              Property Facilities
          %dd.sign-up-hotel-block_inner_pages#tab4
            %a.sign-up-hotel-block_inner_number{href: "#page4"}
              4
            .sign-up-hotel-block_inner_text
              Photos
          %dd.sign-up-hotel-block_inner_pages#tab5
            .sign-up-hotel-block_inner_number= f.submit '5', class: 'button_5'
            .sign-up-hotel-block_inner_text
              Preview & Save
  .content
    .row
      .large-12.medium-12.small-12.columns
        %form
          .tabs-content.sign-up-hotel-content
            - if @property.errors.any?
              #error_explanation
                %h2= "#{pluralize(@property.errors.count, "error")} prohibited this hotel from being saved:"
                %ul
                  - @property.errors.full_messages.each do |msg|
                    %li= msg
            
            = f.hidden_field :lat, "data-geo" => "lat"
            = f.hidden_field :lng, "data-geo" => "lng"

            #page1.content.active.block1
              %h3 Property Address
              .large-6.medium-6.small-12.columns.padding-block-left
                %label Address 1: *
                .address= f.text_field :address, required: true, "data-parsley-group" => 'block1'
                %label Address 2:
                = f.text_field :address_two, :placeholder => "Address two (optional)"
                %label State / Province:
                = f.text_field :state, :required => true, "data-geo" => "administrative_area_level_1", :placeholder => 'Myanmar', "data-parsley-group" => 'block1'
                %label Postcode / Zip code:
                .postcode
                  = f.text_field :postal_code, :required => true, "data-geo" => "postal_code", :placeholder => '11121', "data-parsley-group" => 'block1'
              .large-6.medium-6.small-12.columns.padding-block-right
                %label Map
                #maps{style: "height:300px;width:100%"}
              .clear-both
              %h3 Property Details
              .large-6.medium-6.small-12.columns.padding-block-left
                %label Property Name: *
                .title= f.text_field :title, required: true, "data-parsley-group" => 'block1', :placeholder => "e.g. Caesars Palace"
                %label City: *
                .mozfix-select
                  .type= f.select :city_id,  @cities, required: true, "data-parsley-group" => 'block1'
                %label Property Type: *
                .mozfix-select
                  .type= f.select :property_type,  @property_types, required: true, "data-parsley-group" => 'block1'
                %label Room Type: *
                .mozfix-select
                  .type= f.select :room_type,  @room_types, required: true, "data-parsley-group" => 'block1'
              .large-6.medium-6.small-12.columns.padding-block-right
                %label Total number of bedrooms: *
                .total_number= f.number_field :bedrooms, id: 'bedrooms', required: "", "data-parsley-group" => 'block1', "data-parsley-range" =>"[1,10000]", "data-parsley-type" => "integer", :placeholder => 'e.g. 10'
                %label Price Property: *
                .total_number= f.number_field :price, id: 'price', required: "", "data-parsley-group" => 'block1', "data-parsley-range" =>"[1,10000]", "data-parsley-type" => "integer", :placeholder => 'e.g. 60'
                %label Guests: *
                .mozfix-select
                  .type= f.select :room_type,  @guests, required: true, "data-parsley-group" => 'block1'
              .clear-both
              %h3 Contact Details
              .large-6.medium-6.small-12.columns.padding-block-left
                %label Contact Name: *
                .contact_name= f.text_field :contact_name, required: "", "data-parsley-group" => 'block1', :placeholder => 'e.g. John Doe'
                %label Email Address: *
                .manager_email= f.email_field :email, required: "", id: 'email', "data-parsley-group" => 'block1', "data-parsley-type" => "email", :placeholder => 'e.g. john_doe@gmail.com'
              .large-6.medium-6.small-12.columns.padding-block-right
                %label Phone Number: *
                .phone_number= f.text_field :phone, required: true, id: 'phone_number', "data-parsley-group" => 'block1', "data-parsley-type" => "number", :placeholder => 'e.g. 01 243 5774'
                %label Website Address:
                = f.url_field :website, :placeholder => 'e.g. john_doe.com', "data-parsley-type" => "url"
              .clear-both
              .hr
              %span.hotel-create-continue.button-full-width-yellow{"data-current-block" => '1', "data-next-block" => '2'} continue

            #page2.content.block2
              %h3 Property Information
              .large-6.large-push-6.medium-6.medium-push-6.small-12.columns.padding-block-right
                %p Use this section to attract the customers’ attention. The content should give a concise description of your property, outlining any special features.  As well as appearing on your own property page, this section will appear on the main city page for your destination so you need to ensure that this section conveys the best bits about your property to ensure that you stand out from your competitors.
              .large-6.large-pull-6.medium-6.medium-pull-6.small-12.columns.padding-block-left
                %label Property Information: *
                = f.text_area :content, required: "", id: 'content', "data-parsley-maxlength" => "500", "data-parsley-group" => 'block2'
                %p Maximum 500
              .clear-both
              .hr
              .large-6.large-push-6.medium-6.medium-push-6.small-12.columns.padding-block-right
                %p Use this section to expand on your introduction. Describe your property, the type of rooms you offer and the services you offer such as a bar, an outdoor terrace or a pool. List the things that make your property different to others. If you offer them, mention things like a free breakfast or WiFi as these are things that travellers look out for. If you host regular events such as pizza nights, walking tours or other events include these details too. If you want to mention current events/specials in your property please include this at the end.  The general information should appear at the top where it is clearly visible. Please use full sentences when describing your property, check spelling and avoid using uppercase and/or bold letters.
              .large-6.large-pull-6.medium-6.medium-pull-6.small-12.columns.padding-block-left
                %label Description: *
                = f.text_area :description, required: "", id: 'description', "data-parsley-maxlength" => "1000", "data-parsley-group" => 'block2'
                %p Maximum 1000
              .clear-both
              .hr
              .large-6.large-push-6.medium-6.medium-push-6.small-12.columns.padding-block-right
                %p Describe your location. Are you located in the city centre, near a beach or in a rural destination? If you are close to any famous landmarks or sights eg the Eiffel Tower mention that too. Describe the district you are located in eg Soho in New York or Camden in London. If your area has a bohemian vibe or is famous for great bars or restaurants include this too. It’s also very important to mention how far you are from the main transport links in your destination.
              .large-6.large-pull-6.medium-6.medium-pull-6.small-12.columns.padding-block-left
                %label Location / Area: *
                = f.text_area :location, required: "", id: 'location', "data-parsley-maxlength" => "500", "data-parsley-group" => 'block2'
                %p Maximum 500
              .clear-both
              .hr
              .large-6.large-push-6.medium-6.medium-push-6.small-12.columns.padding-block-right
                %p The directions are displayed on the Map & directions page on your microsite as well as on the booking confirmation page and in the customers’ confirmation email. It is extremely important to ensure that the directions to your property are as detailed as possible. Please explain clearly how to get to your property from the airport or port by car or by public transport. Provide details on how to get to the property from the nearest train, tram, bus and metro stations. And you should also give walking directions with as much detail as possible.
              .large-6.large-pull-6.medium-6.medium-pull-6.small-12.columns.padding-block-left
                %label Directions: *
                = f.text_area :directions, required: "", id: 'directions', "data-parsley-maxlength" => "500", "data-parsley-group" => 'block2'
                %p Maximum 500
              .clear-both
              .hr
              .large-6.large-push-6.medium-6.medium-push-6.small-12.columns.padding-block-right
                %p This section should be used to mention any special conditions that the customer should be made aware of before they book. Include things like your reception is only open for a limited time each day, your property is not suitable for children or there is an age restriction. Please do not enter your website address or your contact details here.
              .large-6.large-pull-6.medium-6.medium-pull-6.small-12.columns.padding-block-left
                %label Things to Note & Policies: *
                = f.text_area :things, required: "", id: 'things', "data-parsley-maxlength" => "500", "data-parsley-group" => 'block2'
                %p Maximum 500
              .clear-both
              .hr
              %span.hotel-create-back.button-full-width-yellow{"data-current-block" => '2', "data-next-block" => '1'} Back
              %span.hotel-create-continue.button-full-width-yellow{"data-current-block" => '2', "data-next-block" => '3'} continue

            #page3.content.block3
              %h3 Property Facilities
              .checkbox-block
                %label.checkbox
                  = check_box_tag :all_facilities, id: 'all_facilities'
                  %span
                %label All Facilities 
              .all_facilities
                - @facilities.where(:facility_type => "Facility").each do |facility|
                  .checkbox-block
                    %label.checkbox
                      = check_box_tag "property[facility_ids][]", facility.id, @property.facility_ids.include?(facility.id)
                      %span
                    = f.label :hour_reception, facility.facility_name

                .clear-both
              %hr
              %h3 Property Payment
              .checkbox-block
                %label.checkbox
                  = check_box_tag :all_payments, id: 'all_payments'
                  %span
                %label All Payments 
              .all_payments
                - @facilities.where(:facility_type => "Payment").each do |facility|
                  .checkbox-block
                    %label.checkbox
                      = check_box_tag "property[facility_ids][]", facility.id, @property.facility_ids.include?(facility.id)
                      %span
                    = f.label :hour_reception, facility.facility_name

                .clear-both
              %hr
              %h3 Property Policies
              .checkbox-block
                %label.checkbox
                  = check_box_tag :all_policies, id: 'all_policies'
                  %span
                %label All Policies 
              .all_policies
                - @facilities.where(:facility_type => "Policies").each do |facility|
                  .checkbox-block
                    %label.checkbox
                      = check_box_tag "property[facility_ids][]", facility.id, @property.facility_ids.include?(facility.id)
                      %span
                    = f.label :hour_reception, facility.facility_name

                .clear-both
              .hr
              %span.hotel-create-back.button-full-width-yellow{"data-current-block" => '3', "data-next-block" => '2'} Back
              %span.hotel-create-continue.button-full-width-yellow{"data-current-block" => '3', "data-next-block" => '4'} continue

            #page4.content.block4
              %h3 Property Photos
              %p All images should be in JPEG, GIF or PNG format. We will resize all images to 800 x 600 pixels. Ideally your images should not be any less than 1MB each. Include images that show your property at its very best. Customers are more likely to view your images before reading your property description. Show your best images of bedrooms, bathrooms, common areas, your entrance area, guests having fun and you or the person the traveller is most likely to meet when they check-in. Do not include logos of your property.
              .hr
              - i = @property.photos.length
              - if i < 5
                .large-6.medium-6.small-12.columns.padding-block-left
                  - for num in i...5
                    .input-file-block
                      .input-file-block_inner
                        = file_field_tag "images[]", type: :file, multiple: true
                        %span.button Upload file
                .large-6.medium-6.small-12.columns.padding-block-right
                  - for n in 6..10
                    .input-file-block
                      .input-file-block_inner
                        = file_field_tag "images[]", type: :file, multiple: true
                        %span.button Upload file
                .clear-both
              - if i > 5
                .large-6.medium-6.small-12.columns.padding-block-left
                  - for num in i...10
                    .input-file-block
                      .input-file-block_inner
                        = file_field_tag "images[]", type: :file, multiple: true
                        %span.button Upload file
                .clear-both
              -@property.photos.each do |image|
                = image_tag (image.image)
                .checkbox-block
                  %label.checkbox
                    = check_box_tag 'remove[]', image.id
                    %span
                  %label Delete
              .hr
              %span.hotel-create-back.button-full-width-yellow{"data-current-block" => '4', "data-next-block" => '3'} Back
              -# = f.submit.hotel-create-continue.button-full-width-yellow, value: "Myanmar"
              %span= f.submit 'Preview & Save', class: 'hotel-create-continue button-full-width-yellow paddd'
              -#
                %h3 Videos
                %p You can also add video footage of your property to the site.  Use this video to show the customer why they should choose your property. We accept videos from YouTube, Vimeo, Youku and Toudu.  Please note that all videos will be verified by Hostelworld.com before they appear on the site.
                .large-6.medium-6.small-12.columns.padding-block-left
                  %input{type: "text", placeholder: "Video Location"}
                .clear-both
                .hr
              -# %a#page4-continue.button-full-width-yellow continue

- content_for :scripts do
  %script{:src => "http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false"}
  = javascript_include_tag "jquery.geocomplete.min"
  :javascript
    $("#property_address").geocomplete({
      map: "#maps",
      markerOptions: {
        draggable: true
      },
      mapOptions: {
        scrollwheel: true
      },
      details: "#property-validation",
      detailsAttribute: "data-geo"
    });
    $("#property_address").bind("geocode:dragged", function(event, latLng){
      $("#property_lat").val(latLng.lat());
      $("#property_lng").val(latLng.lng());
    });