- meta title: "#{@property.title} Map", description: truncate(strip_tags(@property.location), length: 255), keywords: @property.title.split(' ') << "Reviews"
.content
  .row
    .large-12.medium-12.small-12.columns.margin-from-header.hotel
      .hotel_header
        .large-7.medium-8.columns.padding-lr-0
          %h2.left= @property.title
        .large-5.medium-8.columns
          %dl.tabs.right
            %dd
              = link_to "Overview", property_path(@property)
            %dd.active
              = link_to 'Map', property_map_path(@property)
            %dd
              = link_to 'Reviews', property_reviews_path(@property)
        %hr
      .hotel_inside-pages
        .tabs-content          
          #panel2-2.content.large-12.medium-12.small-12.columns.map-hotel.active
            .large-12.medium-12.small-12.columns.padding-lr-0
              .map-hotel_map-block
                #map{:style => 'height: 400px'}
                = map(:center => {:latlng => [@property.lat, @property.lng],:zoom => 17},:markers => @hash)
              .map-hotel_text
                %h4 Located Near
                %p= @property.location.html_safe
