- meta title: "#{@property.title} Reviews", description: truncate(strip_tags(@property.description), length: 255), keywords: @property.title.split(' ') << "Reviews"
.content
  .row
    .large-12.medium-12.small-12.columns.margin-from-header.hotel
      .hotel_header
        .large-7.medium-8.columns.padding-lr-0
          %h2.left= @property.title
        .large-5.medium-8.columns
          %dl.tabs.right
            %dd
              = link_to "Overview", property_path(@property)
            %dd
              = link_to 'Map', property_map_path(@property)
            %dd.active
              = link_to 'Reviews', property_reviews_path(@property)
        %hr  
      .hotel_inside-pages
        .tabs-content
          #panel2-3.content.large-12.medium-12.small-12.columns.reviews-hotel.active
            .row
              .large-3.medium-12.small-12.columns
                .rating_header
                  %p.rating_star{"data-rating" => @property.rating, :style => "float: left; margin-top: 2px"}
                  %p.reviews= '(' + @comments.count.to_s + ' reviews)'
                  .clear-both
              .row    
              .large-12.medium-12.small-12
                %ul.review
                  %li
                    %i.fa.fa-globe.fa-2x
                    %label ATMOSPHERE
                    %span.overview-hotel_right_stats_block_percent.rating_star.staf-alignment{"data-rating" => @property.atmosphere_rating}
                  %li
                    %i.fa.fa-male.fa-2x
                    %label STAFF
                    %span.overview-hotel_right_stats_block_percent.rating_star{"data-rating" => @property.staff_rating}
                  %li
                    %i.fa.fa-users.fa-2x
                    %label SECURITY
                    %span.overview-hotel_right_stats_block_percent.rating_star{"data-rating" => @property.security_rating}
                %ul.review
                  %li
                    %i.fa.fa-trash.fa-2x
                    %label CLEANLINESS
                    %span.overview-hotel_right_stats_block_percent.rating_star{"data-rating" => @property.cleanliness_rating}
                  %li
                    %i.fa.fa-map-marker.fa-2x 
                    %label LOCATION
                    %span.overview-hotel_right_stats_block_percent.rating_star{"data-rating" => @property.location_rating}
                  %li
                    %i.fa.fa-glass.fa-2x
                    %label FACILITIES
                    %span.overview-hotel_right_stats_block_percent.rating_star{"data-rating" => @property.facilities_rating}
                %ul.review
                  %li
                    %i.fa.fa-money.fa-2x 
                    %label.money VALUE FOR MONEY
                    %span.overview-hotel_right_stats_block_percent.rating_star{"data-rating" => @property.value_of_money_rating}

            - if session[:checkout_id] && !@all_comments.pluck(:checkout_id).include?(@checkout.id)
              = form_for [@city, @property, Comment.new] do |f|
                = f.text_area :content, placeholder: "Your comment...", required: 'true'
                .overview-hotel_right_stats
                  .overview-hotel_right_stats_block
                    %p ATMOSPHERE
                    %span.new_rating{:field => "atmosphere"}
                    
                    = f.hidden_field :atmosphere, required: 'true'
                  .overview-hotel_right_stats_block
                    %p STAFF
                    %span.new_rating{:field => "staff"}
                    
                    = f.hidden_field :staff, required: 'true'
                  .overview-hotel_right_stats_block
                    %p SECURITY
                    %span.new_rating{:field => "security"}
                    
                    = f.hidden_field :security, required: 'true'
                  .overview-hotel_right_stats_block
                    %p CLEANLINESS
                    %span.new_rating{:field => "cleanliness"}
                    
                    = f.hidden_field :cleanliness, required: 'true'
                  .overview-hotel_right_stats_block
                    %p LOCATION
                    %span.new_rating{:field => "location"}
                    
                    = f.hidden_field :location, required: 'true'
                  .overview-hotel_right_stats_block
                    %p VALUE FOR MONEY
                    %span.new_rating{:field => "value_for_money"}
                    
                    = f.hidden_field :value_for_money, required: 'true'
                  .overview-hotel_right_stats_block
                    %p FACILITIES
                    %span.new_rating{:field => "facilities"}
                    
                    = f.hidden_field :facilities, required: 'true'
                  = f.submit value: 'Add comment', class: "button-full-width-yellow"
          %hr
          .large-12.medium-12.small-12.columns
            - @comments.each do |comment|
              - if comment.checkout.nil?
                - if !comment.user.nil?
                  .large-12.medium-3.small-6.columns
                    .reviews-hotel_reviews_name
                      %h5.comment= "#{comment.user.first_name} #{comment.user.last_name}"
              - else
                .large-12.medium-3.small-6.columns
                  .reviews-hotel_reviews_name
                    %h5.comment= "#{comment.checkout.first_name} #{comment.checkout.last_name}"
              .large-12.medium-12.small-12.columns
                %span.right.date= comment.created_at.strftime("%d %b %Y")
                %p.comment=comment.content
                - if user_signed_in? && (current_user.role == "admin") 
                  = link_to "Delete comment", property_comment_path(@property, comment), method: 'delete'
              .clear-both
                %br
            = paginate @comments                  
- content_for :scripts do
  :javascript
    $(".new_rating").raty({
      click: function(score, evt){
        var attr = $(this).attr('field');
        $("#comment_"+ attr).val(score);
      }
    });