- meta title: @property.title, description: truncate(strip_tags(@property.description), length: 255), keywords: @property.title.split(' ')
.content
  .row
    .large-12.medium-12.small-12.columns.margin-from-header.hotel
      .hotel_header
        .large-7.medium-8.columns.padding-lr-0
          %h2.left= @property.title
        .large-5.medium-8.columns
          %dl.tabs.right
            %dd.active
              = link_to "Overview", property_path(@property)
            %dd
              = link_to 'Map', property_map_path(@property)
            %dd
              = link_to 'Reviews', property_reviews_path(@property)
        %hr
          %p.left= @property.address 
      .tabs-content
        #panel2-1.content.active.large-12.medium-12.small-12.columns.overview-hotel
          .large-4.medium-4.small-12.columns.padding-lr-0
            .connected-carousels
              .stage
                .carousel.carousel-stage
                  %ul
                    - if @property.photos.empty?
                      %li
                        = link_to image_path("default.png"), :data=> {'lightbox' => "img"} do
                          = image_tag "default.png"
                      .hide= image_path("default.png")
                    - else
                      - @property.photos.each do |photo|
                        %li
                          = link_to photo.image_url, :data=> {'lightbox' => "img"} do
                            =image_tag photo.image
                        .hide= photo.image
                %a.prev.prev-stage{href: "#"}
                  %span
                %a.next.next-stage{href: "#"}
                  %span
                .navigation
                  %a.prev.prev-navigation{href: "#"}
                  %a.next.next-navigation{href: "#"}
                  .carousel.carousel-navigation
                    %ul
                      - @property.photos.each do |photo|
                        %li= image_tag(photo.image)
          .large-8.medium-8.small-12.columns.padding-lr-0.overview-hotel_right
            .large-12.medium-12.small-12.columns.padding-lr-0
              .large-12.medium-12.small-12.columns.review-box
                .rating_header
                  %div{style: "width: 100px; margin: 0; margin-top: 6px; float: left"}
                    .rating_star{"data-rating" => @property.rating}
                  %p.reviews= '(' + @property.comments_count.to_s + ' reviews)'
                .clear-both
                  .overview-hotel_right_stats
                    .overview-hotel_right_stats_block
                      %p.overview-hotel_right_stats_block_name ATMOSPHERE
                      %p.overview-hotel_right_stats_block_percent.rating_star{"style" => "margin-right:6px","data-rating" => @property.atmosphere_rating}
                    .overview-hotel_right_stats_block
                      %p.overview-hotel_right_stats_block_name STAFF
                      %p.overview-hotel_right_stats_block_percent.rating_star{"style" => "margin-right:6px","data-rating" => @property.staff_rating}
                    .overview-hotel_right_stats_block
                      %p.overview-hotel_right_stats_block_name SECURITY
                      %p.overview-hotel_right_stats_block_percent.rating_star{"style" => "margin-right:6px","data-rating" => @property.security_rating}
                    .overview-hotel_right_stats_block
                      %p.overview-hotel_right_stats_block_name CLEANLINESS
                      %p.overview-hotel_right_stats_block_percent.rating_star{"style" => "margin-right:6px","data-rating" => @property.cleanliness_rating}
                    .overview-hotel_right_stats_block
                      %p.overview-hotel_right_stats_block_name LOCATION
                      %p.overview-hotel_right_stats_block_percent.rating_star{"style" => "margin-right:6px","data-rating" => @property.location_rating}
                    .overview-hotel_right_stats_block
                      %p.overview-hotel_right_stats_block_name FACILITIES
                      %p.overview-hotel_right_stats_block_percent.rating_star{"style" => "margin-right:6px","data-rating" => @property.facilities_rating}
                    .overview-hotel_right_stats_block
                      %p.overview-hotel_right_stats_block_name MONEY
                      %p.overview-hotel_right_stats_block_percent.rating_star{"style" => "margin-right:6px","data-rating" => @property.value_of_money_rating}

          %hr.margin
          .large-7.medium-12.small-12.columns.latest-review_block
            .rating_header

              / /-----------------------------------------------------------                  
              / %p.latest-review Latest Review
              / .latest-review_text
              /   %p
              /     - if @comments.count > 0
              /       =truncate(@comments.last.content, length: 60, separator: '')
              /       %a MORE
              /   .read-all-reviews.right= link_to 'Read All Reviews »', root_path
              / /-----------------------------------------------------------------
          .large-12.medium-12.small-12.columns
            %h3 Availability & Rates
            .large-12.panel.availability
              = form_tag(property_path(@property), :method => "get") do
                .large-3.columns
                  = text_field_tag :check_in, params[:check_in],value: params[:check_in], placeholder: "Check in..", id: 'from', required: "true"
                
                .large-3.columns
                  = text_field_tag :check_out, params[:check_out],value: params[:check_out], placeholder: "Check out..", id: 'to', required: "true"
                
                .large-3.columns
                  = select_tag :guest, options_for_select(@guests, params[:guest])
                .large-3.columns
                  = submit_tag "Update dates", :name => nil, id: "go", class: "button tiny expand radius orange", onclick: "validatecal(document.form1.check_in, document.form1.check_out)"

          - if @valid_checkin && @valid_checkout
            .large-12.medium-12.small-12.columns
              %h3 List Rooms
              %hr
              = @check_in.to_date.strftime("%a, %b %d %Y")
              %strong To
              = @check_out.to_date.strftime("%a, %b %d %Y")


              - unless @rooms.blank?
                - @rooms.each do |room|
                  .large-12
                    = form_tag new_checkout_path do
                      .panel.list-room
                        - dates = @dates.where(:room_id => room.id)
                        - price_room = @room_dates.where(:type_date => ['available'], :room_id => room.id).first
                        .large-4.columns
                          .img-caption
                            .caption{:id => "title_#{room.id}"}
                              %h5= room.title.capitalize
                          .img-wrapper
                            = link_to room.photo.url, :data=> {'lightbox' => "img"} do 
                              = image_tag(room.photo.url, :width => '126px', :class => 'img-list-room')
                         
                        .large-5.columns
                          %h5 Facilities
                          - if room.facilities.empty?
                            %h6.text-center No Facilities
                          - else
                            %ul.facilities-room
                              - room.facilities.each do |facility|
                                %li
                                  %i{:class => "fa #{facility.icon_name}"}
                                  %span
                                    = facility.facility_name
                          
                        .large-3.medium-12.small-12.columns
                          
                          / ---------price per night---------------/
                          %h5 Price Night
                          - if price_room.nil?
                            %h6.text-center
                              = number_to_currency(room.price)
                              = hidden_field_tag "cart[price]", room.price
                          - else
                            %h6.text-center
                              %s= number_to_currency(room.price)
                              = number_to_currency(price_room.price)
                              = hidden_field_tag "cart[price]", price_room.price
                          %p.text-center
                            Max
                            = pluralize(room.guest, 'guest')
                        
                          .price{:price => room.price}
                            = hidden_field_tag "cart[check_in]", params[:check_in]
                            = hidden_field_tag "cart[check_out]", params[:check_out]
                            = hidden_field_tag "cart[guest]", params[:guest]
                            = hidden_field_tag "cart[room_id]", room.id
                            = hidden_field_tag "cart[night]", @nights
                            %label.text-center No of Room
                            - if dates.empty?
                              = select_tag "cart[no_room]", options_for_select(select_room(room)), :class => 'select_rooms', :room_id => room.id
                            - else
                              - no_rooms = dates.pluck(:no_room).inject(:+)
                              - remaining = room.count - no_rooms
                              - if !remaining.eql?(0)
                                = select_tag "cart[no_room]", options_for_select(Array(1.. remaining)), :class => 'select_rooms', :room_id => room.id
                          .large-11.large-centered.medium-12.columns.text-center
                            - if remaining.eql?(0)
                              %strong Not Available
                            - else
                              - if room.instant
                                %button.tiny.radius.success
                                  %i.fa.fa-bolt 
                                  Instant Booking
                              - else
                                %button.tiny.radius Request Booking
                        .clearfix

          .large-12.medium-12.small-12.columns.left.tab-information
            %ul.text-center.tabs{"data-tab" => ""}
              %li.tab-title.active
                %a{:href => "#description"} Description
              %li.tab-title
                %a{:href => "#location_direction"} Location and Direction
              %li.tab-title
                %a{:href => "#facilities"} Facilities
            .tabs-content
              #description.content.active.panel.tab-panel.margin-left-none
                %h3.text-center Property Information:
                %p= @property.description.html_safe if @property.description
                %hr
                %h3.text-center Things to Note & Policies:
                %p= @property.things.html_safe if @property.things
                %hr
                %h3.text-center= "#{@property.cancellation} Cancellation Policy"
                %p
                  Any cancellation received within 
                  = pluralize(@property.cancellation_policy, "day")
                  prior to arrival incure the first night charge. Failure to arrive at your hotel will be treated as a NoShow and will incure the first night charge (Hotel Policy)
                %hr
                .large-8.large-offset-2.columns
                  .large-6.columns
                    %h3.text-center Check In Time
                    %h5.text-center= pluralize(@property.check_in, "hour")
                  .large-6.columns
                    %h3.text-center Check Out Time
                    %h5.text-center= pluralize(@property.check_out, "hour")
              #location_direction.content.panel.tab-panel.margin-left-none
                %h3.text-center Location:
                %p= @property.location.html_safe if @property.location
                %hr
                %h3.text-center Direction:
                %p= @property.directions.html_safe if @property.directions
              #facilities.content.panel.tab-panel.margin-left-none
                %h3.text-center Facilities:
                - unless @facilities.empty?
                  - @facilities.in_groups_of(3, false) do |facilities|
                    - facilities.each do |facility|
                      .large-4.columns
                        %i{:class => "fa fa-lg #{facility.icon_name}"}
                        = facility.facility_name
                    .clearfix
                    %hr
                  .clearfix
                - else
                  %hr
                  %h3.text-center No Facilities
