- meta title: "Manage Date & Pricing #{@room.title}"
.page-head
  .container
    .page-title
      %h1 Manage Date & Pricing
.page-content
  .container
    - breadcrumb :manage_date_pricing, @room
    = render("layouts/breadcrumbs")
    .row
      .col-md-5
        .portlet.light
          .portlet-title
            .caption.caption-md
              %i.icon-bar-chart.theme-font.hide
              %span.caption-subject.theme-font.bold.uppercase Details Room
          .portlet-body
            %table.table
              %tr
                %td Room Name
                %td= @room.title
              %tr
                %td Price
                %td= number_to_currency(@room.price)
              %tr
                %td Guests
                %td= pluralize(@room.guest, 'person')
              %tr
                %td N.Room
                %td= @room.count
              %tr
                %td Cancellation
                %td= @room.cancellation
              %tr
                %td Ensuite
                %td= @room.ensuite
              %tr
                %td Instant Booking
                %td= @room.instant

      .col-md-7
        / BEGIN REGIONAL STATS PORTLET
        .portlet.light
          .portlet-title
            .caption.caption-md
              %i.icon-bar-chart.theme-font.hide
              %span.caption-subject.theme-font.bold.uppercase Pricings
          .portlet-body
            #calendar
.modal.fade.bs-example-modal-sm#dates
  = form_tag admin_city_property_room_pricings_path, method: :post, :id => 'forms', :remote => true do
    .modal-dialog.modal-sm
      .modal-content
        .modal-header
          %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
            %span{"aria-hidden" => "true"} &times;
          %h4.modal-title Add Pricing or Booked Room
        .modal-body
          .form-group
            = label_tag :from
            = text_field_tag :from, "", :id => 'from', :class => 'form-control'
          .form-group
            = label_tag :to
            = text_field_tag :to, "", :id => 'to', :class => 'form-control'
          .form-group
            = label_tag :type
            = select_tag :date_type, options_for_select([['Available', 'available'], ['Unavailable', 'unavailable']]), :class => 'form-control'
          .form-group#unavailable{:style => 'display:none'}
            = label_tag :no_room
            = text_field_tag :no_room, ""
          .form-group#available
            = label_tag :price, "Price per Night"
            .input-group
              .input-group-addon
                %i.fa.fa-usd
              = text_field_tag :price, "", :class => 'form-control'
          .form-group
            = label_tag :note
            = text_area_tag :note, "", :class => 'form-control', :placeholder => 'Note here...'
        .modal-footer
          %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
          = submit_tag "Save", :class => 'btn btn-primary'
.modal.fade.bs-example-modal-sm#dates-update
  = form_tag admin_city_property_room_pricings_path, method: :put, :id => 'update', :remote => true do
    = hidden_field_tag :update_type, "modal"
    .modal-dialog.modal-sm
      .modal-content
        .modal-header
          %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
            %span{"aria-hidden" => "true"} &times;
          %h4.modal-title#update-title
        .modal-body
          .form-group
            = label_tag :from
            = text_field_tag :from, "", :id => 'from-edit', :class => 'form-control'
          .form-group
            = label_tag :to
            = text_field_tag :to, "", :id => 'to-edit', :class => 'form-control'
          .form-group#unavailable-edit
            = label_tag :no_room
            = text_field_tag :no_room, "", :id => "no_room_edit"
            / = select_tag :no_room, options_for_select(Array(1..@room.count)), :class => 'form-control', :id => 'no-room-edit'
          .form-group#available-edit
            = label_tag :price, "Price per Night"
            .input-group
              .input-group-addon
                %i.fa.fa-usd
              = text_field_tag :price, "", :class => 'form-control', :id => 'price-edit'
          .form-group
            = label_tag :note
            = text_area_tag :note, "", :class => 'form-control', :placeholder => 'Note here...', :id => 'note-edit'
        .modal-footer
          %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
          = submit_tag "Save", :class => 'btn btn-primary'
          = link_to "Delete", root_path, :class => 'btn btn-danger', :method => :delete, "data-confirm" => 'Are you sure?', :id => 'delete-btn', :remote => true
- content_for :scripts do
  :javascript
    $(document).ready(function() {

      $('#date_type').change(function(){
        var type = $(this).val();
        if(type == 'unavailable'){
          $("#available").hide();
          $("#unavailable").fadeIn();
        }else{
          $("#unavailable").hide();
          $("#available").fadeIn();
        }
      });

      $('#calendar').fullCalendar({
        selectable: true,
        selectHelper: true,
        contentHeight: 600,
        select: function(start, end) {
          var from = (new Date(start.format())).getTime();
          var today = (new Date()).getTime();
          if(from < today){
            alert("You cannot create available and unavailable room to this date.")
          }else{

            var url = document.URL + "/" + "no_room";

            $.ajax({
              url: url,
              type: 'GET',
              dataType: 'json',
              data: {from: start.format(), to: end.format()},
              success: function(data){
                if(data.max == 0){
                  alert("No of room for this date is nothing available.");
                  return false;
                }
                
                $("#no_room").TouchSpin({
                    min: 1,
                    max: data.max,
                    step: 1,
                    boostat: 5,
                    maxboostedstep: 10
                });
                $("#no_room").val(1);
                $("#no_room").trigger("touchspin.updatesettings", {max: data.max});

                $('#from').val(data.from);
                $('#to').val(data.to);
                $('#dates').modal('show');
              }
            });
          }
          
        },
        editable: false,
        eventLimit: true,
        eventResize: function(event, delta, revertFunc, jsEvent, ui, view ){
          var start = event.start.format();
          var end = event.end.format();
          $.ajax({
            url: document.URL + "/" + event.id,
            type: 'POST',
            data: {_method: 'PUT', start: start, end: end},
            dataType: 'json',
            success: function(data){
              
            }
          });
        },
        eventDrop: function(event, delta, revertFunc, jsEvent, ui, view){
          var start = event.start.format();
          var end = event.end.format();
          $.ajax({
            url: document.URL + "/" + event.id,
            type: 'POST',
            data: {_method: 'PUT', start: start, end: end},
            dataType: 'json',
            success: function(data){
              
            }
          });
        },
        eventClick: function(event, jsEvent, view ){
          var url = event.url;
          if(url == undefined){
            $.ajax({
              url: document.URL + "/" + event.id + "/edit",
              type: 'GET',
              success: function(data){
                var link = document.URL + "/" + event.id;
                var title = '';

                if(data.type_date == 'unavailable'){
                  title = 'Edit Unavailable Room';
                  $('#available-edit').hide();
                  $('#unavailable-edit').show();
                }else if(data.type_date == 'available'){
                  title = 'Edit Available Room';
                  $('#unavailable-edit').hide();
                  $('#available-edit').show();
                }else{
                  return false;
                }

                $("#no_room_edit").TouchSpin({
                    min: 1,
                    max: data.max,
                    step: 1,
                    boostat: 5,
                    maxboostedstep: 10
                });

                $("#no_room_edit").trigger("touchspin.updatesettings", {max: data.max});
                $("#no_room_edit").val(data.no_room)

                $("#update").attr('action', link);
                $("#delete-btn").attr('href', link);
                $("#update-title").text(title);
                $('#from-edit').val(data.from);
                $('#to-edit').val(data.to);
                $('#price-edit').val(data.price);
                $("#note-edit").val(data.note);
                $("#dates-update").modal("show");
              }
            });
          }
        },
        events: #{@dates.to_json}
      });
      
    });