<% if @dates.save %>
	<% if @dates.type_date.eql?("unavailable") %>
		title = "Not Available (<%= @dates.no_room %>)";
		color = "red";
		editable = true;
	<% else %>
		title = "Price per Night <%= number_to_currency(@dates.price) %>";
		color = "#25adf3";
		editable = true;
	<% end %>
	id = '<%= @dates.id %>';
	start = '<%= @dates.from %>';
	end = '<%= @dates.to %>';
	eventData = {
		id: id,
    title: title,
    start: start,
    end: end,
    color: color,
    editable: editable
  };
  $("#dates-update").modal('hide');
  $('#calendar').fullCalendar('removeEvents', <%= @dates.id %>);
	$('#calendar').fullCalendar('renderEvent', eventData, true);
	$('#calendar').fullCalendar('unselect');
<% end %>