- meta title: "Manage Cancellation"
.page-head
  .container
    .page-title
      %h1 All Refunds
.page-content
  .container
    - breadcrumb :cancellation
    = render("layouts/breadcrumbs")
    .row
      .col-md-12.col-sm-12
        / BEGIN REGIONAL STATS PORTLET
        .portlet.light
          .portlet-title
            .caption.caption-md
              %i.icon-bar-chart.theme-font.hide
              %span.caption-subject.theme-font.bold.uppercase Refunds
          .portlet-body
            %table.table.table-striped.table-hover
              %thead
                %th #
                %th First Name
                %th Cancellation Type
                %th Total Amount
                %th Refund
                %th Confirm At
                %th Created At
                %th
              %tbody
                - @user_refunds.each_with_index do |user_refund, index|
                  %tr
                    %td= index + 1
                    %td= user_refund.checkout.first_name
                    %td= user_refund.property.cancellation
                    %td= number_to_currency(user_refund.checkout.total_cart)
                    %td= number_to_currency(user_refund.amount) || "$ 0"
                    %td
                      - if user_refund.confirm_at
                        = user_refund.confirm_at
                      - else
                        = link_to "Not Confirm", "", :class => "btn btn-danger btn-xs", "data-toggle" => "modal", "data-target" => "#refund_amount", :data => {:amount => user_refund.checkout.total_cart, :checkout_id => user_refund.checkout.id}
                    %td= user_refund.created_at.strftime("%a, %b %d %Y")
                    %td= link_to "View Checkout", admin_checkout_detail_path(user_refund.checkout_id), :class => 'btn btn-info btn-xs'
#refund_amount.modal.fade
  = form_tag admin_confirm_refund_path, method: :post do
    = hidden_field_tag :checkout_id, "", :class => 'checkout_id'
    .modal-dialog
      .modal-content
        .modal-header
          %button{:type => "button", :class => "close", "data-dismiss" => "modal", "aria-label" => "Close"}
            %span{"aria-hidden" => "true"} &times;
          %h4.modal-title Amount for refund
        .modal-body
          .form-group
            %label.col-lg-4 Total Price Checkout
            .col-lg-8
              .input-group
                %span.input-group-addon $
                = text_field_tag :total_amount, "", :class => 'form-control disabled total_amount', :disabled => true
            .clearfix
          .form-group
            %label.col-lg-4 Amount for refund
            .col-lg-8
              .input-group
                %span.input-group-addon $
                = text_field_tag :amount, "", :class => 'form-control amount_refund'
            .clearfix
        .modal-footer
          = submit_tag "Confirm", :class => 'btn btn-success'