.calendar-block{:style => "background: url(#{@img}) no-repeat center center;background-size: 2000px 813px;"}
  .row
    %h1.first
      %span.bold Find Great Deals
    %h1.second
      on lodgings:
    .large-12
      = form_tag(search_index_path, :method => "get", id: "searchform_room", name: "form1") do
        .row
          .large-2.small-4.medium-2.columns
            = text_field_tag :title, "", :class => 'search-form search-title', :placeholder => 'Lodgings Name'
          .large-2.small-4.medium-2.columns
            = select_tag :city, options_for_select(@select_cities), :prompt => "Select City", :class => 'search-form search-select'
          .large-2.small-4.medium-2.columns
            = text_field_tag :check_in, "", :id => 'from', :class => 'search-form search-date', :placeholder => "dd/mm/yyyy"
          .large-2.small-4.medium-2.columns
            = text_field_tag :check_out, "", :id => 'to', :class => 'search-form search-date', :placeholder => "dd/mm/yyyy"
          .large-2.small-4.medium-2.columns
            = select_tag :guest, options_for_select(@guests), :prompt => 'Guests', :class => 'search-form search-select'
          .large-2.small-4.medium-2.columns
            = submit_tag "SEARCH", :class => 'button success expand round tiny btn-search'