.calendar-block
  .row
    %h1
      %span.bold Find great deals
      on hostels:
    .calendar-block_inner
      = form_tag(search_date_path, :method => "get", id: "searchform") do
        .calendar-block_inner_destination
          %p Destination:
          = select_tag :city, options_for_select( City.all.collect{ |u| [u.name, u.id] }, params[:city])
        .calendar-block_inner_check-in-out
          %p Check In:
          = text_field_tag :check_in, params[:check_in], placeholder: "Check in..", required: 'true', id: 'from'
        .calendar-block_inner_check-in-out
          %p Check Out:
          = text_field_tag :check_out, params[:check_out], placeholder: "Check out..", required: 'true', id: 'to'
        .calendar-block_inner_guests
          %p Guests:
          = select_tag :guest, options_for_select( [['1','1'],['2','2'],['3','3']], params[:guest])
        .calendar-block_inner_search
          %p &ensp;
          %input{type: "submit", value: "search", :name => nil, id: "go"}
        .clear-both