%footer
  .row
    %hr
    .large-12.columns.footer-layout
      %nav
        %ul
          %div
            %li
              = link_to "Blog", blogs_path
            %li
              = link_to 'FAQ', faq_path
            %li
              = link_to 'Our Story', story_path
            %li
              = link_to 'Privacy Policies', privacy_path
            %li
              = link_to 'Cancellation Policy', cancellation_path
            %li
              = link_to 'Terms & Conditions', terms_path
            %li
              = link_to 'Contact Us', contacts_new_path 
      .footer_socials-buttons
        =link_to 'http://www.facebook.com/mmlodging' do
          =image_tag 'facebook-icon.png'
        =link_to 'https://twitter.com/mmlodging' do
          =image_tag 'twitter-icon.png'
        =link_to "https://plus.google.com/115458535286580016624" do
          =image_tag 'google+-icon.png'
    .clearfix
    .large-12.columns.footer-layout
      .large-4.columns
        .left
          %p.copyright 2015 © MMLodging. ALL Rights Reserved.
      .large-5.columns
        .right
          = image_tag "cc-paypal.jpg", :class => 'cc-paypal'
      .large-3.columns
        .right
          = render("partial/ssl_certificate")
      .clearfix
    .clearfix