%header
  .row.first-header
    .large-12.medium-12.small-12.columns
      .large-4.medium-3.small-12.columns.header_logo.padding-lr-0
        =link_to root_path do
          = image_tag('logo.png')
      - unless user_signed_in?
        .large-2.large-push-6.medium-2.medium-push-7.small-12.columns.padding-lr-0
          %a
            .header_sign-in-out
              Sign in
      -else
        .large-2.large-push-6.medium-2.medium-push-7.small-12.columns.padding-lr-0.name-user
          .header_sign-in-out#header_sign-in-out.header_forgottpass_quit
            -if current_user.role == "admin"
              .admin-myprofile-btn= link_to "Admin", admin_root_path
            - elsif Checkout.where(user_id: current_user.id).all.count > 0
              .admin-myprofile-btn= link_to 'My Profile', Checkout.where(user_id: current_user.id).first
            - else
              .admin-myprofile-btn= link_to 'My Profile', dashboard_root_path
            = link_to(destroy_user_session_path, :method => :delete, id: 'header-signout-button') do
              Sign Out
      .large-6.large-pull-2.medium-7.medium-pull-2.small-12.columns.padding-lr-0
        %nav.top-bar{"data-topbar" => ""}
          %ul.title-area
            %li.name
            %li.toggle-topbar.menu-icon
              %a{href: "#"} Menu
          %section.top-bar-section
            / Right Nav Section
            %ul.right
              %li.reload=link_to 'Home', admin_root_path
              %li.reload=link_to 'Cities', admin_root_path
              %li.reload=link_to 'Users', admin_users_path
              %li.reload=link_to 'Contact Us', contacts_new_path

  .row.second-header
    .large-12.medium-12.small-12.columns
      .large-3.medium-3.small-12.columns.header_logo.padding-lr-0
        %a
          =image_tag 'logo.png'
      .large-7.medium-7.small-12.columns.padding-lr-0
        = form_tag session_path(:user) do
          = text_field_tag 'user[email]'
          = password_field_tag 'user[password]'
          %input.button-full-width-yellow{type: "submit", value: "Sign in"}
      .large-2.medium-2.small-12.columns.padding-lr-0.header_forgottpass
        %p
          = link_to "Forgot my password", new_password_path(:user)
          %br
          %span OR
          = link_to "Sign Up Now!", new_registration_path(:user)
        .header_forgottpass_quit
          X