%header
  .row.first-header
    .large-12.medium-12.small-12.columns
      .large-4.medium-3.small-12.columns.header_logo.padding-lr-0
        =link_to root_path do
          = image_tag('logo2-beta.png')
      .large-6.medium-7.small-12.columns.padding-lr-0
        %nav.top-bar{"data-topbar" => ""}
          %ul.title-area
            %li.name
            %li.toggle-topbar.menu-icon
              %a{href: "#"} Menu
          %section.top-bar-section
            / Right Nav Section
            %ul.right
              %li.reload=link_to 'Home', root_path
              %li.reload=link_to 'Lodging', search_index_path
              / --------------for mobile devices----------------/
              %li.show-for-small-only
                = link_to 'My Profile', dashboard_root_path
              %li.show-for-small-only
                = link_to 'Sign Out', destroy_user_session_path, :method => :delete


              - unless user_signed_in?
                %li
                  %a{:href => "#", "data-reveal-id" => "login_form"} Sign In
                %li
                  %a{:href => "#", "data-reveal-id" => "sign_up_form"} Sign Up
      - if user_signed_in?
        .hide-for-small-only.large-2.medium-2.small-12.columns.padding-lr-0.name-user
          - if current_user.role.eql?("user")
            .header_sign-in-out#header_sign-in-out{"aria-controls" => "drop-profile", "aria-expanded" => "false", "data-dropdown" => "drop-profile"}
              %i.fi-torso.large
            %ul#drop-profile.f-dropdown{"aria-hidden" => "true", "data-dropdown-content" => "", :tabindex => "-1"}
              %li
                = link_to 'My Profile', dashboard_root_path
              %li.devider
              %li
                = link_to(destroy_user_session_path, :method => :delete, id: 'header-signout-button') do
                  Sign Out
          - else
            .header_sign-in-out#header_sign-in-out.header_forgottpass_quit
              .admin-myprofile-btn= link_to "Admin", admin_root_path
              = link_to(destroy_user_session_path, :method => :delete, id: 'header-signout-button-admin') do
                Sign Out
                
- unless user_signed_in?
  #login_form.small.reveal-modal{"data-reveal" => ""}
    .row
      .large-12.medium-12.small-12.columns
        %div#msg_alert.alert-box.alert{"data-alert" => true, :style => "display: none"}
    .row
      .large-12.medium-12.small-12.columns
        .large-5.medium-5.small-12.columns.padding-lr-0
          %ul.no-bullet.list_social
            %li= link_to "", user_omniauth_authorize_path("facebook"), :id => 'btn-facebook', :style => "margin-top:25px;margin-bottom:33px"
            %li= link_to "", user_omniauth_authorize_path("google_oauth2"), :id => 'btn-google_oauth2'
        .large-2.medium-2.small-12.columns.padding-lr-0
          .or_image
        .large-5.medium-5.small-12.columns.padding-lr-0
          = form_tag(session_path(:user), :class => "form_login", :remote => true) do
            %h3
              %small Sign In With
            .row.margin_row
              .large-12.columns
                %label
                  = text_field_tag "user[email]", "", :class => 'margin_input', :placeholder => "Email", :required => true
            .row.margin_row
              .large-12.columns
                %label
                  = password_field_tag "user[password]", "", :class => 'margin_input', :placeholder => "Password", :required => true
            .row.margin_row
              .large-12.columns
                %label
                  %small
                    %a{:href => "#", "data-reveal-id" => "forgot_pass"} Forgot password?
            .row.margin_row
              .large-12.columns
                %label.small
                  = check_box_tag "user[remember_me]"
                  %small Remember Me
            .row.margin_row
              .large-12.columns
                %button.button.expand.tiny Login
    %a.close-reveal-modal ×
  #sign_up_form.small.reveal-modal{"data-reveal" => ""}
    .row
      .large-12.medium-12.small-12.columns
        %div#msg_sign_up
    .row
      .large-12.medium-12.small-12.columns
        .large-5.medium-5.small-12.columns.padding-lr-0
          %ul.no-bullet.list_social
            %li= link_to "", user_omniauth_authorize_path("facebook"), :id => 'btn-facebook', :style => "margin-top:25px;margin-bottom:33px"
            %li= link_to "", user_omniauth_authorize_path("google_oauth2"), :id => 'btn-google_oauth2'
        .large-2.medium-2.small-12.columns.padding-lr-0
          .or_image
        .large-5.medium-5.small-12.columns.padding-lr-0
          = form_tag(registration_path(:user), :class => "form_login", :remote => true) do
            %h3
              %small Sign Up With
            .row.margin_row
              .large-12.columns
                %label
                  = text_field_tag "user[email]", "", :class => 'margin_input', :placeholder => "Email", :required => true, :id => 'user_email_sign_up'
            .row.margin_row
              .large-12.columns
                %label
                  = password_field_tag "user[password]", "", :class => 'margin_input', :placeholder => "Password", :required => true, :id => 'user_password_sign_up'
            .row.margin_row
              .large-12.columns
                %button.button.expand.tiny Sign Up
    %a.close-reveal-modal ×
  #forgot_pass.small.reveal-modal{"data-reveal" => ""}
    .row
      .large-12.medium-12.small-12.columns
        = form_tag user_password_path do
          %h3
            %small Email
          .row.collapse
            .small-8.columns
              = text_field_tag "user[email]", "", :class => "no-radius"
            .small-4.columns
              = submit_tag "Reset Password", :class => 'button postfix'
    %a.close-reveal-modal ×