<table width=125 border=0 cellspacing=0 cellpadding=0 title="CLICK TO VERIFY: This site uses a GlobalSign SSL Certificate to secure your personal information." >
  <tr>
    <td>
      <span id="ss_img_wrapper_gmogs_image_90-35_en_dblue">
        <a href="https://www.globalsign.com/" target=_blank title="GlobalSign Site Seal" rel="nofollow">
          <script type="text/javascript">
            document.write('<img alt="Buy SSL" border=0 id="ss_img" src' + '="//seal.globalsign.com/SiteSeal/images/gs_noscript_130-65_en.' + 'gif">');
          </script>
        </a>
      </span>
      <script type="text/javascript">
        document.write('<script type="text/javascript" src' + '="//seal.globalsign.com/SiteSeal/gs_image_130-65_en.' + 'js"></sc' + 'ript>');
      </script>
    </td>
  </tr>
</table>
