= form_for [@city, @blog_category] do |f|
  - if @blog_category.errors.any?
    #error_explanation
      %h2= "#{pluralize(@blog_category.errors.count, "error")} prohibited this blog_category from being saved:"
      %ul
        - @blog_category.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name, required: "true"
  %br
  .actions
    = f.submit 'Save', class: "button disabled"
