.content
  .row.city-guides-guides-map
    .large-12.medium-12.small-12.columns.margin-from-header
      .large-12.medium-12.small-12.columns.padding-lr-0.subnav-select
        %dl.tabs.sub-nav{"data-tab" => ""}
          %dd.active
            %a{href: "#panel4-1"} City Guides
          %dd
            %a{href: "#panel4-2"} Map
          %dd
            %a{href: "#panel4-3"} Blog
        %select
          %option{value: "husker"} Whitch city?
          %option{value: "starbuck"} 2
          %option{value: "hotdog"} 3
          %option{value: "apollo"} 4
    .tabs-content
      #panel4-1.content.active
        .large-12.medium-12.small-12.columns
          %h3 Yangon
        .large-5.medium-5.small-12.columns
          .city-guides-guides-map_main-img
            %a
              =image_tag 'calendar-bg.png'
        .large-3.large-offset-1.medium-4.medium-offset-0.small-6.columns
          .city-guides-guides-map_more.content_categories
            %h4 More on Yangon
            %a Yangon Guide
            %a Yangon Map
            %a Yangon Blog
            %a Yangon Hostels
        .large-3.large-offset-0.medium-3.medium-offset-0.small-6.columns.content_categories_block
          .content_categories
            %h4 Popular City Guides
            %a Mandalay City Guide
            %a Naypyidaw City Guide
            %a Mawlamyaing City Guide
            %a Taunggyi City Guide
            %a Pathein City Guide
            %a Bago City Guide
            %a Pyay City Guide
            %a Monywa City Guide
        .large-12.medium-12.small-12.columns.padding-lr-0
          .large-12.medium-12.small-12.columns.padding-lr-0.city-guides_header
            %h3 City Guides
          .city-guides-block
            .large-4.medium-4.small-6.columns.city-guides-block_inner
              .large-6.medium-6.small-12.columns.city-guides-block_inner_left.padding-lr-0
                %a
                  =image_tag 'img3.png'
              .large-6.medium-6.small-12.columns.city-guides-block_inner_right.padding-lr-0
                %p.city-guides-block_inner_right_name Kachin State
                %a.city-guides-block_inner_right_go-to Go To Guide
            .large-4.medium-4.small-6.columns.city-guides-block_inner
              .large-6.medium-6.small-12.columns.city-guides-block_inner_left.padding-lr-0
                %a
                  =image_tag 'img3.png'
              .large-6.medium-6.small-12.columns.city-guides-block_inner_right.padding-lr-0
                %p.city-guides-block_inner_right_name Kachin State
                %a.city-guides-block_inner_right_go-to Go To Guide
            .large-4.medium-4.small-6.columns.city-guides-block_inner
              .large-6.medium-6.small-12.columns.city-guides-block_inner_left.padding-lr-0
                %a
                  =image_tag 'img3.png'
              .large-6.medium-6.small-12.columns.city-guides-block_inner_right.padding-lr-0
                %p.city-guides-block_inner_right_name Kachin State
                %a.city-guides-block_inner_right_go-to Go To Guide
            .large-4.medium-4.small-6.columns.city-guides-block_inner
              .large-6.medium-6.small-12.columns.city-guides-block_inner_left.padding-lr-0
                %a
                  =image_tag 'img3.png'
              .large-6.medium-6.small-12.columns.city-guides-block_inner_right.padding-lr-0
                %p.city-guides-block_inner_right_name Kachin State
                %a.city-guides-block_inner_right_go-to Go To Guide
      #panel4-2.content
        .large-12.medium-12.small-12.columns
          %h3 Yangon
        .large-8.medium-7.small-12.columns
          .city-guides-guides-map_main-img
            %a
              =image_tag 'calendar-bg.png'
        .large-3.large-offset-1.medium-4.medium-offset-1.small-12.columns.content_categories_block
          .content_categories
            %h4 Popular City Guides
            %a Mandalay City Guide
            %a Naypyidaw City Guide
            %a Mawlamyaing City Guide
            %a Taunggyi City Guide
            %a Pathein City Guide
            %a Bago City Guide
            %a Pyay City Guide
            %a Monywa City Guide
        .large-12.medium-12.small-12.columns.padding-lr-0
          .city-guides-block.guides-maps-block
            .large-4.medium-4.small-6.columns.city-guides-block_inner
              .large-6.medium-6.small-12.columns.city-guides-block_inner_left.padding-lr-0
                %a
                  =image_tag 'img3.png'
              .large-6.medium-6.small-12.columns.city-guides-block_inner_right.padding-lr-0
                %p.city-guides-block_inner_right_name Kachin State
                %p.city-guides-block_inner_right_places 9 must see places
                %a.city-guides-block_inner_right_go-to Go To Guide
            .large-4.medium-4.small-6.columns.city-guides-block_inner
              .large-6.medium-6.small-12.columns.city-guides-block_inner_left.padding-lr-0
                %a
                  =image_tag 'img3.png'
              .large-6.medium-6.small-12.columns.city-guides-block_inner_right.padding-lr-0
                %p.city-guides-block_inner_right_name Kachin State
                %p.city-guides-block_inner_right_places 9 must see places
                %a.city-guides-block_inner_right_go-to Go To Guide
            .large-4.medium-4.small-6.columns.city-guides-block_inner
              .large-6.medium-6.small-12.columns.city-guides-block_inner_left.padding-lr-0
                %a
                  =image_tag 'img3.png'
              .large-6.medium-6.small-12.columns.city-guides-block_inner_right.padding-lr-0
                %p.city-guides-block_inner_right_name Kachin State
                %p.city-guides-block_inner_right_places 9 must see places
                %a.city-guides-block_inner_right_go-to Go To Guide
            .large-4.medium-4.small-6.columns.city-guides-block_inner
              .large-6.medium-6.small-12.columns.city-guides-block_inner_left.padding-lr-0
                %a
                  =image_tag 'img3.png'
              .large-6.medium-6.small-12.columns.city-guides-block_inner_right.padding-lr-0
                %p.city-guides-block_inner_right_name Kachin State
                %p.city-guides-block_inner_right_places 9 must see places
                %a.city-guides-block_inner_right_go-to Go To Guide
      #panel4-3.content.blog
        .large-4.medium-4.small-12.columns.contact-us_left
          .contact-us_left_inner.content_categories
            %h3 Categories
            %a Top questions
            %a Top questions
            %a Top questions
          .contact-us_left_inner.content_categories
            %h3 Popular Blogs
            %a
              Where to go for September?
              %br
              %span Travel Destinations
            %a Where to go for September?
        .large-8.medium-8.small-12.columns.blog_inner-block
          %h3 A visit to the world's smallest state
          .blog_inner-block_header
            .blog_inner-block_header_left
              %p
                Category:
                %a On the road
            .blog_inner-block_header_right
              %p
                Posted:
                %a Saturday, March 1, 2014
              %p
                Comments:
                %a 25
          .blog_inner-block_image
            %a
              =image_tag 'img2.png'
          .blog_inner-block_text
            %p One early morning, accompanied with a semi-hot cappuccino and croissant eaten like a true Roman – standing up and in a hurry – I was off on the Metro to the Vatican.
          %a.blog_inner-block_read-thisblock Read this blog post »