.content
  .row
    .large-12.medium-12.small-12.columns.margin-from-header
      %h1 Listing Categories

      %table.w100
        %tr
          %th Categories
          %th
          %th
          %th

        - @blog_categories.each do |blog_category|
          %tr
            %td= blog_category.name
            %td= link_to 'Show', [@city, blog_category]
            %td= link_to 'Edit', edit_city_blog_category_path(@city, blog_category)
            %td= link_to 'Destroy', [@city, blog_category], :method => :delete, :data => { :confirm => 'Are you sure?' }


      %br
      = link_to 'New Blog category', new_city_blog_category_path, class: "button disabled"
