.content
  .row
    .large-12.medium-12.small-12.columns.margin-from-header
      .large-6.medium-6.small-12.columns.padding-block-left
        %h1 New blog_category

        = render 'form'

        = link_to 'Back', city_blog_categories_path
