.content
  .row.city-guides-guides-map
    .large-12.medium-12.small-12.columns.margin-from-header
      .large-12.medium-12.small-12.columns.subnav-select
        %dl.tabs.right
          %dd.active
            %a{href: "#panel4-1"} City Guides
          %dd
            = link_to 'Map', map_blog_path
          %dd
            = link_to 'Blog', blogs_cat_path(@city, @blog_category)
  
    .tabs-content
      #panel4-1.content.active
        .large-12.medium-12.small-12.columns
          %h2.left= @city.name
        %hr.white-space
        .large-12.medium-12.small-12.columns.popular-city
          %span Popular City Guides:
          - @cities.each do |city|
            =link_to city.name, [city, @blog_category]
        %hr.white-space
            
        .large-6.medium-5.small-12.columns
          .city-guides-guides-map_main-img
            %a
              = image_tag @city.cityimg_url() if @city.cityimg?

        .large-6.medium-12.small-12.columns
          .city-guides
            %h3= 'More on ' + @city.name
            %ul
              %li
                .list-item
                  %b Total:
                  %span= @city.total
              %li
                .list-item
                  %b Density:
                  %span= @city.density
              %li  
                .list-item
                  %b Ethnicities:
                  %span= @city.ethnicities
              %li  
                .list-item
                  %b Religions:
                  %span= @city.religions
      %hr

        .large-12.medium-12.small-12.columns
          .guides-inside_text-block_inner
            %h4= 'Things to see in ' + @city.name
            %p= @city.description
        