= form_for @room_type do |f|
  - if @room_type.errors.any?
    #error_explanation
      %h2= "#{pluralize(@room_type.errors.count, "error")} prohibited this room_type from being saved:"
      %ul
        - @room_type.errors.full_messages.each do |msg|
          %li= msg
  .large-6.medium-6.small-12.columns.padding-block-left
    .field
      = f.label :name
      = f.text_field :name
    %br
    .actions
      = f.submit 'Save', class: "button"
