.content
  .row
    .large-12.medium-12.small-12.columns.margin-from-header
    %h1 Editing room_type

    = render 'form'
    .clear-both
    %hr
    = link_to 'Show', @room_type
    \|
    = link_to 'Back', room_types_path
