.content
  .row
    .large-12.medium-12.small-12.columns.margin-from-header
      %h1 Listing Room Types

      %table.w100
        %tr
          %th Type
          %th
          %th
          %th

        - @room_types.each do |room_type|
          %tr
            %td= room_type.name
            %td= link_to 'Show', room_type
            %td= link_to 'Edit', edit_room_type_path(room_type)
            %td= link_to 'Destroy', room_type, :method => :delete, :data => { :confirm => 'Are you sure?' }

      %br

      = link_to 'New Room type', new_room_type_path, :class => 'button'
      %hr
      = link_to 'back', dashboard_root_path
