.content
  .row
    .large-12.medium-12.small-12.columns.margin-from-header
      %h1 Show room
      .large-6.medium-6.small-12.columns.padding-block-left
        %p#notice= notice

        %p
        %b Type:
        = @room_type.name
        .clear-both
        %hr
        = link_to 'Edit', edit_room_type_path(@room_type)
        \|
        = link_to 'Back', room_types_path
