= form_for @privacy_and_security_statement do |f|
  - if @privacy_and_security_statement.errors.any?
    #error_explanation
      %h2= "#{pluralize(@privacy_and_security_statement.errors.count, "error")} prohibited this privacy_and_security_statement from being saved:"
      %ul
        - @privacy_and_security_statement.errors.full_messages.each do |msg|
          %li= msg
  .large-6.medium-6.small-12.columns.padding-block-left
    .field
      = f.label :title
      = f.text_field :title, required: "true"
    %br
    .actions
      = f.submit 'Save', class: "button disabled"
  .large-6.medium-6.small-12.columns.padding-block-right
    .field
      = f.label :body
      = f.text_field :body, required: "true"