.content
  .row
    .large-12.medium-12.small-12.columns.margin-from-header
      %h1 Listing Privacy and Security Statements

      %table.w100
        %tr
          %th Title
          %th Body
          %th
          %th
          %th

        - @privacy_and_security_statements.each do |privacy_and_security_statement|
          %tr
            %td= privacy_and_security_statement.title
            %td= privacy_and_security_statement.body
            %td= link_to 'Show', privacy_and_security_statement
            %td= link_to 'Edit', edit_privacy_and_security_statement_path(privacy_and_security_statement)
            %td= link_to 'Destroy', privacy_and_security_statement, :method => :delete, :data => { :confirm => 'Are you sure?' }

      %br

      = link_to 'New Privacy and security statement', new_privacy_and_security_statement_path, class: "button disabled"
