.content
  .row
    .large-12.medium-12.small-12.columns.margin-from-header
      %h1 New privacy_and_security_statement

      = render 'form'
      .clear-both
      %hr
      = link_to 'Back', privacy_and_security_statements_path
