.content
  .row
    .large-12.medium-12.columns.margin-from-header.security-privacy
      %h3.security-privacy_header mmlodging.com Privacy and Security Statement
      %p All sensitive information exchanged between your computer and our site is encrypted using SSL. Our SSL Certificate is provided by GlobalSign. This ensures that your information is transmitted securely and is safe from third parties. Please read on for more information on site encryption.
      %form
        .accordion-block
          - @privacy_and_security_statements.each do |privacy_and_security_statement|
            %h3.security-privacy_tab-header=privacy_and_security_statement.title
            .security-privacy_tab-text.accordion1
              %p=privacy_and_security_statement.body