.page-content
  .container
    / BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM
    #portlet-config.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
      .modal-dialog
        .modal-content
          .modal-header
            %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"}
            %h4.modal-title Modal title
          .modal-body
            Widget settings form goes here
          .modal-footer
            %button.btn.blue{:type => "button"} Save changes
            %button.btn.default{"data-dismiss" => "modal", :type => "button"} Close
    %ul.page-breadcrumb.breadcrumb
      %li
        %a{:href => "#"} Home
        %i.fa.fa-circle
      %li
        %a{:href => "form_wizard.html"} UI Components
        %i.fa.fa-circle
      %li.active
        Form Wizard
    .row
      .col-md-12
        #form_wizard_1.portlet.light
          .portlet-title
            .caption
              %span.caption-subject.font-green-sharp.bold.uppercase
                %i.fa.fa-gift
                - if @hotel.title.nil?
                  New Hotel -
                - else
                  = "Edit Hotel #{@hotel.title} -"
                %span.step-title Step 1 of 4
            .tools
              %a.collapse{:href => "javascript:;"}
              %a.config{"data-toggle" => "modal", :href => "#portlet-config"}
              %a.reload{:href => "javascript:;"}
              %a.remove{:href => "javascript:;"}
          .portlet-body.form
            = form_for [:admin, @city, @hotel], :html => {:multipart => true, :class => 'form-horizontal', :id => 'submit_form'} do |f|
              - if @hotel.errors.any?
                #error_explanation
                  %h2= "#{pluralize(@hotel.errors.count, "error")} prohibited this hotel from being saved:"
                  %ul
                    - @hotel.errors.full_messages.each do |msg|
                      %li= msg

              .form-wizard
                .form-body
                  %ul.nav.nav-pills.nav-justified.steps
                    %li
                      %a.step{"data-toggle" => "tab", :href => "#tab1"}
                        %span.number
                          1
                        %span.desc
                          %i.fa.fa-check
                          Details Property
                    %li
                      %a.step{"data-toggle" => "tab", :href => "#tab2"}
                        %span.number
                          2
                        %span.desc
                          %i.fa.fa-check
                          Property Information
                    %li
                      %a.step.active{"data-toggle" => "tab", :href => "#tab3"}
                        %span.number
                          3
                        %span.desc
                          %i.fa.fa-check
                          Property Facilities
                    %li
                      %a.step{"data-toggle" => "tab", :href => "#tab4"}
                        %span.number
                          4
                        %span.desc
                          %i.fa.fa-check
                          Photos
                  #bar.progress.progress-striped{:role => "progressbar"}
                    .progress-bar.progress-bar-success
                  .tab-content
                    .alert.alert-danger.display-none
                      %button.close{"data-dismiss" => "alert"}
                      You have some form errors. Please check below.
                    .alert.alert-success.display-none
                      %button.close{"data-dismiss" => "alert"}
                      Your form validation is successful!
                    #tab1.tab-pane.active
                      %h3.block Property Address
                      .col-md-8
                        = f.hidden_field :lat, "data-geo" => "lat"
                        = f.hidden_field :lng, "data-geo" => "lng"

                        .form-group
                          = f.label :address, :class => 'control-label col-md-3' do
                            Address 1
                            %span.required
                              *
                          .col-md-9
                            = f.text_field :address, :class => 'form-control', :required => :required
                            %span.help-block
                              Address 1 property
                        .form-group
                          = f.label :address_two, :class => 'control-label col-md-3' do
                            Address 2
                            %span.required
                              *
                          .col-md-9
                            = f.text_field :address_two, :class => 'form-control', :required => :required
                            %span.help-block
                              Address 2 property
                        .form-group
                          = f.label :state, :class => 'control-label col-md-3' do
                            State
                            %span.required
                              *
                          .col-md-9
                            = f.text_field :state, :class => 'form-control', :required => :required, 'data-geo' => "administrative_area_level_1"
                            %span.help-block
                              State property
                        .form-group
                          = f.label :postcode, :class => 'control-label col-md-3' do
                            Postal code
                          .col-md-9
                            = f.text_field :postcode, :class => 'form-control', "data-geo" => "postal_code"
                            %span.help-block
                              Postal code property
                      .col-md-4
                        #map{style: "width:100%; height:300px;"}
                      .clearfix
                      %h3.block Property Details
                      .col-md-8
                        .form-group
                          = f.label :title, :class => 'control-label col-md-3' do
                            Property Name
                            %span.required
                              *
                          .col-md-9
                            = f.text_field :title, :class => 'form-control', :required => :required
                            %span.help-block
                              Property name
                        .form-group
                          = f.label :property_type, :class => 'control-label col-md-3' do
                            Property Type
                            %span.required
                              *
                          .col-md-9
                            = f.select :property_type,  @property_type,{:include_blank => "Property Type"}, required: true, id: 'type', "data-parsley-group" => 'block1', :class => 'form-control'
                            %span.help-block
                              Property type
                        .form-group
                          = f.label :total_number, :class => 'control-label col-md-3' do
                            Bedrooms
                            %span.required
                              *
                          .col-md-9
                            = f.text_field :total_number, :class => 'form-control', :required => :required
                            %span.help-block
                              Total Number of Bedrooms
                        .form-group
                          = f.label :number_of_beds, :class => 'control-label col-md-3' do
                            Beds
                            %span.required
                              *
                          .col-md-9
                            = f.text_field :number_of_beds, :class => 'form-control', :required => :required
                            %span.help-block
                              Number of Beds (total ocupancy)
                        .form-group
                          = f.label :private_room_price, :class => 'control-label col-md-3' do
                            Price
                            %span.required
                              *
                          .col-md-9
                            = f.text_field :private_room_price, :class => 'form-control', :required => :required
                            %span.help-block
                              Private Room Price
                      .clearfix
                      %h3.block Contact Details
                      .col-md-8
                        .form-group
                          = f.label :contact_name, :class => 'control-label col-md-3' do
                            Contact Name
                            %span.required
                              *
                          .col-md-9
                            = f.text_field :contact_name, :class => 'form-control', :required => :required
                            %span.help-block
                              Contact Name of Property
                        .form-group
                          = f.label :manager_email, :class => 'control-label col-md-3' do
                            Email Manager
                            %span.required
                              *
                          .col-md-9
                            = f.text_field :manager_email, :class => 'form-control', :required => :required
                            %span.help-block
                              Manager Email Address
                        .form-group
                          = f.label :bookings_email, :class => 'control-label col-md-3' do
                            Email Bookings
                            %span.required
                              *
                          .col-md-9
                            = f.text_field :bookings_email, :class => 'form-control', :required => :required
                            %span.help-block
                              Email Address for Bookings
                        .form-group
                          = f.label :website_address, :class => 'control-label col-md-3' do
                            Website
                          .col-md-9
                            = f.text_field :website_address, :class => 'form-control'
                            %span.help-block
                              Website Address
                        .form-group
                          = f.label :currency, :class => 'control-label col-md-3' do
                            Currency
                            %span.required
                              *
                          .col-md-9
                            = f.select :currency, @currency, {}, required: true, :class => 'form-control'
                            %span.help-block
                              Currency
                        .form-group
                          = f.label :language, :class => 'control-label col-md-3' do
                            Language
                            %span.required
                              *
                          .col-md-9
                            = f.select :language, @language, {}, :class => 'form-control', :required => :required
                            %span.help-block
                              Language
                        .form-group
                          = f.label :phone_number, :class => 'control-label col-md-3' do
                            Phone Number
                            %span.required
                              *
                          .col-md-9
                            = f.text_field :phone_number, :class => 'form-control', :required => :required
                            %span.help-block
                              Phone Number

                      .clearfix
                    #tab2.tab-pane
                      %h3.block Property Information
                      .form-group
                        = f.label :content, :class => 'control-label col-md-3' do
                          Contact Name
                          %span.required
                            *
                        .col-md-5
                          = f.text_area :content, :class => 'form-control', :required => :required, :rows => 8, :required => :required
                          %span.help-block
                            Contact Name of Property
                        .col-md-4
                          %p Use this section to attract the customers’ attention. The content should give a concise description of your property, outlining any special features. As well as appearing on your own property page, this section will appear on the main city page for your destination so you need to ensure that this section conveys the best bits about your property to ensure that you stand out from your competitors.

                      .form-group
                        = f.label :description, :class => 'control-label col-md-3' do
                          Contact Name
                          %span.required
                            *
                        .col-md-5
                          = f.text_area :description, :class => 'form-control', :required => :required, :rows => 8, :required => :required
                          %span.help-block
                            Contact Name of Property
                        .col-md-4
                          %p Use this section to expand on your introduction. Describe your property, the type of rooms you offer and the services you offer such as a bar, an outdoor terrace or a pool. List the things that make your property different to others. If you offer them, mention things like a free breakfast or WiFi as these are things that travellers look out for. If you host regular events such as pizza nights, walking tours or other events include these details too. If you want to mention current events/specials in your property please include this at the end. The general information should appear at the top where it is clearly visible. Please use full sentences when describing your property, check spelling and avoid using uppercase and/or bold letters.

                      .form-group
                        = f.label :location, :class => 'control-label col-md-3' do
                          Contact Name
                          %span.required
                            *
                        .col-md-5
                          = f.text_area :location, :class => 'form-control', :required => :required, :rows => 8, :required => :required
                          %span.help-block
                            Contact Name of Property
                        .col-md-4
                          %p Describe your location. Are you located in the city centre, near a beach or in a rural destination? If you are close to any famous landmarks or sights eg the Eiffel Tower mention that too. Describe the district you are located in eg Soho in New York or Camden in London. If your area has a bohemian vibe or is famous for great bars or restaurants include this too. It’s also very important to mention how far you are from the main transport links in your destination.

                      .form-group
                        = f.label :directions, :class => 'control-label col-md-3' do
                          Contact Name
                          %span.required
                            *
                        .col-md-5
                          = f.text_area :directions, :class => 'form-control', :required => :required, :rows => 8, :required => :required
                          %span.help-block
                            Contact Name of Property
                        .col-md-4
                          %p The directions are displayed on the Map & directions page on your microsite as well as on the booking confirmation page and in the customers’ confirmation email. It is extremely important to ensure that the directions to your property are as detailed as possible. Please explain clearly how to get to your property from the airport or port by car or by public transport. Provide details on how to get to the property from the nearest train, tram, bus and metro stations. And you should also give walking directions with as much detail as possible.

                      .form-group
                        = f.label :things, :class => 'control-label col-md-3' do
                          Contact Name
                          %span.required
                            *
                        .col-md-5
                          = f.text_area :things, :class => 'form-control', :required => :required, :rows => 8, :required => :required
                          %span.help-block
                            Contact Name of Property
                        .col-md-4
                          %p This section should be used to mention any special conditions that the customer should be made aware of before they book. Include things like your reception is only open for a limited time each day, your property is not suitable for children or there is an age restriction. Please do not enter your website address or your contact details here.
                      .clearfix

                    #tab3.tab-pane
                      %h3.block Property Facilities
                      .col-md-3
                        .form-group
                          %label#all_property_check
                            = f.check_box :all_property, :class => 'icheck', "data-checkbox" => "icheckbox_line-blue", "data-label" => "All Properties"
                        .form-group
                          %label
                            = f.check_box :nightclub, :class => 'icheck', "data-checkbox" => "icheckbox_line-blue", "data-label" => "Nightclub"
                        .form-group
                          %label
                            = f.check_box :outdoor_swimming, :class => 'icheck', "data-checkbox" => "icheckbox_line-blue", "data-label" => "Outdorr Swimming Pool"
                        .form-group
                          %label
                            = f.check_box :outdoor_terrace, :class => 'icheck', "data-checkbox" => "icheckbox_line-blue", "data-label" => "Outdoor Terrace"
                        .form-group
                          %label
                            = f.check_box :parking, :class => 'icheck', "data-checkbox" => "icheckbox_line-blue", "data-label" => "Parking"
                        .form-group
                          %label
                            = f.check_box :postal_service, :class => 'icheck', "data-checkbox" => "icheckbox_line-blue", "data-label" => "Postal Service"
                        .form-group
                          %label
                            = f.check_box :reading_light, :class => 'icheck', "data-checkbox" => "icheckbox_line-blue", "data-label" => "Reading Light"
                        .form-group
                          %label
                            = f.check_box :restaurant, :class => 'icheck', "data-checkbox" => "icheckbox_line-blue", "data-label" => "Restaurant"
                        .form-group
                          %label
                            = f.check_box :safe_deposit, :class => 'icheck', "data-checkbox" => "icheckbox_line-blue", "data-label" => "Safe Deposit Box"
                        .form-group
                          %label
                            = f.check_box :shuttle_bus, :class => 'icheck', "data-checkbox" => "icheckbox_line-blue", "data-label" => "Shuttle Bus"
                        .form-group
                          %label
                            = f.check_box :swimming_pool, :class => 'icheck', "data-checkbox" => "icheckbox_line-blue", "data-label" => "Swimming Pool"
                        .form-group
                          %label
                            = f.check_box :making_facilities, :class => 'icheck', "data-checkbox" => "icheckbox_line-blue", "data-label" => "Tea & Coffee Making Facilities"
                        .form-group
                          %label
                            = f.check_box :travel_desk, :class => 'icheck', "data-checkbox" => "icheckbox_line-blue", "data-label" => "Tours/Travel Desk"
                        .form-group
                          %label
                            = f.check_box :vending_mashines, :class => 'icheck', "data-checkbox" => "icheckbox_line-blue", "data-label" => "Vending Machines"
                        .form-group
                          %label
                            = f.check_box :bed_and_breakfasts, :class => 'icheck', "data-checkbox" => "icheckbox_line-blue", "data-label" => "Bed and Breakfasts"
                        .form-group
                          %label
                            = f.check_box :twin_room, :class => 'icheck', "data-checkbox" => "icheckbox_line-blue", "data-label" => "Twin Room"
                        .form-group
                          %label
                            = f.check_box :mixed_dorm, :class => 'icheck', "data-checkbox" => "icheckbox_line-blue", "data-label" => "Mixed Dorm"
                        .form-group
                          %label
                            = f.check_box :paypal, :class => 'icheck', "data-checkbox" => "icheckbox_line-blue", "data-label" => "PayPal"
                        -# end row one
                      .col-md-3
                        .form-group
                          %label
                            = f.check_box :hour_reception, :class => 'icheck', "data-checkbox" => "icheckbox_line-blue", "data-label" => "24 Hour Reception"
                        .form-group
                          %label
                            = f.check_box :hour_security, :class => 'icheck', "data-checkbox" => "icheckbox_line-blue", "data-label" => "24 Hour Security"
                        .form-group
                          %label
                            = f.check_box :adaptors, :class => 'icheck', "data-checkbox" => "icheckbox_line-blue", "data-label" => "Adaptors"
                        .form-group
                          %label
                            = f.check_box :air_conditioning, :class => 'icheck', "data-checkbox" => "icheckbox_line-blue", "data-label" => "Air Conditioning"
                        .form-group
                          %label
                            = f.check_box :airport_transfers, :class => 'icheck', "data-checkbox" => "icheckbox_line-blue", "data-label" => "Airport Transfers"
                        .form-group
                          %label
                            = f.check_box :atm, :class => 'icheck', "data-checkbox" => "icheckbox_line-blue", "data-label" => "ATM"
                        .form-group
                          %label
                            = f.check_box :bar, :class => 'icheck', "data-checkbox" => "icheckbox_line-blue", "data-label" => "Bar"
                        .form-group
                          %label
                            = f.check_box :bicucle_hire, :class => 'icheck', "data-checkbox" => "icheckbox_line-blue", "data-label" => "Bicycle Hire"
                        .form-group
                          %label
                            = f.check_box :book_exchenge, :class => 'icheck', "data-checkbox" => "icheckbox_line-blue", "data-label" => "Book Exchange"
                        .form-group
                          %label
                            = f.check_box :breakfast_include, :class => 'icheck', "data-checkbox" => "icheckbox_line-blue", "data-label" => "Breakfast Included"
                        .form-group
                          %label
                            = f.check_box :breakfast_not_include, :class => 'icheck', "data-checkbox" => "icheckbox_line-blue", "data-label" => "Breakfast Not Included"
                        .form-group
                          %label
                            = f.check_box :business_centre, :class => 'icheck', "data-checkbox" => "icheckbox_line-blue", "data-label" => "Business Centre"
                        .form-group
                          %label
                            = f.check_box :cable_tv, :class => 'icheck', "data-checkbox" => "icheckbox_line-blue", "data-label" => "Cable TV"
                        .form-group
                          %label
                            = f.check_box :wheelchair_friendly, :class => 'icheck', "data-checkbox" => "icheckbox_line-blue", "data-label" => "Wheelchair Friendly"
                        .form-group
                          %label
                            = f.check_box :hotels, :class => 'icheck', "data-checkbox" => "icheckbox_line-blue", "data-label" => "Hotels"
                        .form-group
                          %label
                            = f.check_box :double_room, :class => 'icheck', "data-checkbox" => "icheckbox_line-blue", "data-label" => "Double Room"
                        .form-group
                          %label
                            = f.check_box :male_dorm, :class => 'icheck', "data-checkbox" => "icheckbox_line-blue", "data-label" => "Male Dorm"
                        .form-group
                          %label
                            = f.check_box :all_payment, :class => 'icheck', "data-checkbox" => "icheckbox_line-blue", "data-label" => "All Payment"
                        -# end row two
                      .col-md-3
                        .form-group
                          %label
                            = f.check_box :card_phones, :class => 'icheck', "data-checkbox" => "icheckbox_line-blue", "data-label" => "Card Phones"
                        .form-group
                          %label
                            = f.check_box :celing_fan, :class => 'icheck', "data-checkbox" => "icheckbox_line-blue", "data-label" => "Ceiling Fan"
                        .form-group
                          %label
                            = f.check_box :cots_available, :class => 'icheck', "data-checkbox" => "icheckbox_line-blue", "data-label" => "Cots Available"
                        .form-group
                          %label
                            = f.check_box :currency_exchange, :class => 'icheck', "data-checkbox" => "icheckbox_line-blue", "data-label" => "Currency Exchange"
                        .form-group
                          %label
                            = f.check_box :direct_dial, :class => 'icheck', "data-checkbox" => "icheckbox_line-blue", "data-label" => "Direct Dial Telephone"
                        .form-group
                          %label
                            = f.check_box :dvds, :class => 'icheck', "data-checkbox" => "icheckbox_line-blue", "data-label" => "DVDs"
                        .form-group
                          %label
                            = f.check_box :elevator, :class => 'icheck', "data-checkbox" => "icheckbox_line-blue", "data-label" => "Elevator"
                        .form-group
                          %label
                            = f.check_box :fax_service, :class => 'icheck', "data-checkbox" => "icheckbox_line-blue", "data-label" => "Fax Service"
                        .form-group
                          %label
                            = f.check_box :free_airport, :class => 'icheck', "data-checkbox" => "icheckbox_line-blue", "data-label" => "Free Airport Transfers"
                        .form-group
                          %label
                            = f.check_box :free_city, :class => 'icheck', "data-checkbox" => "icheckbox_line-blue", "data-label" => "Free City Maps"
                        .form-group
                          %label
                            = f.check_box :free_internet, :class => 'icheck', "data-checkbox" => "icheckbox_line-blue", "data-label" => "Free Internet Access"
                        .form-group
                          %label
                            = f.check_box :free_parking, :class => 'icheck', "data-checkbox" => "icheckbox_line-blue", "data-label" => "Free Parking"
                        .form-group
                          %label
                            = f.check_box :free_wifi, :class => 'icheck', "data-checkbox" => "icheckbox_line-blue", "data-label" => "Free WiFi"
                        .form-group
                          %label
                            = f.check_box :wifi, :class => 'icheck', "data-checkbox" => "icheckbox_line-blue", "data-label" => "WiFi"
                        .form-group
                          %label
                            = f.check_box :ensuite_room, :class => 'icheck', "data-checkbox" => "icheckbox_line-blue", "data-label" => "Ensuite Room"
                        .form-group
                          %label
                            = f.check_box :triple_room, :class => 'icheck', "data-checkbox" => "icheckbox_line-blue", "data-label" => "Triple Room"
                        .form-group
                          %label
                            = f.check_box :female_dorm, :class => 'icheck', "data-checkbox" => "icheckbox_line-blue", "data-label" => "Female Dorm"
                        .form-group
                          %label
                            = f.check_box :credit_card, :class => 'icheck', "data-checkbox" => "icheckbox_line-blue", "data-label" => "Credit Card"
                        -# end row three
                      .col-md-3
                        .form-group
                          %label
                            = f.check_box :gum, :class => 'icheck', "data-checkbox" => "icheckbox_line-blue", "data-label" => "Gum"
                        .form-group
                          %label
                            = f.check_box :hairdryers, :class => 'icheck', "data-checkbox" => "icheckbox_line-blue", "data-label" => "Hair Dryers"
                        .form-group
                          %label
                            = f.check_box :hot_tub, :class => 'icheck', "data-checkbox" => "icheckbox_line-blue", "data-label" => "Hot Tub"
                        .form-group
                          %label
                            = f.check_box :housekeeping, :class => 'icheck', "data-checkbox" => "icheckbox_line-blue", "data-label" => "Housekeeping"
                        .form-group
                          %label
                            = f.check_box :indoor_swimming, :class => 'icheck', "data-checkbox" => "icheckbox_line-blue", "data-label" => "Indoor Swimming Pool"
                        .form-group
                          %label
                            = f.check_box :internet_access, :class => 'icheck', "data-checkbox" => "icheckbox_line-blue", "data-label" => "Internet Access"
                        .form-group
                          %label
                            = f.check_box :key_card, :class => 'icheck', "data-checkbox" => "icheckbox_line-blue", "data-label" => "Key Card Access"
                        .form-group
                          %label
                            = f.check_box :landry_facilities, :class => 'icheck', "data-checkbox" => "icheckbox_line-blue", "data-label" => "Laundry Facilities"
                        .form-group
                          %label
                            = f.check_box :lounge, :class => 'icheck', "data-checkbox" => "icheckbox_line-blue", "data-label" => "Lounge"
                        .form-group
                          %label
                            = f.check_box :luggage_storage, :class => 'icheck', "data-checkbox" => "icheckbox_line-blue", "data-label" => "Luggage Storage"
                        .form-group
                          %label
                            = f.check_box :meeting_room, :class => 'icheck', "data-checkbox" => "icheckbox_line-blue", "data-label" => "Meeting Room"
                        .form-group
                          %label
                            = f.check_box :mini_bar, :class => 'icheck', "data-checkbox" => "icheckbox_line-blue", "data-label" => "Mini Bar"
                        .form-group
                          %label
                            = f.check_box :mini_supermarket, :class => 'icheck', "data-checkbox" => "icheckbox_line-blue", "data-label" => "Mini Supermarket"
                        .form-group
                          %label
                            = f.check_box :hostels, :class => 'icheck', "data-checkbox" => "icheckbox_line-blue", "data-label" => "Hostels"
                        .form-group
                          %label
                            = f.check_box :single_room, :class => 'icheck', "data-checkbox" => "icheckbox_line-blue", "data-label" => "Single Room"
                        .form-group
                          %label
                            = f.check_box :family_room, :class => 'icheck', "data-checkbox" => "icheckbox_line-blue", "data-label" => "Family Room"
                        .form-group
                          %label
                            = f.check_box :debit_card, :class => 'icheck', "data-checkbox" => "icheckbox_line-blue", "data-label" => "Debit Card"
                        -# end row four
                      .clearfix
                      %h3.block Policies
                      %p Do you have any specific policies?
                      .col-md-3
                        .form-group
                          %label
                            = f.check_box :age_restriction, :class => 'icheck', "data-checkbox" => "icheckbox_line-blue", "data-label" => "Age Restriction"
                        .form-group
                          %label
                            = f.check_box :child_friendly, :class => 'icheck', "data-checkbox" => "icheckbox_line-blue", "data-label" => "Child Friendly"
                        .form-group
                          %label
                            = f.check_box :credit_cards_acc, :class => 'icheck', "data-checkbox" => "icheckbox_line-blue", "data-label" => "Credit Cards Accepted"
                      .col-md-3
                        .form-group
                          %label
                            = f.check_box :credit_card_not, :class => 'icheck', "data-checkbox" => "icheckbox_line-blue", "data-label" => "Credit Cards Not Accepted"
                        .form-group
                          %label
                            = f.check_box :curfew, :class => 'icheck', "data-checkbox" => "icheckbox_line-blue", "data-label" => "Curfew"
                        .form-group
                          %label
                            = f.check_box :lock_out, :class => 'icheck', "data-checkbox" => "icheckbox_line-blue", "data-label" => "Lock Out"
                      .col-md-3
                        .form-group
                          %label
                            = f.check_box :no_curfew, :class => 'icheck', "data-checkbox" => "icheckbox_line-blue", "data-label" => "No Curfew"
                        .form-group
                          %label
                            = f.check_box :non_smoking, :class => 'icheck', "data-checkbox" => "icheckbox_line-blue", "data-label" => "Non Smoking"
                        .form-group
                          %label
                            = f.check_box :pet_friendly, :class => 'icheck', "data-checkbox" => "icheckbox_line-blue", "data-label" => "Pet Friendly"
                      .col-md-3
                        .form-group
                          %label
                            = f.check_box :taxes_included, :class => 'icheck', "data-checkbox" => "icheckbox_line-blue", "data-label" => "Taxes Included"
                        .form-group
                          %label
                            = f.check_box :taxes_not_included, :class => 'icheck', "data-checkbox" => "icheckbox_line-blue", "data-label" => "Taxes Not Included"
                      .clearfix
                    #tab4.tab-pane
                      %h3.block Property Photos
                      %p All images should be in JPEG, GIF or PNG format. We will resize all images to 800 x 600 pixels. Ideally your images should not be any less than 1MB each. Include images that show your property at its very best. Customers are more likely to view your images before reading your property description. Show your best images of bedrooms, bathrooms, common areas, your entrance area, guests having fun and you or the person the traveller is most likely to meet when they check-in. Do not include logos of your property.
                      %br
                      #tab_images_uploader_container.text-align-reverse.margin-bottom-10
                        %a.btn.yellow#btn_new_image
                          %i.fa.fa-plus
                          Add New Photo
                      .col-md-8.col-md-offset-2
                        %table.table.table-hover.table-striped.table-bordered#new_images_path
                          %thead
                            %th #
                            %th Image
                          %tbody
                            - @hotel.photos.each do |photo|
                              %tr
                                %td
                                  %label
                                    = check_box_tag "remove[]", photo.id
                                    Delete? 
                                %td= image_tag(photo.image, :width => "100px")
                      
                      .clearfix
                .form-actions
                  = f.submit "", :class => 'hide', :id => 'submit_hotel'
                  .row
                    .col-md-offset-3.col-md-9
                      %a.btn.default.button-previous{:href => "javascript:;"}
                        %i.m-icon-swapleft
                        Back
                      %a.btn.blue.button-next{:href => "javascript:;"}
                        Continue
                        %i.m-icon-swapright.m-icon-white

                      %a.btn.green.button-submit{:href => "javascript:;"}
                        Submit
                        %i.m-icon-swapright.m-icon-white
    / END PAGE CONTENT INNER
/ END PAGE CONTENT
- content_for :scripts do
  %script{:src => "http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false"}
  = javascript_include_tag "jquery.geocomplete.min"
  :javascript
    $("#hotel_address").geocomplete({
      map: "#map",
      markerOptions: {
        draggable: true
      },
      mapOptions: {
        scrollwheel: true
      },
      details: "#submit_form",
      detailsAttribute: "data-geo",
      location: "#{@hotel.lat}, #{@hotel.lng}"
    });
    $("#hotel_address").bind("geocode:dragged", function(event, latLng){
      $("#hotel_lat").val(latLng.lat());
      $("#hotel_lng").val(latLng.lng());
    });
    

-#
  = form_for [:admin, @city, @hotel], :html => {:multipart => true, name: "form2", "data-validate" => 'parsley', id:"hotel-validation"} do |f|
    
    .sign-up-hotel-block
      .sign-up-hotel-block_inner
        .row
          %dl.large-12.medium-12.small-12.columns.tabs{"data-tab" => ""}
            %h3 Sign up
            %dd.sign-up-hotel-block_inner_pages.active#tab1
              %a.sign-up-hotel-block_inner_number{href: "#page1"}
                1
              .one.hide
                %a.sign-up-hotel-block_inner_number{href: "#page1"}
                  1
              .sign-up-hotel-block_inner_text
                Property & Contact Details
            %dd.sign-up-hotel-block_inner_pages#tab2
              %a.sign-up-hotel-block_inner_number{href: "#page2"}
                2
              .sign-up-hotel-block_inner_text
                Property Information
            %dd.sign-up-hotel-block_inner_pages#tab3
              %a.sign-up-hotel-block_inner_number{href: "#page3"}
                3
              .sign-up-hotel-block_inner_text
                Property Facilities
            %dd.sign-up-hotel-block_inner_pages#tab4
              %a.sign-up-hotel-block_inner_number{href: "#page4"}
                4
              .sign-up-hotel-block_inner_text
                Photos
            %dd.sign-up-hotel-block_inner_pages#tab5
              .sign-up-hotel-block_inner_number= f.submit '5', class: 'button_5'
              .sign-up-hotel-block_inner_text
                Preview & Save
    .content
      .row
        .large-12.medium-12.small-12.columns
          %form
            .tabs-content.sign-up-hotel-content
              - if @hotel.errors.any?
                #error_explanation
                  %h2= "#{pluralize(@hotel.errors.count, "error")} prohibited this hotel from being saved:"
                  %ul
                    - @hotel.errors.full_messages.each do |msg|
                      %li= msg
              -if user_signed_in?
                -if current_user.role == "admin"
                  %br
                  .checkbox-block
                    %label.checkbox
                      = f.check_box :published
                      %span
                    %label.m-r{for: "published", style: "margin-left:5px"} Published 
                  
                    %label.checkbox
                      = f.check_box :deals
                      %span
                    %label.m-r{for: "deals", style: "margin-left:5px"} Deals

                    %label.checkbox
                      = f.check_box :special_payment
                      %span
                    %label{for: "special_payment"} Special Payment(10%)
                - else
                  .hide.checkbox-block
                    %label.checkbox
                      = f.check_box :published, value: false
                      %span
                    %label{for: "published"} Published
              = f.hidden_field :lat, "data-geo" => "lat"
              = f.hidden_field :lng, "data-geo" => "lng"

              #page1.content.active.block1
                %h3 Property Address
                .large-6.medium-6.small-12.columns.padding-block-left
                  %label Address 1: *
                  .address= f.text_field :address, required: "", "data-parsley-group" => 'block1'
                  %label Address 2:
                  = f.text_field :address_two
                  %label State / Province:
                  = f.text_field :state, "data-geo" => "administrative_area_level_1"
                  %label Postcode / Zip code:
                  .postcode
                    = f.text_field :postcode, "data-geo" => "postal_code"
                .large-6.medium-6.small-12.columns.padding-block-right
                  %label Map
                  #maps{style: "height:300px;width:100%"}
                .clear-both
                %h3 Property Details
                .large-6.medium-6.small-12.columns.padding-block-left
                  %label Property Name: *
                  .title= f.text_field :title, required: "", "data-parsley-group" => 'block1'
                  %label Property Type: *
                  .mozfix-select
                    .type= f.select :property_type,  @property_type, required: true, id: 'type', "data-parsley-group" => 'block1'
                .large-6.medium-6.small-12.columns.padding-block-right
                  %label Total number of bedrooms: *
                  .total_number= f.number_field :total_number, id: 'total_number', required: "", "data-parsley-group" => 'block1', "data-parsley-range" =>"[1,10000]", "data-parsley-type" => "integer"
                  %label Number of beds (total ocupancy): *
                  .number_of_beds= f.number_field :number_of_beds, id: 'number_of_beds', required: "", "data-parsley-group" => 'block1', "data-parsley-range" =>"[1,10000]", "data-parsley-type" => "integer"
                  .hide= f.text_field :country, value: "Myanmar", required: "true"
                .clear-both
                %h3 Contact Details
                .large-6.medium-6.small-12.columns.padding-block-left
                  %label Contact Name: *
                  .contact_name= f.text_field :contact_name, required: "", "data-parsley-group" => 'block1'
                  %label Manager Email Address: *
                  .manager_email= f.email_field :manager_email, required: "", id: 'manager_email', "data-parsley-group" => 'block1', "data-parsley-type" => "email"
                  %label Email Address for Bookings: *
                  .bookings_email= f.email_field :bookings_email, required: "", id: 'bookings_email', "data-parsley-group" => 'block1', "data-parsley-type" => "email"
                  %label Website Address:
                  = f.text_field :website_address
                .large-6.medium-6.small-12.columns.padding-block-right
                  %label Currency: *
                  .mozfix-select
                    = f.select :currency, @currency, required: "", "data-parsley-group" => 'block1'
                  %label Language:
                  .mozfix-select
                    = f.select :language, @language
                  %label How did you hear about us:
                  .mozfix-select
                    = f.select :how, @how
                  %label Phone Number: *
                  .phone_number= f.telephone_field :phone_number, required: "", id: 'phone_number', "data-parsley-group" => 'block1', "data-parsley-type" => "number"
                  %p Please include your country code (i.e. 0035314980700).
                .clear-both
                .hr
                %span.hotel-create-continue.button-full-width-yellow{"data-current-block" => '1', "data-next-block" => '2'} continue

              #page2.content.block2
                %h3 Property Information
                .large-6.large-push-6.medium-6.medium-push-6.small-12.columns.padding-block-right
                  %p Use this section to attract the customers’ attention. The content should give a concise description of your property, outlining any special features.  As well as appearing on your own property page, this section will appear on the main city page for your destination so you need to ensure that this section conveys the best bits about your property to ensure that you stand out from your competitors.
                .large-6.large-pull-6.medium-6.medium-pull-6.small-12.columns.padding-block-left
                  %label Property Information: *
                  = f.text_area :content, required: "", id: 'content', "data-parsley-length" => "[150, 300]", "data-parsley-group" => 'block2'
                  %p Remaining: 300 (150 minimum)
                .clear-both
                .hr
                .large-6.large-push-6.medium-6.medium-push-6.small-12.columns.padding-block-right
                  %p Use this section to expand on your introduction. Describe your property, the type of rooms you offer and the services you offer such as a bar, an outdoor terrace or a pool. List the things that make your property different to others. If you offer them, mention things like a free breakfast or WiFi as these are things that travellers look out for. If you host regular events such as pizza nights, walking tours or other events include these details too. If you want to mention current events/specials in your property please include this at the end.  The general information should appear at the top where it is clearly visible. Please use full sentences when describing your property, check spelling and avoid using uppercase and/or bold letters.
                .large-6.large-pull-6.medium-6.medium-pull-6.small-12.columns.padding-block-left
                  %label Description: *
                  = f.text_area :description, required: "", id: 'description', "data-parsley-length" => "[500, 1000]", "data-parsley-group" => 'block2'
                  %p Remaining: 1000 (500 minimum)
                .clear-both
                .hr
                .large-6.large-push-6.medium-6.medium-push-6.small-12.columns.padding-block-right
                  %p Describe your location. Are you located in the city centre, near a beach or in a rural destination? If you are close to any famous landmarks or sights eg the Eiffel Tower mention that too. Describe the district you are located in eg Soho in New York or Camden in London. If your area has a bohemian vibe or is famous for great bars or restaurants include this too. It’s also very important to mention how far you are from the main transport links in your destination.
                .large-6.large-pull-6.medium-6.medium-pull-6.small-12.columns.padding-block-left
                  %label Location / Area: *
                  = f.text_area :location, required: "", id: 'location', "data-parsley-length" => "[200, 500]", "data-parsley-group" => 'block2'
                  %p Remaining: 500 (200 minimum)
                .clear-both
                .hr
                .large-6.large-push-6.medium-6.medium-push-6.small-12.columns.padding-block-right
                  %p The directions are displayed on the Map & directions page on your microsite as well as on the booking confirmation page and in the customers’ confirmation email. It is extremely important to ensure that the directions to your property are as detailed as possible. Please explain clearly how to get to your property from the airport or port by car or by public transport. Provide details on how to get to the property from the nearest train, tram, bus and metro stations. And you should also give walking directions with as much detail as possible.
                .large-6.large-pull-6.medium-6.medium-pull-6.small-12.columns.padding-block-left
                  %label Directions: *
                  = f.text_area :directions, required: "", id: 'directions', "data-parsley-length" => "[150, 300]", "data-parsley-group" => 'block2'
                  %p Remaining: 300 (150 minimum)
                .clear-both
                .hr
                .large-6.large-push-6.medium-6.medium-push-6.small-12.columns.padding-block-right
                  %p This section should be used to mention any special conditions that the customer should be made aware of before they book. Include things like your reception is only open for a limited time each day, your property is not suitable for children or there is an age restriction. Please do not enter your website address or your contact details here.
                .large-6.large-pull-6.medium-6.medium-pull-6.small-12.columns.padding-block-left
                  %label Things to Note & Policies: *
                  = f.text_area :things, required: "", id: 'things', "data-parsley-length" => "[200, 500]", "data-parsley-group" => 'block2'
                  %p Remaining: 500 (200 minimum)
                .clear-both
                .hr
                %span.hotel-create-back.button-full-width-yellow{"data-current-block" => '2', "data-next-block" => '1'} Back
                %span.hotel-create-continue.button-full-width-yellow{"data-current-block" => '2', "data-next-block" => '3'} continue

              #page3.content.block3
                %h3 Property Facilities
                .checkbox-block
                  %label.checkbox
                    = f.check_box :all_property, class: 'all_property'
                    %span
                  %label All Properties 
                .all_checkbox              
                  .checkbox-block
                    %label.checkbox
                      = f.check_box :hour_reception
                      %span
                    = f.label :hour_reception, '24 hour reception'
                  .checkbox-block
                    %label.checkbox
                      = f.check_box :card_phones
                      %span
                    %label{for: "card_phones"} Card Phones
                  .checkbox-block
                    %label.checkbox
                      = f.check_box :gum
                      %span
                    %label{for: "gum"} Gum
                  .checkbox-block
                    %label.checkbox
                      = f.check_box :nightclub
                      %span
                    %label{for: "nightclub"} Nightclub
                  .checkbox-block
                    %label.checkbox
                      = f.check_box :hour_security
                      %span
                    %label{for: "hour_security"} 24 hour security
                  .checkbox-block
                    %label.checkbox
                      = f.check_box :celing_fan
                      %span
                    %label{for: "celing_fan"} Ceiling Fan
                  .checkbox-block
                    %label.checkbox
                      = f.check_box :hairdryers
                      %span
                    %label{for: "hairdryers"} Hair dryers
                  .checkbox-block
                    %label.checkbox
                      = f.check_box :outdoor_swimming
                      %span
                    %label{for: "outdoor_swimming"} Outdoor Swimming Pool
                  .checkbox-block
                    %label.checkbox
                      = f.check_box :adaptors
                      %span
                    %label{for: "adaptors"} Adaptors
                  .checkbox-block
                    %label.checkbox
                      = f.check_box :cots_available
                      %span
                    %label{for: "cots_available"} Cots Available
                  .checkbox-block
                    %label.checkbox
                      = f.check_box :hot_tub
                      %span
                    %label{for: "hot_tub"} Hot Tub
                  .checkbox-block
                    %label.checkbox
                      = f.check_box :outdoor_terrace
                      %span
                    %label{for: "outdoor_terrace"} Outdoor Terrace
                  .checkbox-block
                    %label.checkbox
                      = f.check_box :air_conditioning
                      %span
                    %label{for: "air_conditioning"} Air conditioning
                  .checkbox-block
                    %label.checkbox
                      = f.check_box :currency_exchange
                      %span
                    %label{for: "currency_exchange"} Currency Exchange
                  .checkbox-block
                    %label.checkbox
                      = f.check_box :housekeeping
                      %span
                    %label{for: "housekeeping"} Housekeeping
                  .checkbox-block
                    %label.checkbox
                      = f.check_box :parking
                      %span
                    %label{for: "parking"} Parking
                  .checkbox-block
                    %label.checkbox
                      = f.check_box :airport_transfers
                      %span
                    %label{for: "airport_transfers"} Airport Transfers
                  .checkbox-block
                    %label.checkbox
                      = f.check_box :direct_dial
                      %span
                    %label{for: "direct_dial"} Direct Dial Telephone
                  .checkbox-block
                    %label.checkbox
                      = f.check_box :indoor_swimming
                      %span
                    %label{for: "indoor_swimming"} Indoor Swimming Pool
                  .checkbox-block
                    %label.checkbox
                      = f.check_box :postal_service
                      %span
                    %label{for: "postal_service"} Postal Service
                  .checkbox-block
                    %label.checkbox
                      = f.check_box :atm
                      %span
                    %label{for: "atm"} ATM
                  .checkbox-block
                    %label.checkbox
                      = f.check_box :dvds
                      %span
                    %label{for: "dvds"} DVDs
                  .checkbox-block
                    %label.checkbox
                      = f.check_box :internet_access
                      %span
                    %label{for: "internet_access"} Internet Access
                  .checkbox-block
                    %label.checkbox
                      = f.check_box :reading_light
                      %span
                    %label{for: "reading_light"} Reading Light
                  .checkbox-block
                    %label.checkbox
                      = f.check_box :bar
                      %span
                    %label{for: "bar"} Bar
                  .checkbox-block
                    %label.checkbox
                      = f.check_box :elevator
                      %span
                    %label{for: "elevator"} Elevator
                  .checkbox-block
                    %label.checkbox
                      = f.check_box :key_card
                      %span
                    %label{for: "key_card"} Key card access
                  .checkbox-block
                    %label.checkbox
                      = f.check_box :restaurant
                      %span
                    %label{for: "restaurant"} Restaurant
                  .checkbox-block
                    %label.checkbox
                      = f.check_box :bicucle_hire
                      %span
                    %label{for: "bicucle_hire"} Bicycle Hire
                  .checkbox-block
                    %label.checkbox
                      = f.check_box :fax_service
                      %span
                    %label{for: "fax_service"} Fax Service
                  .checkbox-block
                    %label.checkbox
                      = f.check_box :landry_facilities
                      %span
                    %label{for: "landry_facilities"} Laundry facilities
                  .checkbox-block
                    %label.checkbox
                      = f.check_box :safe_deposit
                      %span
                    %label{for: "safe_deposit"} Safe Deposit Box
                  .checkbox-block
                    %label.checkbox
                      = f.check_box :book_exchenge
                      %span
                    %label{for: "book_exchenge"} Book Exchange
                  .checkbox-block
                    %label.checkbox
                      = f.check_box :free_airport
                      %span
                    %label{for: "free_airport"} Free Airport Transfers
                  .checkbox-block
                    %label.checkbox
                      = f.check_box :lounge
                      %span
                    %label{for: "lounge"} Lounge
                  .checkbox-block
                    %label.checkbox
                      = f.check_box :shuttle_bus
                      %span
                    %label{for: "shuttle_bus"} Shuttle Bus
                  .checkbox-block
                    %label.checkbox
                      = f.check_box :breakfast_include
                      %span
                    %label{for: "breakfast_include"} Breakfast Included
                  .checkbox-block
                    %label.checkbox
                      = f.check_box :free_city
                      %span
                    %label{for: "free_city"} Free City Maps
                  .checkbox-block
                    %label.checkbox
                      = f.check_box :luggage_storage
                      %span
                    %label{for: "luggage_storage"} Luggage Storage
                  .checkbox-block
                    %label.checkbox
                      = f.check_box :swimming_pool
                      %span
                    %label{for: "swimming_pool"} Swimming Pool
                  .checkbox-block
                    %label.checkbox
                      = f.check_box :breakfast_not_include
                      %span
                    %label{for: "breakfast_not_include"} Breakfast Not Included
                  
                  .checkbox-block
                    %label.checkbox
                      = f.check_box :free_internet
                      %span
                    %label{for: "free_internet"} Free Internet Access
                  .checkbox-block
                    %label.checkbox
                      = f.check_box :meeting_room
                      %span
                    %label{for: "meeting_room"} Meeting Room
                  .checkbox-block
                    %label.checkbox
                      = f.check_box :making_facilities
                      %span
                    %label{for: "making_facilities"} Tea & Coffee Making Facilities
                  .checkbox-block
                    %label.checkbox
                      = f.check_box :business_centre
                      %span
                    %label{for: "business_centre"} Business Centre
                  .checkbox-block
                    %label.checkbox
                      = f.check_box :free_parking
                      %span
                    %label{for: "free_parking"} Free Parking
                  .checkbox-block
                    %label.checkbox
                      = f.check_box :mini_bar
                      %span
                    %label{for: "mini_bar"} Mini Bar
                  .checkbox-block
                    %label.checkbox
                      = f.check_box :travel_desk
                      %span
                    %label{for: "travel_desk"} Tours/Travel desk
                  .checkbox-block
                    %label.checkbox
                      = f.check_box :cable_tv
                      %span
                    %label{for: "cable_tv"} Cable TV
                  .checkbox-block
                    %label.checkbox
                      = f.check_box :free_wifi
                      %span
                    %label{for: "free_wifi"} Free WiFi
                  .checkbox-block
                    %label.checkbox
                      = f.check_box :mini_supermarket
                      %span
                    %label{for: "mini_supermarket"} Mini Supermarket
                  .checkbox-block
                    %label.checkbox
                      = f.check_box :vending_mashines
                      %span
                    %label{for: "vending_mashines"} Vending Machines
                  .checkbox-block
                    %label.checkbox
                      = f.check_box :wheelchair_friendly
                      %span
                    %label{for: "wheelchair_friendly"} Wheelchair  Friendly
                  .checkbox-block
                    %label.checkbox
                      = f.check_box :wifi
                      %span
                    %label{for: "wifi"} WiFi
                  
                  .checkbox-block
                    %label.checkbox
                      = f.check_box :hostels
                      %span
                    %label{for: "hostels"} Hostels
                  .checkbox-block
                    %label.checkbox
                      = f.check_box :bed_and_breakfasts
                      %span
                    %label{for: "bed_and_breakfasts"} Bed and Breakfasts
                  .checkbox-block
                    %label.checkbox
                      = f.check_box :hotels
                      %span
                    %label{for: "hotels"} Hotels
                  .checkbox-block
                    %label.checkbox
                      = f.check_box :ensuite_room
                      %span
                    %label{for: "ensuite_room"} Ensuite Room
                  .checkbox-block
                    %label.checkbox
                      = f.check_box :single_room
                      %span
                    %label{for: "single_room"} Single Room
                  .checkbox-block
                    %label.checkbox
                      = f.check_box :twin_room
                      %span
                    %label{for: "twin_room"} Twin Room     
                  .checkbox-block
                    %label.checkbox
                      = f.check_box :double_room
                      %span
                    %label{for: "double_room"} Double Room
                  .checkbox-block
                    %label.checkbox
                      = f.check_box :triple_room
                      %span
                    %label{for: "triple_room"} Triple Room
                  .checkbox-block
                    %label.checkbox
                      = f.check_box :family_room
                      %span
                    %label{for: "family_room"} Family Room
                  .checkbox-block
                    %label.checkbox
                      = f.check_box :mixed_dorm
                      %span
                    %label{for: "mixed_dorm"} Mixed Dorm
                  .checkbox-block
                    %label.checkbox
                      = f.check_box :male_dorm
                      %span
                    %label{for: "male_dorm"} Male Dorm
                  .checkbox-block
                    %label.checkbox
                      = f.check_box :female_dorm
                      %span
                    %label{for: "female_dorm"} Female Dorm
                  .checkbox-block
                    %label.checkbox
                      = f.check_box :breakfast_included
                      %span
                    %label{for: "breakfast_included"} Breakfast Included
                  -#
                    .checkbox-block
                      %label.checkbox
                        = f.check_box :internet_access
                        %span
                      %label{for: "internet_access"} Internet Access
                  .checkbox-block
                    %label.checkbox
                      = f.check_box :luggage_storage
                      %span
                    %label{for: "luggage_storage"} Luggage Storage
                  .checkbox-block
                    %label.checkbox
                      = f.check_box :all_payment
                      %span
                    %label{for: "all_payment"} All Payment
                  .checkbox-block
                    %label.checkbox
                      = f.check_box :credit_card
                      %span
                    %label{for: "credit_card"} Credit Card
                  .checkbox-block
                    %label.checkbox
                      = f.check_box :debit_card
                      %span
                    %label{for: "debit_card"} Debit Card
                  .checkbox-block
                    %label.checkbox
                      = f.check_box :paypal
                      %span
                    %label{for: "paypal"} Paypal
                  .clear-both
                  .hr
                  %h3 Policies
                  %p Do you have any specific policies?
                  .checkbox-block
                    %label.checkbox
                      = f.check_box :age_restriction
                      %span
                    %label{for: "age_restriction"} Age Restriction
                  .checkbox-block
                    %label.checkbox
                      = f.check_box :credit_card_not
                      %span
                    %label{for: "credit_card_not"} Credit Cards Not Accepted
                  .checkbox-block
                    %label.checkbox
                      = f.check_box :no_curfew
                      %span
                    %label{for: "no_curfew"} No Curfew
                  .checkbox-block
                    %label.checkbox
                      = f.check_box :taxes_included
                      %span
                    %label{for: "taxes_included"} Taxes Included
                  .checkbox-block
                    %label.checkbox
                      = f.check_box :child_friendly
                      %span
                    %label{for: "child_friendly"} Child Friendly
                  .checkbox-block
                    %label.checkbox
                      = f.check_box :curfew
                      %span
                    %label{for: "curfew"} Curfew
                  .checkbox-block
                    %label.checkbox
                      = f.check_box :non_smoking
                      %span
                    %label{for: "non_smoking"} Non Smoking
                  .checkbox-block
                    %label.checkbox
                      = f.check_box :taxes_not_included
                      %span
                    %label{for: "taxes_not_included"} Taxes Not Included
                  .checkbox-block
                    %label.checkbox
                      = f.check_box :credit_cards_acc
                      %span
                    %label{for: "credit_cards_acc"} Credit Cards Accepted
                  .checkbox-block
                    %label.checkbox
                      = f.check_box :lock_out
                      %span
                    %label{for: "lock_out"} Lock Out
                  .checkbox-block
                    %label.checkbox
                      = f.check_box :pet_friendly
                      %span
                    %label{for: "pet_friendly"} Pet Friendly
                  .clear-both
                -#
                  %select
                    %option{value: "husker"} Earliest check in
                    %option{value: "starbuck"} 2
                  %select.fix
                    %option{value: "husker"} Latest check in
                    %option{value: "starbuck"} 2
                  .clear-both
                .hr
                %span.hotel-create-back.button-full-width-yellow{"data-current-block" => '3', "data-next-block" => '2'} Back
                %span.hotel-create-continue.button-full-width-yellow{"data-current-block" => '3', "data-next-block" => '4'} continue

              #page4.content.block4
                %h3 Property Photos
                %p All images should be in JPEG, GIF or PNG format. We will resize all images to 800 x 600 pixels. Ideally your images should not be any less than 1MB each. Include images that show your property at its very best. Customers are more likely to view your images before reading your property description. Show your best images of bedrooms, bathrooms, common areas, your entrance area, guests having fun and you or the person the traveller is most likely to meet when they check-in. Do not include logos of your property.
                .hr
                - i = @hotel.photos.length
                - if i < 5
                  .large-6.medium-6.small-12.columns.padding-block-left
                    - for num in i...5
                      .input-file-block
                        .input-file-block_inner
                          = file_field_tag "images[]", type: :file, multiple: true
                          %span.button Upload file
                  .large-6.medium-6.small-12.columns.padding-block-right
                    - for n in 6..10
                      .input-file-block
                        .input-file-block_inner
                          = file_field_tag "images[]", type: :file, multiple: true
                          %span.button Upload file
                  .clear-both
                - if i > 5
                  .large-6.medium-6.small-12.columns.padding-block-left
                    - for num in i...10
                      .input-file-block
                        .input-file-block_inner
                          = file_field_tag "images[]", type: :file, multiple: true
                          %span.button Upload file
                  .clear-both
                -@hotel.photos.each do |image|
                  = image_tag (image.image)
                  .checkbox-block
                    %label.checkbox
                      = check_box_tag 'remove[]', image.id
                      %span
                    %label Delete
                .hr
                %span.hotel-create-back.button-full-width-yellow{"data-current-block" => '4', "data-next-block" => '3'} Back
                -# = f.submit.hotel-create-continue.button-full-width-yellow, value: "Myanmar"
                %span= f.submit 'Preview & Save', class: 'hotel-create-continue button-full-width-yellow paddd'
                -#
                  %h3 Videos
                  %p You can also add video footage of your property to the site.  Use this video to show the customer why they should choose your property. We accept videos from YouTube, Vimeo, Youku and Toudu.  Please note that all videos will be verified by Hostelworld.com before they appear on the site.
                  .large-6.medium-6.small-12.columns.padding-block-left
                    %input{type: "text", placeholder: "Video Location"}
                  .clear-both
                  .hr
                -# %a#page4-continue.button-full-width-yellow continue

  - content_for :scripts do
    %script{:src => "http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false"}
    = javascript_include_tag "jquery.geocomplete.min"
    :javascript
      $("#hotel_address").geocomplete({
        map: "#maps",
        markerOptions: {
          draggable: true
        },
        mapOptions: {
          scrollwheel: true
        },
        details: "#hotel-validation",
        detailsAttribute: "data-geo"
      });
      $("#hotel_address").bind("geocode:dragged", function(event, latLng){
        $("#hotel_lat").val(latLng.lat());
        $("#hotel_lng").val(latLng.lng());
      });