.page-head
  .container
    .page-title
      %h1
        - if @city
          = "All Hotels in #{@city.name}"
        - else
          All Hotels
.page-content
  .container
    %ul.page-breadcrumb.breadcrumb
      %li
        %a{:href => "#"} Home
        %i.fa.fa-circle
      %li
        %a{:href => "layout_blank_page.html"} Features
        %i.fa.fa-circle
      %li.active
        Blank Page Layout
    .row
      .col-md-12.col-sm-12
        / BEGIN REGIONAL STATS PORTLET
        .portlet.light
          .portlet-title
            .caption.caption-md
              %i.icon-bar-chart.theme-font.hide
              %span.caption-subject.theme-font.bold.uppercase List Hotels
            .actions
              .btn-group
                %a.btn.btn-circle.btn-default{:href => "javascript:;", "data-toggle" => "dropdown", "aria-expanded" => "false"}
                  %i.fa.fa-plus
                  %span.hidden-480 New Hotel
                  %ul.dropdown-menu.pull-right
                    - @cities.each do |city|
                      %li
                        = link_to city.name, new_admin_city_hotel_path(city)
          .portlet-body
            %table.table.table-hover
              %thead
                %tr
                  %th #
                  %th Hotel Name
                  %th Published
                  %th Deals
                  %th Rooms
                  %th{:colspan => 3}
              %tbody
                - @hotels.each_with_index do |hotel, index|
                  - index = index + 1
                  %tr
                    %td= index
                    %td= hotel.title
                    - if current_user.role == "admin"
                      %td
                        - if hotel.published
                          - label_class = "label-success"
                        - else
                          - label_class = "label-danger"
                        %span.label-lg.label{:class => label_class}
                          = link_to hotel.published.to_s, admin_city_hotel_published_path(hotel.city, hotel), method: :post, :style => "color: #FFFFFF"
                      %td
                        - if hotel.deals
                          - label_class = "label-success"
                        - else
                          - label_class = "label-danger"
                        %span.label-lg.label{:class => label_class}
                          = link_to hotel.deals.to_s, admin_city_hotel_deals_path(hotel.city, hotel), method: :post, :style => "color: #FFFFFF"
                    - else
                      %td= hotel.published
                      %td= hotel.deals
                    %td
                      = link_to admin_city_hotel_rooms_path(hotel.city, hotel) do 
                        = 'Rooms(' + hotel.rooms.count.to_s + ')'
                    %td= link_to "Show", city_hotel_path(hotel.city, hotel)
                    %td= link_to "Edit", edit_admin_city_hotel_path(hotel.city, hotel)
                    %td= link_to "Delete", admin_city_hotel_path(hotel.city, hotel), :method => :delete, :data => { :confirm => 'Are you sure?' }
    - unless @hotels.blank?
      = render "layouts/map"