.content
  .row
    .large-12.medium-12.columns.margin-from-header.edit-guest
      %h2 Thanks! Your contact was sent.
      .large-8.large-offset-1.large-push-3.medium-8.medium-push-4.small-12.small-push-0.columns.padding-lr-0.edit-guest_right