.content
  .row
    .large-12.medium-12.small-12.columns.margin-from-header
      .large-4.medium-4.small-12.columns.padding-lr-0.contact-us_left
        .contact-us_left_inner
          %h3 Contact Us
          %p
            phone:  +9595408722
            %br email:  info@mmlodging.com
            office hours from: 9:00 am to 6:00 pm 
            %br (+6:30 GMT)
        .contact-us_left_inner
          %h3 Company Info
          %p
            Mmlodging is a product 
            of Birmania Adventures 
            Travels & Tours Co. Ltd 
            %br
            %br Company Registration Number:
            Number 5252 of 2013-2014
            %br
            %br Address : 
            9/11, Shwe Taung Tan Road, 
            Lanmadaw Township, Yangon, 
            Republic of Union of Myanmar
            
      .large-8.medium-8.small-12.columns.padding-lr-0.contact-us_right
        .large-11.medium-12.small-12.columns.padding-lr-0
          .large-12.medium-12.small-12.columns.contact-us_text
            %p
              Should you wish to cancel or amend your booking, please refer to the terms and conditions of your booking and sign in to your account. For other queries, please have a read through our carefully compiled FAQ's before contacting us.
              If you're unable to find the answers you need, please contact our Customer Service team using this form:
          .clear-both
          .contact-us_form-block
            = form_tag('/contacts', :method=>'post', :multipart => true) do
              .large-6.medium-6.small-12.columns
                = text_field_tag "first_name", nil, placeholder: 'First name: *', :required => true
              .large-6.medium-6.small-12.columns
                = text_field_tag "last_name", nil, placeholder: 'Last name: *', :required => true
              .large-.medium-6.small-12.columns
                = text_field_tag "email", nil, placeholder: 'Email Address: *', :required => true,  :pattern => '[^@]+@[^@]+\.[a-zA-Z]{2,6}'
              .large-6.medium-6.small-12.columns
              .large-6.medium-6.small-12.columns
                = text_field_tag "book", nil, placeholder: "Booking reference:"
              .large-6.medium-6.small-12.columns
                = text_field_tag "subject", nil, placeholder: "Subject: *", :required => true 
              .large-12.medium-12.small-12.columns
                = text_area_tag "message", nil, placeholder: "Your Message: *", :required => true 
              .large-12.medium-12.small-12.columns
                = submit_tag 'Submit', class: "button-full-width-yellow"
