.large-12.medium-12.small-12.columns
  %h1 Your Checkout
  %br

  %table{style: "min-width: 960px"}
    %thead
      %th Lodging Name
      %th Special request
      %th Status
      %th Total Price
      %th Created At
      %th

    - @bookings.each do |checkout|
      %tr
        %td= link_to checkout.property.title, property_path(checkout.property)
        %td
          - if checkout.special.empty?
            Empty
          - else
            = checkout.special
        %td= checkout.status
        %td= number_to_currency(checkout.total_cart)
        %td= checkout.created_at.strftime("%a, %b %d %Y")
        %td= link_to "View", dashboard_details_path(checkout)
  = paginate @bookings