.large-12.medium-12.small-12.columns
  %h1 Your Hotels
  %br
  -if @properties.size > 0
    %table{style: "min-width: 960px"}
      %tr
        %th Property Name
        %th Property Type
        %th Price/Night
        %th Published
        %th Deals
        %th{colspan: "3"}
        %th Checkouts


      - @properties.each do |property|
        %tr
          %td= property.title.capitalize
          %td= property.property_type.capitalize
          %td= number_to_currency(property.price)
          %td= check_published(property.published)
          %td= check_deals(property.deals)
          %td= link_to 'View', property_path(property)
          %td= link_to 'Edit', edit_property_path(property)
          %td= link_to 'Delete', property_path(property), :method => :delete, :data => { :confirm => 'Are you sure?' }
          %td= link_to "Checkouts (#{property.checkouts.count.to_s})", dashboard_checkouts_path(property)

  - else
    %p You don't have hotels

  %br
  = link_to "New Hotel", new_property_path, :class => 'button small'
  / %a{"data-reveal-id" => "myModal", href: "#", class: "button"} New Hotel
  %br
    .clear-both
    %hr

  - if !@properties.blank?
    = render partial: 'partial/map'
