=  form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, remote: true }) do |f|
  .large-12.medium-12.small-12.columns
    .alert-box.alert#alert_error{"data-alert" => "", :style => 'display: none;'}
      #content_alert
      %a.close{:href => "#"} &times;
    %h3 Contact Details
    .large-6.medium-6.small-12.columns
      = f.text_field :first_name, value: current_user.first_name, placeholder: "First Name"
      = f.text_field :last_name, value: current_user.last_name, placeholder: "Last Name"
      = f.text_field :email, value: current_user.email, placeholder: "Email"
      = f.select :gender, @genders, {:selected => current_user.gender, :include_blank => "Gender :"}
    .large-6.medium-6.small-12.columns
      = f.text_field :mobile, value: current_user.mobile, placeholder: "Mobile Number"

      -if !current_user.country.blank?
        = f.country_select :country, [current_user.country],{}
      -else
        = f.country_select :country, [], { :include_blank => 'Country of Passport: ' }

      = f.text_field :passport, value: current_user.passport, placeholder: "Passport ID"
  .large-12.medium-12.small-12.columns.padding-lr-0
    - unless current_user.provider?
      %h3 Password
      .large-6.medium-6.small-12.columns.padding-block-left
        = f.password_field :password, :autocomplete => "off", :placeholder => "New Password (leave blank if don't want to change)", :class => 'password'
        = f.password_field :current_password, :required => true, :autocomplete => "off", :placeholder => 'Current Password', :class => 'password'
      .large-6.medium-6.small-12.columns.padding-block-right
        = f.password_field :password_confirmation, :autocomplete => "off", :placeholder => "Password Confirmation", :class => 'password'
  .large-12.medium-12.small-12.columns.padding-lr-0
    .large-6.medium-6.small-12.columns
      = f.submit("Save", :class => "button tiny radius")
      = f.submit("Clear All", :type => "reset", :class => "button tiny radius alert")