.large-12.medium-12.small-12.columns.account-page_bookings_block
  -if @comments.size > 0
    -@comments.each do |comment|
      .large-3.medium-3.small-5.columns.account-page_bookings_block_left
        = link_to image_tag(comment.property.photos.first.image), property_path(comment.property)
      .large-9.medium-9.small-7.columns.padding-lr-0.account-page_bookings_block_right
        .large-12.medium-12.small-12.columns.padding-lr-0
          .account-page_bookings_block_right_header
            %h3= link_to comment.property.title, property_path(comment.property)
            %p{:style => "float: left"} You Rate:
            %div{style: "width: 100px; margin: 3px 0 0px 8px; float:left"}
              .rating_star{"data-rating" => comment.property.rating}
        .large-12.medium-12.small-12.columns.padding-lr-0
          .large-7.medium-7.small-12.columns.padding-lr-0.account-page_bookings_block_right_text-block
            %p
              = comment.property.address
              %br
              = 'Tel: ' + comment.property.phone.to_s
      .large-9.medium-9.small-7.columns.padding-lr-0.account-page_bookings_block_right.second
        .large-12.medium-12.small-12.columns.padding-lr-0.second_text
          = comment.content
          
          %p.date 
            = comment.created_at.strftime("%d %b %Y")
      .clear-both
      .hr
  -else
    %p You haven't got any reviews yet