- meta title: "Change Booking"
.content
	.row
		.large-12.medium-12.small-12.columns.margin-from-header.padding-lr-0
			%h4 Change Date & No of Rooms
			%hr
			- if flash[:notice]
				.alert-box.info.radius{"data-alert" => true}
					= flash[:notice]
					%a{:href => "",  :class => "close"} &times;
			.large-4.columns
				%dl
					%dt No of Rooms
					%dd= pluralize(@checkout.no_room, "room")

					%dt Check In
					%dd= @checkout.check_in.strftime("%A, %B %d %Y")

					%dt Check Out
					%dd= @checkout.check_out.strftime("%A, %B %d %Y")

					%dt Free Change Date
					%dd
						- if @checkout.room.cancellation.eql?("Flexible")
							= (@checkout.check_in - 3.day).strftime("%A, %B %d %Y")
						- elsif @checkout.room.cancellation.eql?("Moderate")
							= (@checkout.check_in - 7.day).strftime("%A, %B %d %Y")
						- else
							= (@checkout.check_in - 14.day).strftime("%A, %B %d %Y")
			.large-8.columns
				%dl.tabs{"data-tab" => ""}
					%dd.active
						%a{:href => '#change_date'} Change Date
					%dd
						%a{:href => '#move_date'} Move Date
					%dd
						%a{:href => '#no_room'} Change No of Rooms
					%dd
						%a{:href => '#change_hotel'} Change Hotel
				.tabs-content
					#change_date.content.active
						.large-6
							= form_tag dashboard_change_date_update_path, :method => :post, :remote => true do
								= hidden_field_tag :type, "change_date"
								%label Check In
								= text_field_tag :check_in, @checkout.check_in.strftime("%d/%m/%Y"), :class => 'check_in', :id => "check_in_change"
								%label Check Out
								= text_field_tag :check_out, @checkout.check_out.strftime("%d/%m/%Y"), :class => 'check_out', :id => 'check_out_change'
								= submit_tag "Change Date", :class => 'button expand radius small', :id => "btn_change_date", "data-confirm" => "Are you sure?"
					#move_date.content
						.large-6
							= form_tag dashboard_change_date_update_path, :method => :post, :remote => true do
								= hidden_field_tag :type, "move_date"
								= hidden_field_tag :check_out, @checkout.check_out.strftime("%d/%m/%Y")

								%label Check In
								= text_field_tag :check_in, @checkout.check_in.strftime("%d/%m/%Y"), :class => 'check_in', :id => "check_in_move"
								%label Check Out
								= text_field_tag :check_out_move, @checkout.check_out.strftime("%d/%m/%Y"), :disabled => true, :id => 'check_out_move'
								= submit_tag "Move Date", :class => 'button expand radius small', :id => 'btn_change_move', "data-confirm" => "Are you sure?"
					#no_room.content
						.large-4
							= form_tag dashboard_change_date_update_path, :method => :post, :remote => true do
								= hidden_field_tag :type, "no_room"
								%label
									Your Current Rooms is
									= pluralize(@checkout.no_room, "room")
								%label No of Rooms
								- if @no_rooms.zero?
									= select_tag "", options_for_select([]), :prompt => "Empty"
								- else
									= select_tag :no_room, options_for_select(Array(1..@no_rooms))
								= submit_tag "Change No of Rooms", :class => 'button expand radius small', "data-confirm" => "Are you sure?"
					#change_hotel.content
						%p If you want to change the hotel, you should cancel this booking then you can booking other hotel.
						= link_to "Cancel Booking", dashboard_confirm_cancel_path(@checkout), :class => 'button small radius'

		%hr 
		= link_to "Back", dashboard_details_path, :class => 'button small radius'
#payment.reveal-modal.small{"data-reveal" => true}
	= form_tag dashboard_payment_path, :method => :post, "data-parsley-validate" => true, :id => 'checkout_form' do
		= hidden_field_tag :type_change, "change_date"
		= hidden_field_tag :pay_type, "paypal"

		%dl.center.tabs{"data-tab" => ""}
			%dd.active
				%a{:href => '#paypal_change', :id => "paypal"} PayPal
			%dd
				%a{:href => '#credit_card_change', :id => 'credit_card'} Credit Card
		.tabs-content
			.detail_pay
				%label
					Before change
					= number_to_currency(@checkout.total_cart)
				%label
					After Change
					%span.amount
					%span.charge
				%label
					You should pay
					%strong
						%span.remaining_amount 
					for change
			.move_date_pay
				%label
					You should pay
					%span.remaining_amount
			#paypal_change.content.active
				= button_tag "", :class => 'button-paypal', :id => "paypal_button"
			#credit_card_change.content
				.row
					%label.large-4.columns First Name
					.large-8.columns
						= text_field_tag :first_name, "", :class => 'input-require'
				.row
					%label.large-4.columns Last Name
					.large-8.columns
						= text_field_tag :last_name, "", :class => 'input-require'
				.row
					%label.large-4.columns Card Number
					.large-8.columns
						= text_field_tag :number, "", :class => 'input-require', :id => 'card_number'
				.row
					%label.large-4.columns CVV Number
					.large-8.columns
						= text_field_tag :verification_value, "", :placeholder => "CVV Number", :class => 'input-require', :id => 'card_verification_value'
				.row
					.large-4.columns
						%label Expired Card
					.large-4.columns
						= select_tag :month, options_for_select(Array(1..12))
					.large-4.columns
						= select_tag :year, options_for_select(Array(Date.today.year..(Date.today.year + 12)))
				= submit_tag "Continue", :class => 'button small expand'
	= link_to "", :class => "close-reveal-modal" do
		&#215;



- content_for :scripts do
	:javascript

		$(function(){
			var dateToday = new Date();
			$(".check_out, .check_in").datepicker({
				dateFormat: "dd/mm/yy",
				minDate: dateToday,
				/*
				beforeShowDay: function(date){
					var string = jQuery.datepicker.formatDate('dd/mm/yy', date);
					return [ array.indexOf(string) == -1];
				},
				*/
				onSelect: function(selectedDate, obj){
					if((obj.id == "check_in_change") || (obj.id == "check_in_move")){
						date = moment(selectedDate, "DD/MM/YYYY");
						check_out = date.add(#{@range}, 'days').format("DD/MM/YYYY");

						if(obj.id == "check_in_change"){
							check_in = $("#check_in_change").val();
							$("#check_out_change").val(check_out)
						}
						if(obj.id == "check_in_move"){
							check_in = $("#check_in_move").val();
							$("#check_out").val(check_out);
							$("#check_out_move").val(check_out);
						}
						
					}

					if(obj.id == "check_out_change"){
						check_in = $("#check_in_change").val();
						check_out = moment(selectedDate, "DD/MM/YYYY").format("DD/MM/YYYY");
					}

					
					$.ajax({
						url: "#{dashboard_check_available_path(@checkout)}",
						type: "get",
						dataType: "json",
						data: {from: check_in, to: check_out},
						success: function(data){
							if(!data.available){
								alert("Room Not Available");

								if(obj.id == "check_in_change"){
									$("#btn_change_date").attr("disabled", true);
								}
								if(obj.id == "check_in_move"){
									$("#btn_change_move").attr("disabled", true);	
								}
							}else{
								$("#btn_change_date").removeAttr("disabled");
								$("#btn_change_move").removeAttr("disabled");
							}
						}
					});
					
				}
			});
		});

		$(".check_out, .check_in").keydown(function(event){
			if(event.keyCode != 9){
				return false;
			}
		});

		$('#paypal').click(function(){
			$('#pay_type').val('paypal');
		});	

		$('#credit_card').click(function(){
			$('#pay_type').val('card');
		});

		$(".check_out, .check_in").click(function(){
			var height = $(this).outerHeight();
			var left = $(this).offset().left;
			var top = $(this).offset().top + height;
			$("#ui-datepicker-div").css({"left": left, "top": top});
		});

		$( ".datepicker-center" ).click(function() {
			var height = $(this).outerHeight();
			var width =  $("#ui-datepicker-div").width()/2 - $(this).width()/2;
			var left = $(this).offset().left - width+8;
			var top = $(this).offset().top + height;
			$("#ui-datepicker-div").css({"left": left, "top": top});
		});

		$.extend($.datepicker,{_checkOffset:function(inst,offset,isFixed){return offset}});

		/*

		$(function(){
			var array = ["20/02/2015"];
			$("#from, #to").datepicker({
				beforeShowDay: function(date){
					console.log(date);
					var string = jQuery.datepicker.formatDate('dd/mm/yy', date);
					return [ array.indexOf(string) == -1];
				}
			});
		});
		*/