<% if session[:params][:type].eql?("no_room") %>
	<% if session[:params][:way].eql?("decrease") %>
		window.location = "<%= dashboard_details_url(@checkout) %>";
	<% else %>
		$('#type_change').val("no_room");
		$('.amount').html("<%= number_to_currency(@total) %>");
		$('.remaining_amount').html("<%= number_to_currency(session[:params][:amount]) %>");
		$('.detail_pay').show();
		$('.move_date_pay').hide();
		$("#payment").foundation('reveal', 'open');
	<% end %>
<% elsif session[:params][:type].eql?("move_date") %>
	<% if @checkout.free_change? %>
		window.location = "<%= dashboard_details_url(@checkout) %>";
	<% else %>
		$('#type_change').val("move_date");
		$('.remaining_amount').html("<strong><%= number_to_currency(session[:params][:amount]) %></strong> for charge first night");
		$('.detail_pay').hide();
		$('.move_date_pay').show();
		$("#payment").foundation('reveal', 'open');
	<% end %>
<% elsif session[:params][:type].eql?("change_date") %>
	<% if session[:params][:way].eql?("free_increase") || session[:params][:way].eql?("charge_increase") %>
		$('#type_change').val("change_date");
		$('.amount').html("<%= number_to_currency(@total) %>");
		<% if session[:params][:way].eql?("charge_increase") %>
			$('.charge').html("<strong> + <%= number_to_currency(@checkout.per_night) %></strong> = <%= number_to_currency(@total + @checkout.per_night) %>")
		<% end %>
		$('.remaining_amount').html("<%= number_to_currency(session[:params][:amount]) %>");
		$('.detail_pay').show();
		$('.move_date_pay').hide();
		$("#payment").foundation('reveal', 'open');
	<% elsif session[:params][:way].eql?("free_decrease") || session[:params][:way].eql?("charge_decrease") || session[:params][:way].eql?("free_change") %>
		window.location = "<%= dashboard_details_url(@checkout) %>";
	<% elsif session[:params][:way].eql?("charge") %>
		$('#type_change').val("change_date");
		$('.remaining_amount').html("<strong><%= number_to_currency(session[:params][:amount]) %></strong> for charge first night");
		$('.detail_pay').hide();
		$('.move_date_pay').show();
		$("#payment").foundation('reveal', 'open');
	<% end %>
<% end %>