.content
  .row
    .large-12.medium-12.small-12.columns.margin-from-header
      %h1= "All checkouts for #{@property.title}"
      %br
      -if @checkouts.size > 0
        %table{style: "min-width: 960px"}
          %tr
            %th #
            %th User Name
            %th Total Price
            %th Guest
            %th Created At
            %th Check In
            %th Check Out
            %th 

          - @checkouts.each_with_index do |checkout, index|
            %tr
              %td= index + 1
              %td= checkout.user.first_name + " " + checkout.user.last_name
              %td= number_to_currency(checkout.general_price)
              %td= pluralize(checkout.guest, "person")
              %td= checkout.created_at.to_date.strftime("%a, %b %d %Y")
              %td= checkout.check_in.to_date.strftime("%a, %b %d %Y")
              %td= checkout.check_out.to_date.strftime("%a, %b %d %Y")
              %td= link_to "View", dashboard_checkout_detail_path(@property,checkout)
              

      - else
        %p You don't have hotels in this city
      %br
      .clear-both
      %hr
      = link_to 'Back', dashboard_root_path, :class => 'button small'