- meta title: "Detail Booking"
.content
  .row
    .large-12.medium-12.small-12.columns.margin-from-header
      %h1= "Detail Checkout for #{@property.title}"
      .large-6.medium-6.small-12.columns.padding-block-left
        %h4 Detail User
        %hr
        %p
          %b First Name:
          = @checkout.first_name
        %p
          %b Last Name:
          = @checkout.last_name
        %p
          %b Email:
          = @checkout.email_id
        %p
          %b Gender:
          = @checkout.gender
        %p
          %b Birthday:
          = @checkout.birth.to_date.strftime("%a, %b %d %Y")
        %p
          %b Special:
          = @checkout.special
        %p
          %b Address:
          = @checkout.address
        %p
          %b Country:
          = @checkout.country

        %p
          %b Postal Code:
          = @checkout.postal_code
        %p
          %b Mobile:
          = @checkout.mobile
        %p
          %b Passport:
          = @checkout.passport
        
      .large-6.medium-6.small-12.columns.padding-block-right
        %h4 Check In & Check Out
        %hr
        %p
          %b Check In:
          = @checkout.check_in.to_date.strftime("%a, %b %d %Y")
        %p
          %b Check Out:
          = @checkout.check_out.to_date.strftime("%a, %b %d %Y")
        %p
          %b Created At:
          = @checkout.created_at.to_date.strftime("%a, %b %d %Y")
        %h4 Detail Booking
        %hr
        %p
          %b Payment:
          = @checkout.payment
        %p
          %b Nights:
          = @checkout.nights
        %p
          %b Price:
          = number_to_currency(@checkout.general_price)
        %p
          %b Guest:
          = pluralize(@checkout.guest, "person")
        %p
          %b Billing Address:
          = @checkout.address
      %br
      .clear-both
      .large-12.medium-12.small-12.columns
        %h4 Detail Hotel & Rooms
        %hr
        %p
          %b Hotel Name:
          = @property.title
        %p
          %b Hotel Address:
          = @property.address
        %table{:style => "min-width: 940px"}
          %thead
            %th Property Name
            %th Property Type
            %th Guest
            %th Price/Night
            %th Nights
            %th Prices
          %tbody
            %tr
              %td= @property.title
              %td= @property.property_type
              %td= pluralize(@checkout.guest, "person")
              %td= number_to_currency(@property.price)
              %td= pluralize(@checkout.nights, "night")
              %td= number_to_currency(@checkout.general_price)
            %tr
              %td{:colspan => 4}
              %td Total Price
              %td= number_to_currency(@checkout.general_price)


      %hr
      = link_to 'Back', dashboard_checkouts_path, :class => 'button small'