- meta title: "Cancel Booking"
.content
	.row
		.large-12.medium-12.small-12.columns.margin-from-header.padding-lr-0
			%h4 Detail Cancellation
			- if flash[:notice]
				.alert-box.info.radius{"data-alert" => true}
					= flash[:notice]
					%a{:href => "",  :class => "close"} &times;
			%hr
			.large-6.columns
				%table
					%tr
						%td
							%strong Lodging Name
						%td= ": #{@property.title}"
					%tr
						%td
							%strong Room Name
						%td= ": #{@room.title}"
					%tr
						%td
							%strong Cancellation Type
						%td= ": #{@property.cancellation}"
					%tr
						%td
							%strong Full Refund Until (except Service fee)
						%td
							= ": "
							- if @checkout.room.cancellation.eql?("Flexible")
								= (@checkout.check_in - 3.day).strftime("%a, %B %d %Y")
							- elsif @checkout.room.cancellation.eql?("Moderate")
								= (@checkout.check_in - 7.day).strftime("%a, %B %d %Y")
							- else
								= (@checkout.check_in - 14.day).strftime("%a, %B %d %Y")
					%tr
						%td
							%strong Price per Night
						%td= ": #{number_to_currency(@checkout.per_night)}"
					%tr
						%td
							%strong Max Guests
						%td= ": #{pluralize(@property.guests, "guest")}"
			.large-6.columns
				%table
					%tr
						%td
							%strong Check In
						%td= ": #{@checkout.check_in.strftime("%a, %B %d %Y")}"
					%tr
						%td
							%strong Check Out
						%td= ": #{@checkout.check_out.strftime("%a, %B %d %Y")}"
					%tr
						%td
							%strong Total Price
						%td= ": #{number_to_currency(@checkout.total_cart)}"
					%tr
						%td
							%strong Service Fee
						%td= ": #{number_to_currency(@checkout.service)}"
					%tr
						%td
							%strong Government Tax
						%td= ": #{number_to_currency(@checkout.government)}"
				%p
					%strong Range Days : 
					= pluralize(@range, "day")
				%p
					%strong Total Refund : 
					= number_to_currency(@refund)

			


			%hr
			= link_to "Back", dashboard_details_path, :class => 'button radius small'
			= link_to "Cancel this Booking", dashboard_cancel_path(@checkout), :class => 'button radius small alert', method: :post, "data-confirm" => "Are you sure?"