- meta title: "Detail Booking"
.content
  .row
    .large-12.medium-12.small-12.columns.margin-from-header.padding-lr-0
      %h4 Detail Checkout
      %hr
      - if flash[:notice]
        .alert-box.info.radius{"data-alert" => true}
          = flash[:notice]
          %a{:href => "",  :class => "close"} &times;
      %ul.no-bullet
        %li
          %p
            Pay Type : 
            = @checkout.pay_type
        %li
          %p
            Created At : 
            = @checkout.created_at.to_date.strftime("%a, %b %d %Y")
        %li
          %p
            Booking ID : 
            = @checkout.booking_id
        %li
          %p
            Status : 
            - if @checkout.status.eql?("Confirmed")
              %label.label.success
                = @checkout.status
            - elsif @checkout.status.eql?("Not Confirm")
              %label.label.alert
                = @checkout.status
            - else
              %label.label
                = @checkout.status

      %table{:style => "width: 100%"}
        %thead
          %th Room Type
          %th Check In
          %th Check Out
          %th Price/Night
          %th Nights
          %th No.Room
          %th Total Price
        %tbody
          %tr
            %td= @checkout.room.title
            %td= @checkout.check_in.to_date.strftime("%a, %b %d %Y")
            %td= @checkout.check_out.to_date.strftime("%a, %b %d %Y")
            %td.text-right= number_to_currency(@checkout.per_night)
            %td= pluralize(@checkout.nights, "night")
            %td= pluralize(@checkout.no_room, "room")
            %td.text-right= number_to_currency(@checkout.total_price)
          %tr
            %td{:colspan => '4'}
            %td{:colspan => '2'} Government Tax
            %td.text-right= number_to_currency(@checkout.government)
          %tr
            %td{:colspan => '4'}
            %td{:colspan => '2'} Service Fee
            %td.text-right= number_to_currency(@checkout.service)
          %tr
            %td{:colspan => '4'}
            %td{:colspan => '2'} Total Price
            %td.text-right= number_to_currency(@checkout.total_cart)

                

      %hr
      = link_to 'Back', dashboard_root_path, :class => 'button small radius'
      - if @checkout.check_in > Date.today && !@checkout.status.eql?("Refunded")
        - if @checkout.status.eql?("Confirmed")
          = link_to('Cancel', dashboard_confirm_cancel_path, :class => 'button small radius')
        - if !@checkout.status.eql?("Changed")
          = link_to "Change", dashboard_change_date_path(@checkout), :class => 'button radius small'
#update_booking.small.reveal-modal{"data-reveal" => ""}
  %form
    %h1 Change date booking
    .row
      %input{type: "text"}
  %a.close-reveal-modal ×
