- meta title: "Dashboard"
.row
  .large-12.medium-12.small-12.columns.margin-from-header
    .large-12.medium-12.small-12.columns.padding-lr-0
      %dl.tabs.sub-nav{"data-tab" => ""}
        %dd.active
          %a{href: "#bookings"} Bookings
        %dd
          %a{href: "#reviews"} Reviews
        %dd
          %a{href: "#profile"} Personal Details
  .tabs-content
    #bookings.content.active
      - if @bookings.blank?
        .large-12.medium-12.small-12.columns.account-page_bookings_block
          %p You haven't got any bookings yet       
      - else
        = render "bookings"
      
    #reviews.content
      = render "reviews"
    #profile.content
      = render "profile"