= form_for [:admin, @city], :html => {:id => "form-city"} do |f|
  .col-md-6.col-sm-6
    .portlet.light
      .portlet-title
        .caption.caption-md
          %i.icon-bar-chart.theme-font.hide
          %span.caption-subject.theme-font.bold.uppercase Detail City
      .portlet-body
        - if @city.errors.any?
          #error_explanation
            %h2= "#{pluralize(@city.errors.count, "error")} prohibited this city from being saved:"
            %ul
              - @city.errors.full_messages.each do |msg|
                %li= msg
        = f.hidden_field :lat, "data-geo" => "lat"
        = f.hidden_field :lng, "data-geo" => "lng"
        = f.hidden_field :country, "data-geo" => "country"

        .form-group
          = f.label :address, :class => 'control-label'
          = f.text_field :address, :class => 'form-control'
        .form-group
          = f.label :name, :class => 'control-label'
          = f.text_field :name, required: "true", "data-geo" => "name", :class => 'form-control'
        .hide.form-group
          = f.label :country, :class => 'control-label'
          = f.text_field :country, value: "Myanmar", required: "true", :class => 'form-control'
        .form-group
          = f.label :state, :class => 'control-label'
          = f.text_field :state, "data-geo" => "administrative_area_level_1", :class => 'form-control'
        .form-group
          = f.label :town, :class => 'control-label'
          = f.text_field :town, "data-geo" => "locality", :class => 'form-control'
        .form-group
          = f.label :density, :class => 'control-label'
          = f.text_field :density, :class => 'form-control'
        .form-group
          = f.label :ethnicities, :class => 'control-label'
          = f.text_field :ethnicities, :class => 'form-control'
        .form-group
          = f.label :religions, :class => 'control-label'
          = f.text_field :religions, :class => 'form-control'
        .form-group
          = f.label :total, :class => 'control-label'
          = f.text_field :total, :class => 'form-control'
        .form-group
          = f.label :cityimg, "Image"
          %br
          .fileinput.fileinput-new{"data-provides" => "fileinput"}
            .input-group.input-large
              .form-control.uneditable-input.span3{"data-trigger" => "fileinput"}
                %i.fa.fa-file.fileinput-exists>
                \&nbsp;
                %span.fileinput-filename
              %span.input-group-addon.btn.default.btn-file
                %span.fileinput-new Select file
                %span.fileinput-exists Change
                = f.file_field :cityimg
              %a.input-group-addon.btn.red.fileinput-exists{"data-dismiss" => "fileinput", :href => "javascript:;"} Remove
  .col-md-6.col-sm-6
    / BEGIN REGIONAL STATS PORTLET
    .portlet.light
      .portlet-title
        .caption.caption-md
          %i.icon-bar-chart.theme-font.hide
          %span.caption-subject.theme-font.bold.uppercase Description City
      .portlet-body
        = f.text_area :description, :class => 'form-control', :rows => '6'
    .portlet.light
      .portlet-title
        .caption.caption-md
          %i.icon-bar-chart.theme-font.hide
          %span.caption-subject.theme-font.bold.uppercase Map City
      .portlet-body
        #maps{style: "height:330px"}
    .portlet.light
      .portlet-body
        = link_to "Back", admin_root_path, :class => 'btn green'
        = f.submit "Save", :class => 'btn green'

- content_for :scripts do
  %script{:src => "http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false"}
  = javascript_include_tag "jquery.geocomplete.min"
  - if params[:action].eql?("new")
    :javascript
      $("#city_address").geocomplete({
        map: "#maps",
        details: "#form-city",
        detailsAttribute: "data-geo",
        location: "21.913965, 95.95622300000002",
        markerOptions: {
          draggable: true
        },
        mapOptions: {
          scrollwheel: true
        },
        maxZoom: 14
      });

      $("#city_address").bind("geocode:dragged", function(event, latLng){
        $("#city_lat").val(latLng.lat());
        $("#city_lng").val(latLng.lng());
      });
  - else
    :javascript
      $("#city_address").geocomplete({
        map: "#maps",
        details: "#form-city",
        location: "#{@city.lat}, #{@city.lng}",
        markerOptions: {
          draggable: true
        },
        mapOptions: {
          scrollwheel: true
        },
        maxZoom: 14
      });
      $("#city_address").bind("geocode:dragged", function(event, latLng){
        $("#city_lat").val(latLng.lat());
        $("#city_lng").val(latLng.lng());
      });