- meta title: "Edit #{@city.name}"
.page-head
  .container
    .page-title
      %h1= "Edit City #{@city.name}"
.page-content
  .container
    - breadcrumb :edit_city, @city
    = render("layouts/breadcrumbs")
    .row= render "form"