- meta title: "Manage Cities"
.page-head
  .container
    .page-title
      %h1 All Cities
.page-content
  .container
    - breadcrumb :cities
    = render("layouts/breadcrumbs")
    .row
      .col-md-12.col-sm-12
        .portlet.light
          .portlet-title
            .caption.caption-md
              %i.icon-bar-chart.theme-font.hide
              %span.caption-subject.theme-font.bold.uppercase Cities
            .actions
              = link_to new_admin_city_path, :class => "btn btn-circle btn-default" do
                %i.fa.fa-plus
                %span.hidden-480 New City
          .portlet-body
            %table.table.table-hover
              %thead
                %tr
                  %th #
                  %th City Name
                  %th{:colspan => 5}
              %tbody
                - @cities.each_with_index do |city, index|
                  - index = index + 1
                  %tr
                    %td= index
                    %td= city.name
                    %td= link_to "Show", admin_city_path(city), :class => 'btn btn-success btn-sm'
                    %td= link_to "Edit", edit_admin_city_path(city), :class => 'btn btn-info btn-sm'
                    %td= link_to "Delete", admin_city_path(city), :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => 'btn btn-danger btn-sm'
                    %td
                      = link_to admin_city_places_path(city), :class => 'btn btn-info btn-sm' do
                        = "Places (#{city.places.count})"
                    %td
                      = link_to admin_city_properties_path(city), :class => 'btn btn-info btn-sm' do
                        = "Properties (#{city.properties.with_user(current_user.id).count})"
    - unless @cities.blank?
      = render "layouts/map"