- meta title: @city.name
.page-head
  .container
    .page-title
      %h1= @city.name
.page-content
  .container
    - breadcrumb :city, @city
    = render("layouts/breadcrumbs")
    .row
      .col-md-8.col-md-offset-2
        .portlet.light
          .portlet-title
            .caption.caption-md
              %i.icon-bar-chart.theme-font.hide
              %span.caption-subject.theme-font.bold.uppercase= "Detail #{@city.name}"
          .portlet-body
            %table.table
              %tr
                %td
                  %strong City Name
                %td= @city.name
              %tr
                %td
                  %strong Address
                %td= @city.address
              %tr
                %td
                  %strong Country
                %td= @city.country
              %tr
                %td
                  %strong State
                %td= @city.state
              %tr
                %td
                  %strong Town
                %td= @city.town
              %tr
                %td
                  %strong Density
                %td= @city.density
              %tr
                %td
                  %strong Ethnicities
                %td= @city.ethnicities
              %tr
                %td
                  %strong Religions
                %td= @city.religions
              %tr
                %td
                  %strong Total
                %td= @city.total
              %tr
                %td
                  %strong Description
                %td
                  %p= @city.description
            .row
              .col-md-6
                = link_to "Edit", edit_admin_city_path(@city), :class => 'btn btn-success btn-block'
              .col-md-6
                = link_to "Back", admin_cities_path, :class => 'btn btn-primary btn-block'
            .clearfix