.content
  .row.display
    .large-12.medium-12.small-12.columns.margin-from-header
      .small-9.small-centered.columns
        .large-6.medium-6.small-12.columns.padding-block-left
          %h3 Login with Email
          %hr
          = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
            %div
              = f.email_field :email, autofocus: true, placeholder: "Email"
            %div
              = f.password_field :password, autocomplete: "off", placeholder: "Password"
            %div= f.submit "Sign in", class: 'button expand'
            = link_to "I don't have account", new_registration_path(resource_name), style: "float: left"
            = link_to "Forgot your password?", new_password_path(resource_name), style: "float: right"
        .large-6.medium-6.small-12.columns.padding-block-right
          %h3 Login with Social
          %hr
          - if devise_mapping.omniauthable?
            - resource_class.omniauth_providers.each do |provider|
              = link_to "", omniauth_authorize_path(resource_name, provider), :id => "btn-#{provider.to_s}", :style => "float: right"