= form_for @about do |f|
  - if @about.errors.any?
    #error_explanation
      %h2= "#{pluralize(@about.errors.count, "error")} prohibited this about from being saved:"
      %ul
        - @about.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :column_1
    = f.text_area :column_1, required: "true", :class => "redactor"
  .field
    = f.label :column_2
    = f.text_area :column_2, required: "true", :class => "redactor"
  .field
    = f.label :column_3
    = f.text_area :column_3, required: "true", :class => "redactor"
  %br
  .actions
    = f.submit 'Save', class: "button disabled"
