.content
  .row
    .large-12.medium-12.small-12.columns.margin-from-header
      - if @abouts_count.count > 0
        .large-4.medium-4.small-12.columns.padding-lr-0.contact-us_left
          .contact-us_left_inner
            = simple_format(@abouts.column_1)
          .contact-us_left_inner
            = simple_format(@abouts.column_2)
        .large-8.medium-8.small-12.columns.about-us_right
          .about-us_inner-block
            = simple_format(@abouts.column_3)
        -if user_signed_in?
          -if current_user.has_role?(:admin)
            -if @abouts_count.count > 0
              .clear-both
              %hr
              %td= link_to 'Edit', edit_about_path(@abouts)
              %td= link_to 'Destroy', @abouts, :method => :delete, :data => { :confirm => 'Are you sure?' }
      - else
        -if user_signed_in?
          -if current_user.has_role?(:admin)
            %p Now information is unavailable, but you can fill it.
            %br= link_to 'Fill Abouts', new_about_path
          - else 
            %p Now information is unavailable
        - else 
          %p Now information is unavailable