%p#notice= notice


%p
  %b Column 1:
  = simple_format(@about.column_1)
%p
  %b Column 2:
  = simple_format(@about.column_2)
%p
  %b Column 3:
  = simple_format(@about.column_3)

= link_to 'Edit', edit_about_path(@about)
\|
= link_to 'Back', abouts_path
