.content
  .row
    .large-8.medium-8.small-12.columns.margin-from-header
      = form_tag(checkouts_path, method: :post, "data-parsley-validate" => true, :id => "checkout_form") do
        = hidden_field_tag "checkout[pay_type]", "card", :id => 'pay_type'
        %h1 Your Details:
        .large-10.columns
          %label First Name:
          - if current_user
            = text_field_tag "checkout[first_name]", current_user ? (current_user.first_name || "") : session[:profile][:first_name] , :placeholder => "First Name", :required => true
            %label Last Name:
            = text_field_tag "checkout[last_name]", current_user ? (current_user.last_name || "") : session[:profile][:last_name], :placeholder => "Last Name", :required => true
            %label E-mail:
            = text_field_tag "checkout[email_id]", current_user ? (current_user.email || "" ) : session[:profile][:email_id], :placeholder => "Email"
          - else
            = text_field_tag "checkout[first_name]", (session[:profile][:first_name] if session[:profile]) , :placeholder => "First Name", :required => true
            %label Last Name:
            = text_field_tag "checkout[last_name]", (session[:profile][:last_name] if session[:profile]), :placeholder => "Last Name", :required => true
            %label E-mail:
            = text_field_tag "checkout[email_id]", (session[:profile][:email_id] if session[:profile]), :placeholder => "Email"
        .large-10.columns
          %label Special Request (optional):
          = text_area_tag "checkout[special]", error_fill("special"), :placeholder => "Special Request", :rows => "9"
        .clear-both
        .large-10.columns
          .border-title
            %h1.text-center Billing Info
          %p.text-center
            Choose a payment option below and fill out.
          .text-center
            %dl.tabs{"data-tab" => true, :style => 'display: inline-block'}
              %dd.active
                = link_to "Credit Card", "#credit_card", :id => 'credit_card'
              %dd
                = link_to "Paypal", "#paypal", :id => 'paypal'

        .tabs-content
          .content.active#credit_card
            .large-10.medium-6.small-12.columns.padding-lr-0
            
              %h4 Billing Address

              %label Full Name
              = text_field_tag "billing[fullname]", error_fill("fullname"), :placeholder => "Full Name", :required => true, :class => 'input-require'

              %label Phone
              = text_field_tag "billing[mobile]", error_fill("mobile"), :placeholder => "Phone Number"

              %label Address 1
              = text_field_tag "billing[address]", error_fill("address"), :placeholder => "Address", :required => true, :class => 'input-require'

              %label Address 2
              = text_field_tag "billing[address_two]", error_fill("address_two"), :placeholder => "Address Two"

              %label City
              = text_field_tag "billing[city]", error_fill("city"), :placeholder => "City", :required => true, :class => 'input-require'

              %label State
              = text_field_tag "billing[state]", error_fill("state"), :placeholder => "State / Province", :required => true, :class => 'input-require'

              %label Country
              = country_select "billing", "select_country", :selected => error_fill("state"), :required => true, :class => 'input-require'

              %label Zip Code
              = text_field_tag "billing[postal_code]", error_fill("postal_code"), :required => true, :class => 'input-require'

            .large-10.medium-6.small-12.columns.padding-lr-0
              %h4 Credit Card Info

              %label First Name on Card
              = text_field_tag "card[first_name]", "", :placeholder => "", :required => true, :class => 'input-require'

              %label Last Name on Card
              = text_field_tag "card[last_name]", "", :placeholder => "", :required => true, :class => 'input-require'

              %label Card Number
              = text_field_tag "card[number]", "", :placeholder => "", :required => true, :class => 'input-require'
              .large-4.medium-4.small-12.columns.padding-lr-0
                %label CVV Number
                = text_field_tag "card[verification_value]", "", :placeholder => "CVV", :required => true, :class => 'input-require'
              .large-3.medium-3.small-12.columns.padding-lr-0.large-offset-1.medium-offset-1
                %label Exp Month
                = select_tag "card[month]", options_for_select(@months)
              .large-3.medium-3.small-12.columns.padding-lr-0.large-offset-1.medium-offset-1
                %label Exp Year
                = select_tag "card[year]", options_for_select(@years)
            .clear-both
            %br

            .large-10.medium-12.small-12
              %p
                By clicking on "Continue", you agree to pay the total amount shown, which includes Service Fees, on the right and to the 
                = link_to "Terms of Service", terms_path
                , and 
                = link_to "Cancellation Policy", cancellation_path
                = "."
              .border-title
                .text-center
                  = submit_tag "Continue", :class => 'button small radius', :id => "credit_card_button"
            - if !@room.instant
              %p You will only be charged if your booking is accepted. No charges will be made on unsuccessful bookings. We'll reply in 24 hours.
          .content#paypal.paypal
            %br
            %p
              By clicking on "Continue", you agree to pay the total amount shown, which includes Service Fees, on the right and to the 
              = link_to "Terms of Service", terms_path
              , and 
              = link_to "Cancellation Policy", cancellation_path
              = "."
            .border-title
              .text-center
                = button_tag "", :class => 'button-paypal', :id => "paypal_button"
            %p You will only be charged if your booking is accepted. No charges will be made on unsuccessful bookings. We'll reply in 24 hours.
        

    .large-4.medium-4.small-12.columns.margin-from-header
      #sticky-div
        - if @property.photos.empty?
          = link_to '/assets/default.png', "aria-label" => "Thumbnail", :data=> {'lightbox' => "img"}, :class => 'th' do
            = image_tag "/assets/default.png", :width => '295px'
        - else
          = link_to @property.photo.url, "aria-label" => "Thumbnail", :data=> {'lightbox' => "img"}, :class => 'th' do
            = image_tag @property.photo.url, :width => '295px'
        %h5
          = @property.title
        %h5
        %hr
          %small= @property.address
        %hr.clear-margin

        .large-5.medium-5.small-5.columns.padding-lr-0
          %p
            %strong= "#{@room.cancellation} Policy"
        .clear-both
        .large-offset-1.large-11.medium-11.small-11.columns.padding-lr-0
          %p
            %strong= @room.cancellation_policy
        .clear-both
        .large-4.medium-4.small-4.columns.padding-lr-0
          %strong= number_to_currency(@prices)
        
        .clear-both
        .large-8.medium-8.small-8.columns.padding-lr-0
          %p
            = @room.title
            = "(#{session[:cart][:no_room]} x #{pluralize(session[:cart][:night].to_i, "night")})"
        .large-4.medium-4.small-4.columns.padding-lr-0
          %p.text-right
            %strong= number_to_currency(total_price(session[:cart]))

        .clear-both
        .large-8.medium-8.small-8.columns.padding-lr-0
          %p Government Tax (10%)
        .large-4.medium-4.small-4.columns.padding-lr-0
          %p.text-right
            %strong= number_to_currency(government_tax(session[:cart]))

        .clear-both
        .large-8.medium-8.small-8.columns.padding-lr-0
          %p Service Fee (5%)
        .large-4.medium-4.small-4.columns.padding-lr-0
          %p.text-right
            %strong= number_to_currency(service_tax(session[:cart]))
        .clear-both

        %hr.clear-margin
        .large-8.medium-8.small-8.columns.padding-lr-0
          %h5 Total
        .large-4.medium-4.small-4.columns.padding-lr-0
          %h5.text-right= number_to_currency(total_cart(session[:cart]))
        %hr 
        .clear-both