= form_for @checkout, url: checkouts_detail_path, method: :get do |f|
  - if @checkout.errors.any?
    #error_explanation
      %h2= "#{pluralize(@checkout.errors.count, "error")} prohibited this checkout from being saved:"
      %ul
        - @checkout.errors.full_messages.each do |msg|
          %li= msg
  .large-12.medium-12.small-12.columns.padding-lr-0
    %h3 Your Details
    .large-6.medium-6.small-12.columns.padding-block-left
      = f.text_field :first_name, placeholder: "First Name: *", required: true
      = f.text_field :last_name, placeholder: "Last Name: *", required: true
      = f.text_field :email_id, placeholder: "Email: *", required: true
      = f.text_area :special, placeholder: "Special request (Optional): "
      %p
        %span Note:
        Special Requests are subject to each hotel’s availability and cannot be guaranteed and additional charges may apply
    .large-6.medium-6.small-12.columns.padding-block-right

      = f.select :gender, @genders.to_a, {:include_blank => "Gender :"}, required: true
      = f.text_field :mobile, placeholder: "Mobile Number:  *", required: true
      = f.country_select :country, [], { :include_blank => 'Country of Passport: *' }, :required => true
      = f.text_field :passport, placeholder: "Passport ID: *", required: true
      = f.text_field :birth, placeholder: "Date of Birth: ", id: '', :class => "datepicker-center"
      .hide= f.text_field :estimate, placeholder: "Estimated Check-In Time: "
    .clear-both
    .hr
  -#
    .large-12.medium-12.small-12.columns.padding-lr-0
      %h3 Account Details
      .large-6.medium-6.small-12.columns.padding-block-left
        %input{type: "text", placeholder: "Password: *", required: ""}
      .large-6.medium-6.small-12.columns.padding-block-right
        %input{type: "text", placeholder: "Confirm Password: *", required: ""}
  .large-12.medium-12.small-12.columns.padding-lr-0
    %h3 Payment Details
    
    .large-6.medium-6.small-12.columns.padding-block-left
      = f.country_select :select_country, [], { :include_blank => 'Select Country: ' }
      = f.text_field :address, placeholder: "Billing Address:  "
      .clear-both
    .large-6.medium-6.small-12.columns.padding-block-right
      = f.text_field :state, placeholder: "State: "
      .large-6.medium-6.small-12.columns.padding-block-left
        = f.text_field :city, placeholder: "City: "
      .large-6.medium-6.small-12.columns.padding-block-right
        = f.text_field :postal_code, placeholder: "Postal Code: "
      .clear-both
    .large-12.medium-12.small-12.columns.padding-lr-0.checkout-properties_button-block
      %p.checkout-properties_total-price= 'Total amount you need to pay: ' + number_to_currency(session[:checkouts][:total_price])
      = f.submit 'Save', value: "pay", class: "button-full-width-yellow"
    .clear-both
    .hr