= form_for @checkout, url: checkouts_detail_path, method: :get do |f|
  - if @checkout.errors.any?
    #error_explanation
      %h2= "#{pluralize(@checkout.errors.count, "error")} prohibited this checkout from being saved:"
      %ul
        - @checkout.errors.full_messages.each do |msg|
          %li= msg
  .large-12.medium-12.small-12.columns.padding-lr-0
    %h3 Your Details
    .large-6.medium-6.small-12.columns.padding-block-left
      = f.text_field :last_name, placeholder: "Last Name: *", value: current_user.last_name, title: "Last Name", required: true
      = f.text_field :first_name, placeholder: "First Name: *", value: current_user.first_name, required: true
      = f.text_field :email_id, placeholder: "Email: *", value: current_user.email, required: true
      = f.text_area :special, placeholder: "Special request (Optional): ", value: current_user.special
      %p
        %span Note:
        Special Requests are subject to each hotel’s availability and cannot be guaranteed and additional charges may apply
    .large-6.medium-6.small-12.columns.padding-block-right

      = f.select :gender, @genders, {:selected => current_user.gender, :include_blank => "Gender :"}, {"data-tooltip" => "", :title => "Gender"}
      = f.text_field :mobile, placeholder: "Mobile Number:  *", value: current_user.mobile, required: true
      -if !current_user.country.blank?
        = f.country_select :country, [current_user.country],{},  title: "Country"
      -else
        = f.country_select :country, [], { :include_blank => 'Country of Passport: *' }, :required => true
      = f.text_field :passport, placeholder: "Passport ID: *", value: current_user.passport, required: true
      = f.text_field :birth, placeholder: "Date of Birth: ",  value: current_user.birth, id: 'datepicker3'
      .hide= f.text_field :estimate, placeholder: "Estimated Check-In Time: ",  value: current_user.estimated

    .clear-both
    .hr
  .large-12.medium-12.small-12.columns.padding-lr-0
    %h3 Payment Details
    .large-6.medium-6.small-12.columns.padding-block-left
      -if !current_user.select_country.blank?
        = f.country_select :select_country,[current_user.select_country],{},title:'Select Country'
      -else
        = f.country_select :select_country, [], { :include_blank => 'Select Country: ' }
      = f.text_field :address, placeholder: "Billing Address: ", value: current_user.address      
      .clear-both
    .large-6.medium-6.small-12.columns.padding-block-right
      = f.text_field :state, placeholder: "State: ", value: current_user.state
      .large-6.medium-6.small-12.columns.padding-block-left
        = f.text_field :city, placeholder: "City: ", value: current_user.city
      .large-6.medium-6.small-12.columns.padding-block-right
        = f.text_field :postal_code, placeholder: "Postal Code: ", value: current_user.postal_code
      .clear-both
    .large-12.medium-12.small-12.columns.padding-lr-0.checkout-properties_button-block
      %p.checkout-properties_total-price= 'Total amount you need to pay: ' + number_to_currency(session[:checkouts][:total_price])
      = f.submit 'Save', value: "pay", class: "button-full-width-yellow"
    .clear-both
    .hr