.content
	.row
		.large-12.medium-12.small-12.columns.margin-from-header
			.large-6.large-offset-3.medium-6.medium-offset-3.small-12.columns.padding-block-left
				.panel.password-recovery
					.large-8.large-offset-2
						%h4.text-center Login or Register
						%hr
						%button{:href => "#", "data-reveal-id" => "sign_up_form", :class => 'button small expand radius'} Sign Up
						%button{:href => "#", "data-reveal-id" => "login_form", :class => 'button small expand radius'} Sign In
						%h4.text-center Guest
						%hr
						= link_to "Guest", new_checkout_path(:user => "guest"), :class => 'button small expand radius'