.content
  .row
    .large-12.medium-12.small-12.columns.margin-from-header
      %h1= "Detail Checkout for #{@property.title}"
      %h4 Detail User
      %hr
      .large-6.medium-6.small-12.columns.padding-block-left
        %p
          %b First Name:
          = params[:checkout][:first_name]
        %p
          %b Last Name:
          = params[:checkout][:last_name]
        %p
          %b Email:
          = params[:checkout][:email_id]
        %p
          %b Gender:
          = params[:checkout][:gender]
        %p
          %b Birthday:
          = params[:checkout][:birth].to_date.strftime("%a, %b %d %Y")
        %p
          %b Special:
          = params[:checkout][:special]
      .large-6.medium-6.small-12.columns.padding-block-right
        %p
          %b Address:
          = params[:checkout][:address]
        %p
          %b Country:
          = params[:checkout][:country]
        %p
          %b Postal Code:
          = params[:checkout][:postal_code]
        %p
          %b Mobile:
          = params[:checkout][:mobile]
        %p
          %b Passport:
          = params[:checkout][:passport]
    .large-12.medium-12.small-12.columns
      .large-6.medium-6.small-12.columns.padding-block-left
        %h4 Check In & Check Out
        %hr
        %p
          %b Check In:
          = session[:checkouts][:check_in].to_date.strftime("%a, %b %d %Y")
        %p
          %b Check Out:
          = session[:checkouts][:check_out].to_date.strftime("%a, %b %d %Y")
      .large-6.medium-6.small-12.columns.padding-block-right
        %h4 Detail Booking
        %hr
        %p
          %b Nights:
          = pluralize(session[:checkouts][:night], "night")
        %p
          %b Price:
          = number_to_currency(session[:checkouts][:total_price])
        %p
          %b Guests:
          = pluralize(session[:checkouts][:guests], "person")
    .large-12.medium-12.small-12.columns
      %h4 Detail Property
      %hr
      .large-12.medium-12.small-12.columns
        %p
          %b Property Name:
          = @property.title
        %p
          %b Property Address:
          = @property.address
        %table{:style => "min-width: 940px"}
          %thead
            %th Property Name
            %th Property Type
            %th Guest
            %th Price/Night
            %th Nights
            %th Prices
          %tbody
            %tr
              %td= @property.title
              %td= @property.property_type
              %td= pluralize(session[:checkouts][:guests], "person")
              %td= number_to_currency(@property.price)
              %td= pluralize(session[:checkouts][:night], "night")
              %td= number_to_currency(session[:checkouts][:total_price])
            %tr
              %td{:colspan => 4}
              %td Total Price
              %td= number_to_currency(session[:checkouts][:total_price])
      %hr
      .clearfix
        = link_to "Edit", root_path, :class => "button left"

        = link_to image_tag("https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif"), checkouts_express_path, :class => "right"