.content
  .row
    .large-12.medium-12.small-12.columns.margin-from-header.checkout
      = form_for @checkout do |f|
        = f.text_field :check_in
        = f.text_field :check_out
        = f.submit 'Save', value: "Update", class: "button-full-width-yellow"
      - @checkout.type.each do |type|
        = type
        - @room = Room.where(type: type).first
      = @room.check_in_room


