- meta title: "There is a problem with this transaction"
.content
	.row
		%div.large-6.large-offset-3.medium-12.small-12.columns.margin-from-header
			%div.panel.text-center.callout{:style => "background: #FBB; border-color: #F00"}
				%h1 Your payment was unsuccessful!
				- if @message
					%p= @message
				- else
					%p There is a problem with this transaction.
				= link_to "Back", :back