.content
  .row.account-page
    .large-12.medium-12.small-12.columns.margin-from-header
      .large-12.medium-12.small-12.columns.padding-lr-0.subnav-select
        %dl.tabs.sub-nav{"data-tab" => ""}
          %dd.active
            
          %dd

          %dd
            
    .tabs-content
      #panel5-1.content.account-page_bookings.active
        - if user_signed_in?
          - if current_user.role.eql?("admin")
            - @checkouts_actual_now = Checkout.where("check_out >= ?", @date)
            - @checkouts_history_now = Checkout.where("check_out <= ?", @date)
          - else 
            - @checkouts_actual_now = Checkout.where("check_out >= ?", @date).where(user_id: current_user.id)
            - @checkouts_history_now = Checkout.where("check_out <= ?", @date).where(user_id: current_user.id)
          - @checkouts_actual_now.reverse_each do |checkout|
            .large-12.medium-12.small-12.columns.account-page_bookings_block
              - @hotel = Hotel.find(checkout.hotel_id)
              - @city = @hotel.city
              .large-7.medium-12.small-12.columns.padding-lr-0
                .account-page_bookings_block_right_header.header-second
                  %h3= @hotel.title
                  = link_to 'show map', h_map_path(@city, @hotel)
              .large-3.medium-3.small-5.columns.account-page_bookings_block_left
                -if  @hotel.photos.length > 0
                  = link_to image_tag(@hotel.photos.last.image), [@hotel.city, @hotel]
              .large-9.medium-9.small-7.columns.padding-lr-0.account-page_bookings_block_right
                .large-7.medium-12.small-12.columns.padding-lr-0
                  .account-page_bookings_block_right_header
                    %h3= @hotel.title
                    = link_to 'show map', h_map_path(@city, @hotel)
                .large-12.medium-12.small-12.columns.padding-lr-0
                  .large-7.medium-7.small-12.columns.padding-lr-0.account-page_bookings_block_right_text-block
                    %p
                      = @hotel.address
                      = @hotel.phone_number
              .large-9.medium-9.small-7.columns.padding-lr-0.account-page_bookings_block_right.second
                .large-12.medium-12.small-12.columns.padding-lr-0
                  .large-5.medium-5.small-12.columns.padding-lr-0.account-page_bookings_block_right_check-block
                    .large-6.medium-6.small-6.columns.padding-lr-0.account-page_bookings_block_right_check
                      %p Check-In
                      %p= checkout.check_in.strftime("%d-%m %Y")
                    .large-6.medium-6.small-6.columns.padding-lr-0.account-page_bookings_block_right_check
                      %p Check-out
                      %p= checkout.check_out.strftime("%d-%m %Y")
                  .large-7.medium-7.small-12.columns.padding-lr-0.account-page_bookings_block_right_text-block
                    %p.price
                      = '$ ' + checkout.general_price.to_s
                      =checkout.payment if checkout.payment
                    .button-full-width-yellow=link_to 'More info', :controller => "checkouts", :action => "information", :id => checkout.id
                    -#%a.remove Remove from list
                  .clear-both
              .clear-both
              .hr
          - @checkouts_history_now.reverse_each do |checkout|
            -@hotel = Hotel.find(checkout.hotel_id)
            .large-12.medium-12.small-12.columns.account-page_bookings_block.disable-canselled
              .large-7.medium-12.small-12.columns.padding-lr-0
                .account-page_bookings_block_right_header.header-second
                  %h3= @hotel.title
                  -#%h3= checkout.type
                  -#%a= link_to 'show map', h_map_path(@city, @hotel)
              .large-3.medium-3.small-5.columns.account-page_bookings_block_left
                -if  @hotel.photos.length > 0
                  = link_to image_tag(@hotel.photos.last.image), [@hotel.city, @hotel]
              .large-9.medium-9.small-7.columns.padding-lr-0.account-page_bookings_block_right
                .large-7.medium-12.small-12.columns.padding-lr-0
                  .account-page_bookings_block_right_header
                    -@hotel = Hotel.find(checkout.hotel_id)
                    %h3= @hotel.title
                    %a show map
                .large-12.medium-12.small-12.columns.padding-lr-0
                  .large-7.medium-7.small-12.columns.padding-lr-0.account-page_bookings_block_right_text-block
                    %p
                      = @date
                      = @checkouts_actual.length
                      = checkout.check_out
                      Building No. (33), Nay Pyi Taw, Union of Myanmar.
                      %br Tel: 95 67 406129, 406061
              .large-9.medium-9.small-7.columns.padding-lr-0.account-page_bookings_block_right.second
                .large-12.medium-12.small-12.columns.padding-lr-0
                  .large-5.medium-5.small-12.columns.padding-lr-0.account-page_bookings_block_right_check-block
                    .large-6.medium-6.small-6.columns.padding-lr-0.account-page_bookings_block_right_check
                      %p Check-In
                      %p= checkout.check_in.strftime("%d-%m %Y")
                    .large-6.medium-6.small-6.columns.padding-lr-0.account-page_bookings_block_right_check
                      %p Check-out
                      %p= checkout.check_out.strftime("%d-%m %Y")
                  .large-7.medium-7.small-12.columns.padding-lr-0.account-page_bookings_block_right_text-block
                    %p.price
                      = '$ ' + checkout.general_price.to_s
                      =checkout.payment if checkout.payment                  
                    .button-full-width-yellow=link_to 'More info', :controller => "checkouts", :action => "information", :id => checkout.id
                    -#%a.remove Remove from list
                  .clear-both
              .clear-both
              .hr