.content
  .row
    .large-12.medium-12.small-12.columns.margin-from-header
      %h1= "Detail Checkout for #{@checkout.hotel.title}"
      .large-6.medium-6.small-12.columns.padding-block-left
        %h4 Detail User
        %hr
        %p
          %b First Name:
          = @checkout.user.first_name
        %p
          %b Last Name:
          = @checkout.user.last_name
        %p
          %b Email:
          = @checkout.user.email
        %p
          %b Gender:
          = @checkout.user.gender
        %p
          %b Birthday:
          = @checkout.user.birth.to_date.strftime("%a, %b %d %Y")
        %p
          %b Special:
          = @checkout.special
        %p
          %b Address:
          = @checkout.address
        %p
          %b Country:
          = @checkout.user.country

        %p
          %b Postal Code:
          = @checkout.postal_code
        %p
          %b Mobile:
          = @checkout.mobile
        %p
          %b Passport:
          = @checkout.passport
        
      .large-6.medium-6.small-12.columns.padding-block-right
        %h4 Check In & Check Out
        %hr
        %p
          %b Check In:
          = @checkout.check_in.to_date.strftime("%a, %b %d %Y")
        %p
          %b Check Out:
          = @checkout.check_out.to_date.strftime("%a, %b %d %Y")
        %p
          %b Created At:
          = @checkout.created_at.to_date.strftime("%a, %b %d %Y")
        %h4 Detail Booking
        %hr
        %p
          %b Payment:
          = @checkout.payment
        %p
          %b Nights:
          = @checkout.nights
        %p
          %b Price:
          = number_to_currency(@checkout.general_price)
        %p
          %b Guest:
          = guests @checkout.guest
        %p
          %b Billing Address:
          = @checkout.address
      %br
      .clear-both
      .large-12.medium-12.small-12.columns
        %h4 Detail Hotel & Rooms
        %hr
        %p
          %b Hotel Name:
          = @checkout.hotel.title
        %p
          %b Hotel Address:
          = @checkout.hotel.address
        %table{:style => "min-width: 940px"}
          %thead
            %th Room Name
            %th Room Type
            %th Guest
            %th Price
          %tbody
            - @rooms.each_with_index do |room, index|
              %tr
                %td= room.title
                %td= room.room_type.name
                %td= pluralize(@guests_room[index], "person")
                %td= number_to_currency(room.price)


      %hr
      = link_to 'Back', checkouts_path