.content
  .row.account-page
    .large-12.medium-12.small-12.columns.margin-from-header
      .large-12.medium-12.small-12.columns.padding-lr-0.subnav-select
        %dl.tabs.sub-nav{"data-tab" => ""}
          %dd.active
            %a{href: "#panel5-1"} Bookings
          %dd
            %a{href: "#panel5-2"} Reviews
          %dd
            %a{href: "#panel5-3"} Personal Details
    .tabs-content
      #panel5-1.content.account-page_bookings.active
        .large-12.medium-12.small-12.columns.account-page_bookings_block
          .large-7.medium-12.small-12.columns.padding-lr-0
            .account-page_bookings_block_right_header.header-second
              %h3 Agga Guest House
              %a show map
          .large-3.medium-3.small-5.columns.account-page_bookings_block_left
            %a
              %img{src: "images/image-1.png"}
          .large-9.medium-9.small-7.columns.padding-lr-0.account-page_bookings_block_right
            .large-7.medium-12.small-12.columns.padding-lr-0
              .account-page_bookings_block_right_header
                %h3 Agga Guest House
                %a show map
            .large-12.medium-12.small-12.columns.padding-lr-0
              .large-7.medium-7.small-12.columns.padding-lr-0.account-page_bookings_block_right_text-block
                %p
                  Building No. (33), Nay Pyi Taw, Union of Myanmar.
                  %br Tel: 95 67 406129, 406061
          .large-9.medium-9.small-7.columns.padding-lr-0.account-page_bookings_block_right.second
            .large-12.medium-12.small-12.columns.padding-lr-0
              .large-5.medium-5.small-12.columns.padding-lr-0.account-page_bookings_block_right_check-block
                .large-6.medium-6.small-6.columns.padding-lr-0.account-page_bookings_block_right_check
                  %p Check-In
                  %p 10
                  %p September
                  %p Saturday
                .large-6.medium-6.small-6.columns.padding-lr-0.account-page_bookings_block_right_check
                  %p Check-out
                  %p 10
                  %p May
                  %p Saturday
              .large-7.medium-7.small-12.columns.padding-lr-0.account-page_bookings_block_right_text-block
                %p.price $ 450
                %a.button-full-width-yellow manage booking
                %a.remove Remove from list
              .clear-both
          .clear-both
          .hr
        .large-12.medium-12.small-12.columns.account-page_bookings_block.disable-canselled
          .large-7.medium-12.small-12.columns.padding-lr-0
            .account-page_bookings_block_right_header.header-second
              %h3 Agga Guest House
              %a show map
          .large-3.medium-3.small-5.columns.account-page_bookings_block_left
            %a
              %img{src: "images/image-1.png"}
          .large-9.medium-9.small-7.columns.padding-lr-0.account-page_bookings_block_right
            .large-7.medium-12.small-12.columns.padding-lr-0
              .account-page_bookings_block_right_header
                %h3 Agga Guest House
                %a show map
            .large-12.medium-12.small-12.columns.padding-lr-0
              .large-7.medium-7.small-12.columns.padding-lr-0.account-page_bookings_block_right_text-block
                %p
                  Building No. (33), Nay Pyi Taw, Union of Myanmar.
                  %br Tel: 95 67 406129, 406061
          .large-9.medium-9.small-7.columns.padding-lr-0.account-page_bookings_block_right.second
            .large-12.medium-12.small-12.columns.padding-lr-0
              .large-5.medium-5.small-12.columns.padding-lr-0.account-page_bookings_block_right_check-block
                .large-6.medium-6.small-6.columns.padding-lr-0.account-page_bookings_block_right_check
                  %p Check-In
                  %p 10
                  %p September
                  %p Saturday
                .large-6.medium-6.small-6.columns.padding-lr-0.account-page_bookings_block_right_check
                  %p Check-out
                  %p 10
                  %p May
                  %p Saturday
              .large-7.medium-7.small-12.columns.padding-lr-0.account-page_bookings_block_right_text-block
                %p.price canselled
                %a.button-full-width-yellow book again
                %a.remove Remove from list
              .clear-both
          .clear-both
          .hr
        .large-12.medium-12.small-12.columns.account-page_bookings_block.disable-was
          .large-7.medium-12.small-12.columns.padding-lr-0
            .account-page_bookings_block_right_header.header-second
              %h3 Agga Guest House
              %a show map
          .large-3.medium-3.small-5.columns.account-page_bookings_block_left
            %a
              %img{src: "images/image-1.png"}
          .large-9.medium-9.small-7.columns.padding-lr-0.account-page_bookings_block_right
            .large-7.medium-12.small-12.columns.padding-lr-0
              .account-page_bookings_block_right_header
                %h3 Agga Guest House
                %a show map
            .large-12.medium-12.small-12.columns.padding-lr-0
              .large-7.medium-7.small-12.columns.padding-lr-0.account-page_bookings_block_right_text-block
                %p
                  Building No. (33), Nay Pyi Taw, Union of Myanmar.
                  %br Tel: 95 67 406129, 406061
          .large-9.medium-9.small-7.columns.padding-lr-0.account-page_bookings_block_right.second
            .large-12.medium-12.small-12.columns.padding-lr-0
              .large-5.medium-5.small-12.columns.padding-lr-0.account-page_bookings_block_right_check-block
                .large-6.medium-6.small-6.columns.padding-lr-0.account-page_bookings_block_right_check
                  %p Check-In
                  %p 10
                  %p September
                  %p Saturday
                .large-6.medium-6.small-6.columns.padding-lr-0.account-page_bookings_block_right_check
                  %p Check-out
                  %p 10
                  %p May
                  %p Saturday
              .large-7.medium-7.small-12.columns.padding-lr-0.account-page_bookings_block_right_text-block
                %p.price $ 450
                %a.button-full-width-yellow book again
                %a.remove Remove from list
              .clear-both
          .clear-both
          .hr