= render "partial/header"
.content
  .row.account-page
    .large-12.medium-12.small-12.columns.margin-from-header
      .large-12.medium-12.small-12.columns.padding-lr-0.subnav-select
        %dl.tabs.sub-nav{"data-tab" => ""}
          %dd.active
            %a{href: "#panel5-1"} Bookings
          %dd
            %a{href: "#panel5-2"} Reviews
          %dd
            %a{href: "#panel5-3"} Personal Details
        - if @hotels.count > 0
          %a.button.dropdown.wiching.right{"data-dropdown" => "drop1", href: "#"} Choose your hotel
          %br/
          %ul#drop1.f-dropdown{"data-dropdown-content" => ""}
            - @hotels.each do |hotel|
              %li
                / = link_to hotel.title, previews_path(hotel.city, hotel)        
        
    .tabs-content
      #panel5-1.content.account-page_bookings.active
        .large-12.medium-12.small-12.columns.account-page_bookings_block
          %p You haven't got any bookings yet       
        
      #panel5-2.content.account-page_bookings
        .large-12.medium-12.small-12.columns.account-page_bookings_block
          -if @comments.size > 0
            -@comments.each do |comment|
              .large-12.medium-12.small-12.columns.padding-lr-0
                .account-page_bookings_block_right_header.header-second
                  %h3= comment.hotel.title
                  %p= 'You Rate: ' + comment.general_rating.to_s + '%'
              .large-3.medium-3.small-5.columns.account-page_bookings_block_left
                %a
                  - if comment.hotel.photos.length>0
                    = link_to image_tag(comment.hotel.photos.last.image), [comment.hotel.city, comment.hotel]
              .large-9.medium-9.small-7.columns.padding-lr-0.account-page_bookings_block_right
                .large-12.medium-12.small-12.columns.padding-lr-0
                  .account-page_bookings_block_right_header
                    %h3= comment.hotel.title
                    %p You Rate: #{comment.general_rating}%
                .large-12.medium-12.small-12.columns.padding-lr-0
                  .large-7.medium-7.small-12.columns.padding-lr-0.account-page_bookings_block_right_text-block
                    %p
                      = comment.hotel.address
                      %br
                      = 'Tel: ' + comment.hotel.phone_number.to_s
              .large-9.medium-9.small-7.columns.padding-lr-0.account-page_bookings_block_right.second
                .large-12.medium-12.small-12.columns.padding-lr-0.second_text
                  = comment.content
                  
                  %p.date 
                    = comment.created_at.strftime("%d %b %Y")
              .clear-both
              .hr
              %br
              %br
          -else
            %p You haven't got any reviews yet
      #panel5-3.content
        =  form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
          .large-12.medium-12.small-12.columns.sign-up-hotel-content.checkout
            %h3 Contact Details
            .large-6.medium-6.small-12.columns.padding-block-left
              = f.text_field :last_name, class: "has-tip", "data-tooltip" => "", title: "Last Name", value: current_user.last_name
              = f.text_field :first_name, class: "has-tip", "data-tooltip" => "", title: "First Name", value: current_user.first_name
              = f.text_field :email, class: "has-tip", "data-tooltip" => "", title: "Email", value: current_user.email
              = f.date_field :birth, class: "has-tip", "data-tooltip" => "", title: "Birthday", value: current_user.birth
            .large-6.medium-6.small-12.columns.padding-block-right
              -if !current_user.gender.blank?
                = f.select :gender, [['Male', 'Male'],['Female', 'Female']] + @genders.to_a,{},:selected=>current_user.gender, class: "has-tip", "data-tooltip" => "", title: "Gender"
              -else
                = f.select :gender, [['Gender: ', '']] + @genders.to_a,{ :include_blank => 'Gender:  '} , class: "has-tip", "data-tooltip" => "", title: "Gender"           
              = f.text_field :mobile, class: "has-tip", "data-tooltip" => "", title: "Mobile Number", value: current_user.mobile

              -if !current_user.country.blank?
                = f.country_select :country, [current_user.country],{}, class: "has-tip", "data-tooltip" => "", title: "Country"
              -else
                = f.country_select :country, [], { :include_blank => 'Country of Passport: ' }         , class: "has-tip", "data-tooltip" => "", title: "Country"

              = f.text_field :passport, class: "has-tip", "data-tooltip" => "", title: "Passport Id", value: current_user.passport
            .large-12.medium-12.small-12.columns.padding-lr-0
              %h3 Password
              .large-6.medium-6.small-12.columns.padding-block-left      
                = f.label :password
                %i (leave blank if you don't want to change it)
                %br/
                = f.password_field :password, input_html: { :autocomplete => "off" }
                = f.label :password_confirmation
                = f.password_field :current_password, required: true, autocomplete: "off"
              
              .large-6.medium-6.small-6.columns.padding-block-right
                = f.label :password_confirmation
                %br/
                = f.password_field :password_confirmation, autocomplete: "off"
                .large-6.medium-6.small-12.columns.padding-block-left
                  = button_tag("SAVE", class: "button my_button m-top")
                  
                .large-6.medium-6.small-12.columns.padding-block-right
                  = button_tag("clear all", type: :reset, class: "button my_button my_reset m-top")
                