- meta title: "Booking Successfully"
.content
  .row
    %div.large-6.large-offset-3.medium-12.small-12.columns.margin-from-header
      %div.panel.text-center.callout
        %h1 Your payment was successful!
        %p= "Booking details has been sent to #{@checkout.email_id}"
        - if current_user
          = link_to "See your profile", dashboard_root_path