= form_for([@city, @hotel, @room], name: "form1") do |f|
  - if @room.errors.any?
    #error_explanation
      %h2= "#{pluralize(@room.errors.count, "error")} prohibited this room from being saved:"
      %ul
        - @room.errors.full_messages.each do |msg|
          %li= msg
  .large-6.medium-6.small-12.columns.padding-block-left
    .field
      = f.label 'Title'
      = f.text_field :title, required: "true"
    .field
      = f.label :price
      = f.number_field :price, required: "true", min: "1", max: "999999"
    .field
      = f.label :guest
      = f.number_field :guest, required: "true", min: "1", max: "15"
    .field
      = f.label :count
      = f.number_field :count, required: "true"
    .input-file-block
      .input-file-block_inner
        - unless @room.photo.nil?
          =image_tag(@room.photo)
          .field
            %span.button Upload file
            = f.file_field :photo
        -else
          %span.button Upload file
          = f.file_field :photo
    .checkbox-block
      %label.checkbox
        = f.check_box :ensuite
        %span
      %label{for: "ensuite"} Ensuite Room
    %br
    = f.submit 'Save', class: "button", onclick: "validatecal(document.form1.check_in, document.form1.check_out)"
  .large-6.medium-6.small-12.columns.padding-block-right
    .field
      = f.label :about, "Description"
      = f.text_area :about, rows: '7', required: "true"
    -#type.field      
      = f.radio_button :pay_type, 'Dorm', id: 'dorm'
      = f.label 'Dorm'      
      = f.radio_button :pay_type, 'Private', id: 'private'
      = f.label 'Private'
    .field
      = f.label 'Type'      
      .mozfix-select
        =f.select :room_type_id,  @room_types.to_a, required: true      
    .large-6.medium-6.small-12.columns.padding-block-right
      .field
        = f.label :check_in_room
        .check_in
          = f.text_field :check_in_room, required: "true", id: 'from', class: 'datepicker-center'
    .large-6.medium-6.small-12.columns.padding-block-left
      .field
        = f.label :check_out_room
        .check_out
          = f.text_field :check_out_room, required: "true", id: 'to', class: 'datepicker-center'
    .field
      //=f.collection_select :hotel_id,  Hotel.all, :id, :title
      .hide=f.label :hotel_id
      .hide=f.text_field :hotel_id, value: @hotel.id
    
    .actions
        
