.content
  .row
    .large-12.medium-12.small-12.columns.margin-from-header
      %h1 Edit room
      = render 'form'
    %br
    .clear-both
    %hr
      = link_to 'Show', [@city,@hotel, @room]
      \|
      = link_to 'Back', city_hotel_rooms_path
