.content
  .row
    .large-12.medium-12.small-12.columns.margin-from-header
      %h1 Listing rooms

      = session[:blas]
      = session[:city]
      %table.w100
        %tr
          %th Title
          %th Price
          %th Check in room
          %th Check out room
          %th Hotel
          %th Guest
          %th
          %th
          %th

        - @rooms.each do |room|
          %tr
            %td= room.title
            %td= number_to_currency(room.price)
            %td= room.check_in_room
            %td= room.check_out_room
            %td= room.hotel.title
            %td= room.guest
            %td= link_to 'Show', [@city, @hotel, room]
            %td= link_to 'Edit', [:edit, @city,@hotel, room]
            %td= link_to 'Destroy', [@city,@hotel,room], :method => :delete, :data => { :confirm => 'Are you sure?' }

      %br

      = link_to 'New Room', new_city_hotel_room_path, class: "button"
      = link_to 'New Room Type', new_room_type_path, class: "button"
      %br
        .clear-both
        %hr
        = link_to 'Back', dashboard_root_path
