.content
  .row
    .large-12.medium-12.small-12.columns.margin-from-header
      %h1 Show room
      .large-6.medium-6.small-12.columns.padding-block-left
        %p
          %b Type:
          = @room.room_type_id
        %p
          %b Price:
          = @room.price
        %p
          %b Check in room:
          = @room.check_in_room
        %p
          %b Check out room:
          = @room.check_out_room
        %p
          %b Ensuite Room
          = @room.ensuite
      .large-6.medium-6.small-12.columns.padding-block-right
        %p
          %b About:
          = @room.about
        %p
          %b Guest:
          = @room.guest
        %p
          %b Pay type:
          = @room.pay_type
        %p
          %b Hotel:
          = @room.hotel_id
      %br
        .clear-both
        %hr
        = link_to 'Edit', [:edit,@city, @hotel, @room]
        \|
        = link_to 'Back', city_hotel_rooms_path


