= form_for @homeimg do |f|
  - if @homeimg.errors.any?
    #error_explanation
      %h2= "#{pluralize(@homeimg.errors.count, "error")} prohibited this homeimg from being saved:"
      %ul
        - @homeimg.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.file_field :image, :required => true
  .actions
    = f.submit 'Save', class: "button disabled"