.content
  .row
    .large-12.medium-12.columns.margin-from-header.security-privacy
      - if @homeimgs.count > 0
        %p= @homeimg.title
        = image_tag @homeimg.image_url(:thumb) if @homeimg.image?
        -if user_signed_in?
          -if current_user.has_role?(:admin)
            .clear-both
            %hr
            %td= link_to 'Edit', edit_homeimg_path(@homeimg)

      - else
        -if user_signed_in?
          -if current_user.has_role?(:admin)
            %p Now information is unavailable, but you can fill it.
            %br= link_to 'Fill Home Img', new_homeimg_path
          - else 
            %p Now information is unavailable
        - else 
          %p Now information is unavailable