%li
  - if notification.trackable_type.eql?("Checkout") && notification.key.eql?("checkout.change_date")
    - if notification.trackable.nil?
      = link_to '#' do
        .col1
          .cont
            .cont-col1
              .label.label-sm.label-success
                %i.fa.fa-bell-o
            .cont-col2
              .desc
                %strong
                  Checkout Change Date
                checkout deleted.
        .col2
          .date
            = time_ago_in_words(notification.created_at)
    - else
      = link_to admin_checkout_detail_path(notification.trackable_id) do
        .col1
          .cont
            .cont-col1
              .label.label-sm.label-success
                %i.fa.fa-bell-o
            .cont-col2
              .desc
                %strong
                  Checkout 
                = notification.trackable.property.title
                = "(#{notification.trackable.room.title})"
                = number_to_currency(notification.trackable.total_cart)
        .col2
          .date
            = time_ago_in_words(notification.created_at)
  - elsif notification.trackable_type.eql?("Checkout") && notification.key.eql?("checkout.create")
    - if notification.trackable.nil?
      = link_to "#" do
        .col1
          .cont
            .cont-col1
              .label.label-sm.label-success
                %i.fa.fa-bell-o
            .cont-col2
              .desc
                %strong
                  New Checkout
                property deleted.
        .col2
          .date
            = time_ago_in_words(notification.created_at)
    - else
      = link_to admin_checkout_detail_path(notification.trackable_id) do
        .col1
          .cont
            .cont-col1
              .label.label-sm.label-success
                %i.fa.fa-bell-o
            .cont-col2
              .desc
                %strong
                  New Checkout
                = notification.trackable.property.title
                = "(#{notification.trackable.room.title})"
                = number_to_currency(notification.trackable.total_cart)
        .col2
          .date
            = time_ago_in_words(notification.created_at)
  - elsif notification.trackable_type.eql?("Checkout") && notification.key.eql?("checkout.cancel")
    - if notification.trackable.nil?
      = link_to '#' do
        .col1
          .cont
            .cont-col1
              .label.label-sm.label-success
                %i.fa.fa-bell-o
            .cont-col2
              .desc
                %strong
                  Cancellation Checkout
                checkout deleted.
        .col2
          .date
            = time_ago_in_words(notification.created_at)
    - else
      = link_to admin_checkout_detail_path(notification.trackable_id) do
        .col1
          .cont
            .cont-col1
              .label.label-sm.label-success
                %i.fa.fa-bell-o
            .cont-col2
              .desc
                %strong
                  Checkout 
                = notification.trackable.property.title
                = "(#{notification.trackable.room.title})"
                = number_to_currency(notification.trackable.total_cart)
        .col2
          .date
            = time_ago_in_words(notification.created_at)
  - elsif notification.trackable_type.eql?("User")
    - if notification.trackable.nil?
      = link_to '#' do
        .col1
          .cont
            .cont-col1
              .label.label-sm.label-success
                %i.fa.fa-bell-o
            .cont-col2
              .desc
                %strong
                  New User Registered
                User deleted
        .col2
          .date
            = time_ago_in_words(notification.created_at)
    - else
      = link_to admin_user_path(notification.trackable_id) do
        .col1
          .cont
            .cont-col1
              .label.label-sm.label-success
                %i.fa.fa-bell-o
            .cont-col2
              .desc
                %strong
                  New User Registered
                = notification.trackable.email
        .col2
          .date
            = time_ago_in_words(notification.created_at)