.page-head
  .container
    .page-title
      %h1 All Notifications
.page-content
  .container
    - breadcrumb :notifications
    = render("layouts/breadcrumbs")
    .row
      .portlet.light
        .portlet-title
          .caption.caption-md
            %i.icon-bar-chart.theme-font.hide
            %span.caption-subject.theme-font.bold.uppercase All Notifications
        .portlet-body
          %ul.feeds
            - unless @all_notifications.empty?
              - @all_notifications.each do |notification|
                = render(:partial => "activity", :locals => {:notification => notification})
            - else
              %li Empty
          %br/
          = paginate @all_notifications, :views_prefix => 'kaminari/bootstrap' unless @all_notifications.empty?