= form_for @faq_post do |f|
  - if @faq_post.errors.any?
    #error_explanation
      %h2= "#{pluralize(@faq_post.errors.count, "error")} prohibited this faq_post from being saved:"
      %ul
        - @faq_post.errors.full_messages.each do |msg|
          %li= msg
  .large-6.medium-6.small-12.columns.padding-block-left
    .field
      = f.label :title
      = f.text_field :title, required: "true"
    %div
      = f.collection_select :faq_category_id, FaqCategory.all, :id, :title
    %br
    .actions
      = f.submit 'Save', class: "button disabled"
  .large-6.medium-6.small-12.columns.padding-block-right
    .field
      = f.label :content
      = f.text_area :content, required: "true"


