.content
  .row
    .large-12.medium-12.small-12.columns.margin-from-header
      %h1 Editing FAQ Post

      = render 'form'
      .clear-both
      %hr
      = link_to 'Show', @faq_post
      \|
      = link_to 'Back', faq_posts_path
