.content
  .row
    .large-12.medium-12.small-12.columns.margin-from-header
      %h1 Listing faq_posts

      %table.w100
        %tr
          %th Title
          %th Content
          %th Category
          %th
          %th
          %th

        - @faq_posts.each do |faq_post|
          %tr
            %td= faq_post.title
            %td= faq_post.content
            %td= faq_post.faq_category.title
            %td= link_to 'Show', faq_post
            %td= link_to 'Edit', edit_faq_post_path(faq_post)
            %td= link_to 'Destroy', faq_post, :method => :delete, :data => { :confirm => 'Are you sure?' }

      %br

      = link_to 'New Faq Post', new_faq_post_path, class: "button disabled"
