.content
  .row
    .large-12.medium-12.small-12.columns.margin-from-header
      .large-4.medium-4.small-12.columns.contact-us_left.padding-lr-0
        .contact-us_left_inner.content_categories
          %h3.blue Categories
          %tr.cat_but
            %td= @faq_post.faq_category.title

      .large-8.medium-8.small-12.columns.security-privacy
        %form
          .accordion-block
            %h3.security-privacy_tab-header= @faq_post.title
            .security-privacy_tab-text.accordion1
              %p= @faq_post.content
      .clear-both
      %hr
      = link_to 'Edit', edit_faq_post_path(@faq_post)
      \|
      = link_to 'Back', faq_posts_path
