= form_for @city do |f|
  - if @city.errors.any?
    #error_explanation
      %h2= "#{pluralize(@city.errors.count, "error")} prohibited this city from being saved:"
      %ul
        - @city.errors.full_messages.each do |msg|
          %li= msg
  = f.hidden_field :lat, "data-geo" => "lat"
  = f.hidden_field :lng, "data-geo" => "lng"
  = f.hidden_field :country, "data-geo" => "country"
  .large-6.medium-6.small-12.columns.padding-block-left
    .field
      = f.label :address
      = f.text_field :address
      
    .field
      = f.label :name
      = f.text_field :name, required: "true", "data-geo" => "name"
    .hide.field
      = f.label :country
      = f.text_field :country, value: "Myanmar", required: "true"
    .field
      = f.label :state
      = f.text_field :state, "data-geo" => "administrative_area_level_1"
    .field
      = f.label :town
      = f.text_field :town, "data-geo" => "locality"
    .field
      = f.label :density
      = f.text_field :density
    .field
      = f.label :ethnicities
      = f.text_field :ethnicities
    .field
      = f.label :religions
      = f.text_field :religions
    .field
      = f.label :total
      = f.text_field :total
    
    
    %br
    .actions
      = f.submit 'Save', class: "button disabled"
  .large-6.medium-6.small-12.columns.padding-block-right
    .field
      #maps{:style => "height:300px"}
    %br
    .field
      = f.label :description
      = f.text_area :description, rows: '10', :class => "redactor"
    %br
    -if @city.cityimg
      =image_tag(@city.cityimg)
      .input-file-block
        .input-file-block_inner
          .field
            = f.file_field :cityimg
            %span.button Upload file
    -else
      .input-file-block
        .input-file-block_inner
          .field
            = f.file_field :cityimg, :required => true
            %span.button Upload file
- content_for :scripts do
  %script{:src => "http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false"}
  = javascript_include_tag "jquery.geocomplete.min"
  :javascript
    $("#city_address").geocomplete({
      map: "#maps",
      details: "#new_city",
      detailsAttribute: "data-geo"
    });