.content
  .row
    .large-12.medium-12.small-12.columns.margin-from-header
      %table.w100
        %tr
          %th City
          %th
          %th
          %th
          %th
          %th
          %th
          %th

        - @cities.each do |city|
          %tr
            %td= city.name
            %td= city.hotel_id
            %td= link_to 'Show', city
            %td= link_to 'Edit', edit_city_path(city)
            %td= link_to 'Destroy', city, :method => :delete, :data => { :confirm => 'Are you sure?' }
            %td= link_to 'Places'+' ('+city.places.count.to_s+')', places_index_path(city)
            %td= link_to 'Hotels'+' ('+city.hotels.count.to_s+')', hotels_index_path(city)
            %td= link_to 'Blogs'+' ('+city.blogs.count.to_s+')', blogs_index_path(city)

      %br
      %table.w100
        %tr
          %th
          %th
          %th Info:
          %th
          %th
          %th= link_to 'FAQ', faq_categories_path
          %th= link_to 'Security & Privacy', privacy_and_security_statements_path
          %th= link_to 'About Us', abouts_path
          %th= link_to 'Terms & Conditions', terms_path
          %th= link_to 'Home Page Box', homepages_path
          %th= link_to 'Home Image', homeimgs_path



      %br
      = link_to "Users", users_path, class: "button disabled"
      = link_to "Checkouts", checkouts_path, class: "button disabled"
      = link_to "New City", new_city_path, class: "button disabled"

      = render(partial:'partial/map')


