.content

  .row.city-guides-guides-map
    .large-12.medium-12.small-12.columns.margin-from-header
      .large-12.medium-12.small-12.columns.padding-lr-0.subnav-select
        
        %dl.tabs.sub-nav
          %dd
            = link_to 'City Guides', guides_path
          %dd
            = link_to 'Map', map_guides_path
          %dd.active
            %a{href: "#panel4-3"} Blog
       
        .large-12.medium-12.small-12.columns
        %a.button.dropdown.wiching.right{"data-dropdown" => "drop1", href: "#"} Which city?
        %h2 Blog
        %hr
        %br/
        %ul#drop1.f-dropdown{"data-dropdown-content" => ""}
          - @cities.each do |city|
            %li
              - if @blog_categories.count > 0
                = link_to city.name, [city, BlogCategory.first] 
              - else
                = link_to city.name, city
    .tabs-content      
      #panel4-3.content.blog.active
        .large-3.medium-4.small-12.columns.right
          .contact-us_left_inner.content_categories
            %h3 Categories
            - @city_first.each do |city_r|
              - @blog_categories.each do |blog_category|
                .con_blog.con_blog= link_to blog_category.name, blogs_cat_path(city_r, blog_category)
          .contact-us_left_inner.content_categories
            %h3 Popular Blogs
            - @city_first.each do |city_r|
              - @popular_blogs.each do |blogs|
                = link_to blogs.title, [city_r, blogs]
        .large-8.medium-8.small-12.columns.blog_inner-block.left
          - @blogs_guides.reverse_each do |blogs|
            %h3= blogs.title
            %hr
            .blog_inner-block_header
              .blog_inner-block_header_left
                %p
                  Category:
                  = link_to blogs.blog_category.name, blogs_cat_path(blogs.city, blogs.blog_category)
              .blog_inner-block_header_right
                %p
                  Posted:
                  = blogs.created_at.strftime("%A, %B %d, %Y")
                %p
                  Comments:
                  = blogs.blog_comments.count
            %hr
            .blog_inner-block_image
              %a
                = image_tag blogs.image_url
            .blog_inner-block_text
              %p= simple_format(blogs.body)
            %a.blog_inner-block_read-thisblock= link_to 'READ THIS BLOG POST »', [blogs.city, blogs]
            .blog-bottom-space
          %hr
          .pagination = paginate @blogs_guides
          %hr
