- meta title: "Cities Info", description: "Cities Info of Mmlodging", keywords: %w(city cities mmlodging info)
.content
  .row
    .large-12.medium-12.small-12.columns.margin-from-header
      %h2.left Cities Info
      %hr
      - @cities.each do |city|
        .large-6.medium-6.small-12.columns
          %label.cities
            = link_to city.name, city_path(city)
          .city-img
            = link_to city_path(city) do
              = image_tag city.cityimg
          = link_to 'Go to Info', city_path(city), :class => 'button tiny round expand'

      .clearfix