.content
  .row
    .large-12.medium-12.small-12.columns.margin-from-header
      %h1 Edit city

      = render 'form'
      .clear-both
      %hr
      = link_to 'Back', cities_path
      = link_to 'Show', @city


