- meta title: "Where you're always welcome", description: "Myanmar Lodging", keywords: %w(lodging myanmar hotel booking)
= render 'partial/filter'
.content.homepage
  .row
    .large-12.medium-12
      .large-4.medium-6.columns
        .large-12
          %h5.title Great Value Lodgings
          - @properties.each do |property|
            = link_to property_path(property) do
              .content_hostels-cities-block_inner.left
                = image_tag(property.photos.first.image) rescue nil
                .content_hostels-cities-block_inner_text
                  %p.content_hostels-cities-block_inner_text_name=truncate(property.title, length: 60)
                  %p.content_hostels-cities-block_inner_text_price
                    from:
                    %span= number_to_currency(property.price)

      .large-4.medium-6.columns
        %h5.title Weekly Deals:
        - @deals.each do |date|
          = link_to property_path(date.property, :check_in => date.from.strftime("%d/%m/%Y"), :check_out => (date.to - 1.day).strftime("%d/%m/%Y"), :guest => 1) do
            .content_hostels-cities-block_inner
              = image_tag(date.room.photo, class: "image-homepage") rescue nil
              .content_hostels-cities-block_inner_text
                %p.content_hostels-cities-block_inner_text_name
                  = truncate(date.property.title, length: 60)
                %p.content_hostels-cities-block_inner_text_price
                  from:
                  %s= number_to_currency(date.property.price)
                  %span= number_to_currency(date.price)
        .clear-both
        

      .large-4.medium-12.columns
        %h5.title Top cities or towns of Myanmar:
        %table
          %thead
            %tr
              %th CITY
              %th PRICE
          %tbody
          -@cities.each do |city|
            %tr
              %td=link_to city.name, city
              %td
                from: 
                %span= number_to_currency(city.properties.order(:price => :asc).first.price)
        = link_to 'View all cities in Myanmar >>', cities_info_path, class: 'link-page'
      .clear-both


