- meta title: "#{@city.name} Map", description: truncate(strip_tags(@city.address), length: 255), keywords: @city.name.split(' ')
.content
  .row
    .large-12.medium-12.small-12.columns.margin-from-header
      .large-4.columns.padding-lr-0
        %h2.left= @city.name
      .large-8.columns.padding-lr-0
        %dl.tabs.right
          %dd
            = link_to "City Info", city_path(@city)
          %dd.active
            = link_to 'Map & Places', map_city_path(@city)
          %dd
            = link_to "View Lodgings", search_index_path(:city => @city)
      %hr
        %p.left= @city.address
       
    
    .large-12.columns
      #map{:style => 'height: 400px'}
      = map(:center => {:latlng => [@city.lat, @city.lng],:zoom => 10}, :markers => @hash)
      :javascript
        map.fitBounds(#{@panTo});
    .large-12.medium-12.small-12.columns.padding-lr-0
      %hr
      %h4 Other Cities Info
      - @places.each do |place|
        .large-6.medium-6.small-6.columns.item
          .large-6.medium-6.small-12.columns
            = link_to city_place_path(@city, place) do
              = image_tag place.placeimg_url(:medium)
          .large-6.medium-6.small-12.columns
            %p
              = link_to place.title, city_place_path(@city, place)
            = link_to 'Go to Info', city_place_path(@city, place), :class => 'button tiny round expand'
      .clearfix