.content
  .row.city-guides-guides-map
    .large-12.medium-12.small-12.columns.margin-from-header
      .large-12.medium-12.small-12.columns.padding-lr-0.subnav-select
        %dl.tabs.sub-nav
          %dd
            = link_to 'City Guides', @city
          %dd.active
            %a{href: "#panel4-2"} Map
          %dd
            = link_to 'Blog', blog_cities_path(@city)
          %dd
            = link_to "View Lodgings", search_index_path(:city => @city.id)
        %a.button.dropdown.wiching.right{"data-dropdown" => "drop1", href: "#"} Which city?
        %br/
        %ul#drop1.f-dropdown{"data-dropdown-content" => ""}
          - @cities.each do |city|
            %li
              - if @blog_categories.count > 0
                = link_to city.name, [city, BlogCategory.first]
              - else
                = link_to city.name, city
    .tabs-content
      
      #panel4-2.content.active
        .large-12.medium-12.small-12.columns
          %h3= @city.name
        .large-8.medium-7.small-12.columns
          .city-guides-guides-map_main-img
            = render "partial/map"
        .large-3.large-offset-1.medium-4.medium-offset-1.small-12.columns.content_categories_block
          .content_categories
            %h4 Popular City Guides
            - @cities.each do |city|
              - if @blog_categories.count > 0
                = link_to city.name, [city, BlogCategory.first]
              - else
                = link_to city.name, city  
        .large-12.medium-12.small-12.columns.padding-lr-0
          .large-12.medium-12.small-12.columns
            .guides-maps-inside
              - @places.each do |place|
                .guides-maps-inside_block
                  = link_to 'Go To Guide', [@city, place]
              .clear-both
              %hr
              = paginate @places
