.content
  .row
    .large-12.medium-12.columns.margin-from-header.edit-guest
      %h2 Thanks! Your order was sent.
      %h3 Do you want to pay with card?
      - @checkout=Checkout.find(session[:checkout_id])
      - @hotel = Hotel.find(@checkout.hotel_id)
      = form_tag(controller:'checkouts', action:'payment', method: 'post') do
        -if flash[:error]
          %h3 Error:
          %p= flash[:error]
        %article
          %label.amount
            %span Amount: $#{@checkout.general_price}.
            -if @hotel.special_payment == true
              - price = @checkout.general_price.to_i * 10
              Pay only 10 percent
            -else
              - price = @checkout.general_price.to_i * 100
          =hidden_field_tag :checkout_id, @checkout.id
        %script.stripe-button{"data-amount" => "#{price}", "data-description" => "", "data-key" => Rails.configuration.stripe[:publishable_key], src: "https://checkout.stripe.com/checkout.js"}
      .large-8.large-offset-1.large-push-3.medium-8.medium-push-4.small-12.small-push-0.columns.padding-lr-0.edit-guest_right
