- meta title: @city.name, description: truncate(strip_tags(@city.description), length: 255), keywords: @city.name.split(' ')
.content
  .row
    .large-12.medium-12.small-12.columns.margin-from-header
      .large-4.columns
        %h2.left= @city.name
      .large-8.columns
        %dl.tabs.right
          %dd.active
            = link_to "City Info", city_path(@city)
          %dd
            = link_to 'Map & Places', map_city_path(@city)
          %dd
            = link_to "View Lodgings", search_index_path(:city => @city)
      %hr
        %p.left= @city.address
    .tabs-content
      .content.active
        .large-6.medium-4.small-12.columns
          %a.th
            = image_tag @city.cityimg if @city.cityimg?
        .large-6.medium-12.small-12.columns
          .city-guides
            %h3= "Description of #{@city.name}"
            %ul  
              %li
                .list-item
                  %b Total:
                  %span= @city.total
              %li
                .list-item
                  %b Density:
                  %span= @city.density
              %li  
                .list-item
                  %b Ethnicities:
                  %span= @city.ethnicities
              %li  
                .list-item
                  %b Religions:
                  %span= @city.religions
              
        / .large-3.medium-3.small-6.columns
        /   .content_categories
        /     %h4 Other Cities Info
        /     - @cities.each do |city|
        /       = link_to city.name, city_path(city)
  
        .large-12.medium-12.small-12.columns
          .guides-inside_text-block_inner
            %hr
            %h4= "About #{@city.name}"
            %p= simple_format(@city.description)
