.content
  .row
    .large-12.medium-12.small-12.columns.margin-from-header
      %table.w100
        %tr
          %th Hotel
          %th
          %th
          

        - @hotels.each do |hotel|
          %tr
            %td= hotel.title
            %td= link_to 'Show hotels', hotels_index_path(hotel.city)
            %td= link_to 'Rooms'+' ('+ hotel.rooms.count.to_s+')', rooms_index_path(hotel.city, hotel)
    -#
      %br
      %table.w100
        %tr
          %th
          %th
          %th Info:
          %th
          %th
          %th= link_to 'FAQ', faq_categories_path
          %th= link_to 'Security & Privace', privacy_and_security_statements_path
          %th= link_to 'About Us', abouts_path
          %th= link_to 'Terms & Condutions', terms_path



      %br
      = link_to "Users", users_path, class: "button disabled"
      = link_to "Checkouts", checkouts_path, class: "button disabled"
      = link_to "New City", new_city_path, class: "button disabled"

      = render(partial:'partial/map')
