/*
*= require font-awesome
*= require simple-line-icons
*= require style_bootstrap
*= require admin_dashboard/uniform.default.min
*= require admin_dashboard/select2
*= require admin_dashboard/icheck/skins/line/blue.css
*= require admin_dashboard/bootstrap-fileinput
*= require admin_dashboard/bootstrap-datepicker/datepicker3
*= require admin_dashboard/fullcalendar/fullcalendar.min
*= require admin_dashboard/touchspin
*= require jquery.tagsinput
*= require admin_dashboard/error
*= require admin_dashboard/components-rounded
*= require admin_dashboard/plugins
*= require admin_dashboard/layout
*= require admin_dashboard/themes/default
*= require admin_dashboard/custom
*= require toastr
*= require leaflet
*/
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('/assets/glyphicons-halflings-regular.eot');
  src: url('/assets/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('/assets/glyphicons-halflings-regular.woff') format('woff'), url('/assets/glyphicons-halflings-regular.ttf') format('truetype'), url('/assets/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
.message{
  margin-left: 0 !important;
}
.subject{
  margin-left: 0 !important;
}