/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require foundation
 *= require foundation_and_overrides
 *= require font-awesome
 *= require redactor-rails
 *= require abouts
 *= require hotels
 *= require jcarousel.connected-carousels
 *= require jquery-ui-1.10.4.min
 *= require jquery.raty
 *= require lightbox
 *= require omniauth
 *= require style
 *= require custom
 *= require responsive
 *= require leaflet


 */
@import 'foundation-icons';
@import "foundation_and_overrides";
/* Add imports of custom sass/scss files here */
 .hide {
 	display: none;
 }

 .full-width-button {
	display:block;
	padding: 5px 30px;
	text-align: center;
}

 .margin-top-40 {
 	margin-top: 40px !important;
 }
 .button_5 {
     border: none;
     height: 60px;
     width: 60px;
     border-radius: 30px;
     -webkit-border-radius: 30px;
     -moz-border-radius: 30px;
     font-size: 24px;
     font-weight: bold;
     color: #FFFFFF;
     background-color: #164962;
     text-align: center;
     padding: 10px 0;
     margin: 0 auto;
     margin-top: -10px;
     display: block;
 }
 .back {
 	border: none !important;
	color: white;
 }
 .back:hover {
 	border: none !important;
	color: white;
 }
 .w100 {
 	width: 100%;
 }

.information p {
	font-size:22px;
}

.information h3 {
	font-size:27px;
}

.mar_auto {
	display: block;
	margin: 0 auto;
}

.wiching {
	background: rgba(37, 173, 243, 0.9) !important;
}

.redactor_editor, .redactor_editor:focus {
	height: 200px !important;
}


.my_button{
  width: 100%;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  border-radius: 5px !important;
  border: none;
  cursor: pointer;
  padding-top: 8px !important;
  padding-bottom: 8px !important;
  margin-top: 10px !important;
  margin-bottom: 14px !important;
}

.my_update{
	margin-left: 16px !important;
	border-radius: 5px !important;
}

.my_reset{
 background:lightskyblue !important;
 border-radius: 5px !important;
}

.overflow {
	position: relative !important;
	overflow: hidden !important;
	height: 100px !important;
	display: block;
}

.new-hotel {
	background-color: #2684b5;
	color: white !important;
}

.hotel-sign-up {
	top: 0 !important;
	position: fixed !important;
	bottom: 0 !important;
	height: 119px !important;
	left: 0 !important;
	right: 0 !important;
	margin: auto !important;
	max-width: 500px !important;
}
.city-choose {
	overflow-y: scroll;
	height: 250px;
}

.ceter-hui {	
	display: block !important;	
	margin: auto !important;
	font-size: 20px !important;
	background-color: rgba(37, 173, 243, 0.9) !important;
	max-width: 360px !important;
	max-height: 55px !important;
}

.size-city-choose {	
	font-size: 45px;
}

.huihui {
	margin-bottom: 30px;
}

.m-top{
	margin-top: 22px !important;
}

.cent{
	float: left !important;
}

.paddd {
	padding: 2.5px !important;
}

.back_preview {
	padding-top: 2.5px !important;
	padding-bottom: 2.5px !important;
}

.m-r{
	margin-right: 10px;

}

