h5.title {
margin-top: 60px;
margin-bottom: 60px;
font-weight: 300;

}

label {
	margin-bottom: 15px;
}

.panel.password-recovery {
	background-color: #ffffff;
	margin-top: 30px;
	color: rgb(111, 111, 111);	
	.button.radius {
		border-radius: 3px;
		background-color: rgb(57, 180, 243);
		font-weight: 700;
	}
}

.calendar-block {
	height: 675px;
}

.select-block {
	select {
		-moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
	}
}

.select-block .select-block-inner:after {
	background-color: transparent;
}

.review-box {
	p {
		font-weight: 600;	
	}
}

.tab-information {
	margin-top: 15px;
	i.fa {
		font-size: 25px;
	}
	li {
			display: inline-table;
		a{
			background-color: #fff;
			color:  #36baff;
			border-radius: 5px;
			padding: 10px;
			border-style: none;
			
			&:active {
				padding: 10px;
				border-radius: 10px;
				color: #36baff;
			}
		}
	}
	.tab-panel {
		border-radius: 5px;
		background-color: #fff;
		margin-top: 35px;
		margin-left: 15px;
		padding: 50px;	
	}
	
	h3 {
		color: #36baff;
		font-size: 22px;
		font-weight: 400;
	}
	p {
		text-align: justify;
	  font-weight: 300 !important;
	  font-size: 15px;
	  line-height: 35px;
	}
	i.fa {
		margin-left: 33px;
		margin-right: 10px;
		margin-top: 18px;
		}
}
.large-4.medium-5.small-12.columns.panel {

	border-radius: 10px;
	margin-top: 75px;
	label {
		text-align: center;
		font-weight: 600;
	}
	h4 {
		font-weight: 600;
	}
}

.content.homepage {
	img {
		width: 265px;
		height: 180px;
		margin-bottom: 50px;
		border-radius: 5px;
	}
	.content_hostels-cities-block_inner_text {
		margin-top: -110px;
		margin-left: 13px;
		width: 265px;
		height: 60px;
	}
	.content_hostels-cities-block_inner {
		margin-left: 14px !important;
		width: 264px;
		span {
			font-weight: 500;
		}
		p {
			font-weight: 600;
		}

	}
}


.city-guides-block.panel {
	background-color: #fff;
}

.content { 
	.hotel { 
		.hotel_header { 
			.tabs {
				margin-top: 20px !important;
			}
		}
	}
}		

h2.left {
	margin-bottom: 35px;
	font-weight: 100;
}

.large-4.large-offset-1.medium-12.small-12.columns.panel {
	margin-top: 74px;
	border-radius: 5px;
	text-align: center;
	padding-top: 20px;
}

.large-4.medium-4.small-12.columns {
	margin-bottom: 20px;
	span {
		margin-left: 10px;
		font-weight: 600;
		font-size: 12px;
		padding-right: 30px;
	}
	span.staf-alignment{
		padding-right: 56px;
	}
	.fa-2x {
		color: rgb(141, 141, 141);
	}
}

h5.comment {
	font-weight: 500;
	color: #38b3f2;
	padding: 10px;
	width: 500px;

}

p.comment {
	padding: 10px;
	background-color: #F6F6F6;
	border-radius: 5px;
}

span.right.date {
	padding: 10px;

}

.large-12.medium-12.small-12.columns.panel.comment {
	border-radius: 5px;
	border-style: none;
	background-color: #F6F6F6;
}

.large-12.medium-4.small-12.columns {
	text-align: right;
	padding: 20px;
}
.large-12.medium-4.small-12.columns.last {
	text-align: center;
	font-weight: 600;
	font-size: 12px;
	padding-right: 30px;	
}

.content_finder-hostels_inner_rating_header {
  margin: 0px 30px 10px;
}



h2.left {
  margin-bottom: 15px;
}


hr.margin {
  margin-bottom: 5%;
  margin-top: 12%;
}

.content_finder-hostels_header_show-map {
  a {
    font-weight: 600;
  }
}

.content_finder-hostels_inner_text {
  h5 {
    a {
      font-weight: 400;
    }
  }
}

.large-12.medium-12.small-12.columns.subnav-select {
  margin-top: 3%;
  margin-bottom: -7%;
}

.city-guides {
  
  h3 {
    border-bottom: 1px solid #DDD;
    padding-bottom: 10px;
    text-align: center;
    font-weight: 300;
    font-size: 30px;
  }
  ul {
    li {
      list-style: none;
      .list-item {
        width: 500px;
        padding: 5px;
        b {
          font-weight: 600;
          margin-right: 10px;
        }
        span {
          font-weight: 400;
        }
      }
    }
  }
}

.white-space {
  margin-top: 3%;
  margin-bottom: 3%;
}

.large-12.medium-12.small-12.columns.popular-city {
  height: 30px;
  padding: 15px 20px 35px;
  margin-top: -25px;
  a {
    margin-left: 30px;
    font-weight: 400;
  }
}

.guides-inside_text-block_inner {
  h4 {
    font-size: 23px;
    font-weight: 500;
  }
  p {
    font-size: 16px;
    line-height: 40px;
    font-weight: 300;
    text-align: justify;
  }
}

.margin-top {
  margin-top: 10%;
}

.large-12.panel.availability {
  background-color: #FFF;
  height: 80px;
}

/* Style for List Room */

.panel.list-room {
  background-color: #FFF;
  margin-top: 30px;
  
  h5 {
    text-align: center;
    border-bottom: 1px solid #DDD;
    padding-bottom: 14px;
  }
  h6.text-center {
    font-weight: 700;
    color: rgb(54, 186, 255);
  }
  img.img-list-room {
    width: 215px;
    margin: 15px;
  }
  ul.facilities-room {
    width: 100%;
    margin: 0;
    padding: 5px;

    li {
      display: inline-table;
      font-size: 13px;
      float:left;
      width: 165px;
      line-height: 30px;
      span {
        margin-left: 5px;
        font-weight: 400;
      }
    }
  }
  select#cart_no_room {
    height: 35px;
    font-size: 13px;
    width: 160px;
    margin-left: 20px;
  }
  label.text-center {
    font-size: 12px;
    line-height: 0px;
  }
  button.tiny.radius {
    width: 100%;
  }
} 
/*-------------cities info--------------*/
.city-img {
  img {
    width: 500px !important;
    height: 280px;
  }    
}

a.button.tiny.round.expand {
    margin-top: 20px;
  font-weight: bold;
  border-radius: 5px;
  padding: 10px;
  font-size: 12px;
  background-color: transparent;
  color: rgb(57, 180, 243);
  border: 1px solid;
  text-transform: uppercase;
}

label.cities {
  font-size: 20px;
  font-weight: 300;
}

/*---------Review List Item ---------------*/

ul.review {
  li {
    display: inline-table;
    i {
      width: 40px;
      float: left;
      .fa.fa-trash.fa-2x {
        margin-right: 5px;
      }
    }
    label {
      float: left;
      width: 100px;
      margin: 5px 20px;
    }
    span {
      margin: 10px;
    }
  }
}


/*------------------------------------------*/
div#sticky-div {
  border: 1px solid #DDD; 
  background: #FFF;
}

/*-------------------blog-----------------*/

article.blog-inner.panel {
  background-color: #FFF;
  header {
    position: static;
    background-color: transparent;
  }
  h3 {
    margin-top: 5%;
    color: #39B4F3 !important;
    border-bottom: 0 !important;
  }
  p {
    font-weight: 400;
    font-size: 16px;
    font-style: normal;
    color: #504F58;
    line-height: 40px;
  }
  span.comments-blog {
   color: #39B4F3;
   font-style: normal;
   font-weight: 600;
  }

}

.img-wrapper-blog {
  img {
    width: 100%;
  }
}

.content.blog.active {
  h1 {
    font-size: 20px;
  } 
  h3 {
    
  }
  a {
    font-style: normal;
    line-height: 30px;
    font-size: 16px !important;
  }
}

.blog_inner-block_text {
  padding: 20px;
}

.large-4.medium-4.small-12.columns {
   span {
    background-color: #4C94D0;
    border-radius: 5px !important;
    margin: 5px;
    padding-left: 20px;

    a {
      font-size: 13px !important;
      color: #FFF;
      border-bottom: 0;
      padding-left: 15px;
      padding-bottom: 0;
      padding-top: 0;
    }
  }
}

