// Place all the styles related to the hotels controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#map label { width: auto; display:inline; }
#map img { max-width: none; max-height: none; }