/** Stage container **/

.connected-carousels .stage {
    width: 100%;
    position: relative;
}

.connected-carousels .photo-credits {
    position: absolute;
    right: 15px;
    bottom: 0;
    font-size: 13px;
    color: #fff;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.85);
    opacity: .66;
}

.connected-carousels .photo-credits a {
    color: #fff;
}

/** Navigation container **/

.connected-carousels .navigation {
    width: 100%;
    margin: 20px auto;
    position: relative;
}

/** Shared carousel styles **/

.connected-carousels .carousel {
    overflow: hidden;
    position: relative;
    border-radius: 5px;
}

.connected-carousels .carousel ul {
    width: 20000em;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}

.connected-carousels .carousel li {
    float: left;
}

.connected-carousels .carousel li  img{
    width: 100%;
	height: auto;

}

/** Stage carousel specific styles **/

.connected-carousels .carousel-stage {
}

/** Navigation carousel specific styles **/

.connected-carousels .carousel-navigation {
    width: 95%;
    margin: 0 auto;
    display: block;
}

.connected-carousels .carousel-navigation li {
    cursor: pointer;
    display: block;
    overflow: hidden;
    border: 8px solid #fff;
}

.connected-carousels .carousel-navigation li img {
    display: block;
    border-radius: 5px;
}

.connected-carousels .carousel-navigation li.active img {
    border-color: #ccc;
}

/** Stage carousel controls **/

.connected-carousels .prev-stage,
.connected-carousels .next-stage {
    display: block;
    position: absolute;
    top: 0;
    width: 50px;
    height: 100%;
    color: #fff;
}

.connected-carousels .prev-stage {
    left: 0;
}

.connected-carousels .next-stage {
    right: 0;
}

.connected-carousels .prev-stage.inactive,
.connected-carousels .next-stage.inactive {
    display: none;
}

.connected-carousels .prev-stage span,
.connected-carousels .next-stage span {
    display: none;
    position: absolute;
    top: 50%;
    width: 30px;
    height: 30px;
    background: #4E443C;
    -webkit-border-radius: 30px;
       -moz-border-radius: 30px;
            border-radius: 30px;
}

.connected-carousels .prev-stage span {
    left: 10px;
    background-image: url(/assets/slider-left.png);
    background-repeat: no-repeat;
    background-position: 9px center;
}

.connected-carousels .next-stage span {
    right: 10px;
    background-image: url(/assets/slider-right.png);
    background-repeat: no-repeat;
    background-position: 12px center;
}

.connected-carousels .prev-stage:hover span,
.connected-carousels .next-stage:hover span {
    display: block;
}

/** Navigation carousel controls **/

.connected-carousels .prev-navigation,
.connected-carousels .next-navigation {
    display: block;
    position: absolute;
    width: 15px;
    height: 30px;
    top: 40%;
    z-index: 9;
}

.connected-carousels .prev-navigation {
    left: 0;
    text-indent: 6px;
    background: url(/assets/slider-left.png);
    background-repeat: no-repeat;
    background-position: center;
}

.connected-carousels .next-navigation {
    right: 0;
    text-indent: 20px;
    background: url(/assets/slider-right.png);
    background-repeat: no-repeat;
    background-position: center;
}

.connected-carousels .prev-navigation.inactive,
.connected-carousels .next-navigation.inactive {
    opacity: .5;
    cursor: default;
}
