// Place all the styles related to the omniauth controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#btn-facebook, #btn-twitter, #btn-google_oauth2{
	width: 190px;
	height:45px;
	margin-top: 4px;
	display: inline-block;
	background: url("social-btn.jpg");
}
#btn-facebook{
	background-position: -7px -7px;
}
#btn-twitter{
	background-position: -7px -137px;
}
#btn-google_oauth2{
	background-position: -7px -72px;
}
.or_image{
	height: 188px;
	width: 50px;
	background: url("or.jpg");
	margin: auto;
}
.list_social{
	margin: 0;
	padding: 0;
	margin-top: 9px;
}
.form_login{
	padding: 0;
}
.form_login h3{
	text-align: center;
	margin: 0;
}
.margin_input{
	margin: 0 0 6px 0;
}