/*----Mobile (e.g. Apple iPhone)---*/
@media (min-width: 320px) and (max-width: 340px) {
  header {
    .header_forgottpass {
      margin-bottom: 10px;
      padding: 10px!important;
      p {
        font-size: 16px!important;
      }
    }
    .top-bar {
      height: 45px;
      padding: 0!important;
      .name {
        height: 45px;
      }
    }
  } 
  body {
    .wrapper {
      .calendar-block{
        height: 600px !important;
        .calendar-block_inner {
          .calendar-block_inner_destination {
            select {
              width: 150%;
              margin-left: 20%;
            } 
          }
          .calendar-block_inner_check-in-out {
            input {
              width: 140%;
              margin-left: 20%;
            }
          }
          .calendar-block_inner_guests {
            select {
            width: 200%;
            margin-top: 58px;
            margin-left: -148px;
            }
          }
          .calendar-block_inner_search {
            input {
              width: 140%;
              margin-left: 20%;
            } 
          }
        }  

        h1.first{
          margin-top: 50%;
          font-size: 28px;
        }
        h1.second{
          
          font-size: 20px;
        }
        p {
          display: none;
        }
      }
      .content{
        .sign-up-hotel-content {
          .padding-block-right {
            padding-left: 0;
            padding-right: 10px;
          }
        }
        .city-guides-guides-map {
          h3 {
            width: 100%;
            margin-bottom: 10%;
            margin-top: 7%;
            font-weight: 400;
          }
          .city-guides-block {
            .city-guides-block_inner {
              .city-guides-block_inner_right {
                padding-right: 170px;
                .city-guides-block_inner_right_go-to {
                  position: absolute !important;
                  
                }  
                .city-guides-block_inner_right_name {
                  font-weight: 400;
                  margin-top: 15% !important;
                  text-align: center;
                  white-space: nowrap;
                }
              }
              .city-guides-block_inner_left {
                img {
                  height: 140px;
                }
              }   
            }  
          } 
        }
      }      
    } 
    .large-4.medium-6.columns {
      margin-left: -5%;
    }
    a.link-page {
      float: inherit;
      margin-left: 15%;
    }
    .large-12.medium-12.small-12.columns.review-box {
      margin-left: -21%;
      margin-bottom: 10%;
      width: 120%;
    }
    .content_finder-hostels_header {
      margin-left: 16%;
    }
    .content_finder-hostels_inner {
      width: 66%;
      margin-left: 16%;
      .content_finder-hostels_inner_text-rating {
        width: 85%;
        margin-left: 7%;
        padding: 15px;
      }
    }
    img.reload {
      max-width: 90%;
      margin-left: 8%;
    }
    .hotel_header {
      width: 130%;
      margin-left: -32%;
      h2.left {
        margin-bottom: 33px;
        font-weight: 100;
        margin-left: 25%;
        margin-bottom: auto;
      }
      p.left {
        margin-left: 25%;
      }
    }
    div#panel1 {
      margin-left: -5%;
      width: 110%;
      margin-bottom: -30%;
    }
    .tab-information li a {
      display: inline-table;
    }
    .margin-from-header {
      margin-top: 145px;
    }
    .large-4.medium-4.small-12.columns span {
      font-size: 11px;
      padding-right: 14px;
    }  
    .large-4.medium-4.small-12.columns span.staf-alignment {
      padding-right: 46px;
    }
    a.button.dropdown.wiching.right {
      width: 100%;
      font-size: 15px;
      font-weight: bold;
    }
    .large-5.medium-12.columns.content_finder-hostels_inner_rating {
      margin-top: 10%;
    }
    .or_image {
      height: 5px;
      margin: auto;
    }
    a#btn-google_oauth2 {
      margin-left: 12%;
    }
    a#btn-facebook {
      margin-left: 12%;
    }
    div#ui-datepicker-div {
      margin-left: -26%;
    }
    .large-6.medium-6.small-12.columns.city-guides-block_inner_right {
    /*  padding: 18px 10px 10px;
      margin-top: -57%;
      width: 96%;
      margin-bottom: 16%;*/
    }
    .large-12.medium-12.small-12.columns.margin-from-header {
      .large-12.medium-12.small-12.columns.subnav-select {
        dl.tabs.sub-nav {
          width: 65%;
          display: table;
          a {
            border-style: none;
            font-weight: bold;
          }
        }
      }
    }
  }
}

/*--------------------------------------------------*/

@media (min-width: 600px) and (max-width: 767px) {
  header {
    .header_forgottpass {
      margin-bottom: 10px;
      padding: 10px!important;
      p {
        font-size: 16px!important;
      }
    }
    .top-bar {
      height: 45px;
      padding: 0!important;
      .name {
        height: 45px;
      }
    }
  }
  body {
    .wrapper {
      .calendar-block{
        height: 500px !important;
        .calendar-block_inner {
          .calendar-block_inner_destination {
            select {
              width: 100%;
              margin-left: 20%;
            } 
          }
          .calendar-block_inner_check-in-out {
            input {
              width: 100%;
              margin-left: 20%;
            }
          }
          .calendar-block_inner_guests {
            select {
            width: 170%;
            margin-left: 80%;
            }
          }
          .calendar-block_inner_search {
            input {
              width: 120%;
              margin-left: 100%;
            } 
          }
        }  

        h1.first{
          margin-top: 30%;
          font-size: 32px;
        }
        h1.second{
          font-size: 26px;
        }
        p {
          display: none;
        }
      }
      .content {
        .city-guides-guides-map {
          a.button.dropdown.wiching.right {
            font-size: 15px;
            width: 27%;
            padding: 10px;
            margin-right: 5%;
          }
          .city-guides-block {
            .city-guides-block_inner {
              .city-guides-block_inner_left {
                img {
                  height: 300px;
                }
              }
              .city-guides-block_inner_right {
                position: absolute;
              }
              .city-guides-block_inner_right_name {
                font-size: 26px;
                color: #FFF !important;
                text-shadow: 1px 1px #848484;
                font-weight: 100 !important;
                margin-left: 2% !important;
                margin-top: 2% !important;
                float: left !important;
              }
            } 
          }
        }
        .content_finder-hostels {
          .content_finder-hostels_inner {
            .content_finder-hostels_inner_text-rating {
              .content_finder-hostels_inner_text {
                p {
                  padding-top: 5px;
                  padding-bottom: 5px;
                  padding-left: 15px;
                }
              }
            }
          }
           .content_finder-hostels_header {
            .sub-nav {
              margin: 18px 85px;
            }
           }
        }
      }  
    }
    .margin-from-header {
      dl.tabs.sub-nav {
        margin-top: 5%;
      }
    }  
    .large-12.medium-12.small-12.columns.review-box {
      margin-left: -5%;
      margin-bottom: 8%;
    }
    div#panel1, div#panel2, div#panel3, div#panel4 {
      margin-left: 0%;
    }
    .large-6.medium-6.small-12.columns.padding-block-right {
      margin-left: -2%;
    }
    .city-guides-block_inner_right_go-to {
      margin-left: -140%;
      height: 50px;
      bottom: none;
      font-size: 25px;
      font-weight: 100 !important;
      top: 235px;
    }
    .content_finder-hostels_header_show-map {
      margin-left: 10%;
    }
    img.reload {
      margin-left: 12%;
      max-width: 78%;
    }
    .large-8.medium-8.small-12.columns.content_finder-hostels_inner_text-rating {
      width: 75%;
      margin-left: 12%;
    }
    .large-5.large-ofsset-1.medium-3.medium-offset-1.small-12.columns.content_categories_block {
      margin-top: 5%;
      padding: 5%;
    }
    .large-12.medium-12.small-12.columns.city-details {
      padding: 5%;
    }

    .large-4.medium-6.columns {
      margin-left: -2%;
    }
  }
}

@media (min-width: 768px) and (max-width: 800px) {
  form#searchform_room {
    margin-left: 6%;  
  }
  div#container {
    margin-left: -3%;
  }
  .reveal-modal.small {
    margin-left: -38%;
    margin-top: 5%;
    width: 68%;
  }
  body {
    .wrapper {
      .content {
        .content_filters {
          display: none;
        }
        .content_finder-hostels {
          margin-top: 100px;
          margin-left: 0px;
          margin-right: 0px;
        }
      }
      .calendar-block {
        .calendar-block_inner {
          .calendar-block_inner_search {
            input#go {
              margin-left: 150%;
            }
          }
        }   
      }
      .large-4.medium-12.small-12.columns.city-guides-block_inner {
        img {
          height: 10%;
        }
      }
    }
  }
}

.large-12.medium-12.small-12.columns {
  h4 {
    margin-bottom: 2%;
  }
}