@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800);
@import url(http://fonts.googleapis.com/css?family=Lato:300);
input,select {
  outline: none;
}

textarea {
  resize: none;
}

h1, h2, h3, h4, h5 {
  color: #555459;
}
h1 {
  font-size: 25px;
}

select::-ms-expand {
  display: none;
}

input,textarea {
  box-shadow: none!important;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}

input[type=radio].css-checkbox {
  display:none;
}

input[type=radio].css-checkbox + label.css-label {
  padding-left:26px;
  height:21px;
  line-height:21px;
  background-repeat:no-repeat;
  background-position: 0 0;
  font-size:21px;
  vertical-align:middle;
  cursor:pointer;
}

select, input[type=text] {
  line-height: 20px;
}

.input-file-block {
  position: relative;
  display: inline-block;
  overflow: hidden;
  width: 100%;
  border: 1px solid #c8c8c8;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  padding: 3px;
  padding-right: 30px;
  margin: 10px 0;
  .input-file-block_inner {
    overflow: hidden;
    input[type=file] {
      filter: alpha(opacity=1);
      opacity: 0.01;
      -moz-opacity: 0.01;
      margin-bottom: 0;
      z-index: 99;
      position: absolute;
      height: 25px;
      left: 0;
    }
    .button {
      position: relative;
      top: 0;
      color: #fff;
      border-bottom: 1px solid #bdbcbc;
      height: 25px;
      background: #e0e0e0;
      padding: 4px 18px;
      margin-right: 5px;
      border-radius: 5px;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      display: inline-block;
      font-weight: bold;
      margin-bottom: 0;
      float: left;
    }
    .file-holder{
      color: #000;
      max-width: 50%;
      float: left;
      padding: 5px 0;
    }
  }
}

.has-tip {
  &:hover, &:focus {
    border: 1px solid #cccccc;
  }
}

.tooltip {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  background: #d7d7d7;
  color: #9f9f9f;
  width: auto!important;
  .nub {
    left: 35%;
    border-color: transparent transparent #d7d7d7 transparent;
  }
}

.first-header {
  .registered-user {
    .header_sign-in-out {
      white-space: nowrap;
      .header_sign-in-out_inner {
        overflow: hidden;
        max-width: 70px;
        margin: 0 auto;
      }
      &:hover {
        color: #2684b5;
        background-image: image_url('user.png');
        background-repeat: no-repeat;
        background-position: center 15px;
        color: #fff;
      }
      width: 98px;
      overflow: hidden;
      height: 73px;
      padding: 40px 10px 10px 10px;
      background-image: image_url('user.png');
      background-repeat: no-repeat;
      background-position: center 15px;
    }
  }
}

input[type=radio].css-checkbox:checked + label.css-label {
  background-position: 0 -21px;
}
label.css-label {
  background-image: image_url('csscheckbox_cab8789c237fd23dd15dad536a525160.png');
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.clear-both {
  clear: both;
}

.hr {
  margin: 30px 0;
  border-bottom: 1px solid #e6e6e6;
}

.bold {
  font-weight: bold;
}

.margin-from-header {
  margin-top: 120px;
}

ul.pagination {
  li.current {
    background: #36baff;
  }
  li.unavailable {
    &:hover a, &:focus a{
      color: #8c8c8c;
      cursor: default;
    }
  }
  li {
    width: 25px;
    height: 25px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    margin-left: 0;
    &:hover a, &:focus a{
      cursor: pointer;
      color: #000000;
    }
    a {
      width: 25px;
      height: 25px;
      border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      line-height: 23px;
      font-weight: bold;
      color: #8c8c8c;

    }
  }
}

.button-full-width {
  width: 100%;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border: none;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  padding: 5px 0;
  cursor: pointer;
  z-index: 3;
  position: relative;
  &:active {
    position: relative;
    top: 2px;
    border-bottom: none;
    margin-bottom: 5px!important;
  }
}

.button-full-width-green {
  @extend .button-full-width;
  background: #34e867;
  border-bottom-color: #2abb53;
  color: #1b893a;
  width: 100%;
  &:hover {
    background: #36f86c;
    color: #1b893a;
  }
}

.button-full-width-grey {
  @extend .button-full-width;
  background: #bababa;
  border-bottom-color: #979696;
  color: #ffffff;
  &:hover {
    background: #a5a4a4;
    color: #ffffff;
  }
}

.button-full-width-orange {
  @extend .button-full-width;
  background: #f87230;
  border-bottom-color: #c95c27;
  color: #ffffff;
  
}


.button-full-width-yellow {
  @extend .button-full-width;
  background: #f8d030;
  border-bottom-color: #c9a827;
  color: #967a09;
  &:hover {
    background: #ffe136;
  }
}

.tabs-content {
  .content {
    display: none!important;
  }
  .content.active {
    display: block!important;
  }
}

.sub-nav, .tabs {
  .active a {
    background: #36baff;
    color: #ffffff;
  }
  dt {
    font-weight: bold;
  }
  dt,dd,li {
    font-family: 'Open Sans', sans-serif;
    color: #717171;
    font-size: 14px;
    margin-left: 10px;
    a {
      border: 1px solid #36baff;
      padding: 4px 19px;
      border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
    }
  }
}

.slider-line {
  .ui-widget-content {
    border: 1px solid #9cddff;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    .ui-widget-header {
      background: #9cddff;
    }
    .ui-slider-handle {
      width: 20px;
      height: 20px;
      border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border: 1px solid #ffffff;
      background: #36baff;
      &:active, &:focus {
        outline: none;
      }
    }
  }
  input, label {
    float: left;
    color: #8c8c8c;
    margin-top: 10px;
    line-height: 17px;
  }
  input {
    border: none;
    display: table;
    width: 105px;
    margin-left: 5px;
    font-weight: bold;
  }
}

select {
  border: 1px solid #c8c8c8;
  background: #ececec;
  color: #828282;
  background-image: image_url('select.png');
  background-repeat: no-repeat;
  background-position: 97% center;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  cursor: pointer;
  text-overflow: "";
  text-indent: 0.01px;
}

.checkbox-block {
  overflow: hidden;
  .checkbox {
    width: 20px;
    input {
      display: none;
    }
    span {
      width: 20px;
      height: 20px;
      display: block;
      background: image_url('checkbox.png');
      background-position-y: -20px;
      border: 1px solid #cbcbcb;
      border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
    }
    input[type=checkbox]:checked + span {
      background: image_url('checkbox.png');
      background-position-y: -1px;
    }
  }
  label {
    display: table!important;
    float: left;
    &:last-child {
      margin-left: 10px;
    }
  }
}

button {
  outline: none;
}



.accordion-block {
  p {
    text-align: justify;
  }
  h3.active {
    background: image_url('active-accordion-green.png');
    background-position: 0 center;
    background-repeat: no-repeat;
  }
  .content_filters_filter-results_kind {
    margin-bottom: 0;
    font-weight: bold;
  }
  .checkbox-block {
    margin: 5px 0;
    label {
      &:first-child {
        position: absolute;
      }
      &:last-child {
        margin-left: 25px;
      }
    }
  }
  h3 {
    padding-left: 25px;
    background: image_url('accordion-green.png');
    background-position: 0 center;
    background-repeat: no-repeat;
    &:hover {
      cursor: pointer;
    }
  }
  .accordion1 {
    overflow: hidden;
    padding: 5px 25px;
    position: relative;
  }
}

.menu-btn {
  display: none;
  width: 150px;
  text-align: center;
}

#ui-datepicker-div {
  z-index: 9999!important;
  border: 1px solid #c8c8c8;
  padding: 0;
  background: #ffffff;
  td {
    &:hover {
      background: #00caff;
      a {
        color: #ffffff!important;
      }
    }
  }
  .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    border: none!important;
    background: none!important;
  }

  .ui-widget-header {
    background: #ffffff!important;
    border: none!important;
  }


  table{
    border: none!important;
  }

  td span, td a {
    text-align: center!important;
    width: 47px;
    height: 47px;
    border-radius: 24px;
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    line-height: 40px;
  }

  table {
    border-collapse: separate!important;
  }

  td span, td {
    width: 47px;
    height: 47px;
    border-radius: 24px;
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
  }

  width: auto!important;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  .ui-icon {
    width: 20px;
    height: 20px;
  }
  .ui-datepicker-prev {
    left: 35px!important;
    top: 12px!important;
    .ui-icon {
      background-image: image_url('calendar-left.png');
      background-repeat: no-repeat;
      background-position: 0;

    }
    &:hover {
      background: none!important;
      border: none!important;
      top: 12px!important;
      left: 35px!important;
    }
  }
  .ui-datepicker-next {
    right: 35px!important;
    top: 12px!important;
    .ui-icon {
      background-image: image_url('calendar-right.png');
      background-repeat: no-repeat;
      background-position: 0;

    }
    &:hover {
      background: none!important;
      border: none!important;
      top: 12px!important;
      right: 35px!important;
    }
  }
}
  .ui-datepicker-calendar {
    border-bottom-left-radius: 15px!important;
    border-bottom-right-radius: 15px!important;
    padding: 10px;
  }
  .ui-datepicker-header {
    border-top-left-radius: 15px!important;
    border-top-right-radius: 15px!important;
    border-bottom-right-radius: 0!important;
    border-bottom-left-radius: 0!important;
  }
  .ui-datepicker-title {
    margin-top: 10px!important;
    span{
      font-size: 22px!important;
      text-transform: uppercase;
    }
  }
  table {
    thead {
      tr {
        th {
          span {
            text-transform: uppercase;
          }
        }
      }
    }
    .ui-datepicker-other-month {
      &:hover {
        background: none!important;
      }
    }
    .ui-datepicker-current-day {
      background: #00caff!important;
      a {
        color: #ffffff!important;
      }
    }
    .ui-datepicker-today {
      background: #C1C1C1!important;
      a {
        color: #ffffff!important;
      }
    }

  }

.ui-datepicker-days-cell-over {
  background: #00addf;
  a {
    color: #ffffff!important;
  }
}

.sign-up-hotel-block_inner {
  background: url(/assets/sign-up-bg.png) no-repeat center center;
  background-size: 2000px 274px;
}

table tr.even, table tr.alt, table tr:nth-of-type(even) {
  background: #F9F9F9;
}


body {
  font-family: 'Open Sans', sans-serif;
  color: #717171;
  font-size: 14px;
  p {
    font-size: 14px;
  }
  .wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -310px;
    padding-bottom: 310px;
    header {
      .second-header {
        display: none;
      }
      .header_forgottpass {
        background-color: rgba(39, 139, 189, 0.9);
        height: 73px;
        padding-top: 15px;
        padding-left: 5px;
        padding-right: 5px;
        overflow: hidden;
        .header_forgottpass_quit {
          width: 15px;
          height: 15px;
          border: 1px solid #f64648;
          border-radius: 8px;
          -webkit-border-radius: 8px;
          -moz-border-radius: 8px;
          color: #f64648;
          text-align: center;
          font-weight: bold;
          cursor: pointer;
          line-height: 14px;
          font-size: 16px;
          float: right;
        }
        p {
          color: #b9d7e6;
          font-size: 12px;
          margin-bottom: 0;
          span {
            color: #ffffff;
          }
          a {
            color: #b9d7e6;
            &:hover {
              color: #ffffff;
            }
          }
        }
      }
      form {
        margin: 21px 0;
        overflow: hidden;
        padding-left: 3%;
        .button-full-width-yellow {
          margin-top: 0px!important;
          height: 30px;
          margin-bottom: 0!important;
        }
        input {
          height: 29px;
          margin: 0 10px;
          width: 160px;
          float: left;
        }
      }
      position: absolute;
      width: 100%;
      z-index: 99;
      background: rgba(37,173,243,0.9);
      .header_logo {
        height: 73px;
        position: relative;
        a {
          height: 100%;
          display: block;
          img {
            position: absolute;
            margin: auto;
            left: 0;
            right: 0;
            top: -5px;
            bottom: 0;
          }
        }
    }
      .top-bar, .header_sign-in-out {
        padding-top: 25px;
        padding-bottom: 20px;
      }
      .top-bar.expanded {
        .title-area {
          background: rgba(39,139,189,0.9);
        }
        .toggle-topbar {
          a {
            color: #fff;
            &::after {
              box-shadow: 0 10px 0 1px #ffffff, 0 16px 0 1px #ffffff, 0 22px 0 1px #ffffff;
            }
          }
        }
      }
      .top-bar {
        .title-area {
          li {

          }
        }
        section {
          ul {
            li {
              a {
                font-size: 16px;
                &:hover {
                  color: rgba(255,255,255,0.8);
                }
              }
            }
          }
        }
      }
      .header_sign-in-out {
        float: right;
        background-color: rgba(39,139,189,0.9);
        padding: 26px 35px 22px 13px;
        background-image: image_url('log.png');
        background-repeat: no-repeat;
        background-position: 73px 33px;
        color: #fff;
        font-size: 16px;
        line-height: 1.6;
        cursor: pointer;
        &:hover {
          background: rgb(38, 132, 181);
          background-image: image_url('log.png');
          background-repeat: no-repeat;
          background-position: 73px 33px;
        }
      }
    }
    .sign-up-hotel-block {
      padding-top: 73px;
      .sign-up-hotel-block_inner {
        padding: 30px 0;
        .active {
          .sign-up-hotel-block_inner_number {
            background-color: #39ff50!important;
            color: #164962!important;
          }
        }
        h3 {
          color: #FFFFFF;
          margin-bottom: 20px;
          font-size: 24px;
          font-weight: bold;
          text-align: center;
          text-transform: uppercase;
        }
        dd {
          margin: 0;
        }
        .sign-up-hotel-block_inner_pages {
          width: 20%;
          .sign-up-hotel-block_inner_number {
            border: none;
            height: 60px;
            width: 60px;
            border-radius: 30px;
            -webkit-border-radius: 30px;
            -moz-border-radius: 30px;
            font-size: 24px;
            font-weight: bold;
            color: #FFFFFF;
            background-color: #164962;
            text-align: center;
            padding: 10px 0;
            margin: 0 auto;
            display: block;
            pointer-events: none;
          }
          .sign-up-hotel-block_inner_text {
            font-size: 14px;
            color: #FFFFFF;
            font-weight: bold;
            text-align: center;
            margin-top: 25px;
            margin-bottom: 10px;
          }
        }
      }
    }
    .calendar-block {
      h1.first{
        text-align: center;
        font-size: 48px;
        color: #ffffff;
        margin-top: 24%;
        text-shadow: 0px 1px 2px #999;
        -moz-text-shadow: 0px 1px 2px #999;
        -webkit-text-shadow: 0px 1px 2px #999;
        -o-text-shadow: 0px 1px 2px #999;
        -ms-text-shadow: 0px 1px 2px #999;
      }
      h1.second{
        text-align: center;
        font-size: 48px;
        color: #FFFFFF;
        margin-bottom: 8%;
        text-shadow: 0px 1px 2px #999;
        -moz-text-shadow: 0px 1px 2px #999;
        -webkit-text-shadow: 0px 1px 2px #999;
        -o-text-shadow: 0px 1px 2px #999;
        -ms-text-shadow: 0px 1px 2px #999;
      }
      .calendar-block_inner {
        display: block;
        margin: 0 auto;
        margin-bottom: 9%;
        width: 100%;
        form {
          display: table;
          margin: 0 auto;
        }
        .calendar-block_inner_destination, .calendar-block_inner_check-in-out, .calendar-block_inner_guests, .calendar-block_inner_search {
          float: left;
          margin: 0 10px;
          p {
            color: #ffffff;
            font-size: 16px;
            padding-left: 15px;
          }
          input, select {
            background: none;
            color: #ffffff;
            border: 2px solid #b1b0ac;
            border-radius: 20px;
            -webkit-border-radius: 20px;
            -moz-border-radius: 20px;
            height: 42px;
          }
          select {
            background-image: image_url('select-data.png');
            background-repeat: no-repeat;
            background-position: 85% center;
            font-weight: bold;
            option {
              background: none;
              background: rgba(174,174,169, 0.8);
            }
          }
        }
        .calendar-block_inner_destination {
          width: 150px;
        }
        .calendar-block_inner_check-in-out {
          width: 160px;
          input {
            background-image: image_url('calandar-input-bg.png');
            background-repeat: no-repeat;
            background-position: 90% center;
          }
        }
        .calendar-block_inner_search {
          input {
            text-transform: uppercase;
            font-weight: bold;
            padding: 8px 65px 8px 35px;
            border: 2px solid #33d17d;
            background: #33d17d;
            background-image: image_url('search-button.png');
            background-repeat: no-repeat;
            background-position: 80% center;
            &:hover {
              cursor: pointer;
              border: 2px solid #2fba6a;
              background: #2fba6a;
              background-image: image_url('search-button.png');
              background-repeat: no-repeat;
              background-position: 80% center;
            }
          }
        }
        .calendar-block_inner_guests {
          width: 110px;
        }
        *::-webkit-input-placeholder {
          color: #ffffff;
          font-weight: bold;
        }
        *:-moz-placeholder {
          color: #ffffff;
          font-weight: bold;
        }
        *:-ms-input-placeholder { /* IE10+ */
          color: #ffffff;
          font-weight: bold;
        }
      }
    }
    .content {
      display: block;
      overflow: hidden;
      .edit-guest {
        .edit-guest_right {
          ul {
            margin-left: 30px;
            list-style-image: image_url('li-icon.png');
          }
          h2 {
            font-size: 28px;
            font-weight: bold;
          }
          h3 {
            font-size: 24px;
            font-weight: bold;
          }
          .edit-guest_details {
            &:last-child {
              border: none;
            }
            padding: 2px 0;
            float: left;
            border-bottom: 1px solid #ececec;
            p {
              margin-bottom: 0;
            }
            .edit-guest_details_left {
              position: absolute;
              font-weight: bold;
            }
            .edit-guest_details_right {
              padding-left: 40%;
            }
          }
        }
        .edit-guest_left {
          width: 260px;
          border-radius: 5px;
          -webkit-border-radius: 5px;
          -moz-border-radius: 5px;
          border: 1px solid #cecece;
          position: absolute;
          left: 15px;
          -webkit-box-shadow: 0px 0px 1px 1px rgba(245,245,245,1);
          -moz-box-shadow: 0px 0px 1px 1px rgba(245,245,245,1);
          box-shadow: 0px 0px 1px 1px rgba(245,245,245,1);
          .edit-guest_left_header {
            font-size: 18px;
            font-weight: bold;
            background-color: #ececec;
            text-align: center;
            padding: 15px 0;
          }
          .edit-guest_left_ul {
            padding-bottom: 15px;
            .button-full-width-green {
              text-align: center;
              display: block;
            }
            ul {
              list-style: none;
              margin: 0;
              margin-top: 15px;
              margin-bottom: 20px;
              li {
                background-position: left 3px;
                &:nth-child(1) {
                  background-image: image_url('li-date.png');
                  background-repeat: no-repeat;
                }
                &:nth-child(2) {
                  background-image: image_url('li-edit.png');
                  background-repeat: no-repeat;
                }
                &:nth-child(3) {
                  background-image: image_url('li-contact.png');
                  background-repeat: no-repeat;
                  background-position: 2px 3px;
                }
                &:nth-child(4) {
                  background-image: image_url('li-change.png');
                  background-repeat: no-repeat;
                }
                &:nth-child(5) {
                  background-image: image_url('li-cansel.png');
                  background-repeat: no-repeat;
                }
                a {
                  padding-left: 25px;
                  color: #20b3ff;
                  font-weight: bold;
                  display: table;
                }
              }
            }
          }
        }
      }
      .account-page {
        .checkout {
          .button-full-width-orange, .button-full-width-grey {
            width: 160px;
            float: right;
          }
          .button-full-width-grey {
            margin-right: 15px;
          }
        }
        .sign-up-hotel-content {
          .padding-block-left, .padding-block-right {
            input,select {
              font-weight: normal;
              color: #8c8c8c;
            }
            h3 {
              &:first-child {
                margin-top: 0;
              }
            }
          }
        }
        .account-page_bookings {
          .disable-canselled {
            opacity: 0.6;
            .account-page_bookings_block_right .account-page_bookings_block_right_text-block .price {
              color: #d45b5b!important;
            }
          }
          .disable-was {
            opacity: 0.6;
            .account-page_bookings_block_right .account-page_bookings_block_right_text-block .price {
              color: #b7b6b6!important;
            }
          }
          .account-page_bookings_block {
            margin-bottom: 25px;
            .header-second {
              display: none;
            }
            .account-page_bookings_block_right_header {
              overflow: hidden;
              position: relative;
              margin-bottom: -10px;
              h3 {
                font-size: 24px;
                font-weight: bold;
                float: left;
                width: 100%;
                padding-right: 125px;
              }
              p {
                margin-bottom: 0;
                position: absolute;
                right: 0;
                color: #208dc5;
                font-weight: bold;
                font-size: 18px;
                line-height: 35px;
              }
              a {
                position: absolute;
                right: 0;
                text-transform: uppercase;
                color: #208dc5;
                font-weight: bold;
                padding-left: 44px;
                background-image: image_url('earth-bg.png');
                background-repeat: no-repeat;
                background-position: 10px center;
                line-height: 45px;
              }
            }
            .hr {
              margin-top: 20px;
              margin-bottom: 0;
            }
            .account-page_bookings_block_left {
              padding-left: 0;
              padding-right: 30px;
              img {
                width: 100%;
                border-radius: 5px;
                -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
              }
            }
            .second {
              margin: 0!important;
              .second_text {
                font-style: italic;
                padding-left: 125px;
                margin-top: 20px;
                .date {
                  position: absolute;
                  top: 0;
                  left: 0;
                  color: #20b3ff;
                }
              }
            }
            .account-page_bookings_block_right {
              margin-top: -15px;

              .account-page_bookings_block_right_check-block {
                position: absolute;
                right: 0;
                margin-top: -40px;
                .account-page_bookings_block_right_check {
                  &:first-child {
                    border-right: 1px solid #d8d8d8;
                  }
                }
              }
              .account-page_bookings_block_right_text-block {
                float: left;
                margin-top: 10px;
                p {
                  color: #9d9d9d;
                  margin-bottom: 0;
                }
                .remove {
                  float: left;
                  line-height: 25px;
                  margin-left: 15px;
                  color: #79bbdc;
                }
                .button-full-width-yellow {
                  text-align: center;
                  width: 160px;
                  float: left;
                  display: block;
                  &:hover {
                    color: #967a09;
                  }
                }
                .price {
                  font-size: 24px;
                  font-weight: bold;
                  text-transform: uppercase;
                  color: #f87230;
                  line-height: 55px;
                }
              }
              .account-page_bookings_block_right_check {
                p {
                  font-weight: bold;
                  text-align: center;
                  margin-bottom: 0;
                  &:nth-child(1) {
                    font-size: 18px;
                  }
                  &:nth-child(2) {
                    font-size: 36px;
                  }
                  &:nth-child(3) {
                    text-transform: uppercase;
                  }
                  &:nth-child(4) {
                    font-size: 14px;
                    font-weight: normal;
                  }
                }
              }
            }
          }
        }
      }
      .rating_header {
        position: relative;
        .latest-review {
          font-size: 18px;
          font-weight: bold;
          margin-bottom: 0;
        }

        .rating, .reviews {
          float: left;
          margin-bottom: 0;
        }
        .rating {
          font-size: 18px;
          font-weight: bold;
          color: #20b3ff;
        }
        .reviews {
          margin-left: 10px;
          line-height: 28px;
        }
        .star-block {
          padding: 4px 0;
        }
        select {
          width: 90px;
          float: right;
          border: 1px solid #20b3ff;
          background: none;
          background-image: image_url('active-accordion-blue.png');
          background-repeat: no-repeat;
          margin-bottom: 0;
          padding: 4px 8px;
          height: auto;
          border-radius: 15px;
          -webkit-border-radius: 15px;
          -moz-border-radius: 15px;
          background-position: 65px center;
        }
      }
      .checkout {

        .header_dn {
          display: none;
        }
        .checkout_header {
          margin-top: -10px;
          position: relative;
          h3 {
            padding-right: 120px;
            float: left;
            width: 100%;
          }
          .rating_header {
            position: absolute;
            width: 100%;
            .rating {
              line-height: 43px;
              float: right;
            }
          }
        }
        form {
          overflow: hidden;
          p {
            color: #164962;
          }
        }
        .checkout-properties_text {
          line-height: 18px;
          &:first-child {
            margin-top: 20px;
          }
        }
        .hr {
          margin: 10px 0;
        }
        .checkout-properties_button-block {
          margin-top: 5%;

        }
        .button-full-width-yellow {
          float: right;
          width: 250px;
        }
        .checkout-properties_total-price {
          color: #20b3ff;
          font-size: 18px;
          text-transform: uppercase;
          width: 100%;
          text-align: right;
          font-weight: bold;
          line-height: 32px;
          &:last-child {
          margin-right: 20px;
          }
        }
        textarea {
          height: 90px;
        }
        select {
          background: none;
          background-image: image_url('select.png');
          background-repeat: no-repeat;
          background-position: 97% center;
        }
        .checkout_properties_expiration-date {
          font-weight: bold;
          margin-top: 8px;
          margin-bottom: 23px;
          color: #434343;
        }
        h3 {
          font-weight: bold;
          font-size: 24px;
          color: #434343;
        }
        *::-webkit-input-placeholder {
          color: #8c8c8c;
        }
        *:-moz-placeholder {
          color: #8c8c8c;
        }
        *:-ms-input-placeholder { /* IE10+ */
          color: #8c8c8c;
        }
        .checkout_left {
          padding-right: 15px;
          img {
            width: 100%;
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
          }
        }
        .checkout_right {
          float: right;
          margin-top: 0px;
          padding-left: 15px;
          .checkout_properties {
            .bold {
              margin-bottom: 2px;
            }
            p {
              span {
                font-weight: normal;
                color: #20b3ff;
              }
            }
            .accordion-block {
              .active {
                background: image_url('active-accordion-blue.png');
                background-position: 0 center;
                background-repeat: no-repeat;
              }
              h3 {
                font-size: 14px;
                font-weight: bold;
                text-transform: uppercase;
                background: image_url('accordion-blue.png');
                background-position: 0 center;
                background-repeat: no-repeat;
              }
            }
          }
          .rating_header {
            .star-block {
              float: left;
              margin-top: 10px;
            }
          }
        }
        .padding-block-right {
          padding-right: 0;
          padding-left: 15px;
        }
        .padding-block-left {
          padding-right: 15px;
          padding-left: 0;
          p {
            span {
              font-weight: bold;
            }
          }
        }
      }
      .sign-up-hotel-content {
        margin-top: 20px;
        .checkbox-block {
          label {
            font-size: 14px;
            color: #8c8c8c;
          }
        }
        .button-full-width-yellow {
          color: #967a09;
          &:hover {
            color: inherit;
          }
          &:active {
            margin-bottom: 3px!important;
          }
        }
        .hotel-create-back {
          float: left;
        }
        .hotel-create-continue {
          float: right;
        }
        #page5 {
          .overview-hotel {
            .availability-rates {
              margin-bottom: 0;
            }
          }
          .tabs {
            dd {
              a {
                color: #999999;
                &:hover {
                  color: #737373;
                }

              }
            }
            .active {
              a {
                color: #FFFFFF;
                &:hover {
                  color: #FFFFFF;
                }
              }
            }
          }
        }
        #page4 {
          img {
            border-radius: 5px;
          }
          .checkbox-block {
            margin-top: 10px;
            margin-bottom: 30px;
          }
        }
        #page1 {
          label {
            margin-bottom: 10px;
            color: #8c8c8c;
            cursor: default;
          }
          .padding-block-right {
            p {
              margin-bottom: 0;
            }
          }
        }
        #page3 {
          .fix {
            margin-left: 20px;
          }
          select {
            float: left;
            width: 220px;
          }
          .checkbox-block {
            float: left;
            width: 25%;
            margin-bottom: 10px;
            label {
              &:last-child {
                width: 95%;
                padding-left: 30px;
                margin-left: 0;
              }
            }
            span {
              position: absolute;
            }
          }
        }
        #page2 {
          label {
            margin-bottom: 10px;
            cursor: default;
            color: #8c8c8c;
          }
          p {
            margin-bottom: 0;
          }
          .padding-block-right {
            p {
              padding: 0 20px;
            }
          }
          .padding-block-left {
            p {
              font-size: 12px;
            }
          }
          textarea {
            resize: none;
            height: 165px;
          }
        }
        select {
          color: #8c8c8c;
        }
        a {
          color: #4c6b7d;
          &:hover {
            color: #33b9fe;
          }
        }
          *::-webkit-input-placeholder {
            color: #8c8c8c;
          }
          *:-moz-placeholder {
            color: #8c8c8c;
          }
          *:-ms-input-placeholder { /* IE10+ */
            color: #8c8c8c;
          }
        select {
          background: none;
          background-image: image_url('select.png');
          background-repeat: no-repeat;
          background-position: 97% center;
        }
        .content {
          padding: 0;
        }
        h3 {
          font-size: 24px;
          font-weight: bold;
          color: #434343;
          margin: 10px 0;
        }
        .button-full-width-yellow {
          width: 250px;
          display: block;
          text-align: center;
        }
        .padding-block-left {
          padding-right: 10px;
          padding-left: 0;
        }
        .padding-block-right {
          padding-left: 10px;
          padding-right: 0;
        }
      }
      .checkout-0 {
        h3 {
          font-size: 24px;
          font-weight: bold;
        }
        form {
          .button-full-width-yellow {
            float: left;
            width: 250px;
          }
          p {
            &:first-child {
              margin-top: 40px;
            }
          }
        }
        .checkout-0_left {
          form {
            .radio {
              label{
                margin-bottom: 20px;
                font-size: 14px;
                color: #8c8c8c;
              }
            }
          }
          padding-right: 15px;
        }
        .checkout-0_right {
          padding-left: 15px;
          a {
            color: #208dc5;
            margin-bottom: 17px;
            margin-top: 25px;
            display: block;
            &:hover {
              color: #1d79aa;
            }
          }
        }
      }
      .city-guides-guides-map {
        h3 {
          font-size: 24px;
          font-weight: bold;
        }
        .guides-inside_text-block {
          margin-top: 50px;
          .guides-inside_text-block_inner {
            padding-bottom: 25px;
            border-bottom: 1px solid #e0e0e0;
            margin-top: 25px;
            &:first-child {
              margin-top: 0;
            }
            &:last-child {
              border-bottom: none;
            }
            h4 {
              font-size: 18px;
              font-weight: bold;
            }
            p {
              margin-bottom: 0;
            }
            .accordion-block {
              padding-right: 0;
              .active {
                background: image_url('active-accordion-blue.png');
                background-position: 0 center;
                background-repeat: no-repeat;
              }
              h3 {
                font-size: 14px;
                text-transform: uppercase;
                background: image_url('accordion-blue.png');
                background-position: 0 center;
                background-repeat: no-repeat;
              }
            }
          }
        }
        .guides-maps-inside {
          margin-top: 40px;
          .guides-maps-inside_block {
            width: 33.333%;
            float: left;
            height: 50px;
            background-image: image_url('map-cursor.png');
            background-repeat: no-repeat;
            text-transform: uppercase;
            a {
              padding: 10px 25px;
              padding-top: 0;
              display: block;
              &:hover {
                color: #20b3ff;
              }
            }
          }
        }
        .city-guides-guides-map_main-img {
          img {
            border-radius: 5px;
            width: 465px;
            height: 315px;
          }
        }
        .city-guides-guides-map_more {
          h4 {
            color: #434343!important;
          }
          a {
            text-transform: uppercase;
            font-weight: normal;
          }
          p {
            line-height: 20px;
            color: #434343;
            margin-bottom: 10px;
            span {
              font-weight: bold;
            }
          }
          padding-right: 25px;
        }
        .content_categories {
          line-height: 22px;
          margin-top: -10px;
          h4 {
            color: #20b3ff;
            font-size: 18px;
            font-weight: bold;
          }
        }
        .city-guides_header {
          h3 {
            text-align: center;
            margin: 30px 0;
          }
        }
        .guides-maps-block {
          margin-top: 50px;
          .city-guides-block_inner {
            .city-guides-block_inner_right {
              .city-guides-block_inner_right_name {
                margin-bottom: 0!important;
              }
              .city-guides-block_inner_right_places {
                font-size: 13px;
              }
            }
          }
        }
        .city-guides-block {
          .city-guides-block_inner {
            float: left;
            margin-bottom: 40px;
            display: block;
            overflow: hidden;
            .city-guides-block_inner_left {
              img {
                width: 100%;
                border-radius: 5px;
                -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
                height: 80px;
              }
            }
            .city-guides-block_inner_right {
              position: relative;
              padding-left: 10px;
              height: 80px;
              padding-right: 5px;
              display: block;
              .city-guides-block_inner_right_name {
                text-transform: uppercase;
                font-weight: bold;
                color: #434343;
                margin-top: -5px;
                margin-bottom: 29px;
              }
              .city-guides-block_inner_right_go-to {
                background: #33b9fe;
                color: #ffffff;
                font-weight: bold;
                border-radius: 5px;
                -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
                padding: 10px 0;
                width: 90%;
                text-align: center;
                position: absolute;
                bottom: 0;
                &:hover {
                  background: #30a8e7;
                }
              }
            }
          }
        }
      }
      .star-block {
        float: right;
        a {
          width: 20px;
          height: 20px;
          display: block;
          float: left;
          background-image: image_url('star-medium.png');
          &:hover {
            background-image: image_url('star-medium-active.png');
          }
        }
      }
      .hotel {
        .overview-hotel_right_stats {
          .overview-hotel_right_stats_block {
            width: 50%;
            border-bottom: 1px solid #e0e0e0;
            overflow: hidden;
            padding: 5px 0;
            float: left;
            &:last-child {
              border-bottom: 0;
            }
            .overview-hotel_right_stats_block_name {
              float: left;
              text-transform: uppercase;
              margin-bottom: 0;
            }
            .overview-hotel_right_stats_block_percent {
              float: right;
              font-weight: bold;
              color: #f87230;
              margin-bottom: 0;
              margin-right: 15px;
            }
          }
        }
        .reviews-hotel {
          .reviews-hotel_reviews {
            .reviews-hotel_reviews_block {
              margin-top: 25px;
              border-bottom: 1px solid #e0e0e0;
              overflow: hidden;
              padding-bottom: 25px;
            }
            .reviews-hotel_reviews_percent {
              color: #20b3ff;
              font-size: 24px;
              font-weight: bold;
              text-align: center;
              margin-top: 23px;
            }
            .reviews-hotel_reviews_name,.reviews-hotel_reviews_country, .reviews-hotel_reviews_date {
              padding-left: 15px;
            }
            .reviews-hotel_reviews_name {
              color: #5c5c5c;
              font-size: 18px;
              font-weight: bold;
            }
            .reviews-hotel_reviews_country {
              text-transform: uppercase;
              margin: 10px 0;
            }
            .reviews-hotel_reviews_date {
              color: #64c4ff;
            }
            .reviews-hotel_reviews_text {
              font-style: italic;
              margin-top: 10px;
              line-height: 21px;
            }
          }
          .overview-hotel_right_stats {
            .overview-hotel_right_stats_block {
              border-bottom: 0;
              width: 25%;
              .overview-hotel_right_stats_block_percent {
                margin-right: 25px;
              }
            }
          }
          .rating_header {
            .star-block {
              float: left;
              margin-left: 25px;
            }
          }
        }
        .hotel_header {
          h3 {
            font-size: 24px;
            font-weight: bold;
            margin-top: -10px;
          }
          p {
            color: #c8c8c8;
          }
          .tabs {
            float: left;
            margin-top: 4px;
            padding-left: 40px;
          }
          .button-full-width-yellow {
            padding: 6px 0;
            width: 160px;
            display: block;
            text-align: center;
            float: right;
            margin-left: 10px;
            &:hover {
              color: inherit;
            }
          }
        }
        .map-hotel {
          .map-hotel_map-block {
            display: block;
            overflow: hidden;
            border: 1px solid #bababa;
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -webkit-box-shadow: 0 0 2px #fff;
            -moz-box-shadow: 0 0 2px #fff;
            box-shadow: 0 0 2px #fff;
          }
          .map-hotel_text {
            h4 {
              margin-top: 40px;
              font-size: 18px;
              font-weight: bold;
            }
          }
        }
        .overview-hotel {
          .overview-hotel_main-text {
            h4 {
              font-weight: bold;
              font-size: 18px;
            }
            p {
              margin-bottom: 0;
            }
          }
          #firsttable {
            table {
              thead{
                tr {
                  color: #5c5c5c;
                  th{
                    color: #5c5c5c;
                    &:nth-child(1) {
                      text-align: left;
                    }
                    text-align: center;
                    text-transform: uppercase;
                      h4{
                        font-size: 18px;
                        font-weight: bold;
                        margin-bottom: 0;
                        color: #5c5c5c;
                      }
                      p {
                        margin-bottom: 0;
                        text-transform: none;
                      }
                  }
                }
              }
              tbody {
                .hotelRow {
                  .hotelName {
                    .name {
                      font-size: 18px;
                      font-weight: bold;
                      color: #20b3ff;
                      text-transform: uppercase;
                      margin-bottom: 0;
                    }
                    .accordion-block {
                      h3 {
                        font-weight: normal;
                        font-size: 14px;
                        color: #20b3ff;
                        background: none;
                        padding-left: 0;
                      }
                      .accordion1 {
                        padding: 0;
                        p {
                          color: #5c5c5c;
                        }
                      }
                    }
                  }
                }
                tr {
                  td {
                    text-align: center;
                    &:nth-child(1) {
                      text-align: left;
                    }
                    &:nth-child(2) {
                      position: relative;
                      .hotelPrice_inner {
                        color: #f87230;
                        font-weight: bold;
                        margin-bottom: 0;
                      }
                    }
                  }
                }
                select {
                  width: 70px;
                  display: block;
                  margin: 0 auto;
                }
              }
              border-radius: 5px;
              -webkit-border-radius: 5px;
              -moz-border-radius: 5px;
              width: 100%;
              border-collapse: collapse;
              overflow: hidden;
              tr, td, th {
                border: 1px solid #e5e5e5;
              }
            }

          }
          #secondtable {
            .subtotal {
              width: 100%;
              background: #f8f8f8;
              color: #20b3ff;
              text-transform: uppercase;
              font-weight: bold;
              font-size: 18px;
              border: solid 1px #dddddd;
              border-top: none;
              border-bottom-left-radius: 10px;
              border-bottom-right-radius: 10px;
              padding: 15px 10px;
              text-align: right;
            }
            .deposit-button {
              width: 530px;
              float: right;
              padding-right: 10px;
              margin-top: 20px;
              p {
                text-transform: uppercase;
                color: #f87230;
                font-size: 18px;
                float: left;
                span {
                  font-weight: bold;
                }
              }
              input {
                width: 160px;
                float: right;
              }
            }
            table {
              width: 100%;
              border-top-left-radius: 10px;
              border-top-right-radius: 10px;
              background: #f8f8f8;
              border-collapse: collapse;
              overflow: hidden;
              margin-bottom: 0;
              thead {
              }
              tbody {
                tr {
                  border-bottom: 1px solid #e0e0e0;
                  &:last-child {
                    border-bottom: none;
                  }
                  td {
                    text-align: center;
                    color: #20b3ff;
                    font-weight: bold;
                    .deleteicon {
                      &:hover {
                        cursor: pointer;
                      }
                    }
                    &:first-child {
                      text-align: left;
                      font-weight: normal;
                      text-transform: uppercase;
                    }
                    &:last-child {
                      padding: 0;
                    }
                  }
                }
              }
            }
          }
          .availability-rates {
            overflow: hidden;
            margin-bottom: 50px;
            h4 {
              font-size: 18px;
              font-weight: bold;
              margin-bottom: 15px;
            }
            .check_in {
              margin-right: 5%;
            }
            .check_out {
              margin-right: 0;
            }
            input {
              width: 160px;
              height: 30px;
              float: left;
              margin-right: 5%;
              margin-bottom: 15px;
              background-image: image_url('calandar-input-bg-grey.png');
              background-repeat: no-repeat;
              background-position: 92% center;
            }
            input[type="submit"] {
              background-image: none;
            }
          }
          .overview-hotel_right {
            padding-left: 50px;
            .overview-hotel_right_about {
              margin-top: 35px;
              .accordion-block {
                h3 {
                  font-size: 14px;
                  font-weight: bold;
                  text-transform: uppercase;
                  background: image_url('accordion-blue.png');
                  background-position: 0 center;
                  background-repeat: no-repeat;
                }
                .active {
                  background: image_url('active-accordion-blue.png');
                  background-position: 0 center;
                  background-repeat: no-repeat;
                }
                .accordion1 {
                  padding: 10px 0;
                }
              }
            }

            .latest-review_block {
              padding-left: 25px;
              .latest-review_text {
                p {
                  margin-bottom: 0;
                }
                a {
                  color: #f87230;
                  font-weight: bold;
                }
              }
            }
          }
        }
      }
      .blog-inner{
        border-bottom:2px solid #CCC;
        padding-bottom: 26px;
        margin-bottom: 30px;
        &:last-child {
          margin-bottom: 0;

        }
        h3{
          color: #6C7A89;
          font-size: 28px;
          border-bottom: 1px solid #ECECEC;
          padding: 0 5px 8px 5px;
        }
      }
      .header-blog{
        margin-bottom: 20px;
        color: #6C7A89;
        .posted-blog{
          margin-right: 10px;
        }
      }
      .blog_inner-block {
        border-bottom: 1px solid #e6e6e6;
        padding-bottom: 40px;
        margin-bottom: 40px;
        &:last-child {
          border-bottom: none;
          margin-bottom: 0;

        }
        .blog_inner-block_image {
          img {
            border: none;
            border-radius: 0px; 
            -webkit-border-radius: 0px; 
            -moz-border-radius: 0px; 
            -o-border-radius: 0px; 
            -ms-border-radius: 0px; 
          }
        }
        .blog_inner-block_read-thisblock {
          font-weight: 200;
          text-transform: uppercase;
          a {
            color: #f87230;
          }
        }
        .blog_inner-block_header {
          p {
            float: left;
            font-weight: bold;
            color: #434343;
            a {
              color: #51beff;
              &:hover {

              }
            }
          }
          .blog_inner-block_header_left {
            float: left;
          }
          .blog_inner-block_header_right {
            float: right;
            p {
              &:first-child {
                margin-right: 10px;
              }
            }
          }
        }
      }
      .subnav-select {
        .sub-nav {
          display: table;
          float: left;
          margin-top: 0;
        }
        select {
          width: 250px;
          float: right;
          padding: 5px;
          height: 29px;
        }
      }
      .blog_inside {
        .blog_inner-block {
          border-bottom: 0;
        }
        .blog_inside-comment {
          margin-top: 40px;
          h4 {
            background-image: image_url('comment-bg.png');
            background-repeat: no-repeat;
            background-position: left 0;
            font-size: 18px;
            color: #27aef3;
            font-weight: bold;
            padding-left: 45px;
            padding-bottom: 5px;
          }
          .blog_inside-comment-comments-block {
            padding-bottom: 10px;
            padding-left: 30px;
            background-image: image_url('comment-bg.png');
            background-repeat: no-repeat;
            background-position: left 0;
            background-size: 20px;
            .posted {
              font-size: 12px;
              margin-bottom: 10px;
              span {
                color: #27aef3;
              }
            }
          }
          form {
            margin-bottom: 40px;
            overflow: hidden;
            textarea {
              resize: none;
              height: 110px;
            }
            .span-filter {
              color: #27aef3;
              font-weight: bold;
            }
            .button-full-width-yellow {
              width: 180px;
              float: right;
            }
          }
        }
      }
      .blog {
        .content_categories {
          margin-top: 0;
        }
        .contact-us_left {
          .contact-us_left_inner  {
            h3 {
              color: #20b3ff;
            }
          }
        }

      }
      .content_categories {
        a {
          width: 100%;
          display: block;
          border-bottom: 1px solid #e0e0e0;
          font-weight: bold;
          color: #434343;
          padding: 8px 0;
          span {
            color: #20b3ff;
            margin-top: 10px;
            font-weight: normal;
            display: block;
          }
          &:hover {
            color: #20b3ff;
          }
        }
      }
      .content_top-cities {
        padding-left: 30px;
        h5 {
          margin-bottom: 28px;
        }
        .content_top-cities_allcities {
          float: right;
          font-size: 16px;
          font-weight: bold;
          color: #f87230;
        }
        table {
          border-collapse: collapse;
          width: 100%;
          border: none;
          thead {
            background-color: #e0e0e0!important;
            tr {
              th {
                &:first-child {
                  overflow:hidden;
                  border-top-left-radius: 5px;
                  border-bottom-left-radius: 5px;
                  width: 30%;
                }
                &:first-child+th {
                  text-align: center!important;
                  width: 40%;
                }
                &:last-child {
                  overflow:hidden;
                  border-top-right-radius: 5px;
                  border-bottom-right-radius: 5px;
                }
              }
            }
          }
          tbody {
            tr {
              border-bottom: 1px solid #e0e0e0;
              td {
                padding: 15px 0.625rem;
                font-size: 14px;
                &:first-child {
                  text-transform: uppercase;
                  font-weight: bold;
                }
                &:first-child+td {
                  text-align: center!important;
                }
                &:last-child {
                  color: #f87230;
                  span {
                    font-size: 18px;
                    font-weight: bold;
                  }
                }
              }
            }
          }
        }

      }
      .content_hostels-cities-block, .content_top-cities {
        h5 {
          font-size: 20px;
          color: #434343;
          font-weight: bold;
          margin-top: 70px;
        }
      }
      .content_hostels-cities-block {
        .right {
          h5 {
            width: 96%;
            float: right;
          }
        }
        .content_cities-block_inner {
          .content_hostels-cities-block_inner_text {
            padding: 0 15px!important;
            .content_hostels-cities-block_inner_text_name {
              font-weight: bolder;
              font-size: 14px;
              margin-top: -5px;
            }
            .content_hostels-cities-block_inner_text_property {
              float: left;
              color: #ffffff;
              font-size: 13px;
              margin-bottom: 0;
              position: absolute;
              top: 18px;
            }
            .content_hostels-cities-block_inner_text_price {
              padding: 5px 0;
            }
          }
        }
        .content_hostels-cities-block_inner {
          margin-top: 20px;
          display: block;
          overflow: hidden;
          border-radius: 5px;
          -webkit-border-radius: 5px;
          -moz-border-radius: 5px;
          position: relative;
          width: 96%;
          img{
            width: 100%;
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
          }
          .content_hostels-cities-block_inner_text {
           
            -moz-border-bottom-right-radius: 5px;
            .content_hostels-cities-block_inner_text_name {
              width: 100%;
              font-size: 18px;
              color: #ffffff;
              margin-bottom: 0;
              line-height: 18px;
            }
            .content_hostels-cities-block_inner_text_price {
              float: right;
              color: #ffffff;
              font-size: 14px;
              margin-bottom: 0;
              line-height: 20px;
              span {
                font-size: 18px;
                font-weight: bold;

              }
            }
          }
          .content_hostels-cities-block_inner_star-block {
            width: 90px;
            height: 28px;
            background-color: #ececec;
            background-image: image_url('star-bg.png');
            background-repeat: no-repeat;
            background-position: center;
            position: absolute;
            right: 0;
            top: 0;
            border-bottom-left-radius: 5px;
            border-top-left-radius: 5px;
            padding: 6px 0;
            padding-left: 9px;
            img {
              width: 11px;
            }
          }
        }
      }
      .content_filters {
        width: 260px;
        h5 {
          font-size: 18px;
          text-align: center;
          font-weight: bold;
          color: #686868;
        }
        .content_search-hostels, .content_filter-results {
          border: 1px solid #c8c8c8;
          border-radius: 5px;
          -webkit-border-radius: 5px;
          -moz-border-radius: 5px;
        }
        h3 {
          font-size: 14px;
          font-weight: bold;
          text-transform: uppercase;
          color: #686868;
        }

        .content_search-hostels {
          background-color: #ececec;
          padding: 10px;
          #from {
            float: left;
          }
          #to {
            float: right;
          }
          #from, #to {
            width: 48%;
            background-image: image_url('calandar-input-bg-grey.png');
            background-repeat: no-repeat;
            background-position: 92% center;
          }
          select {
            background: #ffffff;
            background-image: image_url('select.png');
            background-repeat: no-repeat;
            background-position: 97% center;
          }
        }
        .content_filter-results {
          margin-top: 15px;
          padding: 10px;
          margin-bottom: 25px;
          .button-full-width-yellow, .button-full-width-orange {
            margin: 10px 0;
            &:active {
              margin-bottom: 13px!important;
            }
          }
        }
        .content_filters_city-quides {
          h3 {
            background-image: image_url('filter-h3-bg.png');
            background-repeat: no-repeat;
            line-height: 30px;
            padding-left: 35px;
          }
          p {
            color: #979797;
            margin-bottom: 0;
          }
          a {
            font-weight: bold;
            color: #f87230;
            margin: 10px 0;
            display: block;
          }
        }
      }
      .content_finder-hostels {
        padding-left: 40px;
        .content_finder-hostels_header {
          h5 {
            float: left;
            font-size: 18px;
            font-weight: bold;
            color: #434343;
            border-right: 1px solid #979797;
            padding-right: 15px;
          }
          .sub-nav{
            margin: 20px 0;
            margin-top: 0;
            dt {
              margin-left: 0;
            }
          }
          .content_finder-hostels_header_show-map {
            float: left;
            text-transform: uppercase;
            color: #979797;
            font-weight: bold;
            padding-left: 45px;
            background-image: image_url('earth-bg.png');
            background-repeat: no-repeat;
            background-position:10px center;
            line-height: 32px;
            font-size: 16px;
          }
        }
        .content_finder-hostels_inner {
          overflow: hidden;
          margin-bottom: 25px;
          .large-4.columns.content_finder-hostels_inner_img {
            padding-right: 25px;
            img {
              width: 100%;
              border-radius: 5px;
              -webkit-border-radius: 5px;
              -moz-border-radius: 5px;
            }
          }
          .content_finder-hostels_inner_text-rating {
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border: 1px solid #e0e0e0;
            padding-left: 15px;
            padding-bottom: 10px;
            .content_finder-hostels_inner_text {
              h5 {
                line-height: 20px;
                a {
                  font-size: 20px;
                  font-weight: 600;
                  color: #565656;
                }
              }
              p {
                margin-bottom: 0;
              }
              .content_finder-hostels_inner_text_distance {
                color: #e0e0e0;
              }
            }
            .content_finder-hostels_inner_rating {
              .content_finder-hostels_inner_rating_header {
                background: #ececec;
                border-radius: 5px;
                -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
                padding: 5px 0;
                margin-bottom: 10px;
                p {
                  text-align: center;
                  font-size: 18px;
                  margin-bottom: 0;
                  span {
                    font-weight: bold;
                  }
                }
              }
              .content_finder-hostels_inner_rating_prices {
                padding: 0 10px;
                form {
                  margin-bottom: 0;
                  .button-full-width-orange {
                    margin-bottom: 4px;
                  }
                }
                .content_finder-hostels_inner_rating_prices_price {
                  width: 100%;
                  font-size: 16px;
                  margin-bottom: 0;
                  span {
                    font-weight: bold;
                    color: #36baff;
                    float: right;
                    font-size: 18px;
                    line-height: 24px;
                  }
                }
                hr {
                  margin: 0;
                }
                h3 {
                  margin: 10px 0;
                  font-size: 12px;
                  padding-left: 20px!important;
                  font-weight: bold;
                  text-transform: uppercase;
                  color: #686868;
                }
                .accordion1 {
                  padding: 5px 0px!important;
                }
              }
            }
          }

        }
      }
      .contact-us_left {
        .contact-us_left_inner {
          padding-right: 10px;
          h3 {
            color: #434343;
            font-size: 24px;
            font-weight: bold;
          }
          &:first-child {
            margin-bottom: 45px;
          }
        }
      }
      .contact-us_right {
        .contact-us_form-block {
          overflow: hidden;
          form {
            overflow: hidden;
            input {

            }
            textarea {
              resize: none;
              min-height: 110px;
            }
            select {
              background: none;
              background-image: image_url('select.png');
              background-repeat: no-repeat;
              background-position: 97% center;
            }
            select:focus {
              background: rgb(250,250,250);
              background-image: image_url('select.png');
              background-repeat: no-repeat;
              background-position: 97% center;
            }
          }
        }
      }
      .about-us_inner-block {
        h3 {
          font-size: 24px;
          font-weight: bold;
          color: #20b3ff;
        }
      }
      .security-privacy {
        margin-bottom: 10%;
        .security-privacy_header {
          font-size: 24px;
          font-weight: bold;
          color: #20b3ff;
        }
        .top-guestion {
          color: #20b3ff;
          font-weight: bold;
          font-size: 18px;
        }
        .security-privacy_tab-header {
          background-color: #ececec!important;
          font-size: 16px;
          text-transform: uppercase;
          font-weight: 700;
          border-radius: 5px;
          -webkit-border-radius: 5px;
          -moz-border-radius: 5px;
          padding: 10px 0;
          padding-left: 45px!important;
          padding-right: 45px;
          margin-bottom: 0;
          margin-top: 15px;
          background-position: 20px center!important;
          background-repeat: no-repeat!important;
        }
        .security-privacy_tab-text {
          background-color: #ececec;
          margin-top: -5px;
          padding: 10px 20px;
          border-bottom-left-radius: 10px;
          border-bottom-right-radius: 10px;
        }
      }
      .faq {
        .security-privacy_tab-header {
          text-transform: none;
        }
      }
    }
  }
  footer {
    height: 350px;
    padding-top: 350px;
    padding-bottom: 200px;
    background: image_url('footer-bg.png');

    hr {
      margin-top: 125px;
    }
    
    .large-12.columns {
      margin-bottom: 30px;
    }

    .modalDialog {
      &:target {
        display: block;
        pointer-events: auto;
      }
      div {
        .close {
          background: #33b9fe;
          color: #FFFFFF;
          line-height: 25px;
          position: absolute;
          right: -12px;
          text-align: center;
          top: -25px;
          width: 24px;
          text-decoration: none;
          font-weight: bold;
          -webkit-border-radius: 12px;
          -moz-border-radius: 12px;
          border-radius: 12px;
          -moz-box-shadow: 1px 1px 3px #000;
          -webkit-box-shadow: 1px 1px 3px #000;
          box-shadow: 1px 1px 3px #000;
          &:hover {
            background: #2fa8e7;
          }
        }
        ul {
          list-style-image: image_url('ul-li-style.png');
          li{
            font-size: 16px;
            color: #33b9fe;
            display: inline-table;
          }
        }
        .button-full-width-yellow {
          width: 325px;
          display: block;
          text-align: center;
          margin: 0 auto;
          margin-top: 40px;
        }
        width: 565px;
        border-top: 16px solid #33b9fe;
        position: relative;
        margin: 10% auto;
        padding: 40px 50px;
        background: #fff;
      }
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: rgba(135,135,135,0.5);
      z-index: 99999;
      -webkit-transition: opacity 400ms ease-in;
      -moz-transition: opacity 400ms ease-in;
      transition: opacity 400ms ease-in;
      display: none;
      pointer-events: none;
    }
    nav {
      ul {
        list-style: none;
        margin: 0;
        padding: 0;
        div {
          float: left;
        }
        li.active {
          background: #33b9fe;
          text-align: center;
          border-radius: 5px;
          -webkit-border-radius: 5px;
          -moz-border-radius: 5px;
          a {
            font-weight: bold;
            color: #ffffff;
            &:hover {
              color: #ffffff;
              cursor: default;
            }
          }
        }
        li {
          font-size: 14px;
          margin: 22px 0;
          display: inline-table;
          margin-right: 35px;
          a{
            color: #000000;
            &:hover {
              color: #6c6c6c;
            }

          }
        }
      }
    }
    .footer_socials-buttons {
      float: right;
      margin: 20px 0;
      a {
        display: block;
        width: 30px;
        height: 30px;
        border-radius: 15px;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        float: left;
        position: relative;
        background: #3186bf;
        margin-right: 8px;
        &:hover {
          background: #b6b6b6;
        }
        img {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          margin: auto;
          display: block;
        }
      }
    }
  }
}


input.parsley-error, select.parsley-error, textarea.parsley-error {
  color: #b9332d;
  background-color: #f2c5c7;
  border: 1px solid #EED3D7;
}

.parsley-errors-list {
  margin: 2px 0 3px 0;
  padding: 0;
  list-style-type: none;
  font-size: 0.9em;
  line-height: 0.9em;
  opacity: 0;
  -moz-opacity: 0;
  -webkit-opacity: 0;
  transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  -ms-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -webkit-transition: all .3s ease-in;
  &.filled {
    opacity: 1;
  }
}

.parsley-errors-list {
  display: none;
}

.border-title{
  background: url("/assets/border.png") no-repeat center;
}

.clear-margin{
  margin: 8px 0;
}

.button-paypal{
  background: image_url('paypal.png') no-repeat;
  width: 183px;
  height: 42px;
}
.button-paypal:hover{
  background-color: #FFFFFF;
}

.no-radius{
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -o-border-radius: 0;
  -ms-border-radius: 0;
}
.cancellation, .privacy, .story, .terms{
  padding: 8px;
}

/*---------New Adjustment Style----------*/

header {
  position: absolute;
  width: 100%;
  z-index: 99;
  background: rgba(37,173,243,0.9);
}



i.fi-torso {
  margin-top: 10px;
  margin-left: 35px;
  font-size: 2em;
}

a#header-signout-button {
  color: rgb(220, 109, 118);
}

body .wrapper header .header_logo a img {
  width: 285px;

}

h5.title {
  font-weight: 600;
  font-size: 26px;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
}

table {
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  width: 100%;
  border: none;
  border-radius: 5px;
}

img { 
  border-radius: 5px;
  }

.link-page {
  float: right;
  margin-top: 15px;
  margin-right: 35px;
  font-size: 18px;
  font-weight: 500;
  color: #f87230;
}
.content .content_filters {
  margin-left: -135px;
  margin-top: 155px;

}

/*--------------------box city---------------------*/
.content_finder-hostels_header_show-map {
  font-size: 24px !important;
}

.content .content_finder-hostels {
  margin-top: 150px;
  margin-left: -120px;
  margin-right: -90px;
}

.button-full-width-orange {
  margin-top: 15px;
  margin-bottom: 10px;
}

p.content_finder-hostels_inner_rating_prices_price {
  margin-top: 15px;
  margin-bottom: 10px !important;
}

.large-7.medium-12.columns.content_finder-hostels_inner_text {
  margin-top: 10px;
}

.connected-carousels.next-stage  {
  span {
    margin-top: -100px;
  }
}

.content_finder-hostels_inner {
  margin-top: 40px;
}

.content_finder-hostels_inner_rating_header {
  width: 100%;
  padding-top: 10px !important;
  height: 35px;
}

.large-7.medium-12.columns.content_finder-hostels_inner_text {
  margin-top: 10px;
  padding-left: 10px;
  padding-top: 5px;
}

.large-7.medium-8.small-12.columns.overview-hotel_right {
  padding-left: 15px;
  padding-top: 10px;
}

.large-12.medium-12.small-12.columns.review-box {
  margin-left: 0px;
  width: 100%;
  border: 1px solid #DDD;
  padding: 20px;
  margin-top: -10px;
  border-radius: 5px;

}

.connected-carousels {
  .next-stage {
    top: -80px;
  }  
  .prev-stage {
    top: -80px;  
  }
  
}

.read-all-reviews.right {
  margin-top: -45px;
  a {
    color: #f87230;
    font-weight: bold;
  }
}

p.latest-review {
  margin-top: 10px;
}

.accordion-block {
  h3 {
    font-size: 20px;
  }
  h4 {
  font-weight: 600; 
  }
}
/*--------------------------------------------------*/

.content_hostels-cities-block_inner {
  img {
    width: 87%;
    margin-left: 5%;
  }
}

.content_hostels-cities-block_inner_text {
  position: absolute;
  background-color: rgba(84,177,225,0.8);
  color: #FFFFFF;
  padding: 0px 25px;
  margin-top: -94px;
  border-bottom-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-bottom-right-radius: 5px;
}

.content_hostels-cities-block_inner_text_price {
  float: right;
  color: #ffffff;
  font-size: 17px;
  margin-bottom: 0;
  line-height: 5px;
  font-weight: bold;
}
.top-bottom-space {
  margin-top: 20px;
  margin-bottom: 30px;
}

.content_categories {
  a {
    font-size: 17px;
    font-weight: 300 !important;
  }
  
}

.tabs.sub-nav.right {
  margin-top: 10px;
  padding-bottom: 20px !important;
  padding: 10px;
}

.large-12.medium-12.small-12.columns.city-details {
  padding: 10px;
  margin-bottom: -10px;
  h4{
    color: #8A8E8E;
  } 
  a {
    font-weight: bold;
  }
}


.blog-bottom-space {
  margin-bottom: 100px;
}

 @media (max-width: 550px) {
   footer {
     .footer_socials-buttons {
       a {
         background: #33b9fe;
         margin: 0 5px;
       }
     }
   }
 }

@media (max-width: 505px) {
  body .wrapper .content .sign-up-hotel-content #page3 .fix {
    margin-left: 0;
  }
  body .wrapper .content .sign-up-hotel-content #page3 select {
    float: none;
  }
}

@media (max-width: 480px) {
  body .wrapper .content .edit-guest .edit-guest_right {
    width: 100%;
  }
  body .wrapper .content .edit-guest .edit-guest_right .edit-guest_details .edit-guest_details_right {
    padding-left: 40%;
  }
  body .wrapper .content .edit-guest .edit-guest_right .edit-guest_details .edit-guest_details_left {
    position: absolute;
    font-weight: bold;
  }
  body .wrapper .content .edit-guest .edit-guest_left {
    width: 100%;
    margin-top: 30px;
  }
  body .wrapper .content .account-page .checkout .button-full-width-grey {
    float: left;
    width: 48%;
    margin-right: 0;
  }
  body .wrapper .content .account-page .checkout .button-full-width-orange {
    float: right;
    width: 48%;
  }
  body .wrapper .content .hotel .reviews-hotel .overview-hotel_right_stats .overview-hotel_right_stats_block {
    width: 100%;
  }
  body .wrapper .content .checkout .second {
    width: 100%;
    margin-top: 15px;
  }
  body .wrapper .content .checkout .first {
    width: 50%;
    padding-left: 15px;
    margin-top: -5px;
  }
  body .wrapper .content .checkout .checkout_img {
    width: 50%;
    padding-right: 0;
  }
  body .wrapper .sign-up-hotel-block .sign-up-hotel-block_inner .sign-up-hotel-block_inner_pages {
    width: 50%;
    height: 125px;
    &:last-child {
      margin: 0 auto;
      overflow: hidden;
      float: none;

    }
  }
  body .wrapper .sign-up-hotel-block .sign-up-hotel-block_inner .sign-up-hotel-block_inner_pages .sign-up-hotel-block_inner_text {
    margin-top: 10px;
  }
  body .wrapper .content .hotel .reviews-hotel .overview-hotel_right_stats .overview-hotel_right_stats_block .overview-hotel_right_stats_block_percent {
    margin-right: 0;
  }
  body .wrapper .content .hotel .overview-hotel .availability-rates form input {
    width: 100%;
    margin-right: 0;
  }
  body .wrapper .content .hotel .rating_header select {
    position: absolute;
    right: 0;
  }
  body .wrapper .content .hotel .overview-hotel .availability-rates h4 {
    text-align: center;
  }
  body .wrapper .content .hotel .overview-hotel .overview-hotel_right .rating_header .rating {
    width: 100%;
  }
  body .wrapper .content .hotel .overview-hotel .overview-hotel_right .rating_header .reviews {
    margin-left: 0;
  }
  body .wrapper .content .hotel .overview-hotel .overview-hotel_right .overview-hotel_right_stats .overview-hotel_right_stats_block {
    width: 100%;
  }
  body .wrapper .content .hotel .rating_header .rating {
    width: 100%;
  }
  body .wrapper .content .hotel .rating_header .reviews {
    margin-left: 0;
  }
  body .wrapper .content .hotel .reviews-hotel .rating_header .star-block {
    margin-left: 0;
    float: right;
  }
  body {
    .wrapper {
      header {
        form {
          input {
            width: 48%!important;
          }
          .button-full-width-yellow {
            margin-right: 1%!important;
            margin-top: 10px!important;
            float: right;
          }
        }
      }
      .content {
        .contact-us_left {
          .contact-us_left_inner {
            width: 100%;
            &:first-child {
              margin-bottom: 0;
            }
          }
        }

      }
    }
  }

}

@media (max-width: 430px) {
  #secondtable {
    thead th:nth-child(2) {
      display: none;
    }
    tbody tr td:nth-child(2) {
      display: none;
    }
  }
  body .wrapper .content .account-page .account-page_bookings .account-page_bookings_block .account-page_bookings_block_right {
    width: 100%;
  }
  body .wrapper .content .account-page .account-page_bookings .account-page_bookings_block .account-page_bookings_block_left {
    width: 100%;
    img {
      width: 50%;
      margin: 0 auto;
      display: block;
      padding: 0;
      margin-bottom: 10px;
    }
  }
  .country-features {
    width: 100%;
  }
  body .wrapper .content .city-guides-guides-map .guides-maps-inside .guides-maps-inside_block {
    width: 100%;
  }
  header {
    .header_sign-in-out {
      background-position: 65% 50% !important;
    }
  }
  body .wrapper .content .city-guides-guides-map .content_categories {
    margin-top: 15px;
  }
  body .wrapper .content .city-guides-guides-map .content_categories_block {
    width: 100%;
  }
}

@media (max-width: 380px) {
  body .wrapper .content .city-guides-guides-map .city-guides-block .city-guides-block_inner {
    width: 100%;
  }
}

@media (max-width: 1200px) {
  footer {
  background-image: image_url('footer-bg.png') no-repeat center center;
  background-size: 1600px 370px;
  }
}

@-moz-document url-prefix() {
  select {
    background-image: none;
  }
  .blogs-new {
    select {
      background-color: #ffffff;
    }
  }
  .mozfix-select {
    position: relative;
    overflow: hidden;
    display: block;
    width: 100%;
    select {
      background-color: #ffffff!important;
    }
    &:after {
      content: "";
      position: absolute;
      top: 1px;
      right: 1px;
      bottom: 1px;
      width: 22px;
      background-color: #FFF;
      pointer-events: none;
      background-image: url('/assets/select.png');
      background-repeat: no-repeat;
      background-position: left center;
      height: 35px;
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
    }
  }
  .sign-up-hotel-content {
      .mozfix-select {
        &:after {
          width: 30px;
        }
      }
  }
  body .wrapper header .header_forgottpass .header_forgottpass_quit {
    width: 16px;
    height: 16px;
    border: 1px solid #F64648;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    color: #F64648;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    line-height: 14px;
    font-size: 14px;
    float: right;
    padding: 0 3px;
  }
  .checkbox-block .checkbox span {
    background: url('/assets/checkbox.png') repeat scroll 0% 100% transparent;
}
  .checkbox-block .checkbox input {
    z-index: 1;
    width: 20px;
    -moz-appearance: none;
    display: block;
    position: absolute;
    height: 20px;
    opacity: 0;
  }
  
  body .wrapper .calendar-block .calendar-block_inner .calendar-block_inner_destination select, body .wrapper .calendar-block .calendar-block_inner .calendar-block_inner_check-in-out select, body .wrapper .calendar-block .calendar-block_inner .calendar-block_inner_guests select, body .wrapper .calendar-block .calendar-block_inner .calendar-block_inner_search select {
    background-image: none;
  }
  .select-block {
    position: relative;
    select {
      margin-bottom: 0;
    }
    .select-block-inner:after {
      content: "";
      position: absolute;
      top: 2px;
      right: 2px;
      bottom: 2px;
      border-top-right-radius: 25px;
      border-bottom-right-radius: 25px;
      width: 25px;
      background-color: #2a281f;
      pointer-events: none;
      background-image: image_url('select-data.png');
      background-repeat: no-repeat;
      background-position: center left;
    }
  }
}

#header_sign-in-out {
  width: 98px;
  height: 73px;
  overflow: hidden;
  padding: 5px 0;
  background-image: none;
  &:hover {
    background-color: rgba(39, 139, 189, 0.9);
  }
}

#header-signout-button, #header-signout-button-admin {
  display: table;
  line-height: 16px;
  background-repeat: no-repeat;
  background-position: center right;
  padding-right: 20px;
  background-image: image_url('log-out.png');
  color: rgb(220, 109, 118);
}
#header-signout-button-admin{
  margin: 10px auto;
  &:hover{
    color: #FFFFFF;
  }
}

.admin-myprofile-btn {
  height: 22px;
  display: table;
  background-color: #33b9fe;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  padding: 0 10px;
  margin: 5px auto;
  &:hover {
    background-color: #30a6e3;
  }
  a {
    font-size: 15px;
    color: #ffffff;
    height: 100%;
    width: 100%;
  }
}

.devider{
  border-top: 1px solid #CCCCCC;
}
input.parsley-error, select.parsley-error, textarea.parsley-error {
  color: #b9332d;
  background-color: #f2c5c7;
  border: 1px solid #EED3D7;
}

.parsley-errors-list {
  margin: 2px 0 3px 0;
  padding: 0;
  list-style-type: none;
  font-size: 0.9em;
  line-height: 0.9em;
  opacity: 0;
  -moz-opacity: 0;
  -webkit-opacity: 0;
  transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  -ms-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -webkit-transition: all .3s ease-in;
  &.filled {
    opacity: 1;
  }
}

.parsley-errors-list {
  display: none;
}

.border-title{
  background: url("/assets/border.png") no-repeat center;
}

.clear-margin{
  margin: 8px 0;
}

.button-paypal{
  background: image_url('paypal.png') no-repeat;
  width: 183px;
  height: 42px;
}
.button-paypal:hover{
  background-color: #FFFFFF;
}

.no-radius{
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -o-border-radius: 0;
  -ms-border-radius: 0;
}
.cancellation, .privacy, .story, .terms{
  padding: 8px;
}

/*---------dropdown login----------*/

i.fi-torso {
  margin-top: 10px;
  margin-left: 35px;
  font-size: 2em;
}

/*-----------------------------------*/

body .wrapper header .header_logo a img {
  width: 285px;

}

h5.title {
  font-weight: bold;
  margin-top: 70px;
  margin-bottom: 20px;
  text-align: center;
}

table {
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  width: 100%;
  border: none;
  border-radius: 5px;

}

img.reload {
  max-height: 156px !important;
}

/* ITEM STYLE */
.item{
  padding: 0;
  margin-bottom: 14px; 
}
/* END ITEM STYLE */

/* Place */
.place-padding{
  padding: 0;
}
.place-description{
  margin-top: 30px;
}
.place-description{
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #717171;
}
/* END Place */

/* 404 */
.page-404{
  margin-top: 40px;
}
.page-404 .number h1{
  font-size: 132px;
  color: rgba(37, 173, 243, 0.9);
}
.text-404 .details{
  margin-top: 34px; 
}


p.overview-hotel_right_stats_block_name {
  font-weight: 600;
}


/* STYLE FOR SEARCH INDEX */
.search-form{
  background-color:none !important;
  background:none !important;
  border-radius: 18px;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  -o-border-radius: 18px;
  -ms-border-radius: 18px;
  border: 2px solid #CCC !important;
}
.search-title, .search-date, .search-select{
  color: #FFF !important;
  font-weigh: bold;
}
.search-select{
  background: url("/assets/select-data.png") no-repeat 85% center !important;
  font-weight: bold;
}
.search-date{
  background: url("/assets/calandar-input-bg.png") no-repeat 85% center !important;
  font-weight: bold;
}
.search-select option{
  background: rgba(174, 174, 169, 0.8);
}
.btn-search{
  font-weight: bold;
  padding-right:15px !important;
  font-size:14px;;
  background-image: image_url('search-button.png');
  background-repeat: no-repeat;
  background-position: 80% center;
}
.search-title::-webkit-input-placeholder,.search-date::-webkit-input-placeholder {
    color: #FFF;
}

.search-title:-moz-placeholder,.search-date:-moz-placeholder {
   color: #FFF;
   opacity:  1;
}
.search-title::-moz-placeholder, .search-date::-moz-placeholder {
   color: #FFF;
   opacity:  1;
}
.search-title:-ms-input-placeholder, .search-date:-ms-input-placeholder {
   color: #FFF;
}
/* END STYLE FOR SEARCH INDEX */
  

/* ICONS */
.fa-parking{
  background: image_url('facilities/facilities.png');
  width: 24px;
  height: 26px;
  background-position: 105px 57px;
}
.fa-atm{
  background: image_url('facilities/facilities.png');
  width: 24px;
  height: 26px;
  background-position: 69px -93px;
}
.fa-elevator{
  background: image_url('facilities/facilities.png');
  width: 24px;
  height: 26px;
  background-position: -1px -94px;
}
.fa-gym{
  background: image_url('facilities/facilities.png');
  width: 26px;
  height: 26px;
  background-position: 104px -66px;
}
.fa-pool{
  background: image_url('facilities/facilities.png');
  width: 24px;
  height: 26px;
  background-position: 203px -94px;
}
.fa-tour-desk{
  background: image_url('facilities/facilities.png');
  width: 24px;
  height: 26px;
  background-position: 138px -123px;
}
.fa-pets{
  background: image_url('facilities/facilities.png');
  width: 24px;
  height: 26px;
  background-position: 69px -65px;
}

.fa-laundry{
  background: image_url('facilities/facilities.png');
  width: 24px;
  height: 26px;
  background-position: 104px -180px;
}
.fa-events{
  background: image_url('facilities/facilities.png');
  width: 24px;
  height: 26px;
  background-position: 36px -63px;
}
.fa-reception{
  background: image_url('facilities/facilities.png');
  width: 24px;
  height: 26px;
  background-position: 37px -91px;
}
.fa-mini-fridge{
  background: image_url('facilities/facilities.png');
  width: 24px;
  height: 26px;
  background-position: 36px -33px;
}
.fa.wifi {
  background: image_url('facilities/facilities.jpg');
 
  background-position: 96px -180px;
}
.fa-shampoo{
  background: image_url('facilities/facilities_room.png');
  width: 14px;
  height: 15px;
  background-position: -2px -2px;
}
.fa-tv{
  background: image_url('facilities/facilities_room.png');
  width: 16px;
  height: 15px;
  background-position: -106px -2px;
}
.fa-reading{
  background: image_url('facilities/facilities_room.png');
  width: 14px;
  height: 15px;
  background-position: -65px 17px;
}
.fa-bathroom{
  background: image_url('facilities/facilities_room.png');
  width: 15px;
  height: 15px;
  background-position: -23px -2px;
}
.fa-hair-dryer{
  background: image_url('facilities/facilities_room.png');
  width: 14px;
  height: 15px;
  background-position: -43px -1px;
}
.fa-key-card{
  background: image_url('facilities/facilities_room.png');
  width: 15px;
  height: 15px;
  background-position: -85px 15px;
}
.fa-hair-dryer{
  background: image_url('facilities/facilities_room.png');
  width: 14px;
  height: 15px;
  background-position: -43px -1px;
}
.fa-air-conditioning{
  background: image_url('facilities/facilities_room.png');
  width: 14px;
  height: 15px;
  background-position: -85px -1px;
}
.fa-smoke-detector{
  background: image_url('facilities/facilities_room.png');
  width: 14px;
  height: 15px;
  background-position: -65px 32px;
}
.fa-adaptors{
  background: image_url('facilities/facilities_room.png');
  width: 14px;
  height: 15px;
  background-position: -66px 0px;
}
.fa-water-heater{
  background: image_url('facilities/facilities_room.png');
  width: 14px;
  height: 15px;
  background-position: -24px 17px;
}
/* END ICONS */

/* FOOTER LAYOUT */
.footer-layout{
  margin-bottom:10px !important;
  padding-bottom:0 !important;
  font-weight: 200;
}
.cc-paypal{
  height: 30px;
  margin-top: 27px;
}
.copyright{
  margin-top: 6px;
  color: #000000;
  padding-top: 19px;
  font-weight: 200;
}
/* END FOOTER LAYOUT */
