%html
  %head
    %meta{:charset => "utf-8"}
      %title Email Confirmation
      %link{:href => "http://fonts.googleapis.com/css?family=Varela+Round", :rel => "stylesheet", :type => "text/css"}
  %body{:style => "font-family: 'Varela Round', sans-serif; background-color:#f0f2ea; margin:0; padding:0; color:#333333;"}
    %table{:bgcolor => "#f0f2ea", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
      %tbody
        %tr
          %td{:style => "padding:40px 0;"}
            %table{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "800"}
              %tbody
                %tr
                  %td
                    = link_to root_url, :style => 'display:block; width:800px; margin:0 auto 30px;' do
                      = image_tag("voucher/logo.png", :alt => "mmlodging", :style => "display:block; border:0; margin:0;", :width => "350")
                    %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
                      %tbody
                        %tr
                          %td{:height => "4", :width => "4"}
                            %p{:style => "margin:0; font-size:1px; line-height:1px;"} &nbsp;
                          %td{:bgcolor => "#FFFFFF", :colspan => "3", :rowspan => "3", :style => "padding:0 0 30px;"}
                            %p{:style => "margin: 30px 30px 10px; text-align:left; font-size:24px; line-height:30px; font-weight:bold; color:rgb(81, 163, 231);"}
                              = @email
                            %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "margin-bottom: 15px", :width => "100%"}
                              %tbody
                                %tr{:valign => "top"}
                                  %td{:width => "30"}
                                    %p{:style => "margin:0; font-size:1px; line-height:1px;"} &nbsp;
                            %p{:style => "margin:0; border-top:2px solid #e5e5e5; font-size:5px; line-height:5px; margin:0 30px 29px;"} &nbsp;
                            %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
                              %tbody
                                %tr{:valign => "top"}
                                  %td
                                    %p{:style => "margin:0; font-size:14px; margin:0 30px 30px; line-height: 30px"}
                                      Thank you for registering with mmlodging! We look forward to welcoming you to our beautiful country! In order to get started, you need to confirm your email.
                                %tr{:valign => "top"}
                                  %td{:align => "center"}
                                    = link_to "Confirm Email", confirmation_url(@resource, confirmation_token: @token), :style => " background: rgb(81, 163, 231); color: #ffffff; border: none; padding: 5px 15px; margin:0 0 30px 0; font-size:14px; font-weight: bold; line-height: 30px; text-decoration:none; width:190px; display:block;"
                                %tr{:valign => "top"}
                                  %td
                                    %p{:style => "margin:0; font-size:14px; margin:0 30px 30px; line-height: 30px"}
                                      If you have any technical difficulties while logging in, please do not hesitate to contact us. We are here to assist you in any way possible! Thank you again and we hope to see you soon
                                    = image_tag("voucher/footer.png", :class => 'image img-footer', :height => "200", :src => "footer.png", :style => "margin-bottom: -50px margin-left: 0px", :width => "800")