.col-md-6.col-sm-6
  / BEGIN REGIONAL STATS PORTLET
  .portlet.light
    .portlet-title
      .caption.caption-md
        %i.icon-bar-chart.theme-font.hide
        %span.caption-subject.theme-font.bold.uppercase User
    .portlet-body
      = f.input :first_name, :input_html => {:class => 'form-control'}
      = f.input :last_name, :input_html => {:class => 'form-control'}
      = f.input :email, :input_html => {:class => 'form-control'}
      = f.input :password, :input_html => {:class => 'form-control'}
      - if current_user.role.eql?("admin")
        = f.input :role, :collection => ["admin", "user", "hotel"], :prompt => 'Role User', :as => :select, :input_html => {:class => 'form-control'}
      
.col-md-6
  .portlet.light
    .portlet-title
      .caption.caption-md
        %i.icon-bar-chart.theme-font.hide
        %span.caption-subject.theme-font.bold.uppercase User
    .portlet-body
      - unless current_user.role.eql?("hotel")
        = f.input :gender, :as => :radio_buttons, :collection => [["Female", "Female"],["Male", "Male"]], :item_wrapper_class => 'inline'
      = f.input :address, :input_html => {:class => 'form-control'}
      = f.input :mobile, :input_html => {:class => 'form-control'}
      .form-group
        = f.label :avatar
        .controls
          .fileinput.fileinput-new{"data-provides" => "fileinput"}
            .input-group.input-large
              .form-control.uneditable-input.span3{"data-trigger" => "fileinput"}
                %i.fa.fa-file.fileinput-exists>
                \&nbsp;
                %span.fileinput-filename
              %span.input-group-addon.btn.default.btn-file
                %span.fileinput-new
                  Select file
                %span.fileinput-exists
                  Change
                = f.file_field :avatar
              %a.input-group-addon.btn.red.fileinput-exists{"data-dismiss" => "fileinput", :href => "javascript:;"}
                Remove
      - unless current_user.avatar.blank?
        .form-group
          = image_tag current_user.avatar_url(:thumb)
      
      .form-group
        = f.submit "Save", :class => 'btn btn-success'
        = link_to "Back", admin_users_path, :class => 'btn btn-success'