- meta title: "Edit User #{@user.email}"
.page-head
  .container
    .page-title
      %h1 Edit User
.page-content
  .container
    - breadcrumb :edit_user, @user
    = render("layouts/breadcrumbs")
    .row
      = simple_form_for([:admin, @user], :html => {:method => :put, :class => 'form-vertical'}) do |f|
        = render :partial => "form", :locals => {:f => f}