- meta title: "Manage Users"
.page-head
  .container
    .page-title
      %h1 All Users
.page-content
  .container
    - breadcrumb :users
    = render("layouts/breadcrumbs")
    .row
      .col-md-12.col-sm-12
        / BEGIN REGIONAL STATS PORTLET
        .portlet.light
          .portlet-title
            .caption.caption-md
              %i.icon-bar-chart.theme-font.hide
              %span.caption-subject.theme-font.bold.uppercase Users
            .actions
              = link_to new_admin_user_path, :class => "btn btn-circle btn-default" do
                %i.fa.fa-plus
                %span.hidden-480 New User
          .portlet-body
            = form_tag(admin_users_path, :method => :get, :class => 'form-inline') do
              .form-group
                = select_tag :role, options_for_select(["admin", "hotel", "user"], params[:role]), :prompt => 'Role', :class => 'form-control'
              .form-group
                = text_field_tag :email, params[:email], :class => 'form-control', :placeholder => 'Search by email'
              .form-group
                = submit_tag "Search", :class => 'btn btn-success'
            %br/
            %table.table.table-hover
              %thead
                %tr
                  %th #
                  %th Email
                  %th Role
                  %th Checkouts
                  %th{:colspan => 3}
              %tbody
                - @users.each_with_index do |user, index|
                  %tr
                    %td= index +1
                    %td= user.email
                    %td= user.role.capitalize
                    %td
                      - if user.checkouts.count.eql?(0)
                        Checkouts (
                        = user.checkouts.count
                        )
                      - else
                        = link_to "Checkouts ( #{user.checkouts.count} )", user_admin_checkouts_path(user)
                    %td= link_to "Show", admin_user_path(user), :class => 'btn btn-success btn-sm'
                    %td= link_to "Edit", edit_admin_user_path(user), :class => 'btn btn-info btn-sm'
                    %td= link_to "Delete", admin_user_path(user), :class => 'btn btn-danger btn-sm', :method => :delete, :data => {:confirm => 'Are you sure?'}
            = paginate @users, :views_prefix => "kaminari/bootstrap"