- meta title: "New User"
.page-head
  .container
    .page-title
      %h1 New User
.page-content
  .container
    - breadcrumb :new_user
    = render("layouts/breadcrumbs")
    .row
      = simple_form_for [:admin, @user], :html => {:id => "form-city", :class => 'form-vertical'} do |f|
        = render partial: "form", :locals => {f: f}