- meta title: "Detail User #{@user.email}"
.page-head
  .container
    .page-title
      %h1= "Detail user #{@user.email}"
.page-content
  .container
    - breadcrumb :user, @user
    = render("layouts/breadcrumbs")
    .row
      .col-md-6.col-md-offset-3
        .portlet.light
          .portlet-title
            .caption.caption-md
              %i.icon-bar-chart.theme-font.hide
              %span.caption-subject.theme-font.bold.uppercase= "Detail user #{@user.email}"
          .portlet-body
            %table.table
              %tr
                %td
                  %strong First Name
                %td= @user.first_name
              %tr
                %td
                  %strong Last Name
                %td= @user.last_name
              %tr
                %td
                  %strong Email
                %td= @user.email
              - unless current_user.role.eql?("hotel")
                %tr
                  %td
                    %strong Gender
                  %td= @user.gender
              %tr
                %td
                  %strong Address
                %td= @user.address
              %tr
                %td
                  %strong Mobile
                %td= @user.mobile
              %tr
                %td
                  %strong Login With
                %td= @user.provider || "Email"
              
              
            .row
              .col-md-6
                = link_to "Edit", edit_admin_user_path(@user), :class => 'btn btn-success btn-block'
              .col-md-6
                = link_to "Back", admin_users_path, :class => 'btn btn-primary btn-block'
            .clearfix
      .col-md-6