.content
  .row
    .large-12.medium-12.small-12.columns.margin-from-header
      %h1= 'Listing hotels in ' + @city.name
      %br
      -if @hotels.size > 0
        %table{style: "min-width: 960px"}
          %tr
            %th Title
            %th Content
            
            %th Rating
            %th Published
            %th Deals
            %th
            %th
            %th
            %th Rooms


          - @hotels.each do |hotel|
            %tr
              %td= hotel.title
              %td= hotel.content
              
              %td= hotel.general_rating
              %td= hotel.published
              %td= hotel.deals
              %td= link_to 'Show', [@city, hotel]
              %td= link_to 'Edit', [:edit, @city, hotel]
              %td= link_to 'Destroy', [@city, hotel], :method => :delete, :data => { :confirm => 'Are you sure?' }
              %td
                = link_to rooms_index_path(@city, hotel) do 
                  = 'Rooms(' + hotel.rooms.count.to_s + ')'

      - else
        %p You don't have hotels in this city

      %br

      = link_to 'New Hotel', new_city_hotel_path, class: "button disabled"


      = render(partial:'partial/map')
