/ .sign-up-hotel-block
/   .sign-up-hotel-block_inner
/     .row
/       %dl.large-12.medium-12.small-12.columns.tabs{"data-tab" => ""}
/         %h3 Sign up        
/         %dd.sign-up-hotel-block_inner_pages
/           .sign-up-hotel-block_inner_number{href: "#page1"}
/             = link_to "1", [:edit, @city, @hotel], class: 'back'
/           .sign-up-hotel-block_inner_text
/             Property & Contact Details
/         %dd.sign-up-hotel-block_inner_pages
/           .sign-up-hotel-block_inner_number{href: "#page2"}
/             = link_to "2", [:edit, @city, @hotel], class: 'back'
/           .sign-up-hotel-block_inner_text
/             Property Information
/         %dd.sign-up-hotel-block_inner_pages
/           .sign-up-hotel-block_inner_number{href: "#page3"}
/             = link_to "3", [:edit, @city, @hotel], class: 'back'
/           .sign-up-hotel-block_inner_text
/             Property Facilities
/         %dd.sign-up-hotel-block_inner_pages
/           .sign-up-hotel-block_inner_number{href: "#page4"}
/             = link_to "4", [:edit, @city, @hotel], class: 'back'
/           .sign-up-hotel-block_inner_text
/             Photos & Videos
/         %dd.sign-up-hotel-block_inner_pages.active
/           .sign-up-hotel-block_inner_number{href: "#page5"}
/             5           
/           .sign-up-hotel-block_inner_text
/             Preview & Save
/ .content
/   .row
/     #page5.content
/       %h3 Preview & Save
/       Please review your details in the preview below. if you are not happy with the result, you can 
/       = link_to "edit", [:edit, @city, @hotel]
/       or
/       = link_to 'delete', [@city, @hotel], :method => :delete, :data => { :confirm => 'Are you sure?' }
/       this hotel.
/       %p You will be able to change any images and text after your Signup has been confirmed.
/       .hr
/       .large-12.medium-12.small-12.columns.margin-from-header.hotel.margin-top-40
/         .hotel_header
/           .large-4.medium-4.small-12.columns.padding-lr-0
/             %h3= @hotel.title
/             %p= @hotel.distance_from_city_center
/           .large-8.medium-8.small-12.columns.padding-lr-0
/             %dl.tabs
/               %dd
/                 = link_to 'Overviews', previews_path
/               %dd.active
/                 %a{href: "#panel2-2"} Map
/               %dd
/                 = link_to 'Reviews', reviews_hotel_path
/             = link_to 'Back to search', search_index_path, class: "button-full-width-yellow"
/         .hotel_inside-pages
/           .tabs-content
            
/             #panel2-2.content.large-12.medium-12.small-12.columns.map-hotel.active
/               .large-12.medium-12.small-12.columns.padding-lr-0
/                 .map-hotel_map-block
/                   = render "partial/map"
/                 .map-hotel_text
/                   %h4 Located Near
/                   %p Skate alongside the lake and enjoy the spectacular city views at Harbourfront, or go out for a live show and some drinks on Queen West. We're in the middle of it all! Stroll to many of Toronto's top destinations, including the CN Tower, King West, the Theatre District, and Chinatown. All are within an easy 5-10 minute walk. Public transit is super convenient: two TTC streetcar lines (King and Spadina) run 100 metres from our front door, with direct service to the subway.
