.content
  .row
    .large-12.medium-12.small-12.columns.margin-from-header.hotel
      .hotel_header
        .large-4.medium-4.small-12.columns.padding-lr-0
          %h3= @hotel.title
          %p= @hotel.distance_from_city_center
        .large-8.medium-8.small-12.columns.padding-lr-0
          %dl.tabs
            %dd
              = link_to 'Overview', [@city, @hotel]
            %dd
              = link_to 'Map', h_map_path
            %dd.active
              %a{href: "#panel2-3"} Reviews
          = link_to 'Back to search', search_index_path, class: "button-full-width-yellow"
      .hotel_inside-pages
        .tabs-content
          
          #panel2-3.content.large-12.medium-12.small-12.columns.reviews-hotel.active
            .large-12.medium-12.small-12.columns.padding-lr-0
              .rating_header
                %p.rating_star{"data-rating" => @hotel.general_rating, :style => "float: left; margin-top: 2px"}
                %p.reviews= '(' + @comments_count.count.to_s + ' reviews)'
                -#
                  %select
                    %option{value: "husker"} Sort by
                    %option{value: "starbuck"} 2
                    %option{value: "hotdog"} 3
                    %option{value: "apollo"} 4
              .clear-both
              .overview-hotel_right_stats
                .overview-hotel_right_stats_block
                  %p.overview-hotel_right_stats_block_name ATMOSPHERE
                  %p.overview-hotel_right_stats_block_percent.rating_star{"style" => "margin-right:10px","data-rating" => @hotel.atmosphere_percent}
                .overview-hotel_right_stats_block
                  %p.overview-hotel_right_stats_block_name STAFF
                  %p.overview-hotel_right_stats_block_percent.rating_star{"style" => "margin-right:10px","data-rating" => @hotel.staff_percent}
                .overview-hotel_right_stats_block
                  %p.overview-hotel_right_stats_block_name SECURITY
                  %p.overview-hotel_right_stats_block_percent.rating_star{"style" => "margin-right:10px","data-rating" => @hotel.security_percent}
                .overview-hotel_right_stats_block
                  %p.overview-hotel_right_stats_block_name CLEANLINESS
                  %p.overview-hotel_right_stats_block_percent.rating_star{"style" => "margin-right:10px","data-rating" => @hotel.cleanliness_percent}
                .overview-hotel_right_stats_block
                  %p.overview-hotel_right_stats_block_name LOCATION
                  %p.overview-hotel_right_stats_block_percent.rating_star{"style" => "margin-right:10px","data-rating" => @hotel.location_percent}
                .overview-hotel_right_stats_block
                  %p.overview-hotel_right_stats_block_name VALUE FOR MONEY
                  %p.overview-hotel_right_stats_block_percent.rating_star{"style" => "margin-right:10px","data-rating" => @hotel.value_for_money_percent}
                .overview-hotel_right_stats_block
                  %p.overview-hotel_right_stats_block_name FACILITIES
                  %p.overview-hotel_right_stats_block_percent.rating_star{"style" => "margin-right:10px","data-rating" => @hotel.facilities_percent}
            -if user_signed_in?
              =form_for [@city, @hotel, Comment.new] do |f|
                = f.text_area :content, placeholder: "Your comment...", required: 'true'
                .overview-hotel_right_stats
                  .overview-hotel_right_stats_block
                    %p.overview-hotel_right_stats_block_name ATMOSPHERE
                    %p.overview-hotel_right_stats_block_percent= f.number_field :atmosphere, required: 'true', placeholder: '0..5', min: 1, max:5
                  .overview-hotel_right_stats_block
                    %p.overview-hotel_right_stats_block_name STAFF
                    %p.overview-hotel_right_stats_block_percent= f.number_field :staff, required: 'true', placeholder: '0..5', min: 1, max:5
                  .overview-hotel_right_stats_block
                    %p.overview-hotel_right_stats_block_name SECURITY
                    %p.overview-hotel_right_stats_block_percent= f.number_field :security, required: 'true', placeholder: '0..5', min: 1, max:5
                  .overview-hotel_right_stats_block
                    %p.overview-hotel_right_stats_block_name CLEANLINESS
                    %p.overview-hotel_right_stats_block_percent= f.number_field :cleanliness, required: 'true', placeholder: '0..5', min: 1, max:5
                  .overview-hotel_right_stats_block
                    %p.overview-hotel_right_stats_block_name LOCATION
                    %p.overview-hotel_right_stats_block_percent= f.number_field :location, required: 'true', placeholder: '0..5', min: 1, max:5
                  .overview-hotel_right_stats_block
                    %p.overview-hotel_right_stats_block_name VALUE FOR MONEY
                    %p.overview-hotel_right_stats_block_percent= f.number_field :value_for_money, required: 'true', placeholder: '0..5', min: 1, max:5
                  .overview-hotel_right_stats_block
                    %p.overview-hotel_right_stats_block_name FACILITIES
                    %p.overview-hotel_right_stats_block_percent= f.number_field :facilities, required: 'true', placeholder: '0..5', min: 1, max:5
                  = f.submit value: 'Add comment', class: "button-full-width-yellow"
                  .clear-both
              .reviews-hotel_reviews
                .reviews-hotel_reviews_block
                  -if @hotel_comments.size > 0
                    - @hotel_comments.reverse_each do |comment| 
                      .large-1.medium-2.small-6.columns.padding-lr-0
                        .reviews-hotel_reviews_percent
                          = comment.general_rating.to_s + '%'
                      .large-2.medium-3.small-6.columns.padding-lr-0.border-light-black
                        .reviews-hotel_reviews_name
                          = comment.name
                        .reviews-hotel_reviews_country
                          
                        .reviews-hotel_reviews_date
                          -#26 Feb 2014
                          = comment.created_at.strftime("%d %b %Y")
                      .large-9.medium-7.small-12.columns.padding-lr-0
                        .reviews-hotel_reviews_text
                          =comment.content
                        - if user_signed_in?&&(current_user.role == "admin") 
                          = link_to "Delete comment", [comment.hotel.city, comment.hotel, comment], method: 'delete'                      
                      .clear-both
                %br
                = paginate @hotel_comments                  
