.sign-up-hotel-block
  .sign-up-hotel-block_inner
    .row
      %dl.large-12.medium-12.small-12.columns.tabs{"data-tab" => ""}
        %h3 Sign up        
        %dd.sign-up-hotel-block_inner_pages
          .sign-up-hotel-block_inner_number{href: "#page1"}
            = link_to "1", [:edit, @city, @hotel], class: 'back'
          .sign-up-hotel-block_inner_text
            Property & Contact Details
        %dd.sign-up-hotel-block_inner_pages
          .sign-up-hotel-block_inner_number{href: "#page2"}
            = link_to "2", [:edit, @city, @hotel], class: 'back'
          .sign-up-hotel-block_inner_text
            Property Information
        %dd.sign-up-hotel-block_inner_pages
          .sign-up-hotel-block_inner_number{href: "#page3"}
            = link_to "3", [:edit, @city, @hotel], class: 'back'
          .sign-up-hotel-block_inner_text
            Property Facilities
        %dd.sign-up-hotel-block_inner_pages
          .sign-up-hotel-block_inner_number{href: "#page4"}
            = link_to "4", [:edit, @city, @hotel], class: 'back'
          .sign-up-hotel-block_inner_text
            Photos & Videos
        %dd.sign-up-hotel-block_inner_pages.active
          .sign-up-hotel-block_inner_number{href: "#page5"}
            5           
          .sign-up-hotel-block_inner_text
            Preview & Save
.content
  .row
    #page5.content
      %h3 Preview & Save
      Please review your details in the preview below. if you are not happy with the result, you can 
      = link_to "edit", [:edit, @city, @hotel]
      or
      = link_to 'delete', [@city, @hotel], :method => :delete, :data => { :confirm => 'Are you sure?' }
      this hotel.
      %p You will be able to change any images and text after your Signup has been confirmed.
      
      
      .hr
      .large-12.medium-12.small-12.columns.margin-from-header.hotel.margin-top-40
        .hotel_header
          .large-4.medium-4.small-12.columns.padding-lr-0
            %h3= @hotel.title
            %p= @hotel.distance_from_city_center
          .large-8.medium-8.small-12.columns.padding-lr-0
            %dl.tabs
              %dd
                = link_to 'Overview', previews_path
              %dd
                - if params[:id].nil?
                  = link_to 'Map', map_previews_path(@city, @hotel)
                -else 
                  = link_to 'Map', map_previews_path                
              %dd.active
                %a{href: "#panel2-3"} Reviews
            = link_to 'Back to search', search_index_path, class: "button-full-width-yellow"
        .hotel_inside-pages
          .tabs-content
            #panel2-3.content.large-12.medium-12.small-12.columns.reviews-hotel.active
              .large-12.medium-12.small-12.columns.padding-lr-0
                .rating_header
                  %p.rating_star{"data-rating" => @hotel.general_rating}
                  %p.reviews
                  -#
                    %select
                      %option{value: "husker"} Sort by
                      %option{value: "starbuck"} 2
                      %option{value: "hotdog"} 3
                      %option{value: "apollo"} 4
                .clear-both
                .overview-hotel_right_stats
                  .overview-hotel_right_stats_block
                    %p.overview-hotel_right_stats_block_name ATMOSPHERE
                    %p.overview-hotel_right_stats_block_percent= @hotel.atmosphere_percent.to_s + '%'
                  .overview-hotel_right_stats_block
                    %p.overview-hotel_right_stats_block_name STAFF
                    %p.overview-hotel_right_stats_block_percent= @hotel.staff_percent.to_s + '%'
                  .overview-hotel_right_stats_block
                    %p.overview-hotel_right_stats_block_name SECURITY
                    %p.overview-hotel_right_stats_block_percent= @hotel.security_percent.to_s + '%'
                  .overview-hotel_right_stats_block
                    %p.overview-hotel_right_stats_block_name CLEANLINESS
                    %p.overview-hotel_right_stats_block_percent= @hotel.cleanliness_percent.to_s + '%'
                  .overview-hotel_right_stats_block
                    %p.overview-hotel_right_stats_block_name LOCATION
                    %p.overview-hotel_right_stats_block_percent= @hotel.location_percent.to_s + '%'
                  .overview-hotel_right_stats_block
                    %p.overview-hotel_right_stats_block_name VALUE FOR MONEY
                    %p.overview-hotel_right_stats_block_percent= @hotel.value_for_money_percent.to_s + '%'
                  .overview-hotel_right_stats_block
                    %p.overview-hotel_right_stats_block_name FACILITIES
                    %p.overview-hotel_right_stats_block_percent= @hotel.facilities_percent.to_s + '%'
              -if user_signed_in?
                =form_for [@city, @hotel, Comment.new] do |f|
                  = f.text_area :content, placeholder: "Your comment...", required: 'true'
                  .overview-hotel_right_stats
                    .overview-hotel_right_stats_block
                      %p.overview-hotel_right_stats_block_name ATMOSPHERE
                      %p.overview-hotel_right_stats_block_percent= f.number_field :atmosphere, required: 'true', placeholder: '0..5', min: 1, max:5
                    .overview-hotel_right_stats_block
                      %p.overview-hotel_right_stats_block_name STAFF
                      %p.overview-hotel_right_stats_block_percent= f.number_field :staff, required: 'true', placeholder: '0..5', min: 1, max:5
                    .overview-hotel_right_stats_block
                      %p.overview-hotel_right_stats_block_name SECURITY
                      %p.overview-hotel_right_stats_block_percent= f.number_field :security, required: 'true', placeholder: '0..5', min: 1, max:5
                    .overview-hotel_right_stats_block
                      %p.overview-hotel_right_stats_block_name CLEANLINESS
                      %p.overview-hotel_right_stats_block_percent= f.number_field :cleanliness, required: 'true', placeholder: '0..5', min: 1, max:5
                    .overview-hotel_right_stats_block
                      %p.overview-hotel_right_stats_block_name LOCATION
                      %p.overview-hotel_right_stats_block_percent= f.number_field :location, required: 'true', placeholder: '0..5', min: 1, max:5
                    .overview-hotel_right_stats_block
                      %p.overview-hotel_right_stats_block_name VALUE FOR MONEY
                      %p.overview-hotel_right_stats_block_percent= f.number_field :value_for_money, required: 'true', placeholder: '0..5', min: 1, max:5
                    .overview-hotel_right_stats_block
                      %p.overview-hotel_right_stats_block_name FACILITIES
                      %p.overview-hotel_right_stats_block_percent= f.number_field :facilities, required: 'true', placeholder: '0..5', min: 1, max:5
                    = f.submit value: 'Submit', class: "button-full-width-yellow"
                  .clear-both
                    
                .reviews-hotel_reviews
                  .reviews-hotel_reviews_block
                    -if @hotel.comments.size > 0
                      - @hotel.comments.reverse_each do |comment| 
                        .large-1.medium-2.small-6.columns.padding-lr-0
                          .reviews-hotel_reviews_percent
                            = comment.general_rating.to_s + '%'
                        .large-2.medium-3.small-6.columns.padding-lr-0.border-light-black
                          .reviews-hotel_reviews_name
                            Anonymous
                          .reviews-hotel_reviews_country
                            (Sweden)
                          .reviews-hotel_reviews_date
                            -#26 Feb 2014
                            = comment.created_at.strftime("%d %b %Y")
                        .large-9.medium-7.small-12.columns.padding-lr-0
                          .reviews-hotel_reviews_text
                            =comment.content                      
                        .clear-both                  
