/ .content
/   .row
/     .large-12.medium-12.small-12.columns.margin-from-header.hotel
/       .hotel_header
/         .large-4.medium-4.small-12.columns.padding-lr-0
/           %h3= @hotel.title
/           %p= @hotel.address
/         .large-8.medium-8.small-12.columns.padding-lr-0
/           %dl.tabs
/             %dd.active
/               %a{href: "#panel2-1"} Overview
/             %dd
/               = link_to 'Map', h_map_path
/             %dd
/               = link_to 'Reviews', reviews_path(@city.id, @hotel.id)
/           = link_to 'Back to search', search_index_path, class: "button-full-width-yellow"
/       .hotel_inside-pages
/         .tabs-content
/           #panel2-1.content.active.large-12.medium-12.small-12.columns.overview-hotel
/             .large-4.medium-4.small-12.columns.padding-lr-0
/               .connected-carousels
/                 .stage
/                   .carousel.carousel-stage
/                     %ul
/                       - @hotel.photos.each do |photo|
/                         %li
/                           = link_to photo.image_url, :data=> {'lightbox' => "img"} do
/                             =image_tag photo.image
/                         / .hide= session[:photo] = photo.image
/                         .hide= photo.image
/                   %a.prev.prev-stage{href: "#"}
/                     %span
/                   %a.next.next-stage{href: "#"}
/                     %span
/                 .navigation
/                   %a.prev.prev-navigation{href: "#"}
/                   %a.next.next-navigation{href: "#"}
/                   .carousel.carousel-navigation
/                     %ul
/                       - @hotel.photos.each do |photo|
/                         %li= image_tag(photo.image)
/             .large-8.medium-8.small-12.columns.padding-lr-0.overview-hotel_right
/               .large-8.medium-12.small-12.columns.padding-lr-0
/                 .large-12.medium-12.small-12.columns.padding-lr-0
/                   .rating_header
/                     %div{style: "width: 100px; margin: 0; margin-top: 6px; float: left"}
/                       .rating_star{"data-rating" => @hotel.general_rating}
/                     %p.reviews= '(' + @comments_count.count.to_s + ' reviews)'
/                   .clear-both
/                   .overview-hotel_right_stats
/                     .overview-hotel_right_stats_block
/                       %p.overview-hotel_right_stats_block_name ATMOSPHERE
/                       %p.overview-hotel_right_stats_block_percent.rating_star{"style" => "margin-right:6px","data-rating" => @hotel.atmosphere_percent}
/                     .overview-hotel_right_stats_block
/                       %p.overview-hotel_right_stats_block_name STAFF
/                       %p.overview-hotel_right_stats_block_percent.rating_star{"style" => "margin-right:6px","data-rating" => @hotel.staff_percent}
/                     .overview-hotel_right_stats_block
/                       %p.overview-hotel_right_stats_block_name SECURITY
/                       %p.overview-hotel_right_stats_block_percent.rating_star{"style" => "margin-right:6px","data-rating" => @hotel.security_percent}
/                     .overview-hotel_right_stats_block
/                       %p.overview-hotel_right_stats_block_name CLEANLINESS
/                       %p.overview-hotel_right_stats_block_percent.rating_star{"style" => "margin-right:6px","data-rating" => @hotel.cleanliness_percent}
/                     .overview-hotel_right_stats_block
/                       %p.overview-hotel_right_stats_block_name LOCATION
/                       %p.overview-hotel_right_stats_block_percent.rating_star{"style" => "margin-right:6px","data-rating" => @hotel.location_percent}
/                     .overview-hotel_right_stats_block
/                       %p.overview-hotel_right_stats_block_name FACILITIES
/                       %p.overview-hotel_right_stats_block_percent.rating_star{"style" => "margin-right:6px","data-rating" => @hotel.facilities_percent}
/                     .overview-hotel_right_stats_block
/                       %p.overview-hotel_right_stats_block_name MONEY
/                       %p.overview-hotel_right_stats_block_percent.rating_star{"style" => "margin-right:6px","data-rating" => @hotel.value_for_money_percent}
/               .large-4.medium-12.small-12.columns.padding-lr-0.latest-review_block
/                 .rating_header
/                   %p.latest-review Latest Review
/                   .latest-review_text
/                     %p
/                       - if @hotel_comments.count > 0
/                         =truncate(@hotel_comments.last.content, length: 60, separator: '')
/                         %a MORE
/                     .read-all-reviews= link_to 'Read All Reviews »', reviews_path(@city, @hotel) 
/               .large-12.medium-12.small-12.columns.padding-lr-0.overview-hotel_right_about
/                 .accordion-block
/                   %h4 Property Information:
/                   %p= @hotel.content
/                   %h3 Read more
/                   .accordion1
/                     %p
/                       Property type:
/                       = @hotel.property_type
/                       %br
/                       Country:
/                       = @hotel.country
/                       %br
/                       Town:
/                       = @hotel.town
/                       %br
/                       Address:
/                       = @hotel.address
/                       %br
/                       Contact Name:
/                       = @hotel.contact_name
/                       %br
/                       Manager Email:
/                       = @hotel.manager_email
/                       %br
/                       Website:
/                       = @hotel.website_address
/                       %br
/                       Currency:
/                       = @hotel.currency
/                       %br
/                       Language:
/                       = @hotel.language
/                       %br
/                       Phone Number:
/                       = @hotel.phone_number
/                       %br
/                     %h3 Description:
/                     .accordion1
/                       %p= @hotel.description
/                     %h3 Location / Area:
/                     .accordion1
/                       %p= @hotel.location
/                     %h3 Directions:
/                     .accordion1
/                       %p= @hotel.directions
/                     %h3 Things to Note & Policies:
/                     .accordion1
/                       %p= @hotel.things
/                     %h3 Property Facilities
/                     .accordion1
/                       - if @hotel.hour_reception == true
/                         .checkbox-block
/                           24 hour reception
                          
/                       - if @hotel.card_phones == true
/                         .checkbox-block
/                           Card Phones                        
                    
/                       - if @hotel.gum == true
/                         .checkbox-block
/                           Gum                        
                          
/                       - if @hotel.nightclub == true
/                         .checkbox-block
/                           Nightclub
                  
                    
/                       - if @hotel.hour_security == true
/                         .checkbox-block
/                           24 hour security
                  
                    
/                       - if @hotel.celing_fan == true
/                         .checkbox-block
/                           Ceiling Fan
                  
                    
/                       - if @hotel.hairdryers == true
/                         .checkbox-block
/                           Hair dryers
                  
                    
/                       - if @hotel.outdoor_swimming == true
/                         .checkbox-block
/                           Outdoor Swimming Pool
                  
                    
/                       - if @hotel.adaptors == true
/                         .checkbox-block
/                           Adaptors
                  
                    
/                       - if @hotel.cots_available == true
/                         .checkbox-block
/                           Cots Available
                  
                    
/                       - if @hotel.hot_tub == true
/                         .checkbox-block
/                           Hot Tub
                  
                    
/                       - if @hotel.outdoor_terrace == true
/                         .checkbox-block
/                           Outdoor Terrace
                  
                    
/                       - if @hotel.air_conditioning == true
/                         .checkbox-block
/                           Air conditioning
                  
                    
/                       - if @hotel.currency_exchange == true
/                         .checkbox-block
/                           Currency Exchange
                  
                    
/                       - if @hotel.housekeeping == true
/                         .checkbox-block
/                           Housekeeping
                  
                    
/                       - if @hotel.parking == true
/                         .checkbox-block
/                           Parking
                  
                    
/                       - if @hotel.airport_transfers == true
/                         .checkbox-block
/                           Airport Transfers
                  
                    
/                       - if @hotel.direct_dial == true
/                         .checkbox-block
/                           Direct Dial Telephone
                  
                    
/                       - if @hotel.indoor_swimming == true
/                         .checkbox-block
/                           Indoor Swimming Pool
                  
                    
/                       - if @hotel.postal_service == true
/                         .checkbox-block
/                           Postal Service
                  
                    
/                       - if @hotel.atm == true
/                         .checkbox-block
/                           ATM
                  
                    
/                       - if @hotel.dvds == true
/                         .checkbox-block
/                           DVDs
                  
                    
/                       - if @hotel.internet_access == true
/                         .checkbox-block
/                           Internet Access
                  
                    
/                       - if @hotel.reading_light == true
/                         .checkbox-block
/                           Reading Light
                  
                    
/                       - if @hotel.bar == true
/                         .checkbox-block
/                           Bar
                  
                    
/                       - if @hotel.elevator == true
/                         .checkbox-block
/                           Elevator
                  
                    
/                       - if @hotel.key_card == true
/                         .checkbox-block
/                           Key card access
                  
                    
/                       - if @hotel.restaurant == true
/                         .checkbox-block
/                           Restaurant
                  
                    
/                       - if @hotel.bicucle_hire == true
/                         .checkbox-block
/                           Bicycle Hire
                  
                    
/                       - if @hotel.fax_service == true
/                         .checkbox-block
/                           Fax Service
                  
                    
/                       - if @hotel.landry_facilities == true
/                         .checkbox-block
/                           Laundry facilities
                  
                    
/                       - if @hotel.safe_deposit == true
/                         .checkbox-block
/                           Safe Deposit Box


/                       - if @hotel.book_exchenge == true
/                         .checkbox-block
/                           Book Exchange
                  
                    
/                       - if @hotel.free_airport == true
/                         .checkbox-block
/                           Free Airport Transfers
                  
                    
/                       - if @hotel.lounge == true
/                         .checkbox-block
/                           Lounge
                  
                    
/                       - if @hotel.shuttle_bus == true
/                         .checkbox-block
/                           Shuttle Bus
                  
                    
/                       - if @hotel.breakfast_include == true
/                         .checkbox-block
/                           Breakfast Included
                  
                    
/                       - if @hotel.free_city == true
/                         .checkbox-block
/                           Free City Maps
                  
                    
/                       - if @hotel.luggage_storage == true
/                         .checkbox-block
/                           Luggage Storage
                  
                    
/                       - if @hotel.swimming_pool == true
/                         .checkbox-block
/                           Swimming Pool
                  
                    
/                       - if @hotel.breakfast_not_include == true
/                         .checkbox-block
/                           Breakfast Not Included
                  
                  
                    
/                       - if @hotel.free_internet == true
/                         .checkbox-block
/                           Free Internet Access
                  
                    
/                       - if @hotel.meeting_room == true
/                         .checkbox-block
/                           Meeting Room
                  
                    
/                       - if @hotel.making_facilities == true
/                         .checkbox-block
/                           Tea & Coffee Making Facilities
                  
                    
/                       - if @hotel.business_centre == true
/                         .checkbox-block
/                           Business Centre
                  
                    
/                       - if @hotel.free_parking == true
/                         .checkbox-block
/                           Free Parking
                  
                    
/                       - if @hotel.mini_bar == true
/                         .checkbox-block
/                           Mini Bar
                  
                    
/                       - if @hotel.travel_desk == true
/                         .checkbox-block
/                           Tours/Travel desk
                  
                    
/                       - if @hotel.cable_tv == true
/                         .checkbox-block
/                           Cable TV
                  
                    
/                       - if @hotel.free_wifi == true
/                         .checkbox-block
/                           Free WiFi
                  
                    
/                       - if @hotel.mini_supermarket == true
/                         .checkbox-block
/                           Mini Supermarket
                  
                    
/                       - if @hotel.vending_mashines == true
/                         .checkbox-block
/                           Vending Machines
                  
                    
/                       - if @hotel.wheelchair_friendly == true
/                         .checkbox-block
/                           Wheelchair  Friendly
                  
                    
/                       - if @hotel.wifi == true
/                         .checkbox-block
/                           WiFi
                  
                    
/                       - if @hotel.all_property == true
/                         .checkbox-block
/                           All Property 
                  
                    
/                       - if @hotel.hostels == true
/                         .checkbox-block
/                           Hostels
                  
                    
/                       - if @hotel.bed_and_breakfasts == true
/                         .checkbox-block
/                           Bed and Breakfasts
                  
                    
/                       - if @hotel.hotels == true
/                         .checkbox-block
/                           Hotels
                  
                    
/                       - if @hotel.ensuite_room == true
/                         .checkbox-block
/                           Ensuite Room
                  
                    
/                       - if @hotel.single_room == true
/                         .checkbox-block
/                           Single Room
                  
                    
/                       - if @hotel.twin_room == true
/                         .checkbox-block
/                           Twin Room     
                  
                    
/                       - if @hotel.double_room == true
/                         .checkbox-block
/                           Double Room
                  
                    
/                       - if @hotel.triple_room == true
/                         .checkbox-block
/                           Triple Room
                  
                    
/                       - if @hotel.family_room == true
/                         .checkbox-block
/                           Family Room
                  
                    
/                       - if @hotel.mixed_dorm == true
/                         .checkbox-block
/                           Mixed Dorm
                  
                    
/                       - if @hotel.male_dorm == true
/                         .checkbox-block
/                           Male Dorm
                  
                    
/                       - if @hotel.female_dorm == true
/                         .checkbox-block
/                           Female Dorm
                  
                    
/                       - if @hotel.breakfast_included == true
/                         .checkbox-block
/                           Breakfast Included

                    
/                       - if @hotel.luggage_storage == true
/                         .checkbox-block
/                           Luggage Storage
                  
                    
/                       - if @hotel.all_payment == true
/                         .checkbox-block
/                           All Payment
                  
                    
/                       - if @hotel.credit_card == true
/                         .checkbox-block
/                           Credit Card
                  
                    
/                       - if @hotel.debit_card == true
/                         .checkbox-block
/                           Debit Card
                  
                    
/                       - if @hotel.paypal == true
/                         .checkbox-block
/                           Paypal

/                     %h3 Policies
/                     .accordion1                                      
                    
/                       - if @hotel.age_restriction == true
/                         .checkbox-block
/                           Age Restriction
                  
                    
/                       - if @hotel.credit_card_not == true
/                         .checkbox-block
/                           Credit Cards Not Accepted
                  
                    
/                       - if @hotel.no_curfew == true
/                         .checkbox-block
/                           No Curfew
                  
                    
/                       - if @hotel.taxes_included == true
/                         .checkbox-block
/                           Taxes Included
                  
                    
/                       - if @hotel.child_friendly == true
/                         .checkbox-block
/                           Child Friendly
                  
                    
/                       - if @hotel.curfew == true
/                         .checkbox-block
/                           Curfew
                  
                    
/                       - if @hotel.non_smoking == true
/                         .checkbox-block
/                           Non Smoking
                  
                    
/                       - if @hotel.taxes_not_included == true
/                         .checkbox-block
/                           Taxes Not Included
                  
                    
/                       - if @hotel.credit_cards_acc == true
/                         .checkbox-block 
/                           Credit Cards Accepted
                  
                    
/                       - if @hotel.lock_out == true
/                         .checkbox-block 
/                           Lock Out
                  
                    
/                       - if @hotel.pet_friendly == true
/                         .checkbox-block 
/                           Pet Friendly
/             .clear-both
/             - if params[:date_now]
/               %a#date_now.date_now.order{href: "#update_dates_now"}
/             - else
/               .date_now
/             #update_dates_now.large-12.medium-12.small-12.columns.padding-lr-0
/               .availability-rates
/                 %h4 Availability & Rates
/                 = form_tag("#{@hotel.id}#update_dates_now", :method => "get", name: "form1") do
/                   -if @date_in&&@date_out
/                     .check_in
/                       = text_field_tag :check_in, params[:check_in],value: @date_in, placeholder: "Check in..", id: 'from', required: "true"
/                     .check_out
/                       = text_field_tag :check_out, params[:check_out],value: @date_out, placeholder: "Check out..", id: 'to', required: "true"
/                     .hide= check_box_tag :date_now, params[:date_now], value: true
/                   -else
/                     .check_in
/                       = text_field_tag :check_in, params[:check_in], placeholder: "Check in..", id: 'from', required: "true"
/                     .check_out
/                       = text_field_tag :check_out, params[:check_out], placeholder: "Check out..", id: 'to', required: "true"
/                     .hide= check_box_tag :date_now, params[:date_now], value: true

/                   = submit_tag "Update dates", :name => nil, id: "go", class: "button-full-width-orange", onclick: "validatecal(document.form1.check_in, document.form1.check_out)"
/             .show-form-date.hide
/               = form_tag(controller: "checkouts", action: "new", method: "post") do
/                 .large-12.medium-12.small-12.columns.padding-lr-0
/                   .large-12.medium-12.columns#firsttable.padding-lr-0
/                     %table
/                       %thead
/                         %tr
/                           %th
/                             %h4 Room Type
/                             %p Click on a room type to view more information.
/                           %th{width: "150"} Price
/                           %th{width: "150"} Guests
/                       %tbody
/                         - @rooms.each do |room|
/                           %tr.hotelRow.private.roomtype_1{id: room.id}
/                             %td.hotelName
/                               %p.name
/                                 = room.room_type.name
/                               = room.pay_type.to_s
/                               .hide= text_field_tag "", "#{room.id}"
/                               - if room.ensuite == true
/                                 %h6 Ensuite
/                               .accordion-block
/                                 %h3 More info
/                                 .accordion1
/                                   %p= room.about
/                             %td.hotelPrice
/                               %p.hotelPrice_inner
/                                 %span= number_to_currency(room.price)
/                                 %span.hide= room.price.to_i
/                               .hide= text_field_tag "", "#{room.price}"
/                             %td.numberOfGuestsOrRooms
/                               - @count_guest = Array.new(room.guest){|e| e = e + 1}
/                               = select_tag "", options_for_select([0] + @count_guest.to_a)

/                         .hide= text_field_tag :check_in, "#{@check_in}"
/                         .hide= text_field_tag :check_out, "#{@check_out}"
/                         .hide= text_field_tag :nights, "#{@nights}"
/                         .hide= @hotel.title
/                         .hide= @hotel.rating_percent
/                         .hide= @hotel.address
/                         .hide= text_field_tag :hotel_id, @hotel.id
/                         .hide= hidden_field_tag :total_price
/                         -# for Taras js
/                         .hide.hotelDay= @nights.to_i
/                   .large-12.medium-12.columns#secondtable.padding-lr-0
/                     %table
/                       %thead
/                         %tr
/                           %th{colspan: "5"} Your Rooms
/                         %tr
/                           %th Room Type
/                           %th{width: "150"} Number of Guests
/                           %th{width: "100"} Nights
/                           %th{width: "100"} Price
/                           %th{width: "40"}
/                       %tbody
/                     .subtotal
/                       Total Price:
/                       %span#totalPrice $ 0
/                     .deposit-button
/                       %p
/                         10% Downpayment / Deposit
/                         %span
                      
/             .large-12.medium-12.small-12.columns.padding-lr-0
/               .overview-hotel_main-text
/                 %h4 Cancellation Policy
/                 %p This property has a 1 day cancellation policy.
/                 %p Failure to cancel within this time will result in a cancellation charge equal to the first night of your stay.
          
