.col-md-12.col-sm-12
  / BEGIN REGIONAL STATS PORTLET
  .portlet.light
    .portlet-title
      .caption.caption-md
        %i.icon-bar-chart.theme-font.hide
        %span.caption-subject.theme-font.bold.uppercase Detail Blog
    .portlet-body
      = simple_form_for([:admin, @blog]) do |f|
        = f.error_notification
        .form-inputs
          = f.input :title, :input_html => {:class => 'form-control'}
          .form-group
            = f.label :image
            .controls
              .fileinput.fileinput-new{"data-provides" => "fileinput"}
                .input-group.input-large
                  .form-control.uneditable-input.span3{"data-trigger" => "fileinput"}
                    %i.fa.fa-file.fileinput-exists>
                    \&nbsp;
                    %span.fileinput-filename
                  %span.input-group-addon.btn.default.btn-file
                    %span.fileinput-new
                      Select file
                    %span.fileinput-exists
                      Change
                    = f.file_field :image
                  %a.input-group-addon.btn.red.fileinput-exists{"data-dismiss" => "fileinput", :href => "javascript:;"}
                    Remove
          = f.input :body, :as => :ckeditor, :input_html => {:ckeditor => {:toolbar => 'Full'}, :class => 'form-control'}
          = f.input :tag_list, :input_html => {:class => "tags form-control"}
        .form-actions
          = f.button :submit, "Save", :class => 'btn btn-success'
          = link_to "Back", admin_blogs_path, :class => 'btn btn-danger'