- meta title: "Edit Blog #{@blog.title}"
.page-head
  .container
    .page-title
      %h1 Edit Blog
.page-content
  .container
    - breadcrumb :edit_blog, @blog
    = render("layouts/breadcrumbs")
    .row= render "form"