- meta title: "Manage Blogs"
.page-head
  .container
    .page-title
      %h1 All Blogs
.page-content
  .container
    - breadcrumb :blogs
    = render("layouts/breadcrumbs")
    .row
      .col-md-12.col-sm-12
        .portlet.light
          .portlet-title
            .caption.caption-md
              %i.icon-bar-chart.theme-font.hide
              %span.caption-subject.theme-font.bold.uppercase All Blogs
            .actions
              = link_to new_admin_blog_path, :class => "btn btn-default btn-circle" do
                %i.fa.fa-plus
                %span.hidden-480 New Blog
          .portlet-body
            %table.table.table-hover
              %thead
                %tr
                  %th Blog Title
                  %th.text-center Comments
                  %th{:colspan => 3}
              %tbody
                - @blogs.each do |blog|
                  %tr
                    %td= blog.title
                    %td.text-center= blog.blog_comments.count
                    %td= link_to "View", admin_blog_path(blog), :class => 'btn btn-success btn-sm'
                    %td= link_to "Edit", edit_admin_blog_path(blog), :class => 'btn btn-info btn-sm'
                    %td= link_to "Delete", admin_blog_path(blog), :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => 'btn btn-danger btn-sm'
            = paginate @blogs, :views_prefix => 'kaminari/bootstrap'        