- meta title: @blog.title
.page-head
  .container
    .page-title
      %h1 All Blogs
.page-content
  .container
    - breadcrumb :blog, @blog
    = render("layouts/breadcrumbs")
    .row
      .col-md-6.col-sm-6
        .portlet.light
          .portlet-title
            .caption.caption-md
              %i.icon-bar-chart.theme-font.hide
              %span.caption-subject.theme-font.bold.uppercase= @blog.title
          .portlet-body
            = image_tag(@blog.image, :class => 'img-thumbnail')
            .content
              = @blog.body.html_safe
      .col-md-6.col-sm-6
        .portlet.light
          .portlet-title
            .caption.caption-md
              %i.icon-bar-chart.theme-font.hide
              %span.caption-subject.theme-font.bold.uppercase Comments
          .portlet-body
            %table.table.table-hover.table-striped
              %tbody
              - @comments.each do |comment|
                %tr
                  %td= comment.body
                  %td= link_to "Delete", destroy_comment_admin_blog_path(@blog, comment), :class => 'btn btn-danger btn-xs', :method => :delete, "data-confirm" => "Are you sure?"
            = link_to "Back", admin_blogs_path, :class => 'btn btn-info btn-sm'