.row
  .col-md-12
    #form_wizard_1.portlet.light
      .portlet-title
        .caption
          %span.caption-subject.font-green-sharp.bold.uppercase
            %i.fa.fa-gift Property
            %span.step-title Step 1 of 4
        .tools
      .portlet-body.form
        = form_for [:admin, @city, @property], :html => {:multipart => true, :class => 'form-horizontal', :id => 'submit_form'} do |f|
          - if @property.errors.any?
            #error_explanation
              %h2= "#{pluralize(@property.errors.count, "error")} prohibited this hotel from being saved:"
              %ul
                - @property.errors.full_messages.each do |msg|
                  %li= msg

          .form-wizard
            .form-body
              %ul.nav.nav-pills.nav-justified.steps
                %li.active
                  %a.step{"data-toggle" => "tab", :href => "#tab1"}
                    %span.number
                      1
                    %span.desc
                      %i.fa.fa-check
                      Property Details
                %li
                  %a.step{"data-toggle" => "tab", :href => "#tab2"}
                    %span.number
                      2
                    %span.desc
                      %i.fa.fa-check
                      Property Information
                %li
                  %a.step{"data-toggle" => "tab", :href => "#tab3"}
                    %span.number
                      3
                    %span.desc
                      %i.fa.fa-check
                      Property Facilities
                %li
                  %a.step{"data-toggle" => "tab", :href => "#tab4"}
                    %span.number
                      4
                    %span.desc
                      %i.fa.fa-check
                      Photos
              #bar.progress.progress-striped{:role => "progressbar"}
                .progress-bar.progress-bar-success
              .tab-content
                .alert.alert-danger.display-none
                  %button.close{"data-dismiss" => "alert"}
                  You have some form errors. Please check below.
                .alert.alert-success.display-none
                  %button.close{"data-dismiss" => "alert"}
                  Your form validation is successful!
                #tab1.tab-pane.active
                  %h3.block Property Address
                  .col-md-8
                    = f.hidden_field :lat, "data-geo" => "lat"
                    = f.hidden_field :lng, "data-geo" => "lng"

                    .form-group
                      = f.label :address, :class => 'control-label col-md-3' do
                        Address
                        %span.required
                          *
                      .col-md-9
                        = f.text_field :address, :class => 'form-control', :required => :required
                        %span.help-block
                          Address property
                    .form-group
                      = f.label :state, :class => 'control-label col-md-3' do
                        State
                        %span.required
                          *
                      .col-md-9
                        = f.text_field :state, :class => 'form-control', :required => :required, 'data-geo' => "administrative_area_level_1"
                        %span.help-block
                          State property
                    .form-group
                      = f.label :postal_code, :class => 'control-label col-md-3' do
                        Postal code
                      .col-md-9
                        = f.text_field :postal_code, :class => 'form-control', "data-geo" => "postal_code"
                        %span.help-block
                          Postal code property
                  .col-md-4
                    #map{style: "width:100%; height:300px;"}
                  .clearfix
                  %h3.block Property Details
                  .col-md-8
                    .form-group
                      = f.label :title, :class => 'control-label col-md-3' do
                        Property Name
                        %span.required
                          *
                      .col-md-9
                        = f.text_field :title, :class => 'form-control', :required => :required
                        %span.help-block
                          Property name
                    .form-group
                      = f.label :property_type, :class => 'control-label col-md-3' do
                        Property Type
                        %span.required
                          *
                      .col-md-9
                        = f.select :property_type,  @property_types,{:include_blank => "Property Type"}, required: :required, id: 'type', "data-parsley-group" => 'block1', :class => 'form-control'
                        %span.help-block
                          Property type
                    .form-group
                      = f.label :price, :class => 'control-label col-md-3' do
                        Price
                        %span.required
                          *
                      .col-md-9
                        = f.text_field :price, :class => 'form-control', :required => :required
                        %span.help-block
                          Private Room Price
                    .form-group
                      = f.label :cancellation, :class => 'control-label col-md-3' do
                        Cancellation Policy
                        %span.required
                          *
                      .col-md-9
                        = f.select :cancellation, @cancellation, {:selected => "Flexible"}, :required => :required, :class => 'form-control'
                        %span.help-block
                          Cancellation Policy
                    .form-group
                      = f.label :check_in, :class => 'control-label col-md-3' do
                        Check In
                      .col-md-9
                        .input-group
                          = f.text_field :check_in, :class => 'form-control', :required => :required
                          .input-group-addon Hours
                        %span.help-block
                          Property name
                    .form-group
                      = f.label :check_out, :class => 'control-label col-md-3' do
                        Check Out
                      .col-md-9
                        .input-group
                          = f.text_field :check_out, :class => 'form-control', :required => :required
                          .input-group-addon Hours
                        %span.help-block
                          Property name
                  .clearfix
                  %h3.block Bank Account Information
                  .col-md-8
                    .form-group
                      = f.label :account_number, :class => 'control-label col-md-3' do
                        Account Number
                      .col-md-9
                        = f.text_field :account_number, :class => 'form-control'
                        %span.help-block
                          Account Number of Property
                    .form-group
                      = f.label :account_name, :class => 'control-label col-md-3' do
                        Account Name
                      .col-md-9
                        = f.text_field :account_name, :class => 'form-control'
                        %span.help-block
                          Account Name of Property
                    .form-group
                      = f.label :bank_name, :class => 'control-label col-md-3' do
                        Bank Name
                      .col-md-9
                        = f.text_field :bank_name, :class => 'form-control'
                        %span.help-block
                          Bank Name of Property
                    .form-group
                      = f.label :swift, :class => 'control-label col-md-3' do
                        SWIFT Code
                      .col-md-9
                        = f.text_field :swift, :class => 'form-control'
                        %span.help-block
                          SWIFT Code of Property
                    .form-group
                      = f.label :bank_address, :class => 'control-label col-md-3' do
                        Bank Address
                      .col-md-9
                        = f.text_field :bank_address, :class => 'form-control'
                        %span.help-block
                          Bank Address of Property
                  .clearfix
                  %h3.block Contact Details
                  .col-md-8
                    .form-group
                      = f.label :contact_name, :class => 'control-label col-md-3' do
                        Contact Name
                        %span.required
                          *
                      .col-md-9
                        = f.text_field :contact_name, :class => 'form-control', :required => :required
                        %span.help-block
                          Contact Name of Property
                    .form-group
                      = f.label :email, :class => 'control-label col-md-3' do
                        Email Manager
                        %span.required
                          *
                      .col-md-9
                        = f.text_field :email, :class => 'form-control', :required => :required
                        %span.help-block
                          Will received mail when new booking, change booking, cancel booking.
                    
                    .form-group
                      = f.label :website, :class => 'control-label col-md-3' do
                        Website
                      .col-md-9
                        = f.text_field :website, :class => 'form-control'
                        %span.help-block
                          Website Address
                    .form-group
                      = f.label :phone, :class => 'control-label col-md-3' do
                        Phone Number
                        %span.required
                          *
                      .col-md-9
                        = f.text_field :phone, :class => 'form-control', :required => :required
                        %span.help-block
                          Phone Number

                  .clearfix
                #tab2.tab-pane
                  %h3.block Property Information
                  .form-group
                    = f.label :content, :class => 'control-label col-md-2' do
                      Information
                      %span.required
                        *
                    .col-md-7
                      = f.cktext_area :content, :class => 'form-control', :required => :required, :rows => 8, :required => :required
                      %span.help-block
                        Property Information
                    .col-md-3
                      %p Use this section to attract the customers’ attention. The content should give a concise description of your property, outlining any special features. As well as appearing on your own property page, this section will appear on the main city page for your destination so you need to ensure that this section conveys the best bits about your property to ensure that you stand out from your competitors.

                  .form-group
                    = f.label :description, :class => 'control-label col-md-2' do
                      Description
                      %span.required
                        *
                    .col-md-7
                      = f.cktext_area :description, :class => 'form-control', :required => :required, :rows => 8, :required => :required
                      %span.help-block
                        Property Description
                    .col-md-3
                      %p Use this section to expand on your introduction. Describe your property, the type of rooms you offer and the services you offer such as a bar, an outdoor terrace or a pool. List the things that make your property different to others. If you offer them, mention things like a free breakfast or WiFi as these are things that travellers look out for. If you host regular events such as pizza nights, walking tours or other events include these details too. If you want to mention current events/specials in your property please include this at the end. The general information should appear at the top where it is clearly visible. Please use full sentences when describing your property, check spelling and avoid using uppercase and/or bold letters.

                  .form-group
                    = f.label :location, :class => 'control-label col-md-2' do
                      Location / Area
                      %span.required
                        *
                    .col-md-7
                      = f.cktext_area :location, :class => 'form-control', :required => :required, :rows => 8, :required => :required
                      %span.help-block
                        Location / Area of Property
                    .col-md-3
                      %p Describe your location. Are you located in the city centre, near a beach or in a rural destination? If you are close to any famous landmarks or sights eg the Eiffel Tower mention that too. Describe the district you are located in eg Soho in New York or Camden in London. If your area has a bohemian vibe or is famous for great bars or restaurants include this too. It’s also very important to mention how far you are from the main transport links in your destination.

                  .form-group
                    = f.label :directions, :class => 'control-label col-md-2' do
                      Direction
                      %span.required
                        *
                    .col-md-7
                      = f.cktext_area :directions, :class => 'form-control', :required => :required, :rows => 8, :required => :required
                      %span.help-block
                        Direction Property
                    .col-md-3
                      %p The directions are displayed on the Map & directions page on your microsite as well as on the booking confirmation page and in the customers’ confirmation email. It is extremely important to ensure that the directions to your property are as detailed as possible. Please explain clearly how to get to your property from the airport or port by car or by public transport. Provide details on how to get to the property from the nearest train, tram, bus and metro stations. And you should also give walking directions with as much detail as possible.

                  .form-group
                    = f.label :things, :class => 'control-label col-md-2' do
                      Things to Note & Policies
                      %span.required
                        *
                    .col-md-7
                      = f.cktext_area :things, :class => 'form-control', :required => :required, :rows => 8, :required => :required
                      %span.help-block
                        Things to Note & Policies
                    .col-md-3
                      %p This section should be used to mention any special conditions that the customer should be made aware of before they book. Include things like your reception is only open for a limited time each day, your property is not suitable for children or there is an age restriction. Please do not enter your website address or your contact details here.
                  .clearfix

                #tab3.tab-pane
                  %h3.block Property Facilities
                  - @facilities.each do |facility|
                    .col-md-4
                      .form-group
                        %label
                          = check_box_tag "property[facility_ids][]", facility.id, @property.facility_ids.include?(facility.id), :class => 'icheck', "data-checkbox" => "icheckbox_line-blue", "data-label" => facility.facility_name
                  / .col-md-4
                  /   - @facilities.where(:facility_type => "Facility").each do |facility|
                  /     .form-group
                  /       %label
                  /         = check_box_tag "property[facility_ids][]", facility.id, @property.facility_ids.include?(facility.id), :class => 'icheck', "data-checkbox" => "icheckbox_line-blue", "data-label" => facility.facility_name
                  /   .facility
                  /   .form-group
                  /     %a#new_faclity.btn.btn-primary{:data => {:toggle => "modal", :target => "#facility"}} New Facilty
                  / .col-md-4
                  /   - @facilities.where(:facility_type => "Payment").each do |facility|
                  /     .form-group
                  /       %label
                  /         = check_box_tag "property[facility_ids][]", facility.id, @property.facility_ids.include?(facility.id), :class => 'icheck', "data-checkbox" => "icheckbox_line-blue", "data-label" => facility.facility_name
                  /   .payment
                  /   .form-group
                  /     %a#new_payment.btn.btn-primary{:data => {:toggle => "modal", :target => "#payment"}} New Payment
                  / .col-md-4
                  /   - @facilities.where(:facility_type => "Policies").each do |facility|
                  /     .form-group
                  /       %label
                  /         = check_box_tag "property[facility_ids][]", facility.id, @property.facility_ids.include?(facility.id), :class => 'icheck', "data-checkbox" => "icheckbox_line-blue", "data-label" => facility.facility_name
                  /   .policies
                  /   .form-group
                  /     %a#new_policies.btn.btn-primary{:data => {:toggle => "modal", :target => "#policies"}} New Policies
                  .clearfix
                #tab4.tab-pane
                  %h3.block Property Photos
                  %p All images should be in JPEG, GIF or PNG format. We will resize all images to 800 x 600 pixels. Ideally your images should not be any less than 1MB each. Include images that show your property at its very best. Customers are more likely to view your images before reading your property description. Show your best images of bedrooms, bathrooms, common areas, your entrance area, guests having fun and you or the person the traveller is most likely to meet when they check-in. Do not include logos of your property.
                  %br
                  #tab_images_uploader_container.text-align-reverse.margin-bottom-10
                    %a.btn.yellow#btn_new_image
                      %i.fa.fa-plus
                      Add New Photo
                  .col-md-8.col-md-offset-2
                    %table.table.table-hover.table-striped.table-bordered#new_images_path
                      %thead
                        %th #
                        %th Image
                      %tbody
                        - @property.photos.each do |photo|
                          %tr
                            %td
                              %label
                                = check_box_tag "remove[]", photo.id
                                Delete? 
                            %td= image_tag(photo.image, :width => "100px")
                  
                  .clearfix
            .form-actions
              = f.submit "", :class => 'hide', :id => 'submit_hotel'
              .row
                .col-md-offset-3.col-md-9
                  %a.btn.default.button-previous{:href => "javascript:;"}
                    %i.m-icon-swapleft
                    Back
                  %a.btn.blue.button-next{:href => "javascript:;"}
                    Continue
                    %i.m-icon-swapright.m-icon-white

                  %a.btn.green.button-submit{:href => "javascript:;"}
                    Submit
                    %i.m-icon-swapright.m-icon-white
    / END PAGE CONTENT INNER
/ END PAGE CONTENT
#facility.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} &times;
        %h4 New Facility
      .modal-body
        = form_tag admin_new_facility_path, { :method => :post, :remote => true } do
          / = form_tag admin_new_facility_path, :method => :post, :remote => true do
          = hidden_field_tag "facility[facility_type]", "Facility"
          .input-group
            = text_field_tag "facility[facility_name]", "", :class => 'form-control txt-facility', :placeholder => 'New Facility...'
            .input-group-btn
              = submit_tag "Add", :class => 'btn btn-primary'
#payment.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} &times;
        %h4 New Payment
      .modal-body
        = form_tag admin_new_facility_path, { :method => :post, :remote => true } do
          / = form_tag admin_new_facility_path, :method => :post, :remote => true do
          = hidden_field_tag "facility[facility_type]", "Payment"
          .input-group
            = text_field_tag "facility[facility_name]", "", :class => 'form-control txt-facility', :placeholder => 'New Payment...'
            .input-group-btn
              = submit_tag "Add", :class => 'btn btn-primary'
#policies.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} &times;
        %h4 New Policies
      .modal-body
        = form_tag admin_new_facility_path, { :method => :post, :remote => true } do
          / = form_tag admin_new_facility_path, :method => :post, :remote => true do
          = hidden_field_tag "facility[facility_type]", "Policies"
          .input-group
            = text_field_tag "facility[facility_name]", "", :class => 'form-control txt-facility', :placeholder => 'New Policies...'
            .input-group-btn
              = submit_tag "Add", :class => 'btn btn-primary'

- content_for :scripts do
  %script{:src => "http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false"}
  = javascript_include_tag "jquery.geocomplete.min"
  - if params[:action].eql?("new")
    :javascript
      $("#property_address").geocomplete({
        map: "#map",
        markerOptions: {
          draggable: true
        },
        mapOptions: {
          scrollwheel: true
        },
        maxZoom: 14,
        details: "#submit_form",
        detailsAttribute: "data-geo",
        location: "#{@city.lat}, #{@city.lng}"
      });
      $("#property_address").bind("geocode:dragged", function(event, latLng){
        $("#property_lat").val(latLng.lat());
        $("#property_lng").val(latLng.lng());
      });
  - else
    :javascript
      $("#property_address").geocomplete({
        map: "#map",
        markerOptions: {
          draggable: true
        },
        mapOptions: {
          scrollwheel: true
        },
        maxZoom: 14,
        location: "#{@property.lat}, #{@property.lng}"
      });
      $("#property_address").bind("geocode:dragged", function(event, latLng){
        $("#property_lat").val(latLng.lat());
        $("#property_lng").val(latLng.lng());
      });
      

