- meta title: "Edit #{@property.title}"
.page-head
  .container
    .page-title
      %h1 Edit Property
.page-content
  .container
    - breadcrumb :edit_property, @property
    = render("layouts/breadcrumbs")
    = render "form"