- meta title: "Manage Properties"
.page-head
  .container
    .page-title
      %h1 All Properties
.page-content
  .container
    - breadcrumb :properties
    = render("layouts/breadcrumbs")
    .row
      .col-md-12.col-sm-12
        / BEGIN REGIONAL STATS PORTLET
        .portlet.light
          .portlet-title
            .caption.caption-md
              %i.icon-bar-chart.theme-font.hide
              %span.caption-subject.theme-font.bold.uppercase All Properties
            .actions
              .btn-group
                %a.btn.btn-circle.btn-default{:href => "javascript:;", "data-toggle" => "dropdown", "aria-expanded" => "false"}
                  %i.fa.fa-plus
                  New Property
                %ul.dropdown-menu{:role => "menu"}
                  - @cities.each do |city|
                    %li
                      = link_to city.name, new_admin_city_property_path(city)
          .portlet-body
            %table.table.table-hover
              %thead
                %tr
                  %th #
                  %th Property Name
                  %th Deals
                  %th Published
                  %th Type
                  %th Prices
                  %th{colspan: 3}
              %tbody
                - @properties.each_with_index do |property, index|
                  %tr
                    %td= index + 1
                    %td= property.title
                    %td
                      - if property.deals?
                        = link_to "Deals", admin_city_property_deals_path(property.city, property), :method => :post, :class => "btn btn-sm btn-success"
                      - else
                        = link_to "Not Deals", admin_city_property_deals_path(property.city, property), :method => :post, :class => "btn btn-sm btn-danger"

                    %td
                      - if property.published?
                        = link_to "Published", admin_city_property_published_path(property.city, property), :method => :post, :class => "btn btn-sm btn-success"
                      - else
                        = link_to "Not Published", admin_city_property_published_path(property.city, property), :method => :post, :class => "btn btn-sm btn-danger" 
                    %td= property.property_type
                    %td= number_to_currency(property.price)
                    %td= link_to "Rooms (#{property.rooms.count})", admin_city_property_rooms_path(property.city, property), :class => 'btn btn-info btn-sm'
                    %td= link_to "Show", property_path(property), :target => "_blank", :class => 'btn btn-success btn-sm'
                    %td= link_to "Edit", edit_admin_city_property_path(property.city, property), :class => 'btn btn-info btn-sm'
                    %td= link_to "Delete", admin_city_property_path(property.city, property), :method => :delete, :data => {:confirm => "Are you sure?"}, :class => 'btn btn-danger btn-sm'
            = paginate @properties, :views_prefix => 'kaminari/bootstrap'        
                  	
    - unless @properties.blank?
      = render "layouts/map"