- meta title: "New Property"
.page-head
  .container
    .page-title
      %h1 New Property
.page-content
  .container
    - breadcrumb :new_property, @city
    = render("layouts/breadcrumbs")
    = render "form"