<% if @facility.save %>
	$(".<%= @facility.facility_type.downcase %>")
		.append('<div class="form-group"> <label> <input id="property_<%= @facility.facility_type.downcase %>_ids_" name="property[facility_ids][]" type="checkbox" class="new_check_<%= @facility.id %>" value="<%= @facility.id %>" data-label="Name"> </label></div>');
	$('.new_check_<%= @facility.id %>').iCheck({
		checkboxClass: 'icheckbox_line-blue',
		insert: "<div class='icheck_line-icon'></div><%= @facility.facility_name %>"
	});
	$('.txt-facility').val('').focus();
<% else %>
	alert('fail');
<% end %>