<% if @comment.save %>
  var pend = "<div class='large-3 medium-3 small-5 columns'><p><strong><%= @comment.name %></strong></p><p><%= @comment.created_at.strftime('%a, %B %M, %Y') %></p></div><div class='large-9 medium-3 small-7 columns'><p><%= @comment.body %></p></div><hr><div class='clearfix'></div>";
  $("#new_comment").prepend(pend);
  $("#name").val('');
  $('#body').val('');
  $("#text_alert").html("Comment successfully created.")
  $('#alert_comment').hide().removeClass("alert").addClass('success').fadeIn();
<% else %>
  $('#text_alert').html("<%= @comment.errors.full_messages.first %>");
  $('#alert_comment').hide().removeClass("success").addClass('alert').fadeIn();
<% end %>