= form_for [@city,@place] do |f|
  - if @place.errors.any?
    #error_explanation
      %h2= "#{pluralize(@place.errors.count, "error")} prohibited this place from being saved:"
      %ul
        - @place.errors.full_messages.each do |msg|
          %li= msg
  = f.hidden_field :lat, "data-geo" => "lat"
  = f.hidden_field :lng, "data-geo" => "lng"
  = f.hidden_field :city_id, value: @cit

  .large-6.medium-6.small-12.columns.padding-block-left
    .field
      = f.label :address
      = f.text_field :address
      
    .field
      = f.label :title
      = f.text_field :title, required: "true"
    .field
      = f.label 'City'
      = f.text_field :town, value: @city.name 
    .hide.field
      = f.label :country
      = f.text_field :country, required: "true", "data-geo" => "country"
    .field
      = f.label :state
      = f.text_field :state, "data-geo" => "administrative_area_level_1"
    %br
    -if @place.placeimg
      =image_tag(@place.placeimg)
      .input-file-block
        .input-file-block_inner
          .field
            = f.file_field :placeimg
            %span.button Upload file
    -else
      .input-file-block
        .input-file-block_inner
          .field
            = f.file_field :placeimg, :required => true
            %span.button Upload file
    .actions
      = f.submit 'Save', class: "button disabled"
  .large-6.medium-6.small-12.columns.padding-block-right
    .field
      #maps{:style => "height:300px"}

    .field
      = f.label :content
      = f.text_area :content, :class => 'redactor'

- content_for :scripts do
  %script{:src => "http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false"}
  = javascript_include_tag "jquery.geocomplete.min"
  :javascript
    $("#place_address").geocomplete({
      map: "#maps",
      details: "#new_place",
      detailsAttribute: "data-geo"
    });