.content
  .row
    .large-12.medium-12.small-12.columns.margin-from-header
      %h1 Editing Place

      = render 'form'
      %br.clear-both
      %hr
      = link_to 'Show', [@city, @place]
      \|
      = link_to 'Back', city_places_path(@city)


