- meta title: @place.title, description: truncate(strip_tags(@place.content), length: 255), keywords: @place.title.split(' ')
.content
  .row
    .large-12.medium-12.small-12.columns.margin-from-header
      .large-6.columns.padding-lr-0
        %h2.left= @place.title
      .large-6.columns.padding-lr-0
        %dl.tabs.right
          %dd
            = link_to "City Info", city_path(@city)
          %dd.active
            = link_to 'Map & Places', map_city_path(@city)
          %dd
            = link_to "View Lodgings", search_index_path(:city => @city.id)
      %hr
      %p.left= @place.address
      .large-12.columns.padding-lr-0.place-padding
        .large-4.medium-4.small-12.columns
          = image_tag @place.placeimg_url
        .large-8.medium-8.small-12.columns
          #map{:style => 'height: 250px'}
          = map(:center => {:latlng => [@place.lat, @place.lng],:zoom => 16},:markers => @hash)
        .clearfix
        .large-12.medium-12.small-12.columns.place-description
          %h5= "About #{@place.title}"
          %p= @place.content.html_safe