.page-header-top
  .container
    .page-logo
      = link_to admin_root_path do
        %h3.logo-default MMLodging
    %a.menu-toggler{:href => "javascript:;"}
    .top-menu
      %ul.nav.navbar-nav.pull-right
        %li#header_inbox_bar.dropdown.dropdown-extended.dropdown-dark.dropdown-inbox
          %a.dropdown-toggle{"data-close-others" => "true", "data-hover" => "dropdown", "data-toggle" => "dropdown", :href => "javascript:;"}
            %span.circle= @notifications.count
            %span.corner
          %ul.dropdown-menu
            %li.external
              %h3
                You have
                %strong
                  = @notifications.count
                  New
                Notification
              = link_to "view all", admin_activities_path
            %li
              %ul.dropdown-menu-list.scroller{"data-handle-color" => "#637283", :style => "height: 200px;"}
                - unless @notifications.empty?
                  - @notifications.each do |notification|
                    = render(:partial => "layouts/notification", :locals => {:notification => notification})
                - else
                  %li
                    = link_to "#" do
                      %span.subject
                        %span.from
                          You didn't have any notification.

        %li.dropdown.dropdown-user.dropdown-dark
          %a.dropdown-toggle{"data-close-others" => "true", "data-hover" => "dropdown", "data-toggle" => "dropdown", :href => "javascript:;"}
            = image_tag current_user.avatar_url(:thumb), :class => 'img-circle', :alt => current_user.avatar_url
            %span.username.username-hide-mobile= current_user.first_name || current_user.last_name || current_user.email
          %ul.dropdown-menu.dropdown-menu-default
            %li
              = link_to admin_user_path(current_user) do
                %i.icon-user
                My Profile
            %li
              = link_to destroy_user_session_path, :method => :delete do
                %i.icon-key
                Log Out