.page-header-menu
  .container
    = form_tag(admin_search_path, :method => :get, :class => 'search-form') do
      .input-group
        = text_field_tag :query, params[:query], :placeholder => 'Search', :class => 'form-control'
        / %span.input-group-btn
        /   = button_tag :class => 'btn submit' do
        /     %i.icon-magnifier
    .hor-menu
      %ul.nav.navbar-nav
        %li{:class => is_active?("admin/dashboard")}
          = link_to "Dashboard", admin_root_path
        - unless current_user.role.eql?("hotel")
          %li{:class => is_active?("admin/homeimgs")}
            = link_to "Landing Page", admin_homeimgs_path
          %li{:class => is_active?("admin/users")}
            = link_to "Users", admin_users_path
          %li{:class => is_active?("admin/blogs")}
            = link_to "Blogs", admin_blogs_path
          %li{:class => "menu-dropdown classic-menu-dropdown #{is_active?('admin/cities')} #{is_active?('admin/properties')} #{is_active?('admin/places')}"}
            = link_to admin_cities_path, "data-close-others" => "true", "data-hover" => "dropdown", "data-toggle" => "dropdown" do
              Manage
              %i.fa.fa-angle-down
            %ul.dropdown-menu.pull-left
              %li{:class => is_active?("admin/cities")}
                = link_to "Cities", admin_cities_path
              %li{:class => is_active?("admin/properties")}
                = link_to "Properties", admin_all_properties_path
              %li{:class => is_active?("admin/places")}
                = link_to "Places", admin_all_places_path
            
        - if current_user.role.eql?("hotel")
          %li{:class => is_active?("admin/properties")}
            = link_to "Properties", admin_all_properties_path
        %li{:class => "menu-dropdown classic-menu-dropdown #{is_active?('admin/checkouts')}"}
          = link_to admin_all_checkouts_path, "data-close-others" => "true", "data-hover" => "dropdown", "data-toggle" => "dropdown" do
            Checkouts
            %i.fa.fa-angle-down
          %ul.dropdown-menu.pull-left
            %li{:class => "#{is_active?("admin/checkouts")}"}
              = link_to "Checkouts", admin_all_checkouts_path
            %li{:class => "#{is_active?("admin/user_refunds")}"}
              = link_to "Cancellation", admin_all_refunds_path
        - unless current_user.role.eql?("hotel")
          %li{:class => "menu-dropdown classic-menu-dropdown #{is_active?('admin/page')}"}
            = link_to "#", "data-close-others" => "true", "data-hover" => "dropdown", "data-toggle" => "dropdown" do
              Pages
              %i.fa.fa-angle-down
            %ul.dropdown-menu.pull-left
              %li
                = link_to "Cancellation Policy", admin_cancellation_page_path
              %li
                = link_to "Terms and Conditions", admin_terms_page_path
              %li
                = link_to "Privacy Policies", admin_privacy_page_path
              %li
                = link_to "Our Story", admin_story_page_path
              %li
                = link_to "FAQ", admin_faqs_path
        %li{:class => is_active?(root_path)}
          = link_to "View Website", root_path