.portlet.light
  .portlet-title
    .caption.caption-md
      %i.icon-bar-chart.theme-font.hide
      %span.caption-subject.theme-font.bold.uppercase Maps
  .portlet-body
    #map{:style => 'height: 400px'}
    = map(:center => {:latlng => [20.4485573, 97.0555613],:zoom => 16},:markers => @hash)
    :javascript
      map.fitBounds(#{@panTo});