- if notification.trackable_type.eql?("Checkout") && notification.key.eql?("checkout.change_date")
	%li
		- if notification.trackable.nil?
			= link_to "#" do
				%span.subject
					%span.from
						Checkout is changed
					%span.time= time_ago_in_words(notification.created_at)
				%span.message
					%i Property deleted.
		- else
			= link_to admin_checkout_detail_path(notification.trackable_id) do
				%span.subject
					%span.from
						Checkout is changed
					%span.time= time_ago_in_words(notification.created_at)
				%span.message
					= notification.trackable.property.title
					= "(#{notification.trackable.room.title})"
					= number_to_currency(notification.trackable.total_cart)
- elsif notification.trackable_type.eql?("Checkout") && notification.key.eql?("checkout.create")
	%li
		- if notification.trackable.nil?
			= link_to "#" do
				%span.subject
					%span.from
						New Checkout
					%span.time= time_ago_in_words(notification.created_at)
				%span.message
					%i Property deleted.
		- else
			= link_to admin_checkout_detail_path(notification.trackable_id) do
				%span.subject
					%span.from
						New Checkout
					%span.time= time_ago_in_words(notification.created_at)
				%span.message
					= notification.trackable.property.title
					= "(#{notification.trackable.room.title})"
					= number_to_currency(notification.trackable.total_cart)
- elsif notification.trackable_type.eql?("Checkout") && notification.key.eql?("checkout.cancel")
	%li
		- if notification.trackable.nil?
			= link_to "#" do
				%span.subject
					%span.from
						Booking Cancelled
					%span.time= time_ago_in_words(notification.created_at)
				%span.message
					%i Property deleted.
		- else
			= link_to admin_checkout_detail_path(notification.trackable_id) do
				%span.subject
					%span.from
						Booking Cancelled
					%span.time= time_ago_in_words(notification.created_at)
				%span.message
					= notification.trackable.property.title
					= "(#{notification.trackable.room.title})"
					= number_to_currency(notification.trackable.user_refund.amount)
- elsif notification.trackable_type.eql?("User")
	%li
		- if notification.trackable.nil?
			= link_to "#" do
				%span.subject
					%span.from
						New User Registered
					%span.time= time_ago_in_words(notification.created_at)
				%span.message
					%i User deleted.
		- else
			= link_to admin_user_path(notification.trackable_id) do
				%span.subject
					%span.from
						New User Registered
					%span.time= time_ago_in_words(notification.created_at)
				%span.message
					= notification.trackable.email