!!!
/[if IE 8] <html lang="en" class="ie8 no-js">
/[if IE 9] <html lang="en" class="ie9 no-js">
/ [if !IE]><!
%html{:lang => "en"}
  / <![endif]
  / BEGIN HEAD
  %head
    %meta{:charset => "utf-8"}
    = metamagic site: "MMLodging", title: [:title, :site], separator: " : "
    = favicon_link_tag 'icon.ico'
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}

    %link{:href => "http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all", :rel => "stylesheet", :type => "text/css"}
    = stylesheet_link_tag "admin_dashboard"
    = javascript_include_tag "leaflet"
    = javascript_include_tag "admin_dashboard/fullcalendar/moment.min"
    = javascript_include_tag "jquery"
    = csrf_meta_tags
  %body
    .page-header
      / BEGIN HEADER TOP
      = render "layouts/header_top"
      = render "layouts/header_admin"
    .page-container
      = yield
    .page-prefooter
      .container
        .row
          .col-md-3.col-sm-6.col-xs-12.footer-block
            %h2 Follow Us On
            %ul.social-icons
              %li
                %a.facebook{"target" => "_blank", "data-original-title" => "facebook", :href => "https://www.facebook.com/mmlodging"}
              %li
                %a.twitter{"target" => "_blank", "data-original-title" => "twitter", :href => "https://twitter.com/mmlodging"}
              %li
                %a.googleplus{"target" => "_blank", "data-original-title" => "googleplus", :href => "https://plus.google.com/+Mmlodging"}
          .col-md-3.col-sm-6.col-xs-12.footer-block
            %h2 Contacts
            %address.margin-bottom-40
              Phone: 095408722
              %br
                Email:
                %a{:href => "mailto:sales@mmlodging.com"} sales@mmlodging.com
    / END PRE-FOOTER
    / BEGIN FOOTER
    = javascript_include_tag "admin_dashboard"
    = yield(:scripts)
    :javascript
      jQuery(document).ready(function() {
        Metronic.init(); // init metronic core components
        Layout.init(); // init current layout
        Demo.init(); // init demo features
        FormWizard.init();
        FormiCheck.init();
      });
    - if flash[:notice] && flash[:notice].kind_of?(Array)
      :javascript
        $(document).ready(function(){
          toastr.#{flash[:notice][:type]}("#{flash[:notice][:msg]}")
        });

    .page-footer
      .container
        2014 &copy; MMLodging. All Rights Reserved.
    .scroll-to-top
      %i.icon-arrow-up