!!!
%html{lang: "en"}
  %head
    %meta{charset: "utf-8"}/
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
    %title= content_for?(:title) ? yield(:title) : "MMLodging"
    = favicon_link_tag 'icon.ico'
    = stylesheet_link_tag    "application"
    = javascript_include_tag "vendor/modernizr"
    = csrf_meta_tags
  %body
    .wrapper
      = render 'partial/header_admin'
      = yield
      = javascript_include_tag "application"
      = yield :scripts
    = render 'partial/footer'