!!!
%html{lang: "en"}
  %head
    %meta{charset: "utf-8"}/
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
    = metamagic site: "MMLodging", title: [:title, :site], separator: " : "
    = favicon_link_tag 'icon.ico'
    = analytics_init if Rails.env.production?
    = stylesheet_link_tag    "application"
    = javascript_include_tag "vendor/modernizr"
    = javascript_include_tag "leaflet"
    = csrf_meta_tags
  %body
    .wrapper
      = render 'partial/header'
      = yield
    = render 'partial/footer'
    = javascript_include_tag "application"
    = yield :scripts
      