!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
	%head
		%meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
		%title MMLodging Notifier
		%meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
		:css
			table{
				width: 100%;
				border: solid 1px #DDD;
				margin-bottom: 1.25rem;
			}
			table thead{
				background: #F5F5F5;
			}
			table tr:nth-of-type(even){
				background: #F9F9F9;
			}
			.text-right{
				text-align: right !important;
			}
	%body
		= yield